{
  "swagger": "2.0",
  "info": {
    "title": "Vega core APIs",
    "version": "v0.68.0"
  },
  "tags": [
    {
      "name": "CoreService"
    }
  ],
  "host": "lb.testnet.vega.xyz",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blockchain/height": {
      "get": {
        "summary": "Blockchain height",
        "description": "Get the height of the last tendermint block",
        "operationId": "CoreService_LastBlockHeight",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1LastBlockHeightResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "CoreService"
        ]
      }
    },
    "/statistics": {
      "get": {
        "summary": "Statistics",
        "description": "Get statistics on Vega",
        "operationId": "CoreService_Statistics",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1StatisticsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "CoreService"
        ]
      }
    },
    "/statistics/spam/{partyId}": {
      "get": {
        "summary": "Get Spam statistics",
        "description": "Retrieve the spam statistics for a given party",
        "operationId": "CoreService_GetSpamStatistics",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetSpamStatisticsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "partyId",
            "description": "Id for the party whose statistics are requested",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "CoreService"
        ]
      }
    },
    "/stream/event/bus": {
      "get": {
        "summary": "Events subscription",
        "description": "Subscribe to a stream of events from the core",
        "operationId": "CoreService_ObserveEventBus",
        "responses": {
          "200": {
            "description": "A successful response.(streaming responses)",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "$ref": "#/definitions/v1ObserveEventBusResponse"
                },
                "error": {
                  "$ref": "#/definitions/googlerpcStatus"
                }
              },
              "title": "Stream result of v1ObserveEventBusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "type",
            "description": "One or more types of event, required field.\n\n - BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: The core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: The core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: The core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: The market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: The result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Snapshot is taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Data node notifies that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "BUS_EVENT_TYPE_UNSPECIFIED",
                "BUS_EVENT_TYPE_ALL",
                "BUS_EVENT_TYPE_TIME_UPDATE",
                "BUS_EVENT_TYPE_LEDGER_MOVEMENTS",
                "BUS_EVENT_TYPE_POSITION_RESOLUTION",
                "BUS_EVENT_TYPE_ORDER",
                "BUS_EVENT_TYPE_ACCOUNT",
                "BUS_EVENT_TYPE_PARTY",
                "BUS_EVENT_TYPE_TRADE",
                "BUS_EVENT_TYPE_MARGIN_LEVELS",
                "BUS_EVENT_TYPE_PROPOSAL",
                "BUS_EVENT_TYPE_VOTE",
                "BUS_EVENT_TYPE_MARKET_DATA",
                "BUS_EVENT_TYPE_NODE_SIGNATURE",
                "BUS_EVENT_TYPE_LOSS_SOCIALIZATION",
                "BUS_EVENT_TYPE_SETTLE_POSITION",
                "BUS_EVENT_TYPE_SETTLE_DISTRESSED",
                "BUS_EVENT_TYPE_MARKET_CREATED",
                "BUS_EVENT_TYPE_ASSET",
                "BUS_EVENT_TYPE_MARKET_TICK",
                "BUS_EVENT_TYPE_WITHDRAWAL",
                "BUS_EVENT_TYPE_DEPOSIT",
                "BUS_EVENT_TYPE_AUCTION",
                "BUS_EVENT_TYPE_RISK_FACTOR",
                "BUS_EVENT_TYPE_NETWORK_PARAMETER",
                "BUS_EVENT_TYPE_LIQUIDITY_PROVISION",
                "BUS_EVENT_TYPE_MARKET_UPDATED",
                "BUS_EVENT_TYPE_ORACLE_SPEC",
                "BUS_EVENT_TYPE_ORACLE_DATA",
                "BUS_EVENT_TYPE_DELEGATION_BALANCE",
                "BUS_EVENT_TYPE_VALIDATOR_SCORE",
                "BUS_EVENT_TYPE_EPOCH_UPDATE",
                "BUS_EVENT_TYPE_VALIDATOR_UPDATE",
                "BUS_EVENT_TYPE_STAKE_LINKING",
                "BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT",
                "BUS_EVENT_TYPE_CHECKPOINT",
                "BUS_EVENT_TYPE_STREAM_START",
                "BUS_EVENT_TYPE_KEY_ROTATION",
                "BUS_EVENT_TYPE_STATE_VAR",
                "BUS_EVENT_TYPE_NETWORK_LIMITS",
                "BUS_EVENT_TYPE_TRANSFER",
                "BUS_EVENT_TYPE_VALIDATOR_RANKING",
                "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT",
                "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD",
                "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED",
                "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED",
                "BUS_EVENT_TYPE_POSITION_STATE",
                "BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION",
                "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL",
                "BUS_EVENT_TYPE_BEGIN_BLOCK",
                "BUS_EVENT_TYPE_END_BLOCK",
                "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED",
                "BUS_EVENT_TYPE_SETTLE_MARKET",
                "BUS_EVENT_TYPE_TRANSACTION_RESULT",
                "BUS_EVENT_TYPE_SNAPSHOT_TAKEN",
                "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY",
                "BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED",
                "BUS_EVENT_TYPE_EXPIRED_ORDERS",
                "BUS_EVENT_TYPE_MARKET",
                "BUS_EVENT_TYPE_TX_ERROR"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "marketId",
            "description": "Market identifier, optional field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "partyId",
            "description": "Party identifier, optional field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "batchSize",
            "description": "Batch size, optional field -\nIf not specified, any events received will be sent immediately. If the client is not ready\nfor the next data-set, data may be dropped a number of times, and eventually the stream is closed.\nif specified, the first batch will be sent when ready. To receive the next set of events, the client\nmust write an `ObserveEventBatch` message on the stream to flush the buffer.\nIf no message is received in 5 seconds, the stream is closed.\nDefault: 0, send any and all events when they are available.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "CoreService"
        ]
      }
    },
    "/time": {
      "get": {
        "summary": "Vega time",
        "description": "Get current Vega time",
        "operationId": "CoreService_GetVegaTime",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetVegaTimeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "CoreService"
        ]
      }
    },
    "/transaction": {
      "post": {
        "summary": "Submit transaction",
        "description": "Submit a signed transaction",
        "operationId": "CoreService_SubmitTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SubmitTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1SubmitTransactionRequest"
            }
          }
        ],
        "tags": [
          "CoreService"
        ]
      }
    },
    "/transaction/check": {
      "post": {
        "summary": "Check transaction",
        "description": "Check a signed transaction",
        "operationId": "CoreService_CheckTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CheckTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CheckTransactionRequest"
            }
          }
        ],
        "tags": [
          "CoreService"
        ]
      }
    },
    "/transaction/raw": {
      "post": {
        "summary": "Submit raw transaction",
        "description": "Submit a version agnostic signed transaction",
        "operationId": "CoreService_SubmitRawTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SubmitRawTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1SubmitRawTransactionRequest"
            }
          }
        ],
        "tags": [
          "CoreService"
        ]
      }
    },
    "/transaction/raw/check": {
      "post": {
        "summary": "Check raw transaction",
        "description": "Check a raw signed transaction",
        "operationId": "CoreService_CheckRawTransaction",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CheckRawTransactionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CheckRawTransactionRequest"
            }
          }
        ],
        "tags": [
          "CoreService"
        ]
      }
    }
  },
  "definitions": {
    "ConditionOperator": {
      "type": "string",
      "enum": [
        "OPERATOR_UNSPECIFIED",
        "OPERATOR_EQUALS",
        "OPERATOR_GREATER_THAN",
        "OPERATOR_GREATER_THAN_OR_EQUAL",
        "OPERATOR_LESS_THAN",
        "OPERATOR_LESS_THAN_OR_EQUAL"
      ],
      "default": "OPERATOR_UNSPECIFIED",
      "description": "Comparator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue."
    },
    "MarketTradingMode": {
      "type": "string",
      "enum": [
        "TRADING_MODE_UNSPECIFIED",
        "TRADING_MODE_CONTINUOUS",
        "TRADING_MODE_BATCH_AUCTION",
        "TRADING_MODE_OPENING_AUCTION",
        "TRADING_MODE_MONITORING_AUCTION",
        "TRADING_MODE_NO_TRADING"
      ],
      "default": "TRADING_MODE_UNSPECIFIED",
      "description": "- TRADING_MODE_UNSPECIFIED: Default value, this is invalid\n - TRADING_MODE_CONTINUOUS: Normal trading\n - TRADING_MODE_BATCH_AUCTION: Auction trading (FBA)\n - TRADING_MODE_OPENING_AUCTION: Opening auction\n - TRADING_MODE_MONITORING_AUCTION: Auction triggered by monitoring\n - TRADING_MODE_NO_TRADING: No trading is allowed",
      "title": "The trading mode the market is currently running, also referred to as 'market state'"
    },
    "OracleDataSubmissionOracleSource": {
      "type": "string",
      "enum": [
        "ORACLE_SOURCE_UNSPECIFIED",
        "ORACLE_SOURCE_OPEN_ORACLE",
        "ORACLE_SOURCE_JSON"
      ],
      "default": "ORACLE_SOURCE_UNSPECIFIED",
      "description": "- ORACLE_SOURCE_UNSPECIFIED: The default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data",
      "title": "The supported oracle sources"
    },
    "OrderTimeInForce": {
      "type": "string",
      "enum": [
        "TIME_IN_FORCE_UNSPECIFIED",
        "TIME_IN_FORCE_GTC",
        "TIME_IN_FORCE_GTT",
        "TIME_IN_FORCE_IOC",
        "TIME_IN_FORCE_FOK",
        "TIME_IN_FORCE_GFA",
        "TIME_IN_FORCE_GFN"
      ],
      "default": "TIME_IN_FORCE_UNSPECIFIED",
      "description": "- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, The order either trades completely (remainingSize == 0 after adding)\nor not at all, does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)",
      "title": "Time In Force for an order"
    },
    "TransactionResultFailureDetails": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "title": "An error message explaining the reason for the transaction failing processing"
        }
      }
    },
    "TransactionResultSuccessDetails": {
      "type": "object"
    },
    "UndelegateSubmissionMethod": {
      "type": "string",
      "enum": [
        "METHOD_UNSPECIFIED",
        "METHOD_NOW",
        "METHOD_AT_END_OF_EPOCH"
      ],
      "default": "METHOD_UNSPECIFIED"
    },
    "googlerpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "v1AnnounceNode": {
      "type": "object",
      "properties": {
        "vegaPubKey": {
          "type": "string",
          "title": "Vega public key, required field"
        },
        "ethereumAddress": {
          "type": "string",
          "title": "Ethereum public key, required field"
        },
        "chainPubKey": {
          "type": "string",
          "title": "Public key for the blockchain, required field"
        },
        "infoUrl": {
          "type": "string",
          "title": "URL with more info on the node"
        },
        "country": {
          "type": "string",
          "title": "Country code (ISO 3166-1 alpha-2) for the location of the node"
        },
        "id": {
          "type": "string",
          "title": "ID of the validator, (public master key)"
        },
        "name": {
          "type": "string",
          "title": "Name of the validator"
        },
        "avatarUrl": {
          "type": "string",
          "title": "AvatarURL of the validator"
        },
        "vegaPubKeyIndex": {
          "type": "integer",
          "format": "int64",
          "title": "Vega public key derivation index"
        },
        "fromEpoch": {
          "type": "string",
          "format": "uint64",
          "title": "The epoch from which the validator is expected\nto be ready to validate blocks"
        },
        "ethereumSignature": {
          "$ref": "#/definitions/v1Signature",
          "title": "Signature from the validator made using the ethereum wallet"
        },
        "vegaSignature": {
          "$ref": "#/definitions/v1Signature",
          "title": "Signature from the validator made using the Vega wallet"
        },
        "submitterAddress": {
          "type": "string",
          "title": "Ethereum public key to use as a submitter to allow automatic signature generation"
        }
      },
      "title": "Used to announce a node as a new pending validator"
    },
    "v1AuctionEvent": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "openingAuction": {
          "type": "boolean",
          "title": "True if the event indicates an auction opening and False otherwise"
        },
        "leave": {
          "type": "boolean",
          "title": "True if the event indicates leaving auction mode and False otherwise"
        },
        "start": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp containing the start time for an auction"
        },
        "end": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp containing the end time for an auction"
        },
        "trigger": {
          "$ref": "#/definitions/vegaAuctionTrigger",
          "title": "the reason this market is/was in auction"
        },
        "extensionTrigger": {
          "$ref": "#/definitions/vegaAuctionTrigger",
          "title": "If an auction was ongoing, but was extended for whatever reason, this field will\nbe set to the trigger type indicating which component extended the auction"
        }
      },
      "title": "An auction event indicating a change in auction state, for example starting or ending an auction"
    },
    "v1BatchMarketInstructions": {
      "type": "object",
      "properties": {
        "cancellations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OrderCancellation"
          },
          "title": "A list of order cancellations to be processed sequentially"
        },
        "amendments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OrderAmendment"
          },
          "title": "A list of order amendments to be processed sequentially"
        },
        "submissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OrderSubmission"
          },
          "title": "A list of order submissions to be processed sequentially"
        }
      },
      "title": "A batch of order instructions.\nThis command accepts only the following batches of commands\nand will be processed in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\nThe total amount of commands in the batch across all three lists of\ninstructions is restricted by the following network parameter:\n\"spam.protection.max.batchSize\""
    },
    "v1BeginBlock": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "type": "string",
          "format": "int64"
        },
        "hash": {
          "type": "string"
        }
      },
      "title": "BeginBlock"
    },
    "v1BusEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "A unique event identifier for the message"
        },
        "block": {
          "type": "string",
          "title": "The batch (or block) of transactions that the events relate to"
        },
        "type": {
          "$ref": "#/definitions/v1BusEventType",
          "title": "The type of bus event (one of the list below)"
        },
        "timeUpdate": {
          "$ref": "#/definitions/v1TimeUpdate",
          "title": "Time update events"
        },
        "ledgerMovements": {
          "$ref": "#/definitions/v1LedgerMovements",
          "title": "Transfer responses update events"
        },
        "positionResolution": {
          "$ref": "#/definitions/v1PositionResolution",
          "title": "Position resolution events"
        },
        "order": {
          "$ref": "#/definitions/vegaOrder",
          "title": "Order events"
        },
        "account": {
          "$ref": "#/definitions/vegaAccount",
          "title": "Account events"
        },
        "party": {
          "$ref": "#/definitions/vegaParty",
          "title": "Party events"
        },
        "trade": {
          "$ref": "#/definitions/vegaTrade",
          "title": "Trade events"
        },
        "marginLevels": {
          "$ref": "#/definitions/vegaMarginLevels",
          "title": "Margin level update events"
        },
        "proposal": {
          "$ref": "#/definitions/vegaProposal",
          "title": "Proposal events (for governance)"
        },
        "vote": {
          "$ref": "#/definitions/vegaVote",
          "title": "Vote events (for governance)"
        },
        "marketData": {
          "$ref": "#/definitions/vegaMarketData",
          "title": "Market data events"
        },
        "nodeSignature": {
          "$ref": "#/definitions/v1NodeSignature",
          "title": "Node signature events"
        },
        "lossSocialization": {
          "$ref": "#/definitions/v1LossSocialization",
          "title": "Loss socialization events"
        },
        "settlePosition": {
          "$ref": "#/definitions/v1SettlePosition",
          "title": "Position settlement events"
        },
        "settleDistressed": {
          "$ref": "#/definitions/v1SettleDistressed",
          "title": "Position distressed events"
        },
        "marketCreated": {
          "$ref": "#/definitions/vegaMarket",
          "title": "Market created events"
        },
        "asset": {
          "$ref": "#/definitions/vegaAsset",
          "title": "Asset events"
        },
        "marketTick": {
          "$ref": "#/definitions/v1MarketTick",
          "title": "Market tick events"
        },
        "withdrawal": {
          "$ref": "#/definitions/vegaWithdrawal",
          "title": "Withdrawal events"
        },
        "deposit": {
          "$ref": "#/definitions/vegaDeposit",
          "title": "Deposit events"
        },
        "auction": {
          "$ref": "#/definitions/v1AuctionEvent",
          "title": "Auction events"
        },
        "riskFactor": {
          "$ref": "#/definitions/vegaRiskFactor",
          "title": "Risk factor events"
        },
        "networkParameter": {
          "$ref": "#/definitions/vegaNetworkParameter",
          "title": "Network parameter events"
        },
        "liquidityProvision": {
          "$ref": "#/definitions/vegaLiquidityProvision",
          "title": "LiquidityProvision  events"
        },
        "marketUpdated": {
          "$ref": "#/definitions/vegaMarket",
          "title": "Market created events"
        },
        "oracleSpec": {
          "$ref": "#/definitions/vegaOracleSpec",
          "title": "OracleSpec events"
        },
        "oracleData": {
          "$ref": "#/definitions/vegaOracleData",
          "title": "OracleData events"
        },
        "delegationBalance": {
          "$ref": "#/definitions/v1DelegationBalanceEvent",
          "title": "Delegation balance events"
        },
        "validatorScore": {
          "$ref": "#/definitions/v1ValidatorScoreEvent",
          "title": "Validator score calculated"
        },
        "epochEvent": {
          "$ref": "#/definitions/v1EpochEvent",
          "title": "Epoch update events - See [Epoch](#vega.Epoch)"
        },
        "validatorUpdate": {
          "$ref": "#/definitions/v1ValidatorUpdate",
          "title": "Validator update events"
        },
        "stakeLinking": {
          "$ref": "#/definitions/v1StakeLinking",
          "title": "Staking event"
        },
        "rewardPayout": {
          "$ref": "#/definitions/v1RewardPayoutEvent",
          "title": "Reward payout event"
        },
        "checkpoint": {
          "$ref": "#/definitions/v1CheckpointEvent",
          "title": "Checkpoint was created"
        },
        "keyRotation": {
          "$ref": "#/definitions/v1KeyRotation",
          "title": "Key rotation took place"
        },
        "stateVar": {
          "$ref": "#/definitions/v1StateVar",
          "title": "State variable consensus state transition update"
        },
        "networkLimits": {
          "$ref": "#/definitions/vegaNetworkLimits",
          "title": "Network limits events"
        },
        "transfer": {
          "$ref": "#/definitions/vegaeventsv1Transfer",
          "title": "Transfer event"
        },
        "rankingEvent": {
          "$ref": "#/definitions/v1ValidatorRankingEvent",
          "title": "Ranking event"
        },
        "erc20MultisigSignerEvent": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerEvent",
          "title": "ERC20 multi sig signer event"
        },
        "erc20MultisigSetThresholdEvent": {
          "$ref": "#/definitions/v1ERC20MultiSigThresholdSetEvent",
          "title": "ERC20 multi sig set threshold event"
        },
        "erc20MultisigSignerAdded": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerAdded",
          "title": "ERC20 multi sig signer added"
        },
        "erc20MultisigSignerRemoved": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerRemoved",
          "title": "ERC20 multi sig signer removed"
        },
        "positionStateEvent": {
          "$ref": "#/definitions/v1PositionStateEvent",
          "title": "Position status for a party in a market"
        },
        "ethereumKeyRotation": {
          "$ref": "#/definitions/v1EthereumKeyRotation",
          "title": "Ethereum key rotation took place"
        },
        "protocolUpgradeEvent": {
          "$ref": "#/definitions/v1ProtocolUpgradeEvent",
          "title": "Protocol upgrade proposal updates"
        },
        "beginBlock": {
          "$ref": "#/definitions/v1BeginBlock",
          "title": "The core is starting to process a new block"
        },
        "endBlock": {
          "$ref": "#/definitions/v1EndBlock",
          "title": "The core finished to process a block"
        },
        "protocolUpgradeStarted": {
          "$ref": "#/definitions/v1ProtocolUpgradeStarted",
          "title": "The core is starting a protocol upgrade"
        },
        "settleMarket": {
          "$ref": "#/definitions/v1SettleMarket",
          "title": "Settle market event for data-node to update positions for settled markets"
        },
        "transactionResult": {
          "$ref": "#/definitions/v1TransactionResult",
          "title": "The result of a transaction processed by the network"
        },
        "coreSnapshotEvent": {
          "$ref": "#/definitions/v1CoreSnapshotData",
          "title": "A core snapshot has been taken at the end of the block"
        },
        "protocolUpgradeDataNodeReady": {
          "$ref": "#/definitions/v1ProtocolUpgradeDataNodeReady",
          "title": "A core snapshot has been taken at the end of the block"
        },
        "distressedOrders": {
          "$ref": "#/definitions/v1DistressedOrders",
          "title": "Parties that had their orders closed because they were distressed"
        },
        "expiredOrders": {
          "$ref": "#/definitions/v1ExpiredOrders",
          "title": "Orders that expired for a given market"
        },
        "market": {
          "$ref": "#/definitions/v1MarketEvent",
          "title": "Market tick events - See [MarketEvent](#vega.MarketEvent)"
        },
        "txErrEvent": {
          "$ref": "#/definitions/v1TxErrorEvent",
          "title": "Transaction error events, not included in the ALL event type"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "title": "Version of bus event"
        },
        "chainId": {
          "type": "string"
        },
        "txHash": {
          "type": "string"
        }
      },
      "title": "A bus event is a container for event bus events emitted by Vega"
    },
    "v1BusEventType": {
      "type": "string",
      "enum": [
        "BUS_EVENT_TYPE_UNSPECIFIED",
        "BUS_EVENT_TYPE_ALL",
        "BUS_EVENT_TYPE_TIME_UPDATE",
        "BUS_EVENT_TYPE_LEDGER_MOVEMENTS",
        "BUS_EVENT_TYPE_POSITION_RESOLUTION",
        "BUS_EVENT_TYPE_ORDER",
        "BUS_EVENT_TYPE_ACCOUNT",
        "BUS_EVENT_TYPE_PARTY",
        "BUS_EVENT_TYPE_TRADE",
        "BUS_EVENT_TYPE_MARGIN_LEVELS",
        "BUS_EVENT_TYPE_PROPOSAL",
        "BUS_EVENT_TYPE_VOTE",
        "BUS_EVENT_TYPE_MARKET_DATA",
        "BUS_EVENT_TYPE_NODE_SIGNATURE",
        "BUS_EVENT_TYPE_LOSS_SOCIALIZATION",
        "BUS_EVENT_TYPE_SETTLE_POSITION",
        "BUS_EVENT_TYPE_SETTLE_DISTRESSED",
        "BUS_EVENT_TYPE_MARKET_CREATED",
        "BUS_EVENT_TYPE_ASSET",
        "BUS_EVENT_TYPE_MARKET_TICK",
        "BUS_EVENT_TYPE_WITHDRAWAL",
        "BUS_EVENT_TYPE_DEPOSIT",
        "BUS_EVENT_TYPE_AUCTION",
        "BUS_EVENT_TYPE_RISK_FACTOR",
        "BUS_EVENT_TYPE_NETWORK_PARAMETER",
        "BUS_EVENT_TYPE_LIQUIDITY_PROVISION",
        "BUS_EVENT_TYPE_MARKET_UPDATED",
        "BUS_EVENT_TYPE_ORACLE_SPEC",
        "BUS_EVENT_TYPE_ORACLE_DATA",
        "BUS_EVENT_TYPE_DELEGATION_BALANCE",
        "BUS_EVENT_TYPE_VALIDATOR_SCORE",
        "BUS_EVENT_TYPE_EPOCH_UPDATE",
        "BUS_EVENT_TYPE_VALIDATOR_UPDATE",
        "BUS_EVENT_TYPE_STAKE_LINKING",
        "BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT",
        "BUS_EVENT_TYPE_CHECKPOINT",
        "BUS_EVENT_TYPE_STREAM_START",
        "BUS_EVENT_TYPE_KEY_ROTATION",
        "BUS_EVENT_TYPE_STATE_VAR",
        "BUS_EVENT_TYPE_NETWORK_LIMITS",
        "BUS_EVENT_TYPE_TRANSFER",
        "BUS_EVENT_TYPE_VALIDATOR_RANKING",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED",
        "BUS_EVENT_TYPE_POSITION_STATE",
        "BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION",
        "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL",
        "BUS_EVENT_TYPE_BEGIN_BLOCK",
        "BUS_EVENT_TYPE_END_BLOCK",
        "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED",
        "BUS_EVENT_TYPE_SETTLE_MARKET",
        "BUS_EVENT_TYPE_TRANSACTION_RESULT",
        "BUS_EVENT_TYPE_SNAPSHOT_TAKEN",
        "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY",
        "BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED",
        "BUS_EVENT_TYPE_EXPIRED_ORDERS",
        "BUS_EVENT_TYPE_MARKET",
        "BUS_EVENT_TYPE_TX_ERROR"
      ],
      "default": "BUS_EVENT_TYPE_UNSPECIFIED",
      "description": "- BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: The core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: The core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: The core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: The market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: The result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Snapshot is taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Data node notifies that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type",
      "title": "An (event) bus event type is used to specify a type of event\nIt has 2 styles of event:\nSingle values (e.g. BUS_EVENT_TYPE_ORDER) where they represent one data item\nGroup values (e.g. BUS_EVENT_TYPE_AUCTION) where they represent a group of data items"
    },
    "v1CancelTransfer": {
      "type": "object",
      "properties": {
        "transferId": {
          "type": "string",
          "title": "The ID of the transfer to cancel"
        }
      },
      "title": "A request for cancelling a recurring transfer"
    },
    "v1CheckRawTransactionRequest": {
      "type": "object",
      "properties": {
        "tx": {
          "type": "string",
          "format": "byte",
          "title": "A bundle of signed payload and signature marshalled into a byte array, to form a transaction that would be submitted to the Vega blockchain"
        }
      },
      "title": "Request for checking a version agnostic transaction on Vega"
    },
    "v1CheckRawTransactionResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "title": "Success will be true if the transaction was checked by the node"
        },
        "code": {
          "type": "integer",
          "format": "int64",
          "title": "Check code result"
        },
        "gasWanted": {
          "type": "string",
          "format": "int64",
          "title": "Gas wanted for transaction"
        },
        "gasUsed": {
          "type": "string",
          "format": "int64",
          "title": "Gas used for transaction"
        },
        "data": {
          "type": "string",
          "title": "Data for details"
        },
        "log": {
          "type": "string",
          "title": "Transaction log"
        },
        "info": {
          "type": "string",
          "title": "Informations about the transaction"
        }
      },
      "title": "Response for checking a version agnostic transaction on Vega"
    },
    "v1CheckTransactionRequest": {
      "type": "object",
      "properties": {
        "tx": {
          "$ref": "#/definitions/v1Transaction",
          "title": "A bundle of signed payload and signature, to form a transaction that would be submitted to the Vega blockchain"
        }
      },
      "title": "Request for checking a transaction v2 on Vega"
    },
    "v1CheckTransactionResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "title": "Success will be true if the transaction was checked by the node"
        },
        "code": {
          "type": "integer",
          "format": "int64",
          "title": "Check code result"
        },
        "gasWanted": {
          "type": "string",
          "format": "int64",
          "title": "Gas wanted for transaction"
        },
        "gasUsed": {
          "type": "string",
          "format": "int64",
          "title": "Gas used for transaction"
        },
        "data": {
          "type": "string",
          "title": "Data for details"
        },
        "log": {
          "type": "string",
          "title": "Transaction log"
        },
        "info": {
          "type": "string",
          "title": "Informations about the transaction"
        }
      }
    },
    "v1CheckpointEvent": {
      "type": "object",
      "properties": {
        "hash": {
          "type": "string"
        },
        "blockHash": {
          "type": "string"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "v1Condition": {
      "type": "object",
      "properties": {
        "operator": {
          "$ref": "#/definitions/ConditionOperator",
          "description": "comparator is the type of comparison to make on the value."
        },
        "value": {
          "type": "string",
          "description": "value is used by the comparator."
        }
      },
      "title": "Condition describes the condition that must be validated by the network"
    },
    "v1CoreSnapshotData": {
      "type": "object",
      "properties": {
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "The block height at which snapshot was taken"
        },
        "blockHash": {
          "type": "string",
          "title": "The hash of the snapshot block"
        },
        "coreVersion": {
          "type": "string",
          "title": "Core version"
        },
        "protocolUpgradeBlock": {
          "type": "boolean",
          "title": "Indicates if the snapshot is taken as part of protocol upgrade"
        }
      },
      "description": "CoreSnapshotData represents the core snapshot data."
    },
    "v1Data": {
      "type": "object",
      "properties": {
        "signers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Signer"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Property"
          },
          "title": "data holds all the properties of the data"
        },
        "matchedSpecIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "matched_specs_ids lists all the specs that matched this data.\nWhen the array is empty, it means no spec matched this data."
        },
        "broadcastAt": {
          "type": "string",
          "format": "int64",
          "description": "broadcast_at is the time at which the data was broadcast to the markets\nwith a matching spec.\nIt has no value when the date did not match any spec.\nThe value is a Unix timestamp in nanoseconds."
        }
      },
      "description": "Data describes valid source data that has been received by the node.\nIt represents both matched and unmatched data."
    },
    "v1DelegateSubmission": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "The ID for the node to delegate to"
        },
        "amount": {
          "type": "string",
          "description": "The amount of stake to delegate\nThis field is an unsigned integer passed as a string and needs to be scaled using the asset decimal places for the token."
        }
      },
      "title": "A command to submit an instruction to delegate some stake to a node"
    },
    "v1DelegationBalanceEvent": {
      "type": "object",
      "properties": {
        "party": {
          "type": "string"
        },
        "nodeId": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "epochSeq": {
          "type": "string"
        }
      },
      "title": "DelegationBalanceEvent - updates on the delegation balance of a party to a node in the current epoch in effect"
    },
    "v1DistressedOrders": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "parties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Slice of Party identifiers (public keys) for the event"
        }
      },
      "title": "A distressed order contains the party IDs for all parties that were distressed and had their orders closed,\nbut did not need to be closed out after cancelling their orders"
    },
    "v1ERC20MultiSigSignerAdded": {
      "type": "object",
      "properties": {
        "signatureId": {
          "type": "string",
          "title": "The identifier of the signature bundle"
        },
        "validatorId": {
          "type": "string",
          "title": "The vega node ID of the node to be added"
        },
        "timestamp": {
          "type": "string",
          "format": "int64",
          "title": "the time at which this happened"
        },
        "newSigner": {
          "type": "string",
          "title": "The ethereum address of the new signer"
        },
        "submitter": {
          "type": "string",
          "title": "The address of the submitter of the transaction"
        },
        "nonce": {
          "type": "string",
          "description": "The nonce used."
        },
        "epochSeq": {
          "type": "string",
          "title": "The epoch that the node was added for"
        }
      }
    },
    "v1ERC20MultiSigSignerEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerEventType"
        },
        "signer": {
          "type": "string"
        },
        "nonce": {
          "type": "string"
        },
        "blockTime": {
          "type": "string",
          "format": "int64"
        },
        "txHash": {
          "type": "string"
        },
        "logIndex": {
          "type": "string",
          "format": "uint64"
        },
        "blockNumber": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "v1ERC20MultiSigSignerEventType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_ADDED",
        "TYPE_REMOVED"
      ],
      "default": "TYPE_UNSPECIFIED"
    },
    "v1ERC20MultiSigSignerRemoved": {
      "type": "object",
      "properties": {
        "signatureSubmitters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ERC20MultiSigSignerRemovedSubmitter"
          },
          "title": "A list containing all the IDs of bundle generated\nThere should be one bundle generated for every validators\nin the validator set"
        },
        "validatorId": {
          "type": "string",
          "title": "The vega node ID of the node which is to be removed"
        },
        "timestamp": {
          "type": "string",
          "format": "int64",
          "title": "the time at which this happened"
        },
        "oldSigner": {
          "type": "string",
          "title": "The ethereum address of the signer to be removed"
        },
        "nonce": {
          "type": "string",
          "description": "The nonce used."
        },
        "epochSeq": {
          "type": "string",
          "title": "The epoch that the node was removed for"
        }
      }
    },
    "v1ERC20MultiSigSignerRemovedSubmitter": {
      "type": "object",
      "properties": {
        "signatureId": {
          "type": "string",
          "title": "The ID of this signature bundle"
        },
        "submitter": {
          "type": "string",
          "title": "The address of the submitter of the transaction"
        }
      }
    },
    "v1ERC20MultiSigThresholdSetEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "newThreshold": {
          "type": "integer",
          "format": "int64"
        },
        "nonce": {
          "type": "string"
        },
        "blockTime": {
          "type": "string",
          "format": "int64"
        },
        "txHash": {
          "type": "string"
        },
        "logIndex": {
          "type": "string",
          "format": "uint64"
        },
        "blockNumber": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "v1ETHAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        }
      }
    },
    "v1EndBlock": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "format": "uint64"
        }
      },
      "title": "EndBlock"
    },
    "v1EpochEvent": {
      "type": "object",
      "properties": {
        "seq": {
          "type": "string",
          "format": "uint64",
          "title": "Sequence number that increases by one each epoch"
        },
        "action": {
          "$ref": "#/definitions/vegaEpochAction",
          "title": "Action tells us what action is taking place"
        },
        "startTime": {
          "type": "string",
          "format": "int64",
          "title": "What time did this epoch start"
        },
        "expireTime": {
          "type": "string",
          "format": "int64",
          "title": "What time should this epoch end"
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "title": "What time did it actually end"
        }
      },
      "title": "Epoch details"
    },
    "v1EthereumKeyRotateSubmission": {
      "type": "object",
      "properties": {
        "targetBlock": {
          "type": "string",
          "format": "uint64",
          "title": "Target block at which the key rotation will take effect on"
        },
        "newAddress": {
          "type": "string",
          "title": "The new address to rotate to"
        },
        "currentAddress": {
          "type": "string",
          "title": "Currently used public address"
        },
        "submitterAddress": {
          "type": "string",
          "title": "Ethereum public key to use as a submitter to allow automatic signature generation"
        },
        "ethereumSignature": {
          "$ref": "#/definitions/v1Signature",
          "title": "Signature that can be verified using the new ethereum address"
        }
      },
      "title": "A transaction to allow a validator to rotate their ethereum keys"
    },
    "v1EthereumKeyRotation": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "Node id of the node"
        },
        "oldAddress": {
          "type": "string",
          "title": "Old Ethereum address of validator node"
        },
        "newAddress": {
          "type": "string",
          "title": "New Ethereum address of validator node"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Height of the block where key rotation took effect"
        }
      },
      "title": "An Ethereum key rotation events contains information about Ethereum key rotation"
    },
    "v1ExpiredOrders": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "orderIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Slice of expired order identifiers"
        }
      }
    },
    "v1ExternalData": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v1Data"
        }
      }
    },
    "v1Filter": {
      "type": "object",
      "properties": {
        "key": {
          "$ref": "#/definitions/v1PropertyKey",
          "description": "key is the data source data property key targeted by the filter."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Condition"
          },
          "description": "conditions are the conditions that should be matched by the data to be\nconsidered of interest."
        }
      },
      "description": "Filter describes the conditions under which a data source data is considered of\ninterest or not."
    },
    "v1GetSpamStatisticsResponse": {
      "type": "object",
      "properties": {
        "chainId": {
          "type": "string"
        },
        "statistics": {
          "$ref": "#/definitions/v1SpamStatistics"
        }
      },
      "title": "A response containing all the spam statistics of a party for the current epoch"
    },
    "v1GetVegaTimeResponse": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp representation of current VegaTime as represented in\nNanoseconds since the epoch, for example `1580473859111222333` corresponds to `2020-01-31T12:30:59.111222333Z`"
        }
      },
      "title": "Response for the current consensus coordinated time on the Vega network, referred to as \"VegaTime\""
    },
    "v1IssueSignatures": {
      "type": "object",
      "properties": {
        "submitter": {
          "type": "string",
          "title": "The ethereum address which will submit the signatures to the smart contract"
        },
        "kind": {
          "$ref": "#/definitions/v1NodeSignatureKind",
          "title": "The kind of signatures to generate, namely for whether a signer is being added or removed"
        },
        "validatorNodeId": {
          "type": "string",
          "title": "The ID of the node that will be signed in or out of the smart contract"
        }
      },
      "title": "A transaction for a validator to submit signatures to a smart contract"
    },
    "v1KeyRotateSubmission": {
      "type": "object",
      "properties": {
        "newPubKeyIndex": {
          "type": "integer",
          "format": "int64",
          "title": "New Vega public key derivation index"
        },
        "targetBlock": {
          "type": "string",
          "format": "uint64",
          "title": "Target block at which the key rotation will take effect on"
        },
        "newPubKey": {
          "type": "string",
          "title": "The new public key to rotate to"
        },
        "currentPubKeyHash": {
          "type": "string",
          "title": "Hash of currently used public key"
        }
      },
      "title": "A transaction to allow a validator to rotate their Vega keys"
    },
    "v1KeyRotation": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "Node id of the node"
        },
        "oldPubKey": {
          "type": "string",
          "title": "Old Vega public key of validator node"
        },
        "newPubKey": {
          "type": "string",
          "title": "New Vega public key of validator node"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Height of the block where key rotation took effect"
        }
      },
      "title": "A key rotation events contains information about Vega key rotation"
    },
    "v1LastBlockHeightResponse": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "format": "uint64",
          "title": "last block height"
        },
        "hash": {
          "type": "string",
          "title": "last block hash"
        },
        "spamPowHashFunction": {
          "type": "string",
          "title": "supported proof of work hash function"
        },
        "spamPowDifficulty": {
          "type": "integer",
          "format": "int64",
          "title": "the difficulty of the proof of work (target number of zeros)"
        },
        "spamPowNumberOfPastBlocks": {
          "type": "integer",
          "format": "int64",
          "title": "supported proof of work number of blocks behind current height allowed"
        },
        "spamPowNumberOfTxPerBlock": {
          "type": "integer",
          "format": "int64",
          "title": "allowed number of transactions per block"
        },
        "spamPowIncreasingDifficulty": {
          "type": "boolean",
          "title": "is increasing difficulty allowed for using the same height for more than `spam_pow_number_of_past_blocks` transactions"
        },
        "chainId": {
          "type": "string",
          "title": "the network chain id from which the block comes from"
        }
      },
      "title": "A response with the height of the last block processed by\ntendermint"
    },
    "v1LedgerMovements": {
      "type": "object",
      "properties": {
        "ledgerMovements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaLedgerMovement"
          },
          "title": "One or more entries containing internal transfer information"
        }
      },
      "title": "A transfer responses event contains a collection of transfer information"
    },
    "v1LiquidityProvisionAmendment": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string"
        },
        "commitmentAmount": {
          "type": "string",
          "title": "From here at least one of the following is required to consider the command valid"
        },
        "fee": {
          "type": "string"
        },
        "sells": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaLiquidityOrder"
          }
        },
        "buys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaLiquidityOrder"
          }
        },
        "reference": {
          "type": "string"
        }
      },
      "title": "Amend a liquidity provision request"
    },
    "v1LiquidityProvisionCancellation": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string"
        }
      },
      "title": "Cancel a liquidity provision request"
    },
    "v1LiquidityProvisionSubmission": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the order, required field"
        },
        "commitmentAmount": {
          "type": "string",
          "description": "Specified as a unitless number that represents the amount of settlement asset of the market\nThis field is an unsigned integer passed as a string and needs to be scaled using the asset decimal places."
        },
        "fee": {
          "type": "string",
          "title": "Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers"
        },
        "sells": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaLiquidityOrder"
          },
          "title": "A set of liquidity sell orders to meet the liquidity provision obligation"
        },
        "buys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaLiquidityOrder"
          },
          "title": "A set of liquidity buy orders to meet the liquidity provision obligation"
        },
        "reference": {
          "type": "string",
          "title": "A reference to be added to every order created out of this liquidityProvisionSubmission"
        }
      },
      "title": "A liquidity provision submitted for a given market"
    },
    "v1LossSocialization": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "partyId": {
          "type": "string",
          "title": "Party identifier (public key) for the event"
        },
        "amount": {
          "type": "string",
          "title": "Amount distributed"
        }
      },
      "title": "A loss socialization event contains details on the amount of wins unable to be distributed"
    },
    "v1MarketEvent": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "payload": {
          "type": "string",
          "title": "Payload is a unique information string"
        }
      },
      "title": "MarketEvent - the common denominator for all market events\ninterface has a method to return a string for logging"
    },
    "v1MarketTick": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "time": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp containing latest update from Vega blockchain aka Vega-time"
        }
      },
      "title": "A market ticket event contains the time value for when a particular market was last processed on Vega"
    },
    "v1NodeSignature": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "The identifier of the resource being signed"
        },
        "sig": {
          "type": "string",
          "format": "byte",
          "title": "The signature"
        },
        "kind": {
          "$ref": "#/definitions/v1NodeSignatureKind",
          "title": "The kind of resource being signed"
        }
      },
      "title": "Represents a signature from a validator, to be used by a foreign chain in order to recognise a decision taken by the Vega network"
    },
    "v1NodeSignatureKind": {
      "type": "string",
      "enum": [
        "NODE_SIGNATURE_KIND_UNSPECIFIED",
        "NODE_SIGNATURE_KIND_ASSET_NEW",
        "NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL",
        "NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED",
        "NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED",
        "NODE_SIGNATURE_KIND_ASSET_UPDATE"
      ],
      "default": "NODE_SIGNATURE_KIND_UNSPECIFIED",
      "description": "- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing",
      "title": "The kind of signature created by a node, for example, allow-listing a new asset, withdrawal etc"
    },
    "v1ObserveEventBusResponse": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1BusEvent"
          },
          "title": "One or more events"
        }
      },
      "title": "Response to a subscribed stream of events from the Vega event bus"
    },
    "v1OracleDataSubmission": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "#/definitions/OracleDataSubmissionOracleSource",
          "description": "The source from which the data is coming from. Must be base64 encoded.\nOracle data is a type of external data source data."
        },
        "payload": {
          "type": "string",
          "format": "byte",
          "title": "The data provided by the data source\nIn the case of Open Oracle - it will be the entire object - it will contain messages, signatures and price data"
        }
      },
      "title": "Command to submit new Oracle data from third party providers"
    },
    "v1OrderAmendment": {
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "title": "Order identifier, this is required to find the order and will not be updated, required field"
        },
        "marketId": {
          "type": "string",
          "title": "Market identifier, this is required to find the order and will not be updated"
        },
        "price": {
          "type": "string",
          "description": "Amend the price for the order if the price value is set, otherwise price will remain unchanged.\nThis field is an unsigned integer passed as a string and needs to be scaled using the market's decimal places."
        },
        "sizeDelta": {
          "type": "string",
          "format": "int64",
          "description": "Amend the size for the order by the delta specified:\n- To reduce the size from the current value set a negative integer value\n- To increase the size from the current value, set a positive integer value\n- To leave the size unchanged set a value of zero\nThis field needs to be scaled using the market's position decimal places."
        },
        "expiresAt": {
          "type": "string",
          "format": "int64",
          "title": "Amend the expiry time for the order, if the Timestamp value is set, otherwise expiry time will remain unchanged\n- See [`VegaTimeResponse`](#api.VegaTimeResponse).`timestamp`"
        },
        "timeInForce": {
          "$ref": "#/definitions/OrderTimeInForce",
          "title": "Amend the time in force for the order, set to TIME_IN_FORCE_UNSPECIFIED to remain unchanged\n- See [`TimeInForce`](#api.VegaTimeResponse).`timestamp`"
        },
        "peggedOffset": {
          "type": "string",
          "description": "Amend the pegged order offset for the order\nThis field is an unsigned integer passed as a string and needs to be scaled using the market's decimal places."
        },
        "peggedReference": {
          "$ref": "#/definitions/vegaPeggedReference",
          "title": "Amend the pegged order reference for the order\n- See [`PeggedReference`](#vega.PeggedReference)"
        }
      },
      "title": "An order amendment is a request to amend or update an existing order on Vega"
    },
    "v1OrderCancellation": {
      "type": "object",
      "properties": {
        "orderId": {
          "type": "string",
          "title": "Unique identifier for the order (set by the system after consensus), required field"
        },
        "marketId": {
          "type": "string",
          "title": "Market identifier for the order, required field"
        }
      },
      "title": "An order cancellation is a request to cancel an existing order on Vega"
    },
    "v1OrderSubmission": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the order, required field"
        },
        "price": {
          "type": "string",
          "description": "Price for the order, the price is an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places,\n, required field for limit orders, however it is not required for market orders\nThis field is an unsigned integer passed as a string and needs to be scaled using the market's decimal places."
        },
        "size": {
          "type": "string",
          "format": "uint64",
          "description": "Size for the order, for example, in a futures market the size equals the number of units, cannot be negative\nThis field is an unsigned integer passed as a string and needs to be scaled using the market's position decimal places."
        },
        "side": {
          "$ref": "#/definitions/vegaSide",
          "title": "Side for the order, e.g. SIDE_BUY or SIDE_SELL, required field\n- See `Side`"
        },
        "timeInForce": {
          "$ref": "#/definitions/OrderTimeInForce",
          "title": "Time in force indicates how long an order will remain active before it is executed or expires, required field\n- See `Order.TimeInForce`"
        },
        "expiresAt": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp for when the order will expire, in nanoseconds since the epoch,\nrequired field only for `Order.TimeInForce`.TIME_IN_FORCE_GTT`\n- See `VegaTimeResponse`.`timestamp`"
        },
        "type": {
          "$ref": "#/definitions/vegaOrderType",
          "title": "Type for the order, required field - See `Order.Type`"
        },
        "reference": {
          "type": "string",
          "title": "Reference given for the order, this is typically used to retrieve an order submitted through consensus, currently\nset internally by the node to return a unique reference identifier for the order submission"
        },
        "peggedOrder": {
          "$ref": "#/definitions/vegaPeggedOrder",
          "title": "Used to specify the details for a pegged order\n- See `PeggedOrder`"
        }
      },
      "title": "An order submission is a request to submit or create a new order on Vega"
    },
    "v1PoWBlockState": {
      "type": "object",
      "properties": {
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Block height for the current Proof of Work state statistics"
        },
        "blockHash": {
          "type": "string",
          "title": "Hash of the current block"
        },
        "transactionsSeen": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of transactions seen in the block"
        },
        "expectedDifficulty": {
          "type": "string",
          "format": "uint64",
          "description": "This is the minimum required difficulty for the next transaction submitted on this block\nif it is possible to submit more transactions on this block, otherwise nil."
        },
        "hashFunction": {
          "type": "string",
          "title": "The hashing function used to calculate the block hash"
        },
        "difficulty": {
          "type": "string",
          "format": "uint64",
          "title": "The base difficulty for this block for when transactions seen \u003c tx_per_block"
        },
        "txPerBlock": {
          "type": "string",
          "format": "uint64",
          "title": "The number of transactions that can have their proof-of-work calculated with this block hash before\neither the difficulty increases, or no more transactions can use this block hash"
        },
        "increasingDifficulty": {
          "type": "boolean",
          "title": "Whether or not this block allows for increasing proof-of-work difficulty if the\ntx-per-block-hash limit has been reached"
        }
      },
      "title": "The PoW state for a given block"
    },
    "v1PoWStatistic": {
      "type": "object",
      "properties": {
        "blockStates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PoWBlockState"
          },
          "title": "Block state for each block in scope for PoW calculation"
        },
        "bannedUntil": {
          "type": "string",
          "title": "PoW banned until timestamp as RFC3339Nano"
        },
        "numberOfPastBlocks": {
          "type": "string",
          "format": "uint64",
          "title": "The number of block behind the current block whose hash can be used for proof-of-work calculations"
        }
      },
      "title": "Proof of work statistics for a party"
    },
    "v1PositionResolution": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "distressed": {
          "type": "string",
          "format": "int64",
          "title": "Number of distressed traders"
        },
        "closed": {
          "type": "string",
          "format": "int64",
          "title": "Number of close outs"
        },
        "markPrice": {
          "type": "string",
          "title": "Mark price as a string representing a scaled price"
        }
      },
      "title": "A position resolution event contains information on distressed trades"
    },
    "v1PositionStateEvent": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "title": "Party identifier for this position update"
        },
        "marketId": {
          "type": "string",
          "title": "Market identifier for this position update"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "title": "Current position"
        },
        "potentialBuys": {
          "type": "string",
          "format": "int64",
          "title": "Potential orders"
        },
        "potentialSells": {
          "type": "string",
          "format": "int64"
        },
        "vwBuyPrice": {
          "type": "string",
          "title": "Volume weighted prices"
        },
        "vwSellPrice": {
          "type": "string"
        }
      },
      "title": "A position state event contains the current position state for a single party in a single market"
    },
    "v1ProofOfWork": {
      "type": "object",
      "properties": {
        "tid": {
          "type": "string",
          "description": "A unique transaction identifier used to seed the proof-of-work hash."
        },
        "nonce": {
          "type": "string",
          "format": "uint64",
          "description": "A number which, combined with the transaction identifier, will produce a hash with the required number of leading zeros to be accepted by the network."
        }
      },
      "title": "Components needed for the network to verify proof-of-work"
    },
    "v1PropagateChainEventResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "title": "Success will be true if the event was accepted by the node,\n**Important** - success does not mean that the event is confirmed by consensus"
        }
      },
      "title": "Response for a new event sent by the blockchain queue to be propagated on Vega"
    },
    "v1Property": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the name of the property."
        },
        "value": {
          "type": "string",
          "description": "value is the value of the property."
        },
        "numberDecimalPlaces": {
          "type": "string",
          "format": "uint64",
          "title": "An optional decimal place to be be applied on the provided value\nvalid only for PropertyType of type DECIMAL and INTEGER"
        }
      },
      "description": "Property describes one property of data spec with a key with its value."
    },
    "v1PropertyKey": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name is the name of the property."
        },
        "type": {
          "$ref": "#/definitions/v1PropertyKeyType",
          "description": "type is the type of the property."
        },
        "numberDecimalPlaces": {
          "type": "string",
          "format": "uint64",
          "title": "An optional decimal place to be be applied on the provided value\nvalid only for PropertyType of type DECIMAL and INTEGER"
        }
      },
      "description": "PropertyKey describes the property key contained in data source data."
    },
    "v1PropertyKeyType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_EMPTY",
        "TYPE_INTEGER",
        "TYPE_STRING",
        "TYPE_BOOLEAN",
        "TYPE_DECIMAL",
        "TYPE_TIMESTAMP"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "Type describes the type of properties that are supported by the data source\nengine.\n\n - TYPE_UNSPECIFIED: The default value.\n - TYPE_EMPTY: Any type.\n - TYPE_INTEGER: Integer type.\n - TYPE_STRING: String type.\n - TYPE_BOOLEAN: Boolean type.\n - TYPE_DECIMAL: Any floating point decimal type.\n - TYPE_TIMESTAMP: Timestamp date type."
    },
    "v1ProposalSubmission": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "title": "Proposal reference"
        },
        "terms": {
          "$ref": "#/definitions/vegaProposalTerms",
          "title": "Proposal configuration and the actual change that is meant to be executed when proposal is enacted"
        },
        "rationale": {
          "$ref": "#/definitions/vegaProposalRationale",
          "description": "The rationale behind a proposal."
        }
      },
      "title": "A command to submit a new proposal for the\nVega network governance"
    },
    "v1ProtocolUpgradeDataNodeReady": {
      "type": "object",
      "properties": {
        "lastBlockHeight": {
          "type": "string",
          "format": "uint64"
        }
      },
      "title": "The data node is ready fro protocol upgrade"
    },
    "v1ProtocolUpgradeEvent": {
      "type": "object",
      "properties": {
        "upgradeBlockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "The block height at which to perform the upgrade"
        },
        "vegaReleaseTag": {
          "type": "string",
          "title": "the release tag for the vega binary"
        },
        "approvers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "tendermint validators that have agreed to the upgrade"
        },
        "status": {
          "$ref": "#/definitions/v1ProtocolUpgradeProposalStatus",
          "title": "the status of the proposal"
        }
      }
    },
    "v1ProtocolUpgradeProposal": {
      "type": "object",
      "properties": {
        "upgradeBlockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "The block height at which to perform the upgrade"
        },
        "vegaReleaseTag": {
          "type": "string",
          "title": "the release tag for the Vega binary"
        }
      },
      "title": "A transaction for a validator to suggest a protocol upgrade"
    },
    "v1ProtocolUpgradeProposalStatus": {
      "type": "string",
      "enum": [
        "PROTOCOL_UPGRADE_PROPOSAL_STATUS_UNSPECIFIED",
        "PROTOCOL_UPGRADE_PROPOSAL_STATUS_PENDING",
        "PROTOCOL_UPGRADE_PROPOSAL_STATUS_APPROVED",
        "PROTOCOL_UPGRADE_PROPOSAL_STATUS_REJECTED"
      ],
      "default": "PROTOCOL_UPGRADE_PROPOSAL_STATUS_UNSPECIFIED",
      "title": "- PROTOCOL_UPGRADE_PROPOSAL_STATUS_PENDING: The proposal is pending\n - PROTOCOL_UPGRADE_PROPOSAL_STATUS_APPROVED: The proposal is approved\n - PROTOCOL_UPGRADE_PROPOSAL_STATUS_REJECTED: The proposal is rejected"
    },
    "v1ProtocolUpgradeStarted": {
      "type": "object",
      "properties": {
        "lastBlockHeight": {
          "type": "string",
          "format": "uint64"
        }
      },
      "title": "The core is starting a protocol upgrade"
    },
    "v1PubKey": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "description": "PubKey is the public key that signed this data.\nDifferent public keys coming from different sources will be further separated."
    },
    "v1RewardPayoutEvent": {
      "type": "object",
      "properties": {
        "party": {
          "type": "string"
        },
        "epochSeq": {
          "type": "string"
        },
        "asset": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "percentOfTotalReward": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "int64"
        },
        "rewardType": {
          "type": "string"
        },
        "market": {
          "type": "string"
        }
      }
    },
    "v1SettleDistressed": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "partyId": {
          "type": "string",
          "title": "Party identifier (public key) for the event"
        },
        "margin": {
          "type": "string",
          "title": "Margin value as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places"
        },
        "price": {
          "type": "string",
          "title": "Price as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places"
        }
      },
      "title": "A settle distressed event contains information on distressed trading parties who are closed out"
    },
    "v1SettleMarket": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "price": {
          "type": "string",
          "title": "Price of settlement as a string"
        },
        "positionFactor": {
          "type": "string",
          "title": "Position factor - 10 ^ number of position decimal places"
        }
      },
      "title": "A settle market event to notify data node that a market has been settled\nso positions and PL can be updated accordingly"
    },
    "v1SettlePosition": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market identifier for the event"
        },
        "partyId": {
          "type": "string",
          "title": "Party identifier (public key) for the event"
        },
        "price": {
          "type": "string",
          "title": "Price of settlement as a string"
        },
        "tradeSettlements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1TradeSettlement"
          },
          "title": "A collection of 1 or more trade settlements"
        },
        "positionFactor": {
          "type": "string",
          "title": "Position factor - 10 ^ number of position decimal places"
        }
      },
      "title": "A settle position event contains position settlement information for a party"
    },
    "v1Signature": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The bytes of the signature (hex-encoded)."
        },
        "algo": {
          "type": "string",
          "description": "The algorithm used to create the signature."
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "The version of the signature used to create the signature."
        }
      },
      "description": "A signature to authenticate a transaction and to be verified by the Vega\nnetwork."
    },
    "v1Signer": {
      "type": "object",
      "properties": {
        "pubKey": {
          "$ref": "#/definitions/v1PubKey",
          "description": "pubKeys is the list of authorized public keys that signed the data for this\nsource. All the public keys in the data should be contained in these\npublic keys."
        },
        "ethAddress": {
          "$ref": "#/definitions/v1ETHAddress",
          "title": "in case of an open oracle - Ethereum address will be submitted"
        }
      }
    },
    "v1SpamStatistic": {
      "type": "object",
      "properties": {
        "countForEpoch": {
          "type": "string",
          "format": "uint64",
          "title": "The current transaction count received from the party during this epoch for this policy"
        },
        "maxForEpoch": {
          "type": "string",
          "format": "uint64",
          "title": "The maximum number of transactions allowed for this policy in an epoch"
        },
        "bannedUntil": {
          "type": "string",
          "title": "If blocked the timestamp when the party will be unblocked as RFC3339Nano"
        },
        "minTokensRequired": {
          "type": "string",
          "title": "The effective minimum number of tokens required to submit a transaction of this type"
        }
      },
      "title": "The statistics for a given spam policy"
    },
    "v1SpamStatistics": {
      "type": "object",
      "properties": {
        "proposals": {
          "$ref": "#/definitions/v1SpamStatistic",
          "title": "Statistics for proposal transactions made by the party"
        },
        "delegations": {
          "$ref": "#/definitions/v1SpamStatistic",
          "title": "Statistics for delegation transactions made by the party"
        },
        "transfers": {
          "$ref": "#/definitions/v1SpamStatistic",
          "title": "Statistics for transfer transactions made by the party"
        },
        "nodeAnnouncements": {
          "$ref": "#/definitions/v1SpamStatistic",
          "title": "Statistics for node announcement transactions made by the party"
        },
        "votes": {
          "$ref": "#/definitions/v1VoteSpamStatistics",
          "title": "Statistics for proposal votes made by the party"
        },
        "pow": {
          "$ref": "#/definitions/v1PoWStatistic",
          "title": "Statistics for proof of work difficulty observed per block for the party"
        },
        "issueSignatures": {
          "$ref": "#/definitions/v1SpamStatistic",
          "title": "Statistics for multisig signatures issued for the party"
        },
        "epochSeq": {
          "type": "string",
          "format": "uint64",
          "title": "The epoch in which these statistics apply to"
        }
      },
      "title": "The complete spam statistics captured for a given party"
    },
    "v1StakeLinking": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "The internal ID for this staking event"
        },
        "type": {
          "$ref": "#/definitions/v1StakeLinkingType",
          "title": "The type of event"
        },
        "ts": {
          "type": "string",
          "format": "int64",
          "title": "The timestamps at which the event was emitted by ethereum"
        },
        "party": {
          "type": "string",
          "description": "The party to whom the event is directed at."
        },
        "amount": {
          "type": "string",
          "title": "The amount of stake deposited or removed"
        },
        "status": {
          "$ref": "#/definitions/v1StakeLinkingStatus",
          "title": "The status of the event"
        },
        "finalizedAt": {
          "type": "string",
          "format": "int64",
          "title": "The time at which the vega network finalized the state of the event"
        },
        "txHash": {
          "type": "string",
          "title": "The hash of the transaction from which the events happen"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "The block when the event happened"
        },
        "blockTime": {
          "type": "string",
          "format": "int64",
          "title": "The block time"
        },
        "logIndex": {
          "type": "string",
          "format": "uint64",
          "title": "The log index"
        },
        "ethereumAddress": {
          "type": "string",
          "title": "the ethereum address from which the stake link was initiated"
        }
      },
      "title": "StakeLinking - an event notifying of stake being deposited or removed for a given party\nThese events are emitted for every Staking deposit or removed accepted by the network"
    },
    "v1StakeLinkingStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_ACCEPTED",
        "STATUS_REJECTED"
      ],
      "default": "STATUS_UNSPECIFIED",
      "title": "- STATUS_UNSPECIFIED: Default value\n - STATUS_PENDING: Indicates an event waiting for confirmation from the Vega network\n - STATUS_ACCEPTED: Indicates an event accepted by the Vega network\n - STATUS_REJECTED: Indicates an event rejected by the Vega network"
    },
    "v1StakeLinkingType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_LINK",
        "TYPE_UNLINK"
      ],
      "default": "TYPE_UNSPECIFIED",
      "title": "- TYPE_UNSPECIFIED: Default value\n - TYPE_LINK: Indicate of a stake deposit instruction\n - TYPE_UNLINK: Indicate of a stake remove instruction"
    },
    "v1StateVar": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "state": {
          "type": "string"
        }
      },
      "title": "StateVarEvent - updates on state changes in state variable consensus"
    },
    "v1Statistics": {
      "type": "object",
      "properties": {
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Current block height as reported by the Vega blockchain"
        },
        "backlogLength": {
          "type": "string",
          "format": "uint64",
          "title": "Current backlog length (number of transactions) that are waiting to be included in a block"
        },
        "totalPeers": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of connected peers to this node"
        },
        "genesisTime": {
          "type": "string",
          "title": "Genesis block date and time formatted in ISO-8601 datetime format with nanosecond precision"
        },
        "currentTime": {
          "type": "string",
          "title": "Current system date and time formatted in ISO-8601 datetime format with nanosecond precision"
        },
        "vegaTime": {
          "type": "string",
          "title": "Current Vega date and time formatted in ISO-8601 datetime format with nanosecond precision"
        },
        "status": {
          "$ref": "#/definitions/vegaChainStatus",
          "title": "Status of the connection to the Vega blockchain\n- See [`ChainStatus`](#vega.ChainStatus)"
        },
        "txPerBlock": {
          "type": "string",
          "format": "uint64",
          "title": "Transactions per block"
        },
        "averageTxBytes": {
          "type": "string",
          "format": "uint64",
          "title": "Average transaction size in bytes"
        },
        "averageOrdersPerBlock": {
          "type": "string",
          "format": "uint64",
          "title": "Average orders per block"
        },
        "tradesPerSecond": {
          "type": "string",
          "format": "uint64",
          "title": "Trades emitted per second"
        },
        "ordersPerSecond": {
          "type": "string",
          "format": "uint64",
          "title": "Orders processed per second"
        },
        "totalMarkets": {
          "type": "string",
          "format": "uint64",
          "title": "Total markets on this Vega network"
        },
        "totalAmendOrder": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of order amendments since genesis (on all markets)"
        },
        "totalCancelOrder": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of order cancellations since genesis (on all markets)"
        },
        "totalCreateOrder": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of order submissions since genesis (on all markets)"
        },
        "totalOrders": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of orders processed since genesis (on all markets)"
        },
        "totalTrades": {
          "type": "string",
          "format": "uint64",
          "title": "Total number of trades emitted since genesis (on all markets)"
        },
        "orderSubscriptions": {
          "type": "integer",
          "format": "int64",
          "title": "Current number of stream subscribers to order data"
        },
        "tradeSubscriptions": {
          "type": "integer",
          "format": "int64",
          "title": "Current number of stream subscribers to trade data"
        },
        "candleSubscriptions": {
          "type": "integer",
          "format": "int64",
[...]
