{"openapi":"3.0.0","info":{"title":"Vega core state APIs","version":"v0.72.10"},"servers":[{"url":"https://n00.testnet.vega.rocks","description":"n00"},{"url":"https://n06.testnet.vega.rocks","description":"n06"},{"url":"https://n07.testnet.vega.rocks","description":"n07"},{"url":"https://n08.testnet.vega.rocks","description":"n08"},{"url":"https://n09.testnet.vega.rocks","description":"n09"}],"paths":{"/accounts":{"get":{"parameters":[{"in":"query","name":"party","required":false,"schema":{"type":"string"}},{"in":"query","name":"market","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListAccountsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of accounts","operationId":"CoreStateService_ListAccounts","summary":"Accounts list"}},"/assets":{"get":{"parameters":[{"in":"query","name":"asset","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListAssetsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of assets","operationId":"CoreStateService_ListAssets","summary":"Assets list"}},"/delegations":{"get":{"parameters":[{"in":"query","name":"party","required":false,"schema":{"type":"string"}},{"in":"query","name":"node","required":false,"schema":{"type":"string"}},{"in":"query","name":"epochSeq","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListDelegationsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of delegations","operationId":"CoreStateService_ListDelegations","summary":"Delegations list"}},"/markets":{"get":{"parameters":[{"in":"query","name":"market","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListMarketsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of markets","operationId":"CoreStateService_ListMarkets","summary":"Markets list"}},"/markets/data":{"get":{"parameters":[{"in":"query","name":"market","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListMarketsDataResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of markets data","operationId":"CoreStateService_ListMarketsData","summary":"Markets data list"}},"/network/limits":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListNetworkLimitsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of network limits","operationId":"CoreStateService_ListNetworkLimits","summary":"Network limits list"}},"/network/parameters":{"get":{"parameters":[{"in":"query","name":"networkParameterKey","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListNetworkParametersResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of network parameters","operationId":"CoreStateService_ListNetworkParameters","summary":"Network parameters list"}},"/parties":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListPartiesResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of parties","operationId":"CoreStateService_ListParties","summary":"Parties list"}},"/parties/stake":{"get":{"parameters":[{"in":"query","name":"party","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListPartiesStakeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of parties stake","operationId":"CoreStateService_ListPartiesStake","summary":"Parties stake list"}},"/proposals":{"get":{"parameters":[{"in":"query","name":"proposal","required":false,"schema":{"type":"string"}},{"in":"query","name":"proposer","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListProposalsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of proposals","operationId":"CoreStateService_ListProposals","summary":"Proposals list"}},"/validators":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListValidatorsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of validators","operationId":"CoreStateService_ListValidators","summary":"Validators list"}},"/votes":{"get":{"parameters":[{"in":"query","name":"proposal","required":false,"schema":{"type":"string"}},{"in":"query","name":"party","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListVotesResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreStateService"],"description":"Get a list of votes","operationId":"CoreStateService_ListVotes","summary":"Votes list"}}},"components":{"schemas":{"ConditionOperator":{"default":"OPERATOR_UNSPECIFIED","description":"Operator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue.","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"type":"string"},"MarketTradingMode":{"default":"TRADING_MODE_UNSPECIFIED","description":"- TRADING_MODE_UNSPECIFIED: Default value, this is invalid\n - TRADING_MODE_CONTINUOUS: Normal trading\n - TRADING_MODE_BATCH_AUCTION: Auction trading (FBA)\n - TRADING_MODE_OPENING_AUCTION: Opening auction\n - TRADING_MODE_MONITORING_AUCTION: Auction triggered by monitoring\n - TRADING_MODE_NO_TRADING: No trading is allowed","enum":["TRADING_MODE_UNSPECIFIED","TRADING_MODE_CONTINUOUS","TRADING_MODE_BATCH_AUCTION","TRADING_MODE_OPENING_AUCTION","TRADING_MODE_MONITORING_AUCTION","TRADING_MODE_NO_TRADING"],"title":"Trading mode the market is currently running, also referred to as 'market state'","type":"string"},"apiv1Account":{"properties":{"asset":{"type":"string"},"balance":{"type":"string"},"market":{"type":"string"},"party":{"type":"string"},"type":{"type":"string"}},"type":"object"},"googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"details":{"items":{"$ref":"#/components/schemas/protobufAny"},"type":"array"},"message":{"type":"string"}},"type":"object"},"protobufAny":{"additionalProperties":{},"properties":{"@type":{"type":"string"}},"type":"object"},"protobufNullValue":{"default":"NULL_VALUE","description":"`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value.","enum":["NULL_VALUE"],"type":"string"},"v1Condition":{"properties":{"operator":{"$ref":"#/components/schemas/ConditionOperator","description":"Type of comparison to make on the value."},"value":{"description":"Value to be compared with by the operator.","type":"string"}},"title":"Condition describes the condition that must be validated by the network","type":"object"},"v1ETHAddress":{"properties":{"address":{"type":"string"}},"type":"object"},"v1Filter":{"description":"Filter describes the conditions under which a data source data is considered of\ninterest or not.","properties":{"conditions":{"description":"Conditions that should be matched by the data to be\nconsidered of interest.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"},"key":{"$ref":"#/components/schemas/v1PropertyKey","description":"Data source's data property key targeted by the filter."}},"type":"object"},"v1ListAccountsResponse":{"properties":{"accounts":{"items":{"$ref":"#/components/schemas/apiv1Account"},"type":"array"}},"type":"object"},"v1ListAssetsResponse":{"properties":{"assets":{"items":{"$ref":"#/components/schemas/vegaAsset"},"type":"array"}},"type":"object"},"v1ListDelegationsResponse":{"properties":{"delegations":{"items":{"$ref":"#/components/schemas/vegaDelegation"},"type":"array"}},"type":"object"},"v1ListMarketsDataResponse":{"properties":{"marketsData":{"items":{"$ref":"#/components/schemas/vegaMarketData"},"type":"array"}},"type":"object"},"v1ListMarketsResponse":{"properties":{"markets":{"items":{"$ref":"#/components/schemas/vegaMarket"},"type":"array"}},"type":"object"},"v1ListNetworkLimitsResponse":{"properties":{"networkLimits":{"$ref":"#/components/schemas/vegaNetworkLimits"}},"type":"object"},"v1ListNetworkParametersResponse":{"properties":{"networkParameters":{"items":{"$ref":"#/components/schemas/vegaNetworkParameter"},"type":"array"}},"type":"object"},"v1ListPartiesResponse":{"properties":{"parties":{"items":{"$ref":"#/components/schemas/vegaParty"},"type":"array"}},"type":"object"},"v1ListPartiesStakeResponse":{"properties":{"partiesStake":{"items":{"$ref":"#/components/schemas/v1PartyStake"},"type":"array"}},"type":"object"},"v1ListProposalsResponse":{"properties":{"proposals":{"items":{"$ref":"#/components/schemas/vegaProposal"},"type":"array"}},"type":"object"},"v1ListValidatorsResponse":{"properties":{"validators":{"items":{"$ref":"#/components/schemas/v1ValidatorUpdate"},"type":"array"}},"type":"object"},"v1ListVotesResponse":{"properties":{"votes":{"items":{"$ref":"#/components/schemas/vegaVote"},"type":"array"}},"type":"object"},"v1PartyStake":{"properties":{"currentStakeAvailable":{"type":"string"},"party":{"type":"string"},"stakeLinkings":{"items":{"$ref":"#/components/schemas/v1StakeLinking"},"type":"array"}},"type":"object"},"v1PropertyKey":{"description":"PropertyKey describes the property key contained in data source data.","properties":{"name":{"description":"Name of the property.","type":"string"},"numberDecimalPlaces":{"format":"uint64","title":"Optional decimal place to be be applied on the provided value\nvalid only for PropertyType of type DECIMAL and INTEGER","type":"string"},"type":{"$ref":"#/components/schemas/v1PropertyKeyType","description":"Data type of the property."}},"type":"object"},"v1PropertyKeyType":{"default":"TYPE_UNSPECIFIED","description":"Type describes the data type of properties that are supported by the data source\nengine.\n\n - TYPE_UNSPECIFIED: The default value.\n - TYPE_EMPTY: Any type.\n - TYPE_INTEGER: Integer type.\n - TYPE_STRING: String type.\n - TYPE_BOOLEAN: Boolean type.\n - TYPE_DECIMAL: Any floating point decimal type.\n - TYPE_TIMESTAMP: Timestamp date type.","enum":["TYPE_UNSPECIFIED","TYPE_EMPTY","TYPE_INTEGER","TYPE_STRING","TYPE_BOOLEAN","TYPE_DECIMAL","TYPE_TIMESTAMP"],"type":"string"},"v1PubKey":{"description":"PubKey is the public key that signed this data.\nDifferent public keys coming from different sources will be further separated.","properties":{"key":{"type":"string"}},"type":"object"},"v1Signer":{"properties":{"ethAddress":{"$ref":"#/components/schemas/v1ETHAddress","description":"In case of an open oracle - Ethereum address will be submitted."},"pubKey":{"$ref":"#/components/schemas/v1PubKey","description":"List of authorized public keys that signed the data for this\nsource. All the public keys in the data should be contained in these\npublic keys."}},"type":"object"},"v1StakeLinking":{"properties":{"amount":{"description":"Amount of stake deposited or removed.","type":"string"},"blockHeight":{"description":"Block when the event happened.","format":"uint64","type":"string"},"blockTime":{"description":"Block time.","format":"int64","type":"string"},"ethereumAddress":{"description":"Ethereum address from which the stake link was initiated.","type":"string"},"finalizedAt":{"description":"Time at which the Vega network finalised the state of the event.","format":"int64","type":"string"},"id":{"title":"Internal ID for this staking event","type":"string"},"logIndex":{"description":"Log index.","format":"uint64","type":"string"},"party":{"description":"Party to whom the event is directed at.","type":"string"},"status":{"$ref":"#/components/schemas/v1StakeLinkingStatus","description":"Status of the event."},"ts":{"description":"Timestamp in Unix nanoseconds of when the event was emitted by Ethereum.","format":"int64","type":"string"},"txHash":{"description":"Hash of the transaction in which the event happened.","type":"string"},"type":{"$ref":"#/components/schemas/v1StakeLinkingType","description":"Stake linking event type."}},"title":"StakeLinking - an event notifying of stake being deposited or removed for a given party\nThese events are emitted for every Staking deposit or removed accepted by the network","type":"object"},"v1StakeLinkingStatus":{"default":"STATUS_UNSPECIFIED","enum":["STATUS_UNSPECIFIED","STATUS_PENDING","STATUS_ACCEPTED","STATUS_REJECTED"],"title":"- STATUS_UNSPECIFIED: Default value\n - STATUS_PENDING: Indicates an event waiting for confirmation from the Vega network\n - STATUS_ACCEPTED: Indicates an event accepted by the Vega network\n - STATUS_REJECTED: Indicates an event rejected by the Vega network","type":"string"},"v1StakeLinkingType":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_LINK","TYPE_UNLINK"],"title":"- TYPE_UNSPECIFIED: Default value\n - TYPE_LINK: Indicate of a stake deposit instruction\n - TYPE_UNLINK: Indicate of a stake remove instruction","type":"string"},"v1ValidatorUpdate":{"properties":{"added":{"title":"Flag indicating if the validator has been added to or removed from vega","type":"boolean"},"avatarUrl":{"title":"AvatarURL of the validator","type":"string"},"country":{"title":"Country code (ISO 3166-1 alpha-2) for the location of the node","type":"string"},"epochSeq":{"format":"uint64","title":"Epoch in which the node was announced or removed from the network","type":"string"},"ethereumAddress":{"title":"Ethereum public key of validator node","type":"string"},"fromEpoch":{"format":"uint64","title":"Epoch in which the announced pending node will start participating in the network","type":"string"},"infoUrl":{"title":"URL with more info on the node","type":"string"},"name":{"title":"Name of the validator","type":"string"},"nodeId":{"title":"Node ID of the validator node","type":"string"},"submitterAddress":{"title":"Ethereum public key being used as the submitter to allow automatic signature generation","type":"string"},"tmPubKey":{"title":"Public key of Tendermint","type":"string"},"vegaPubKey":{"title":"Vega public key of validator node","type":"string"},"vegaPubKeyIndex":{"format":"int64","title":"Vega public key derivation index","type":"integer"}},"title":"Validator update event contains information about validator node","type":"object"},"vegaAccountType":{"default":"ACCOUNT_TYPE_UNSPECIFIED","description":"- ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold\n - ACCOUNT_TYPE_HOLDING: Per asset account for holding in-flight unfilled orders' funds\n - ACCOUNT_TYPE_LP_LIQUIDITY_FEES: Network controlled liquidity provider's account, per market, to hold accrued liquidity fees.\n - ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION: Network controlled liquidity fees bonus distribution account, per market.","enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS","ACCOUNT_TYPE_HOLDING","ACCOUNT_TYPE_LP_LIQUIDITY_FEES","ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION"],"title":"Various collateral/account types as used by Vega","type":"string"},"vegaAsset":{"properties":{"details":{"$ref":"#/components/schemas/vegaAssetDetails","description":"Definition of the external source for this asset."},"id":{"description":"Internal identifier of the asset.","type":"string"},"status":{"$ref":"#/components/schemas/vegaAssetStatus","description":"Status of the asset."}},"title":"Vega representation of an external asset","type":"object"},"vegaAssetDetails":{"properties":{"builtinAsset":{"$ref":"#/components/schemas/vegaBuiltinAsset","description":"Vega built-in asset."},"decimals":{"description":"Number of decimal / precision handled by this asset.","format":"uint64","type":"string"},"erc20":{"$ref":"#/components/schemas/vegaERC20","description":"Ethereum ERC20 asset."},"name":{"description":"Name of the asset (e.g: Great British Pound).","type":"string"},"quantum":{"description":"Minimum economically meaningful amount in the asset.","type":"string"},"symbol":{"description":"Symbol of the asset (e.g: GBP).","type":"string"}},"title":"Vega representation of an external asset","type":"object"},"vegaAssetDetailsUpdate":{"description":"Changes to apply on an existing asset.","properties":{"erc20":{"$ref":"#/components/schemas/vegaERC20Update","description":"Ethereum ERC20 asset update."},"quantum":{"description":"Minimum economically meaningful amount in the asset.","type":"string"}},"type":"object"},"vegaAssetStatus":{"default":"STATUS_UNSPECIFIED","enum":["STATUS_UNSPECIFIED","STATUS_PROPOSED","STATUS_REJECTED","STATUS_PENDING_LISTING","STATUS_ENABLED"],"title":"- STATUS_UNSPECIFIED: Default value, always invalid\n - STATUS_PROPOSED: Asset is proposed and under vote\n - STATUS_REJECTED: Asset has been rejected from governance\n - STATUS_PENDING_LISTING: Asset is pending listing from the bridge\n - STATUS_ENABLED: Asset is fully usable in the network","type":"string"},"vegaAuctionDuration":{"properties":{"duration":{"description":"Duration of the auction in seconds.","format":"int64","type":"string"},"volume":{"description":"Target uncrossing trading volume.","format":"uint64","type":"string"}},"title":"Auction duration is used to configure 3 auction periods:\n1. `duration > 0`, `volume == 0`:\n  The auction will last for at least N seconds\n2. `duration == 0`, `volume > 0`:\n  The auction will end once the given volume will match at uncrossing\n3. `duration > 0`, `volume > 0`:\n  The auction will take at least N seconds, but can end sooner if the market can trade a certain volume","type":"object"},"vegaAuctionTrigger":{"default":"AUCTION_TRIGGER_UNSPECIFIED","description":"- AUCTION_TRIGGER_UNSPECIFIED: Default value for AuctionTrigger, no auction triggered\n - AUCTION_TRIGGER_BATCH: Batch auction\n - AUCTION_TRIGGER_OPENING: Opening auction\n - AUCTION_TRIGGER_PRICE: Price monitoring trigger\n - AUCTION_TRIGGER_LIQUIDITY: Deprecated\n - AUCTION_TRIGGER_LIQUIDITY_TARGET_NOT_MET: Liquidity auction due to not enough committed liquidity\n - AUCTION_TRIGGER_UNABLE_TO_DEPLOY_LP_ORDERS: Liquidity auction due to not being able to deploy LP orders because there's nothing to peg on one or both sides of the book","enum":["AUCTION_TRIGGER_UNSPECIFIED","AUCTION_TRIGGER_BATCH","AUCTION_TRIGGER_OPENING","AUCTION_TRIGGER_PRICE","AUCTION_TRIGGER_LIQUIDITY","AUCTION_TRIGGER_LIQUIDITY_TARGET_NOT_MET","AUCTION_TRIGGER_UNABLE_TO_DEPLOY_LP_ORDERS"],"title":"Auction triggers indicate what condition triggered an auction (if market is in auction mode)","type":"string"},"vegaBuiltinAsset":{"properties":{"maxFaucetAmountMint":{"description":"Maximum amount that can be requested by a party through the built-in asset faucet at a time.","type":"string"}},"title":"Vega internal asset","type":"object"},"vegaCancelTransfer":{"properties":{"changes":{"$ref":"#/components/schemas/vegaCancelTransferConfiguration","title":"Configuration for cancellation of a governance-initiated transfer"}},"type":"object"},"vegaCancelTransferConfiguration":{"properties":{"transferId":{"description":"ID of the governance transfer proposal.","type":"string"}},"type":"object"},"vegaDataSourceDefinition":{"description":"DataSourceDefinition represents the top level object that deals with data sources.\nDataSourceDefinition can be external or internal, with whatever number of data sources are defined\nfor each type in the child objects below.","properties":{"external":{"$ref":"#/components/schemas/vegaDataSourceDefinitionExternal"},"internal":{"$ref":"#/components/schemas/vegaDataSourceDefinitionInternal"}},"type":"object"},"vegaDataSourceDefinitionExternal":{"description":"DataSourceDefinitionExternal is the top level object used for all external data sources.\nIt contains one of any of the defined `SourceType` variants.","properties":{"ethCall":{"$ref":"#/components/schemas/vegaEthCallSpec"},"oracle":{"$ref":"#/components/schemas/vegaDataSourceSpecConfiguration"}},"type":"object"},"vegaDataSourceDefinitionInternal":{"description":"DataSourceDefinitionInternal is the top level object used for all internal data sources.\nIt contains one of any of the defined `SourceType` variants.","properties":{"time":{"$ref":"#/components/schemas/vegaDataSourceSpecConfigurationTime"}},"type":"object"},"vegaDataSourceSpec":{"description":"Data source spec describes the data source base that a product or a risk model\nwants to get from the data source engine.\nThis message contains additional information used by the API.","properties":{"createdAt":{"format":"int64","title":"Creation date and time","type":"string"},"data":{"$ref":"#/components/schemas/vegaDataSourceDefinition"},"id":{"description":"Hash generated from the DataSpec data.","type":"string"},"status":{"$ref":"#/components/schemas/vegaDataSourceSpecStatus","title":"Status describes the status of the data source spec"},"updatedAt":{"format":"int64","title":"Last Updated timestamp","type":"string"}},"type":"object"},"vegaDataSourceSpecConfiguration":{"description":"All types of external data sources use the same configuration set for meeting requirements\nin order for the data to be useful for Vega - valid signatures and matching filters.","properties":{"filters":{"description":"Filters describes which source data are considered of interest or not for\nthe product (or the risk model).","items":{"$ref":"#/components/schemas/v1Filter"},"type":"array"},"signers":{"description":"Signers is the list of authorized signatures that signed the data for this\nsource. All the signatures in the data source data should be contained in this\nexternal source. All the signatures in the data should be contained in this list.","items":{"$ref":"#/components/schemas/v1Signer"},"type":"array"}},"type":"object"},"vegaDataSourceSpecConfigurationTime":{"description":"DataSourceSpecConfigurationTime is the internal data source used for emitting timestamps.","properties":{"conditions":{"description":"Conditions that the timestamps should meet in order to be considered.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"}},"type":"object"},"vegaDataSourceSpecStatus":{"default":"STATUS_UNSPECIFIED","description":"- STATUS_UNSPECIFIED: Default value.\n - STATUS_ACTIVE: STATUS_ACTIVE describes an active data source spec.\n - STATUS_DEACTIVATED: STATUS_DEACTIVATED describes an data source spec that is not listening to data\nanymore.","enum":["STATUS_UNSPECIFIED","STATUS_ACTIVE","STATUS_DEACTIVATED"],"title":"Status describe the status of the data source spec","type":"string"},"vegaDataSourceSpecToFutureBinding":{"properties":{"settlementDataProperty":{"description":"Name of the property in the source data that should be used as settlement data.\nIf it is set to \"prices.BTC.value\", then the Future will use the value of\nthis property as settlement data.","type":"string"},"tradingTerminationProperty":{"description":"Name of the property in the data source data that signals termination of trading.","type":"string"}},"title":"DataSourceSpecToFutureBinding describes which property of the data source data is to be\nused as settlement data and which to use as the trading terminated trigger","type":"object"},"vegaDelegation":{"properties":{"amount":{"description":"Amount delegated. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"epochSeq":{"description":"Epoch of delegation.","type":"string"},"nodeId":{"description":"Node ID to delegate to.","type":"string"},"party":{"description":"Party which is delegating.","type":"string"}},"type":"object"},"vegaERC20":{"properties":{"contractAddress":{"description":"Address of the contract for the token, on the ethereum network.","type":"string"},"lifetimeLimit":{"description":"Lifetime limits deposit per address\nnote: this is a temporary measure that can be changed by governance.","type":"string"},"withdrawThreshold":{"description":"Maximum you can withdraw instantly. All withdrawals over the threshold will be delayed by the withdrawal delay.\nThere’s no limit on the size of a withdrawal\nnote: this is a temporary measure that can be changed by governance.","type":"string"}},"title":"ERC20 token based asset, living on the ethereum network","type":"object"},"vegaERC20Update":{"properties":{"lifetimeLimit":{"description":"Lifetime limits deposit per address.\nThis will be interpreted against the asset decimals.\nnote: this is a temporary measure that can be changed by governance.","type":"string"},"withdrawThreshold":{"description":"Maximum you can withdraw instantly. All withdrawals over the threshold will be delayed by the withdrawal delay.\nThere’s no limit on the size of a withdrawal\nnote: this is a temporary measure that can be changed by governance.","type":"string"}},"type":"object"},"vegaEthCallSpec":{"description":"Specifies a data source that derives its content from calling a read method on an Ethereum contract.","properties":{"abi":{"description":"The ABI of that contract.","items":{"type":"object"},"type":"array"},"address":{"description":"Ethereum address of the contract to call.","type":"string"},"args":{"description":"List of arguments to pass to method call.\nProtobuf 'Value' wraps an arbitrary JSON type that is mapped to an Ethereum type according to the ABI.","items":{"type":"object"},"type":"array"},"method":{"description":"Name of the method on the contract to call.","type":"string"},"trigger":{"$ref":"#/components/schemas/vegaEthCallTrigger","description":"Conditions for determining when to call the contract method."}},"type":"object"},"vegaEthCallTrigger":{"description":"Determines when the contract method should be called.","properties":{"timeTrigger":{"$ref":"#/components/schemas/vegaEthTimeTrigger"}},"type":"object"},"vegaEthTimeTrigger":{"description":"Trigger for an Ethereum call based on the Ethereum block timestamp. Can be one-off or repeating.","properties":{"every":{"description":"Repeat the call every n seconds after the inital call. If no time for initial call was specified, begin repeating immediately.","format":"uint64","type":"string"},"initial":{"description":"Trigger when the Ethereum time is greater or equal to this time, in Unix seconds.","format":"uint64","type":"string"},"until":{"description":"If repeating, stop once Ethereum time is greater than this time, in Unix seconds. If not set, then repeat indefinitely.","format":"uint64","type":"string"}},"type":"object"},"vegaFeeFactors":{"properties":{"infrastructureFee":{"description":"Infrastructure fee charged network wide for staking and governance.","type":"string"},"liquidityFee":{"description":"Liquidity fee applied per market for market making.","type":"string"},"makerFee":{"description":"Market maker fee charged network wide.","type":"string"}},"title":"Fee factors definition","type":"object"},"vegaFees":{"properties":{"factors":{"$ref":"#/components/schemas/vegaFeeFactors","description":"Fee factors."}},"title":"Fees definition","type":"object"},"vegaFuture":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","description":"Binding between the data spec and the data source."},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceSpec","description":"Data source specification that describes the settlement data source filter."},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceSpec","description":"Data source specification that describes the trading termination data source filter."},"quoteName":{"description":"Quote name of the instrument.","type":"string"},"settlementAsset":{"description":"Underlying asset for the future.","type":"string"}},"title":"Future product definition","type":"object"},"vegaFutureProduct":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","description":"Binding between the data source spec and the settlement data."},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"Data source spec describing the data source for settlement."},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"The external data source spec describing the data source of trading termination."},"quoteName":{"description":"Product quote name.","type":"string"},"settlementAsset":{"description":"Asset ID for the product's settlement asset.","type":"string"}},"title":"Future product configuration","type":"object"},"vegaGovernanceTransferType":{"default":"GOVERNANCE_TRANSFER_TYPE_UNSPECIFIED","enum":["GOVERNANCE_TRANSFER_TYPE_UNSPECIFIED","GOVERNANCE_TRANSFER_TYPE_ALL_OR_NOTHING","GOVERNANCE_TRANSFER_TYPE_BEST_EFFORT"],"type":"string"},"vegaInstrument":{"properties":{"code":{"description":"Code for the instrument.","type":"string"},"future":{"$ref":"#/components/schemas/vegaFuture","description":"Future."},"id":{"description":"Unique instrument ID.","type":"string"},"metadata":{"$ref":"#/components/schemas/vegaInstrumentMetadata","description":"Collection of instrument meta-data."},"name":{"description":"Name of the instrument.","type":"string"},"spot":{"$ref":"#/components/schemas/vegaSpot","description":"Spot."}},"title":"Instrument definition","type":"object"},"vegaInstrumentConfiguration":{"properties":{"code":{"description":"Instrument code, human-readable shortcode used to describe the instrument.","type":"string"},"future":{"$ref":"#/components/schemas/vegaFutureProduct","description":"Future."},"name":{"description":"Instrument name.","type":"string"},"spot":{"$ref":"#/components/schemas/vegaSpotProduct","description":"Spot."}},"title":"Instrument configuration","type":"object"},"vegaInstrumentMetadata":{"properties":{"tags":{"description":"List of 0 or more tags.","items":{"type":"string"},"type":"array"}},"title":"Instrument metadata definition","type":"object"},"vegaLiquidityMonitoringParameters":{"properties":{"auctionExtension":{"description":"Specifies by how many seconds an auction should be extended if leaving the auction were to trigger a liquidity auction.","format":"int64","type":"string"},"targetStakeParameters":{"$ref":"#/components/schemas/vegaTargetStakeParameters","description":"Specifies parameters related to target stake calculation."},"triggeringRatio":{"description":"Specifies the triggering ratio for entering liquidity auction.","type":"string"}},"title":"LiquidityMonitoringParameters contains settings used for liquidity monitoring","type":"object"},"vegaLiquidityProviderFeeShare":{"properties":{"averageEntryValuation":{"description":"Average entry valuation of the liquidity provider for the market.","type":"string"},"averageScore":{"description":"Average liquidity score.","type":"string"},"equityLikeShare":{"description":"Share own by this liquidity provider.","type":"string"},"party":{"description":"Liquidity provider party ID.","type":"string"},"virtualStake":{"description":"The virtual stake of this liquidity provider.","type":"string"}},"title":"Equity like share of liquidity fee for each liquidity provider","type":"object"},"vegaLogNormalModelParams":{"properties":{"mu":{"description":"Mu parameter, annualised growth rate of the underlying asset.","format":"double","type":"number"},"r":{"description":"R parameter, annualised growth rate of the risk-free asset, used for discounting of future cash flows, can be any real number.","format":"double","type":"number"},"sigma":{"description":"Sigma parameter, annualised volatility of the underlying asset, must be a strictly non-negative real number.","format":"double","type":"number"}},"title":"Risk model parameters for log normal","type":"object"},"vegaLogNormalRiskModel":{"properties":{"params":{"$ref":"#/components/schemas/vegaLogNormalModelParams","description":"Risk model parameters for log normal."},"riskAversionParameter":{"description":"Risk Aversion Parameter.","format":"double","type":"number"},"tau":{"description":"Tau parameter of the risk model, projection horizon measured as a year fraction used in the expected shortfall\ncalculation to obtain the maintenance margin, must be a strictly non-negative real number.","format":"double","type":"number"}},"title":"Risk model for log normal","type":"object"},"vegaMarginCalculator":{"properties":{"scalingFactors":{"$ref":"#/components/schemas/vegaScalingFactors","description":"Scaling factors for margin calculation."}},"title":"Margin Calculator definition","type":"object"},"vegaMarket":{"properties":{"decimalPlaces":{"description":"Number of decimal places that a price must be shifted by in order to get a\ncorrect price denominated in the currency of the market, for example:\n`realPrice = price / 10^decimalPlaces`.","format":"uint64","type":"string"},"fees":{"$ref":"#/components/schemas/vegaFees","description":"Fees configuration that apply to the market."},"id":{"description":"Unique ID for the market.","type":"string"},"insurancePoolFraction":{"description":"The fraction of the parent market's insurance pool that this market inherits; range 0 through 1.","type":"string"},"linearSlippageFactor":{"description":"Linear slippage factor is used to cap the slippage component of maintenance margin - it is applied to the slippage volume.","type":"string"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","description":"LiquidityMonitoringParameters for the market."},"lpPriceRange":{"description":"Percentage move up and down from the mid price which specifies the range of\nprice levels over which automated liquidity provision orders will be deployed.","type":"string"},"marketTimestamps":{"$ref":"#/components/schemas/vegaMarketTimestamps","description":"Timestamps for when the market state changes."},"openingAuction":{"$ref":"#/components/schemas/vegaAuctionDuration","description":"Auction duration specifies how long the opening auction will run (minimum\nduration and optionally a minimum traded volume)."},"parentMarketId":{"title":"ID of the market this market succeeds","type":"string"},"positionDecimalPlaces":{"description":"The number of decimal places for a position.","format":"int64","type":"string"},"priceMonitoringSettings":{"$ref":"#/components/schemas/vegaPriceMonitoringSettings","description":"PriceMonitoringSettings for the market."},"quadraticSlippageFactor":{"description":"Quadratic slippage factor is used to cap the slippage component of maintenance margin - it is applied to the square of the slippage volume.","type":"string"},"state":{"$ref":"#/components/schemas/vegaMarketState","description":"Current state of the market."},"successorMarketId":{"description":"ID of the market that succeeds this market if it exists. This will be populated by the system when the successor market is enabled.","type":"string"},"tradableInstrument":{"$ref":"#/components/schemas/vegaTradableInstrument","description":"Tradable instrument configuration."},"tradingMode":{"$ref":"#/components/schemas/MarketTradingMode","description":"Current mode of execution of the market."}},"title":"Market definition","type":"object"},"vegaMarketData":{"properties":{"auctionEnd":{"description":"Time in seconds until the end of the auction (zero if currently not in auction period).","format":"int64","type":"string"},"auctionStart":{"description":"Time until next auction, or start time of the current auction if market is in auction period.","format":"int64","type":"string"},"bestBidPrice":{"description":"Highest price level on an order book for buy orders, as an unsigned integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places.","type":"string"},"bestBidVolume":{"description":"Aggregated volume being bid at the best bid price, as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market is configured to 5 decimal places.","format":"uint64","type":"string"},"bestOfferPrice":{"description":"Lowest price level on an order book for offer orders. This field is an unsigned integer scaled to the market's decimal places.","type":"string"},"bestOfferVolume":{"description":"Aggregated volume being offered at the best offer price, as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market is configured to 5 decimal places.","format":"uint64","type":"string"},"bestStaticBidPrice":{"description":"Highest price on the order book for buy orders not including pegged orders.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"bestStaticBidVolume":{"description":"Total volume at the best static bid price excluding pegged orders.","format":"uint64","type":"string"},"bestStaticOfferPrice":{"description":"Lowest price on the order book for sell orders not including pegged orders.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"bestStaticOfferVolume":{"description":"Total volume at the best static offer price, excluding pegged orders.","format":"uint64","type":"string"},"extensionTrigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","description":"When a market auction is extended, this field indicates what caused the extension."},"indicativePrice":{"description":"Indicative price (zero if not in auction). This field is an unsigned scaled to the market's decimal places.","type":"string"},"indicativeVolume":{"description":"Indicative volume (zero if not in auction).","format":"uint64","type":"string"},"lastTradedPrice":{"description":"Last traded price of the market. This field is an unsigned integer scaled to the market's decimal places.","type":"string"},"liquidityProviderFeeShare":{"description":"Equity like share of liquidity fee for each liquidity provider.","items":{"$ref":"#/components/schemas/vegaLiquidityProviderFeeShare"},"type":"array"},"markPrice":{"description":"Mark price, as an unsigned integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places.","type":"string"},"market":{"title":"Market ID for the data","type":"string"},"marketGrowth":{"description":"Market growth at the last market time window.","type":"string"},"marketState":{"$ref":"#/components/schemas/vegaMarketState","description":"Current state of the market."},"marketTradingMode":{"$ref":"#/components/schemas/MarketTradingMode","description":"Current trading mode for the market."},"marketValueProxy":{"description":"Market value proxy.","type":"string"},"midPrice":{"description":"Arithmetic average of the best bid price and best offer price, as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places.","type":"string"},"nextMarkToMarket":{"description":"Time in Unix nanoseconds when the next mark-to-market calculation will occur.","format":"int64","type":"string"},"openInterest":{"description":"Sum of the size of all positions greater than zero on the market.","format":"uint64","type":"string"},"priceMonitoringBounds":{"description":"One or more price monitoring bounds for the current timestamp.","items":{"$ref":"#/components/schemas/vegaPriceMonitoringBounds"},"type":"array"},"staticMidPrice":{"description":"Arithmetic average of the best static bid price and best static offer price.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"suppliedStake":{"description":"Available stake for the given market. This field is an unsigned integer scaled to the settlement asset's decimal places.","type":"string"},"targetStake":{"description":"Targeted stake for the given market. This field is an unsigned integer scaled to the settlement asset's decimal places.","type":"string"},"timestamp":{"description":"Timestamp in Unix nanoseconds at which this mark price was relevant.","format":"int64","type":"string"},"trigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","description":"When a market is in an auction trading mode, this field indicates what triggered the auction."}},"title":"Represents data generated by a market when open","type":"object"},"vegaMarketState":{"default":"STATE_UNSPECIFIED","description":"- STATE_UNSPECIFIED: Default value, invalid\n - STATE_PROPOSED: Governance proposal valid and accepted\n - STATE_REJECTED: Outcome of governance votes is to reject the market\n - STATE_PENDING: Governance vote passes/wins\n - STATE_CANCELLED: Market triggers cancellation condition or governance\nvotes to close before market becomes Active\n - STATE_ACTIVE: Enactment date reached and usual auction exit checks pass\n - STATE_SUSPENDED: Price monitoring or liquidity monitoring trigger\n - STATE_CLOSED: Governance vote to close (Not currently implemented)\n - STATE_TRADING_TERMINATED: Defined by the product (i.e. from a product parameter,\nspecified in market definition, giving close date/time)\n - STATE_SETTLED: Settlement triggered and completed as defined by product","enum":["STATE_UNSPECIFIED","STATE_PROPOSED","STATE_REJECTED","STATE_PENDING","STATE_CANCELLED","STATE_ACTIVE","STATE_SUSPENDED","STATE_CLOSED","STATE_TRADING_TERMINATED","STATE_SETTLED"],"title":"Current state of the market","type":"string"},"vegaMarketTimestamps":{"properties":{"close":{"description":"Time when the market closed.","format":"int64","type":"string"},"open":{"description":"Time when the market has left the opening auction and is ready to accept trades.","format":"int64","type":"string"},"pending":{"description":"Time when the market has been voted in and began its opening auction.","format":"int64","type":"string"},"proposed":{"description":"Time when the market is first proposed.","format":"int64","type":"string"}},"title":"Time stamps for important times about creating, enacting etc the market","type":"object"},"vegaNetworkLimits":{"properties":{"canProposeAsset":{"description":"Are asset proposals allowed at this point in time.","type":"boolean"},"canProposeMarket":{"description":"Are market proposals allowed at this point in time.","type":"boolean"},"genesisLoaded":{"description":"True once the genesis file is loaded.","type":"boolean"},"proposeAssetEnabled":{"description":"Are asset proposals enabled on this chain.","type":"boolean"},"proposeAssetEnabledFrom":{"description":"Timestamp in Unix nanoseconds at which asset proposals will be enabled (0 indicates not set).","format":"int64","type":"string"},"proposeMarketEnabled":{"description":"Are market proposals enabled on this chain.","type":"boolean"},"proposeMarketEnabledFrom":{"description":"Timestamp in Unix nanoseconds at which market proposals will be enabled (0 indicates not set).","format":"int64","type":"string"}},"title":"Network limits, defined in the genesis file","type":"object"},"vegaNetworkParameter":{"properties":{"key":{"description":"Unique key of the network parameter.","type":"string"},"value":{"description":"Value for the network parameter.","type":"string"}},"title":"Represents a network parameter on Vega","type":"object"},"vegaNewAsset":{"properties":{"changes":{"$ref":"#/components/schemas/vegaAssetDetails","description":"Configuration of the new asset."}},"title":"New asset on Vega","type":"object"},"vegaNewFreeform":{"description":"Freeform proposal\nThis message is just used as a placeholder to sort out the nature of the\nproposal once parsed.","type":"object"},"vegaNewMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNewMarketConfiguration","description":"Configuration of the new market."}},"title":"New market on Vega","type":"object"},"vegaNewMarketConfiguration":{"properties":{"decimalPlaces":{"description":"Decimal places used for the new futures market, sets the smallest price increment on the book.","format":"uint64","type":"string"},"instrument":{"$ref":"#/components/schemas/vegaInstrumentConfiguration","description":"New futures market instrument configuration."},"linearSlippageFactor":{"description":"Linear slippage factor is used to cap the slippage component of maintenance margin - it is applied to the slippage volume.","type":"string"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","description":"Liquidity monitoring parameters."},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected."},"lpPriceRange":{"description":"Percentage move up and down from the mid price which specifies the range of\nprice levels over which automated liquidity provision orders will be deployed.","type":"string"},"metadata":{"description":"Optional new futures market metadata, tags.","items":{"type":"string"},"type":"array"},"positionDecimalPlaces":{"description":"Decimal places for order sizes, sets what size the smallest order / position on the futures market can be.","format":"int64","type":"string"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Price monitoring parameters."},"quadraticSlippageFactor":{"description":"Quadratic slippage factor is used to cap the slippage component of maintenance margin - it is applied to the square of the slippage volume.","type":"string"},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected."},"successor":{"$ref":"#/components/schemas/vegaSuccessorConfiguration","description":"Successor configuration. If this proposal is meant to succeed a given market, then this should be set."}},"title":"Configuration for a new futures market on Vega","type":"object"},"vegaNewSpotMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNewSpotMarketConfiguration","description":"Configuration of the new spot market."}},"title":"New spot market on Vega","type":"object"},"vegaNewSpotMarketConfiguration":{"properties":{"decimalPlaces":{"description":"Decimal places used for the new spot market, sets the smallest price increment on the book.","format":"uint64","type":"string"},"instrument":{"$ref":"#/components/schemas/vegaInstrumentConfiguration","description":"New spot market instrument configuration."},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected."},"metadata":{"description":"Optional new spot market metadata, tags.","items":{"type":"string"},"type":"array"},"positionDecimalPlaces":{"description":"Decimal places for order sizes, sets what size the smallest order / position on the spot market can be.","format":"int64","type":"string"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Price monitoring parameters."},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected."},"targetStakeParameters":{"$ref":"#/components/schemas/vegaTargetStakeParameters","description":"Specifies parameters related to target stake calculation."}},"title":"Configuration for a new spot market on Vega","type":"object"},"vegaNewTransfer":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNewTransferConfiguration","description":"Configuration for a new transfer."}},"title":"New governance transfer","type":"object"},"vegaNewTransferConfiguration":{"properties":{"amount":{"title":"Maximum amount to transfer","type":"string"},"asset":{"title":"ID of asset to transfer","type":"string"},"destination":{"title":"Specifies the account to transfer to, depending on the account type:\nNetwork treasury: leave empty\nParty: party's public key\nMarket insurance pool: market ID","type":"string"},"destinationType":{"$ref":"#/components/schemas/vegaAccountType","title":"Specifies the account type to transfer to: reward pool, party, network insurance pool, market insurance pool"},"fractionOfBalance":{"title":"Maximum fraction of the source account's balance to transfer as a decimal - i.e. 0.1 = 10% of the balance","type":"string"},"oneOff":{"$ref":"#/components/schemas/vegaOneOffTransfer"},"recurring":{"$ref":"#/components/schemas/vegaRecurringTransfer"},"source":{"title":"If network treasury, field is empty, otherwise uses the market ID","type":"string"},"sourceType":{"$ref":"#/components/schemas/vegaAccountType","title":"Source account type, such as network treasury, market insurance pool"},"transferType":{"$ref":"#/components/schemas/vegaGovernanceTransferType","title":"\"All or nothing\" or \"best effort\":\nAll or nothing: Transfers the specified amount or does not transfer anything\nBest effort: Transfers the specified amount or the max allowable amount if this is less than the specified amount"}},"type":"object"},"vegaOneOffTransfer":{"properties":{"deliverOn":{"description":"Timestamp in Unix nanoseconds for when the transfer should be delivered into the receiver's account.","format":"int64","type":"string"}},"title":"Specific details for a one off transfer","type":"object"},"vegaParty":{"properties":{"id":{"description":"Unique ID for the party, typically represented by a public key.","type":"string"}},"title":"Party represents an entity who wishes to trade on or query a Vega network","type":"object"},"vegaPriceMonitoringBounds":{"properties":{"maxValidPrice":{"description":"Maximum price that isn't currently breaching the specified price monitoring trigger.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"minValidPrice":{"description":"Minimum price that isn't currently breaching the specified price monitoring trigger.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"referencePrice":{"description":"Reference price used to calculate the valid price range. This field is an unsigned integer scaled to the market's decimal places.","type":"string"},"trigger":{"$ref":"#/components/schemas/vegaPriceMonitoringTrigger","description":"Price monitoring trigger associated with the bounds."}},"title":"Represents a list of valid (at the current timestamp) price ranges per associated trigger","type":"object"},"vegaPriceMonitoringParameters":{"properties":{"triggers":{"items":{"$ref":"#/components/schemas/vegaPriceMonitoringTrigger"},"type":"array"}},"title":"PriceMonitoringParameters contains a collection of triggers to be used for a given market","type":"object"},"vegaPriceMonitoringSettings":{"properties":{"parameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Specifies price monitoring parameters to be used for price monitoring purposes."}},"title":"PriceMonitoringSettings contains the settings for price monitoring","type":"object"},"vegaPriceMonitoringTrigger":{"properties":{"auctionExtension":{"description":"Price monitoring auction extension duration in seconds should the price\nbreach its theoretical level over the specified horizon at the specified\nprobability level.","format":"int64","type":"string"},"horizon":{"description":"Price monitoring projection horizon τ in seconds.","format":"int64","type":"string"},"probability":{"description":"Price monitoring probability level p.","type":"string"}},"title":"PriceMonitoringTrigger holds together price projection horizon τ, probability level p, and auction extension duration","type":"object"},"vegaProposal":{"properties":{"errorDetails":{"description":"Detailed error associated to the reason.","type":"string"},"id":{"description":"Unique proposal ID.","type":"string"},"partyId":{"description":"Party ID i.e. public key of the party submitting the proposal.","type":"string"},"rationale":{"$ref":"#/components/schemas/vegaProposalRationale","description":"Rationale behind a proposal."},"reason":{"$ref":"#/components/schemas/vegaProposalError","description":"Reason for the current state of the proposal, this may be set in case of REJECTED and FAILED statuses."},"reference":{"description":"Proposal reference.","type":"string"},"requiredLiquidityProviderMajority":{"description":"Required majority from liquidity providers, optional but is required for market update proposal.","type":"string"},"requiredLiquidityProviderParticipation":{"description":"Required participation from liquidity providers, optional but is required for market update proposal.","type":"string"},"requiredMajority":{"description":"Required majority for this proposal.","type":"string"},"requiredParticipation":{"description":"Required vote participation for this proposal.","type":"string"},"state":{"$ref":"#/components/schemas/vegaProposalState","description":"Current state of the proposal, i.e. open, passed, failed etc."},"terms":{"$ref":"#/components/schemas/vegaProposalTerms","description":"Proposal configuration and the actual change that is meant to be executed when proposal is enacted."},"timestamp":{"description":"Proposal timestamp for date and time as Unix time in nanoseconds when proposal was submitted to the network.","format":"int64","type":"string"}},"title":"Governance proposal","type":"object"},"vegaProposalError":{"default":"PROPOSAL_ERROR_UNSPECIFIED","description":"- PROPOSAL_ERROR_UNSPECIFIED: Default value\n - PROPOSAL_ERROR_CLOSE_TIME_TOO_SOON: Specified close time is too early based on network parameters\n - PROPOSAL_ERROR_CLOSE_TIME_TOO_LATE: Specified close time is too late based on network parameters\n - PROPOSAL_ERROR_ENACT_TIME_TOO_SOON: Specified enactment time is too early based on network parameters\n - PROPOSAL_ERROR_ENACT_TIME_TOO_LATE: Specified enactment time is too late based on network parameters\n - PROPOSAL_ERROR_INSUFFICIENT_TOKENS: Proposer for this proposal has insufficient tokens\n - PROPOSAL_ERROR_INVALID_INSTRUMENT_SECURITY: Instrument quote name and base name were the same\n - PROPOSAL_ERROR_NO_PRODUCT: Proposal has no product\n - PROPOSAL_ERROR_UNSUPPORTED_PRODUCT: Specified product is not supported\n - PROPOSAL_ERROR_NO_TRADING_MODE: Proposal has no trading mode\n - PROPOSAL_ERROR_UNSUPPORTED_TRADING_MODE: Proposal has an unsupported trading mode\n - PROPOSAL_ERROR_NODE_VALIDATION_FAILED: Proposal failed node validation\n - PROPOSAL_ERROR_MISSING_BUILTIN_ASSET_FIELD: Field is missing in a builtin asset source\n - PROPOSAL_ERROR_MISSING_ERC20_CONTRACT_ADDRESS: Contract address is missing in the ERC20 asset source\n - PROPOSAL_ERROR_INVALID_ASSET: Asset ID is invalid or does not exist on the Vega network\n - PROPOSAL_ERROR_INCOMPATIBLE_TIMESTAMPS: Proposal terms timestamps are not compatible (Validation < Closing < Enactment)\n - PROPOSAL_ERROR_NO_RISK_PARAMETERS: No risk parameters were specified\n - PROPOSAL_ERROR_NETWORK_PARAMETER_INVALID_KEY: Invalid key in update network parameter proposal\n - PROPOSAL_ERROR_NETWORK_PARAMETER_INVALID_VALUE: Invalid value in update network parameter proposal\n - PROPOSAL_ERROR_NETWORK_PARAMETER_VALIDATION_FAILED: Validation failed for network parameter proposal\n - PROPOSAL_ERROR_OPENING_AUCTION_DURATION_TOO_SMALL: Opening auction duration is less than the network minimum opening auction time\n - PROPOSAL_ERROR_OPENING_AUCTION_DURATION_TOO_LARGE: Opening auction duration is more than the network minimum opening auction time\n - PROPOSAL_ERROR_COULD_NOT_INSTANTIATE_MARKET: Market proposal market could not be instantiated in execution\n - PROPOSAL_ERROR_INVALID_FUTURE_PRODUCT: Market proposal market contained invalid product definition\n - PROPOSAL_ERROR_INVALID_RISK_PARAMETER: Market proposal has invalid risk parameter\n - PROPOSAL_ERROR_MAJORITY_THRESHOLD_NOT_REACHED: Proposal was declined because vote didn't reach the majority threshold required\n - PROPOSAL_ERROR_PARTICIPATION_THRESHOLD_NOT_REACHED: Proposal declined because the participation threshold was not reached\n - PROPOSAL_ERROR_INVALID_ASSET_DETAILS: Asset proposal has invalid asset details\n - PROPOSAL_ERROR_UNKNOWN_TYPE: Proposal is an unknown type\n - PROPOSAL_ERROR_UNKNOWN_RISK_PARAMETER_TYPE: Proposal has an unknown risk parameter type\n - PROPOSAL_ERROR_INVALID_FREEFORM: Validation failed for freeform proposal\n - PROPOSAL_ERROR_INSUFFICIENT_EQUITY_LIKE_SHARE: Party doesn't have enough equity-like share to propose an update on the market\ntargeted by the proposal\n - PROPOSAL_ERROR_INVALID_MARKET: Market targeted by the proposal does not exist or is not eligible for modification\n - PROPOSAL_ERROR_TOO_MANY_MARKET_DECIMAL_PLACES: Market proposal decimal place is higher than the market settlement asset decimal places\n - PROPOSAL_ERROR_TOO_MANY_PRICE_MONITORING_TRIGGERS: Market proposal contains too many price monitoring triggers\n - PROPOSAL_ERROR_ERC20_ADDRESS_ALREADY_IN_USE: Market proposal contains too many price monitoring triggers\n - PROPOSAL_ERROR_LP_PRICE_RANGE_NONPOSITIVE: LP price range must be larger than 0\n - PROPOSAL_ERROR_LP_PRICE_RANGE_TOO_LARGE: LP price range must not be larger than 100\n - PROPOSAL_ERROR_LINEAR_SLIPPAGE_FACTOR_OUT_OF_RANGE: Linear slippage factor is out of range, either negative or too large\n - PROPOSAL_ERROR_QUADRATIC_SLIPPAGE_FACTOR_OUT_OF_RANGE: Quadratic slippage factor is out of range, either negative or too large\n - PROPOSAL_ERROR_INVALID_SPOT: Validation failed for spot proposal\n - PROPOSAL_ERROR_SPOT_PRODUCT_DISABLED: Spot trading not enabled\n - PROPOSAL_ERROR_INVALID_SUCCESSOR_MARKET: Market proposal is invalid, either invalid insurance pool fraction, or it specifies a parent market that it can't succeed.\n - PROPOSAL_ERROR_GOVERNANCE_TRANSFER_PROPOSAL_FAILED: Governance transfer proposal is invalid\n - PROPOSAL_ERROR_GOVERNANCE_TRANSFER_PROPOSAL_INVALID: Governance transfer proposal failed\n - PROPOSAL_ERROR_GOVERNANCE_CANCEL_TRANSFER_PROPOSAL_INVALID: Proposal for cancelling transfer is invalid, check proposal ID","enum":["PROPOSAL_ERROR_UNSPECIFIED","PROPOSAL_ERROR_CLOSE_TIME_TOO_SOON","PROPOSAL_ERROR_CLOSE_TIME_TOO_LATE","PROPOSAL_ERROR_ENACT_TIME_TOO_SOON","PROPOSAL_ERROR_ENACT_TIME_TOO_LATE","PROPOSAL_ERROR_INSUFFICIENT_TOKENS","PROPOSAL_ERROR_INVALID_INSTRUMENT_SECURITY","PROPOSAL_ERROR_NO_PRODUCT","PROPOSAL_ERROR_UNSUPPORTED_PRODUCT","PROPOSAL_ERROR_NO_TRADING_MODE","PROPOSAL_ERROR_UNSUPPORTED_TRADING_MODE","PROPOSAL_ERROR_NODE_VALIDATION_FAILED","PROPOSAL_ERROR_MISSING_BUILTIN_ASSET_FIELD","PROPOSAL_ERROR_MISSING_ERC20_CONTRACT_ADDRESS","PROPOSAL_ERROR_INVALID_ASSET","PROPOSAL_ERROR_INCOMPATIBLE_TIMESTAMPS","PROPOSAL_ERROR_NO_RISK_PARAMETERS","PROPOSAL_ERROR_NETWORK_PARAMETER_INVALID_KEY","PROPOSAL_ERROR_NETWORK_PARAMETER_INVALID_VALUE","PROPOSAL_ERROR_NETWORK_PARAMETER_VALIDATION_FAILED","PROPOSAL_ERROR_OPENING_AUCTION_DURATION_TOO_SMALL","PROPOSAL_ERROR_OPENING_AUCTION_DURATION_TOO_LARGE","PROPOSAL_ERROR_COULD_NOT_INSTANTIATE_MARKET","PROPOSAL_ERROR_INVALID_FUTURE_PRODUCT","PROPOSAL_ERROR_INVALID_RISK_PARAMETER","PROPOSAL_ERROR_MAJORITY_THRESHOLD_NOT_REACHED","PROPOSAL_ERROR_PARTICIPATION_THRESHOLD_NOT_REACHED","PROPOSAL_ERROR_INVALID_ASSET_DETAILS","PROPOSAL_ERROR_UNKNOWN_TYPE","PROPOSAL_ERROR_UNKNOWN_RISK_PARAMETER_TYPE","PROPOSAL_ERROR_INVALID_FREEFORM","PROPOSAL_ERROR_INSUFFICIENT_EQUITY_LIKE_SHARE","PROPOSAL_ERROR_INVALID_MARKET","PROPOSAL_ERROR_TOO_MANY_MARKET_DECIMAL_PLACES","PROPOSAL_ERROR_TOO_MANY_PRICE_MONITORING_TRIGGERS","PROPOSAL_ERROR_ERC20_ADDRESS_ALREADY_IN_USE","PROPOSAL_ERROR_LP_PRICE_RANGE_NONPOSITIVE","PROPOSAL_ERROR_LP_PRICE_RANGE_TOO_LARGE","PROPOSAL_ERROR_LINEAR_SLIPPAGE_FACTOR_OUT_OF_RANGE","PROPOSAL_ERROR_QUADRATIC_SLIPPAGE_FACTOR_OUT_OF_RANGE","PROPOSAL_ERROR_INVALID_SPOT","PROPOSAL_ERROR_SPOT_PRODUCT_DISABLED","PROPOSAL_ERROR_INVALID_SUCCESSOR_MARKET","PROPOSAL_ERROR_GOVERNANCE_TRANSFER_PROPOSAL_FAILED","PROPOSAL_ERROR_GOVERNANCE_TRANSFER_PROPOSAL_INVALID","PROPOSAL_ERROR_GOVERNANCE_CANCEL_TRANSFER_PROPOSAL_INVALID"],"title":"List of possible errors that can cause a proposal to be in state rejected or failed","type":"string"},"vegaProposalRationale":{"description":"Rationale behind a proposal.","properties":{"description":{"description":"Description to show a short title / something in case the link goes offline.\nThis is to be between 0 and 20k unicode characters.\nThis is mandatory for all proposals.","type":"string"},"title":{"description":"Title to be used to give a short description of the proposal in lists.\nThis is to be between 0 and 100 unicode characters.\nThis is mandatory for all proposals.","type":"string"}},"type":"object"},"vegaProposalState":{"default":"STATE_UNSPECIFIED","description":"- STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted i.e. proposal terms failed validation due to wrong configuration or failed to meet network requirements.\n - STATE_DECLINED: Proposal didn't get enough votes, e.g. either failed to gain required participation or majority level.\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"title":"Proposal state transition:\nOpen ->\n  - Passed -> Enacted.\n  - Passed -> Failed.\n  - Declined\nRejected\nProposal can enter Failed state from any other state","type":"string"},"vegaProposalTerms":{"properties":{"cancelTransfer":{"$ref":"#/components/schemas/vegaCancelTransfer","description":"Cancel a governance transfer."},"closingTimestamp":{"description":"Timestamp as Unix time in seconds when voting closes for this proposal,\nconstrained by `minClose` and `maxClose` network parameters.","format":"int64","type":"string"},"enactmentTimestamp":{"description":"Timestamp as Unix time in seconds when proposal gets enacted if passed,\nconstrained by `minEnact` and `maxEnact` network parameters.","format":"int64","type":"string"},"newAsset":{"$ref":"#/components/schemas/vegaNewAsset","description":"Proposal change for creating new assets on Vega."},"newFreeform":{"$ref":"#/components/schemas/vegaNewFreeform","description":"Proposal change for a freeform request, which can be voted on but does not change the behaviour of the system,\nand can be used to gauge community sentiment."},"newMarket":{"$ref":"#/components/schemas/vegaNewMarket","description":"Proposal change for creating new futures market on Vega."},"newSpotMarket":{"$ref":"#/components/schemas/vegaNewSpotMarket","description":"Proposal change for creating new spot market on Vega."},"newTransfer":{"$ref":"#/components/schemas/vegaNewTransfer","description":"Proposal change for a governance transfer."},"updateAsset":{"$ref":"#/components/schemas/vegaUpdateAsset","description":"Proposal change for updating an asset."},"updateMarket":{"$ref":"#/components/schemas/vegaUpdateMarket","description":"Proposal change for modifying an existing futures market on Vega."},"updateNetworkParameter":{"$ref":"#/components/schemas/vegaUpdateNetworkParameter","description":"Proposal change for updating Vega network parameters."},"updateSpotMarket":{"$ref":"#/components/schemas/vegaUpdateSpotMarket","description":"Proposal change for modifying an existing spot market on Vega."},"validationTimestamp":{"description":"Validation timestamp as Unix time in seconds.","format":"int64","type":"string"}},"title":"Terms for a governance proposal on Vega","type":"object"},"vegaRecurringTransfer":{"properties":{"endEpoch":{"description":"Last epoch at which this transfer shall be paid.","format":"uint64","type":"string"},"startEpoch":{"description":"First epoch from which this transfer shall be paid.","format":"uint64","type":"string"}},"title":"Specific details for a recurring transfer","type":"object"},"vegaScalingFactors":{"properties":{"collateralRelease":{"description":"Collateral release level. If a trader has collateral above this level,\nthe system will release collateral to a trader's general collateral account\nfor the asset.","format":"double","type":"number"},"initialMargin":{"description":"Initial margin level. This is the minimum amount of collateral\nrequired to open a position in a market that requires margin.","format":"double","type":"number"},"searchLevel":{"description":"Collateral search level. If collateral dips below this value,\nthe system will search for collateral to release.","format":"double","type":"number"}},"title":"Scaling Factors (for use in margin calculation)","type":"object"},"vegaSimpleModelParams":{"properties":{"factorLong":{"description":"Pre-defined risk factor value for long.","format":"double","type":"number"},"factorShort":{"description":"Pre-defined risk factor value for short.","format":"double","type":"number"},"maxMoveUp":{"description":"Pre-defined maximum price move up that the model considers as valid.","format":"double","type":"number"},"minMoveDown":{"description":"Pre-defined minimum price move down that the model considers as valid.","format":"double","type":"number"},"probabilityOfTrading":{"description":"Pre-defined constant probability of trading.","format":"double","type":"number"}},"title":"Risk model parameters for simple modelling","type":"object"},"vegaSimpleRiskModel":{"properties":{"params":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Risk model params for simple modelling."}},"title":"Risk model for simple modelling","type":"object"},"vegaSpot":{"properties":{"baseAsset":{"description":"Asset ID of the underlying base asset for the spot product.","type":"string"},"name":{"description":"Name of the instrument.","type":"string"},"quoteAsset":{"description":"Asset ID of the underlying quote asset for the spot product.","type":"string"}},"title":"Spot product definition","type":"object"},"vegaSpotProduct":{"properties":{"baseAsset":{"description":"Base asset ID.","type":"string"},"name":{"description":"Product name.","type":"string"},"quoteAsset":{"description":"Quote asset ID.","type":"string"}},"title":"Spot product configuration","type":"object"},"vegaSuccessorConfiguration":{"description":"Configuration required to turn a new market proposal in to a successor market proposal.","properties":{"insurancePoolFraction":{"description":"A decimal value between or equal to 0 and 1, specifying the fraction of the insurance pool balance that is carried over from the parent market to the successor.","type":"string"},"parentMarketId":{"description":"ID of the market that the successor should take over from.","type":"string"}},"type":"object"},"vegaTargetStakeParameters":{"properties":{"scalingFactor":{"description":"Specifies scaling factors used in target stake calculation.","format":"double","type":"number"},"timeWindow":{"description":"Specifies length of time window expressed in seconds for target stake calculation.","format":"int64","type":"string"}},"title":"TargetStakeParameters contains parameters used in target stake calculation","type":"object"},"vegaTradableInstrument":{"properties":{"instrument":{"$ref":"#/components/schemas/vegaInstrument","description":"Details for the underlying instrument."},"logNormalRiskModel":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal."},"marginCalculator":{"$ref":"#/components/schemas/vegaMarginCalculator","description":"Margin calculator for the instrument."},"simpleRiskModel":{"$ref":"#/components/schemas/vegaSimpleRiskModel","description":"Simple."}},"title":"Tradable Instrument definition","type":"object"},"vegaUpdateAsset":{"properties":{"assetId":{"description":"Asset ID the update is for.","type":"string"},"changes":{"$ref":"#/components/schemas/vegaAssetDetailsUpdate","description":"Changes to apply on an existing asset."}},"title":"Update an existing asset on Vega","type":"object"},"vegaUpdateFutureProduct":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","description":"The binding between the data source spec and the settlement data."},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"The data source spec describing the data of settlement data."},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"The data source spec describing the data source for trading termination."},"quoteName":{"description":"Human-readable name/abbreviation of the quote name.","type":"string"}},"title":"Future product configuration","type":"object"},"vegaUpdateInstrumentConfiguration":{"properties":{"code":{"description":"Instrument code, human-readable shortcode used to describe the instrument.","type":"string"},"future":{"$ref":"#/components/schemas/vegaUpdateFutureProduct","description":"Future."}},"title":"Instrument configuration","type":"object"},"vegaUpdateMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaUpdateMarketConfiguration","description":"Updated configuration of the futures market."},"marketId":{"description":"Market ID the update is for.","type":"string"}},"title":"Update an existing market on Vega","type":"object"},"vegaUpdateMarketConfiguration":{"properties":{"instrument":{"$ref":"#/components/schemas/vegaUpdateInstrumentConfiguration","description":"Updated futures market instrument configuration."},"linearSlippageFactor":{"description":"Linear slippage factor is used to cap the slippage component of maintenance margin - it is applied to the slippage volume.","type":"string"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","description":"Liquidity monitoring parameters."},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected."},"lpPriceRange":{"description":"Percentage move up and down from the mid price which specifies the range of\nprice levels over which automated liquidity provision orders will be deployed.","type":"string"},"metadata":{"description":"Optional futures market metadata, tags.","items":{"type":"string"},"type":"array"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Price monitoring parameters."},"quadraticSlippageFactor":{"description":"Quadratic slippage factor is used to cap the slippage component of maintenance margin - it is applied to the square of the slippage volume.","type":"string"},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected."}},"title":"Configuration to update a futures market on Vega","type":"object"},"vegaUpdateNetworkParameter":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNetworkParameter","description":"The network parameter to update."}},"title":"Update network configuration on Vega","type":"object"},"vegaUpdateSpotMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaUpdateSpotMarketConfiguration","description":"Updated configuration of the spot market."},"marketId":{"description":"Market ID the update is for.","type":"string"}},"title":"Update an existing spot market on Vega","type":"object"},"vegaUpdateSpotMarketConfiguration":{"properties":{"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected."},"metadata":{"description":"Optional spot market metadata, tags.","items":{"type":"string"},"type":"array"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Price monitoring parameters."},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected."},"targetStakeParameters":{"$ref":"#/components/schemas/vegaTargetStakeParameters","description":"Specifies parameters related to target stake calculation."}},"title":"Configuration to update a spot market on Vega","type":"object"},"vegaVote":{"properties":{"partyId":{"description":"Voter's party ID.","type":"string"},"proposalId":{"description":"Proposal ID being voted on.","type":"string"},"timestamp":{"description":"Timestamp in Unix nanoseconds when the vote was acknowledged by the network.","format":"int64","type":"string"},"totalEquityLikeShareWeight":{"description":"The weight of the vote compared to the total amount of equity-like share on the market.","type":"string"},"totalGovernanceTokenBalance":{"description":"Total number of governance token for the party that cast the vote.","type":"string"},"totalGovernanceTokenWeight":{"description":"The weight of this vote based on the total number of governance tokens.","type":"string"},"value":{"$ref":"#/components/schemas/vegaVoteValue","description":"Which way the party voted."}},"title":"Governance vote","type":"object"},"vegaVoteValue":{"default":"VALUE_UNSPECIFIED","description":"- VALUE_UNSPECIFIED: Default value, always invalid\n - VALUE_NO: Vote against the proposal\n - VALUE_YES: Vote in favour of the proposal","enum":["VALUE_UNSPECIFIED","VALUE_NO","VALUE_YES"],"title":"Vote value","type":"string"}}},"tags":[{"name":"CoreStateService"}]}