{"openapi":"3.0.0","info":{"title":"Vega core APIs","version":"v0.73.0-preview.6"},"servers":[{"url":"https://n00.testnet.vega.rocks","description":"n00"},{"url":"https://n06.testnet.vega.rocks","description":"n06"},{"url":"https://n07.testnet.vega.rocks","description":"n07"},{"url":"https://n08.testnet.vega.rocks","description":"n08"},{"url":"https://n09.testnet.vega.rocks","description":"n09"}],"paths":{"/blockchain/height":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1LastBlockHeightResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Get the height of the last tendermint block","operationId":"CoreService_LastBlockHeight","summary":"Blockchain height"}},"/statistics":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1StatisticsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Get statistics on Vega","operationId":"CoreService_Statistics","summary":"Statistics"}},"/statistics/spam/{partyId}":{"get":{"parameters":[{"description":"Party ID whose statistics are requested","in":"path","name":"partyId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetSpamStatisticsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Get the spam statistics for a given party","operationId":"CoreService_GetSpamStatistics","summary":"Get Spam statistics"}},"/stream/event/bus":{"get":{"parameters":[{"description":"One or more types of event, required field.\n\n - BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: Event indicating the core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: Event indicating the core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: Event indicating the core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: Event indicating the market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: Event indicating the result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Event indicating a snapshot was taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Event data node uses to notify that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_DISTRESSED_POSITIONS: Event indicating parties have become, or were, distressed but still have an active position.\n - BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION: Event indicating a spot liquidity provision has been created or updated.\n - BUS_EVENT_TYPE_STOP_ORDER: Event indicating a stop order has been submitted or updated.\n - BUS_EVENT_TYPE_FUNDING_PERIOD: Event indicating the start or end of a funding period.\n - BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT: Event indicating a data point for a funding period has been received.\n - BUS_EVENT_TYPE_TEAM_CREATED: Event indicating a team has been created.\n - BUS_EVENT_TYPE_TEAM_UPDATED: Event indicating a team has been updated.\n - BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM: Event indicating a referee switched team.\n - BUS_EVENT_TYPE_REFEREE_JOINED_TEAM: Event indicating a referee joined a team.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED: Event indicating a referral program started.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED: Event indicating a referral program has been updated.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED: Event indicating a referral program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_CREATED: Event indicating a set has been created.\n - BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET: Event indicating a referee joined a set.\n - BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK: Event indicating the updated activity streak for a party\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED: Event indicating a volume discount program started.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED: Event indicating a volume discount program has been updated.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED: Event indicating a volume discount program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED: Event indicating the updated statistics for a referral set.\n - BUS_EVENT_TYPE_VESTING_STATS_UPDATED: Event indicating the updated statistics for the vesting program.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type","explode":true,"in":"query","name":"type","required":false,"schema":{"items":{"enum":["BUS_EVENT_TYPE_UNSPECIFIED","BUS_EVENT_TYPE_ALL","BUS_EVENT_TYPE_TIME_UPDATE","BUS_EVENT_TYPE_LEDGER_MOVEMENTS","BUS_EVENT_TYPE_POSITION_RESOLUTION","BUS_EVENT_TYPE_ORDER","BUS_EVENT_TYPE_ACCOUNT","BUS_EVENT_TYPE_PARTY","BUS_EVENT_TYPE_TRADE","BUS_EVENT_TYPE_MARGIN_LEVELS","BUS_EVENT_TYPE_PROPOSAL","BUS_EVENT_TYPE_VOTE","BUS_EVENT_TYPE_MARKET_DATA","BUS_EVENT_TYPE_NODE_SIGNATURE","BUS_EVENT_TYPE_LOSS_SOCIALIZATION","BUS_EVENT_TYPE_SETTLE_POSITION","BUS_EVENT_TYPE_SETTLE_DISTRESSED","BUS_EVENT_TYPE_MARKET_CREATED","BUS_EVENT_TYPE_ASSET","BUS_EVENT_TYPE_MARKET_TICK","BUS_EVENT_TYPE_WITHDRAWAL","BUS_EVENT_TYPE_DEPOSIT","BUS_EVENT_TYPE_AUCTION","BUS_EVENT_TYPE_RISK_FACTOR","BUS_EVENT_TYPE_NETWORK_PARAMETER","BUS_EVENT_TYPE_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_MARKET_UPDATED","BUS_EVENT_TYPE_ORACLE_SPEC","BUS_EVENT_TYPE_ORACLE_DATA","BUS_EVENT_TYPE_DELEGATION_BALANCE","BUS_EVENT_TYPE_VALIDATOR_SCORE","BUS_EVENT_TYPE_EPOCH_UPDATE","BUS_EVENT_TYPE_VALIDATOR_UPDATE","BUS_EVENT_TYPE_STAKE_LINKING","BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT","BUS_EVENT_TYPE_CHECKPOINT","BUS_EVENT_TYPE_STREAM_START","BUS_EVENT_TYPE_KEY_ROTATION","BUS_EVENT_TYPE_STATE_VAR","BUS_EVENT_TYPE_NETWORK_LIMITS","BUS_EVENT_TYPE_TRANSFER","BUS_EVENT_TYPE_VALIDATOR_RANKING","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED","BUS_EVENT_TYPE_POSITION_STATE","BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL","BUS_EVENT_TYPE_BEGIN_BLOCK","BUS_EVENT_TYPE_END_BLOCK","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED","BUS_EVENT_TYPE_SETTLE_MARKET","BUS_EVENT_TYPE_TRANSACTION_RESULT","BUS_EVENT_TYPE_SNAPSHOT_TAKEN","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY","BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED","BUS_EVENT_TYPE_EXPIRED_ORDERS","BUS_EVENT_TYPE_DISTRESSED_POSITIONS","BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_STOP_ORDER","BUS_EVENT_TYPE_FUNDING_PERIOD","BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT","BUS_EVENT_TYPE_TEAM_CREATED","BUS_EVENT_TYPE_TEAM_UPDATED","BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM","BUS_EVENT_TYPE_REFEREE_JOINED_TEAM","BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_CREATED","BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET","BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED","BUS_EVENT_TYPE_VESTING_STATS_UPDATED","BUS_EVENT_TYPE_MARKET","BUS_EVENT_TYPE_TX_ERROR"],"type":"string"},"type":"array"}},{"description":"Market ID to filter events for, optional field. If omitted, no markets will be filtered out.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Party ID to filter events for, optional field. If omitted, no parties will be filtered out.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Batch size, optional field -\nIf not specified, any events received will be sent immediately. If the client is not ready\nfor the next data-set, data may be dropped a number of times, and eventually the stream is closed.\nif specified, the first batch will be sent when ready. To receive the next set of events, the client\nmust write an `ObserveEventBatch` message on the stream to flush the buffer.\nIf no message is received in 5 seconds, the stream is closed.\nDefault: 0, send any and all events when they are available.","in":"query","name":"batchSize","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"error":{"$ref":"#/components/schemas/googlerpcStatus"},"result":{"$ref":"#/components/schemas/v1ObserveEventBusResponse"}},"title":"Stream result of v1ObserveEventBusResponse","type":"object"}}},"description":"A successful response.(streaming responses)"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Subscribe to a stream of events from the core","operationId":"CoreService_ObserveEventBus","summary":"Events subscription"}},"/time":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetVegaTimeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Get current Vega time","operationId":"CoreService_GetVegaTime","summary":"Vega time"}},"/transaction":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Submit a signed transaction","operationId":"CoreService_SubmitTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitTransactionRequest"}}},"required":true},"summary":"Submit transaction"}},"/transaction/check":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Check a signed transaction","operationId":"CoreService_CheckTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckTransactionRequest"}}},"required":true},"summary":"Check transaction"}},"/transaction/raw":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitRawTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Submit a version agnostic signed transaction","operationId":"CoreService_SubmitRawTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitRawTransactionRequest"}}},"required":true},"summary":"Submit raw transaction"}},"/transaction/raw/check":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckRawTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["CoreService"],"description":"Check a raw signed transaction","operationId":"CoreService_CheckRawTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckRawTransactionRequest"}}},"required":true},"summary":"Check raw transaction"}}},"components":{"schemas":{"ConditionOperator":{"default":"OPERATOR_UNSPECIFIED","description":"Operator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue.","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"type":"string"},"FundingPeriodDataPointSource":{"default":"SOURCE_UNSPECIFIED","description":" - SOURCE_UNSPECIFIED: Default value\n - SOURCE_EXTERNAL: Data point is from an external data source, such as an oracle, and represents the spot price of the underlying asset.\n - SOURCE_INTERNAL: Data point from within Vega such as the mark price after performing mark-to-market.","enum":["SOURCE_UNSPECIFIED","SOURCE_EXTERNAL","SOURCE_INTERNAL"],"type":"string"},"MarketTradingMode":{"default":"TRADING_MODE_UNSPECIFIED","description":"- TRADING_MODE_UNSPECIFIED: Default value, this is invalid\n - TRADING_MODE_CONTINUOUS: Normal trading\n - TRADING_MODE_BATCH_AUCTION: Auction trading (FBA)\n - TRADING_MODE_OPENING_AUCTION: Opening auction\n - TRADING_MODE_MONITORING_AUCTION: Auction triggered by monitoring\n - TRADING_MODE_NO_TRADING: No trading is allowed\n - TRADING_MODE_SUSPENDED_VIA_GOVERNANCE: Special auction mode triggered via governance","enum":["TRADING_MODE_UNSPECIFIED","TRADING_MODE_CONTINUOUS","TRADING_MODE_BATCH_AUCTION","TRADING_MODE_OPENING_AUCTION","TRADING_MODE_MONITORING_AUCTION","TRADING_MODE_NO_TRADING","TRADING_MODE_SUSPENDED_VIA_GOVERNANCE"],"title":"Trading mode the market is currently running, also referred to as 'market state'","type":"string"},"OracleDataSubmissionOracleSource":{"default":"ORACLE_SOURCE_UNSPECIFIED","description":"- ORACLE_SOURCE_UNSPECIFIED: Default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data\n - ORACLE_SOURCE_ETHEREUM: Specifies that the payload will be base64 encoded JSON conforming to the ETH standard","enum":["ORACLE_SOURCE_UNSPECIFIED","ORACLE_SOURCE_OPEN_ORACLE","ORACLE_SOURCE_JSON","ORACLE_SOURCE_ETHEREUM"],"title":"Supported oracle sources","type":"string"},"OrderTimeInForce":{"default":"TIME_IN_FORCE_UNSPECIFIED","description":"- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, the order either trades completely i.e. remainingSize == 0 after adding,\nor not at all, and does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)","enum":["TIME_IN_FORCE_UNSPECIFIED","TIME_IN_FORCE_GTC","TIME_IN_FORCE_GTT","TIME_IN_FORCE_IOC","TIME_IN_FORCE_FOK","TIME_IN_FORCE_GFA","TIME_IN_FORCE_GFN"],"title":"Time In Force for an order","type":"string"},"StopOrderExpiryStrategy":{"default":"EXPIRY_STRATEGY_UNSPECIFIED","description":" - EXPIRY_STRATEGY_UNSPECIFIED: Never valid\n - EXPIRY_STRATEGY_CANCELS: Stop order should be cancelled if the expiry time is reached.\n - EXPIRY_STRATEGY_SUBMIT: Order should be submitted if the expiry time is reached.","enum":["EXPIRY_STRATEGY_UNSPECIFIED","EXPIRY_STRATEGY_CANCELS","EXPIRY_STRATEGY_SUBMIT"],"type":"string"},"StopOrderRejectionReason":{"default":"REJECTION_REASON_UNSPECIFIED","enum":["REJECTION_REASON_UNSPECIFIED","REJECTION_REASON_TRADING_NOT_ALLOWED","REJECTION_REASON_EXPIRY_IN_THE_PAST","REJECTION_REASON_MUST_BE_REDUCE_ONLY","REJECTION_REASON_MAX_STOP_ORDERS_PER_PARTY_REACHED","REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_WITHOUT_A_POSITION","REJECTION_REASON_STOP_ORDER_DOES_NOT_CLOSE_POSITION"],"title":"- REJECTION_REASON_UNSPECIFIED: Never valid\n - REJECTION_REASON_TRADING_NOT_ALLOWED: Trading is not allowed yet\n - REJECTION_REASON_EXPIRY_IN_THE_PAST: Expiry of the stop order is in the past\n - REJECTION_REASON_MUST_BE_REDUCE_ONLY: Stop orders submission must be reduce only\n - REJECTION_REASON_MAX_STOP_ORDERS_PER_PARTY_REACHED: Party has reached the maximum stop orders allowed for this market\n - REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_WITHOUT_A_POSITION: Stop orders are not allowed if there is no open position\n - REJECTION_REASON_STOP_ORDER_DOES_NOT_CLOSE_POSITION: This stop order does not close the position","type":"string"},"StopOrderTriggerDirection":{"default":"TRIGGER_DIRECTION_UNSPECIFIED","enum":["TRIGGER_DIRECTION_UNSPECIFIED","TRIGGER_DIRECTION_RISES_ABOVE","TRIGGER_DIRECTION_FALLS_BELOW"],"title":"- TRIGGER_DIRECTION_UNSPECIFIED: Never valid\n - TRIGGER_DIRECTION_RISES_ABOVE: Stop order is triggered once the price rises above a certain level\n - TRIGGER_DIRECTION_FALLS_BELOW: Stop order is triggered once the price falls below a certain level","type":"string"},"TransactionResultFailureDetails":{"properties":{"error":{"title":"Error message explaining the reason for the transaction failing processing","type":"string"}},"type":"object"},"TransactionResultSuccessDetails":{"type":"object"},"UndelegateSubmissionMethod":{"default":"METHOD_UNSPECIFIED","enum":["METHOD_UNSPECIFIED","METHOD_NOW","METHOD_AT_END_OF_EPOCH"],"type":"string"},"commandsv1CancelTransfer":{"properties":{"transferId":{"description":"Transfer ID of the transfer to cancel.","type":"string"}},"title":"Request for cancelling a recurring transfer","type":"object"},"googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"details":{"items":{"$ref":"#/components/schemas/protobufAny"},"type":"array"},"message":{"type":"string"}},"type":"object"},"protobufAny":{"additionalProperties":{},"properties":{"@type":{"type":"string"}},"type":"object"},"protobufNullValue":{"default":"NULL_VALUE","description":"`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value.","enum":["NULL_VALUE"],"type":"string"},"v1AnnounceNode":{"properties":{"avatarUrl":{"description":"AvatarURL of the validator.","type":"string"},"chainPubKey":{"description":"Public key for the blockchain, required field.","type":"string"},"country":{"description":"Country code (ISO 3166-1 alpha-2) for the location of the node.","type":"string"},"ethereumAddress":{"description":"Ethereum public key, required field.","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the validator made using the ethereum wallet."},"fromEpoch":{"description":"Epoch from which the validator is expected\nto be ready to validate blocks.","format":"uint64","type":"string"},"id":{"description":"Node ID of the validator, i.e. the node's public master key.","type":"string"},"infoUrl":{"description":"URL with more info on the node.","type":"string"},"name":{"description":"Name of the validator.","type":"string"},"submitterAddress":{"description":"Ethereum public key to use as a submitter to allow automatic signature generation.","type":"string"},"vegaPubKey":{"description":"Vega public key, required field.","type":"string"},"vegaPubKeyIndex":{"description":"Vega public key derivation index.","format":"int64","type":"integer"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the validator made using the Vega wallet."}},"title":"Used to announce a node as a new pending validator","type":"object"},"v1ApplyReferralCode":{"description":"A party that joins a referral team is called a referee. A referee cannot\ncreate a referral set or join multiple sets.\nTo switch, the referee can ask to join another set, and the switch will\nbe effective at the end of the epoch.","properties":{"id":{"description":"Referral code for the set to join.","type":"string"}},"title":"Request to apply a referral code","type":"object"},"v1AuctionEvent":{"properties":{"end":{"format":"int64","title":"Timestamp containing the end time for an auction","type":"string"},"extensionTrigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","title":"If an auction was ongoing, but was extended for whatever reason, this field will\nbe set to the trigger type indicating which component extended the auction"},"leave":{"title":"True if the event indicates leaving auction mode and False otherwise","type":"boolean"},"marketId":{"title":"Market ID for the event","type":"string"},"openingAuction":{"title":"True if the event indicates an auction opening and False otherwise","type":"boolean"},"start":{"format":"int64","title":"Timestamp containing the start time for an auction","type":"string"},"trigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","title":"Reason this market is/was in auction"}},"title":"Auction event indicating a change in auction state, for example starting or ending an auction","type":"object"},"v1BatchMarketInstructions":{"properties":{"amendments":{"description":"List of order amendments to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderAmendment"},"type":"array"},"cancellations":{"description":"List of order cancellations to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderCancellation"},"type":"array"},"stopOrdersCancellation":{"description":"List of stop order cancellations to be processed sequentially.","items":{"$ref":"#/components/schemas/v1StopOrdersCancellation"},"type":"array"},"stopOrdersSubmission":{"description":"List of stop order submissions to be processed sequentially.","items":{"$ref":"#/components/schemas/v1StopOrdersSubmission"},"type":"array"},"submissions":{"description":"List of order submissions to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderSubmission"},"type":"array"}},"title":"Batch of order instructions.\nThis command accepts only the following batches of commands\nand will be processed in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\nThe total amount of commands in the batch across all three lists of\ninstructions is restricted by the following network parameter:\n\"spam.protection.max.batchSize\"","type":"object"},"v1BeginBlock":{"properties":{"hash":{"type":"string"},"height":{"format":"uint64","type":"string"},"timestamp":{"format":"int64","type":"string"}},"title":"BeginBlock","type":"object"},"v1BusEvent":{"properties":{"account":{"$ref":"#/components/schemas/vegaAccount","title":"Account events"},"asset":{"$ref":"#/components/schemas/vegaAsset","title":"Asset events"},"auction":{"$ref":"#/components/schemas/v1AuctionEvent","title":"Auction events"},"beginBlock":{"$ref":"#/components/schemas/v1BeginBlock","title":"Core is starting to process a new block"},"block":{"title":"The batch or block of transactions that the events relate to","type":"string"},"chainId":{"type":"string"},"checkpoint":{"$ref":"#/components/schemas/v1CheckpointEvent","title":"Checkpoint was created"},"coreSnapshotEvent":{"$ref":"#/components/schemas/v1CoreSnapshotData","title":"Core snapshot has been taken at the end of the block"},"delegationBalance":{"$ref":"#/components/schemas/v1DelegationBalanceEvent","title":"Delegation balance events"},"deposit":{"$ref":"#/components/schemas/vegaDeposit","title":"Deposit events"},"distressedOrders":{"$ref":"#/components/schemas/v1DistressedOrders","title":"Parties that had their orders closed because they were distressed"},"distressedPositions":{"$ref":"#/components/schemas/v1DistressedPositions","title":"Open positions on the market that are/were distressed"},"endBlock":{"$ref":"#/components/schemas/v1EndBlock","title":"Core finished processing a block"},"epochEvent":{"$ref":"#/components/schemas/v1EpochEvent","title":"Epoch update events"},"erc20MultisigSetThresholdEvent":{"$ref":"#/components/schemas/v1ERC20MultiSigThresholdSetEvent","title":"ERC20 multi sig set threshold event"},"erc20MultisigSignerAdded":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerAdded","title":"ERC20 multi sig signer added"},"erc20MultisigSignerEvent":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerEvent","title":"ERC20 multi sig signer event"},"erc20MultisigSignerRemoved":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerRemoved","title":"ERC20 multi sig signer removed"},"ethereumKeyRotation":{"$ref":"#/components/schemas/v1EthereumKeyRotation","title":"Ethereum key rotation took place"},"expiredOrders":{"$ref":"#/components/schemas/v1ExpiredOrders","title":"Orders that expired for a given market"},"fundingPeriod":{"$ref":"#/components/schemas/v1FundingPeriod","description":"Start or end of a funding period."},"fundingPeriodDataPoint":{"$ref":"#/components/schemas/v1FundingPeriodDataPoint","description":"Data point within a funding period."},"id":{"title":"Unique event ID for the message","type":"string"},"keyRotation":{"$ref":"#/components/schemas/v1KeyRotation","title":"Key rotation took place"},"ledgerMovements":{"$ref":"#/components/schemas/v1LedgerMovements","title":"Transfer responses update events"},"liquidityProvision":{"$ref":"#/components/schemas/vegaLiquidityProvision","title":"LiquidityProvision  events"},"lossSocialization":{"$ref":"#/components/schemas/v1LossSocialization","title":"Loss socialization events"},"marginLevels":{"$ref":"#/components/schemas/vegaMarginLevels","title":"Margin level update events"},"market":{"$ref":"#/components/schemas/v1MarketEvent","title":"Market tick events"},"marketCreated":{"$ref":"#/components/schemas/vegaMarket","title":"Market created events"},"marketData":{"$ref":"#/components/schemas/vegaMarketData","title":"Market data events"},"marketTick":{"$ref":"#/components/schemas/v1MarketTick","title":"Market tick events"},"marketUpdated":{"$ref":"#/components/schemas/vegaMarket","title":"Market created events"},"networkLimits":{"$ref":"#/components/schemas/vegaNetworkLimits","title":"Network limits events"},"networkParameter":{"$ref":"#/components/schemas/vegaNetworkParameter","title":"Network parameter events"},"nodeSignature":{"$ref":"#/components/schemas/v1NodeSignature","title":"Node signature events"},"oracleData":{"$ref":"#/components/schemas/vegaOracleData","title":"OracleData events"},"oracleSpec":{"$ref":"#/components/schemas/vegaOracleSpec","title":"OracleSpec events"},"order":{"$ref":"#/components/schemas/vegaOrder","title":"Order events"},"party":{"$ref":"#/components/schemas/vegaParty","title":"Party events"},"partyActivityStreak":{"$ref":"#/components/schemas/v1PartyActivityStreak","title":"Event notifying of an update to a party's activity streak"},"positionResolution":{"$ref":"#/components/schemas/v1PositionResolution","title":"Position resolution events"},"positionStateEvent":{"$ref":"#/components/schemas/v1PositionStateEvent","title":"Position status for a party in a market"},"proposal":{"$ref":"#/components/schemas/vegaProposal","title":"Proposal events for governance"},"protocolUpgradeDataNodeReady":{"$ref":"#/components/schemas/v1ProtocolUpgradeDataNodeReady","title":"Core snapshot has been taken at the end of the block"},"protocolUpgradeEvent":{"$ref":"#/components/schemas/v1ProtocolUpgradeEvent","title":"Protocol upgrade proposal updates"},"protocolUpgradeStarted":{"$ref":"#/components/schemas/v1ProtocolUpgradeStarted","title":"Core is starting a protocol upgrade"},"rankingEvent":{"$ref":"#/components/schemas/v1ValidatorRankingEvent","title":"Ranking event"},"refereeJoinedReferralSet":{"$ref":"#/components/schemas/v1RefereeJoinedReferralSet","description":"Event notifying a referee has joined a referral set."},"refereeJoinedTeam":{"$ref":"#/components/schemas/v1RefereeJoinedTeam","description":"Event notifying that a referee joined a team."},"refereeSwitchedTeam":{"$ref":"#/components/schemas/v1RefereeSwitchedTeam","description":"Event notifying that a referee switched teams."},"referralProgramEnded":{"$ref":"#/components/schemas/v1ReferralProgramEnded","description":"Event notifying that a referral program has ended."},"referralProgramStarted":{"$ref":"#/components/schemas/v1ReferralProgramStarted","description":"Event notifying that a referral program has started."},"referralProgramUpdated":{"$ref":"#/components/schemas/v1ReferralProgramUpdated","description":"Event notifying that a referral program has been updated."},"referralSetCreated":{"$ref":"#/components/schemas/v1ReferralSetCreated","description":"Event notifying a referral set has been created."},"referralSetStatsUpdated":{"$ref":"#/components/schemas/v1ReferralSetStatsUpdated","description":"Event notifying of an update to a referral set's statistics."},"rewardPayout":{"$ref":"#/components/schemas/v1RewardPayoutEvent","title":"Reward payout event"},"riskFactor":{"$ref":"#/components/schemas/vegaRiskFactor","title":"Risk factor events"},"settleDistressed":{"$ref":"#/components/schemas/v1SettleDistressed","title":"Position distressed events"},"settleMarket":{"$ref":"#/components/schemas/v1SettleMarket","title":"Settle market event for data-node to update positions for settled markets"},"settlePosition":{"$ref":"#/components/schemas/v1SettlePosition","title":"Position settlement events"},"stakeLinking":{"$ref":"#/components/schemas/v1StakeLinking","title":"Staking event"},"stateVar":{"$ref":"#/components/schemas/v1StateVar","title":"State variable consensus state transition update"},"stopOrder":{"$ref":"#/components/schemas/v1StopOrderEvent","title":"A stop order event"},"teamCreated":{"$ref":"#/components/schemas/v1TeamCreated","title":"Event notifying of the creation of a team.m"},"teamUpdated":{"$ref":"#/components/schemas/v1TeamUpdated","description":"Event notifying of an update to a team."},"timeUpdate":{"$ref":"#/components/schemas/v1TimeUpdate","title":"Time update events"},"trade":{"$ref":"#/components/schemas/vegaTrade","title":"Trade events"},"transactionResult":{"$ref":"#/components/schemas/v1TransactionResult","title":"Result of a transaction processed by the network"},"transfer":{"$ref":"#/components/schemas/vegaeventsv1Transfer","title":"Transfer event"},"txErrEvent":{"$ref":"#/components/schemas/v1TxErrorEvent","title":"Transaction error events, not included in the ALL event type"},"txHash":{"type":"string"},"type":{"$ref":"#/components/schemas/v1BusEventType","title":"The type of bus event. Must be one of the list below:"},"validatorScore":{"$ref":"#/components/schemas/v1ValidatorScoreEvent","title":"Validator score calculated"},"validatorUpdate":{"$ref":"#/components/schemas/v1ValidatorUpdate","title":"Validator update events"},"version":{"format":"int64","title":"Version of bus event","type":"integer"},"vestingStatsUpdated":{"$ref":"#/components/schemas/v1VestingStatsUpdated","description":"Event notifying of an update to the vesting statistics."},"volumeDiscountProgramEnded":{"$ref":"#/components/schemas/v1VolumeDiscountProgramEnded","description":"Event notifying that a volume discount program has ended."},"volumeDiscountProgramStarted":{"$ref":"#/components/schemas/v1VolumeDiscountProgramStarted","description":"Event notifying that a volume discount program has started."},"volumeDiscountProgramUpdated":{"$ref":"#/components/schemas/v1VolumeDiscountProgramUpdated","description":"Event notifying that a volume discount program has been updated."},"vote":{"$ref":"#/components/schemas/vegaVote","title":"Vote events for governance"},"withdrawal":{"$ref":"#/components/schemas/vegaWithdrawal","title":"Withdrawal events"}},"title":"Bus event is a container for event bus events emitted by Vega","type":"object"},"v1BusEventType":{"default":"BUS_EVENT_TYPE_UNSPECIFIED","description":"- BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: Event indicating the core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: Event indicating the core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: Event indicating the core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: Event indicating the market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: Event indicating the result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Event indicating a snapshot was taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Event data node uses to notify that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_DISTRESSED_POSITIONS: Event indicating parties have become, or were, distressed but still have an active position.\n - BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION: Event indicating a spot liquidity provision has been created or updated.\n - BUS_EVENT_TYPE_STOP_ORDER: Event indicating a stop order has been submitted or updated.\n - BUS_EVENT_TYPE_FUNDING_PERIOD: Event indicating the start or end of a funding period.\n - BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT: Event indicating a data point for a funding period has been received.\n - BUS_EVENT_TYPE_TEAM_CREATED: Event indicating a team has been created.\n - BUS_EVENT_TYPE_TEAM_UPDATED: Event indicating a team has been updated.\n - BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM: Event indicating a referee switched team.\n - BUS_EVENT_TYPE_REFEREE_JOINED_TEAM: Event indicating a referee joined a team.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED: Event indicating a referral program started.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED: Event indicating a referral program has been updated.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED: Event indicating a referral program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_CREATED: Event indicating a set has been created.\n - BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET: Event indicating a referee joined a set.\n - BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK: Event indicating the updated activity streak for a party\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED: Event indicating a volume discount program started.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED: Event indicating a volume discount program has been updated.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED: Event indicating a volume discount program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED: Event indicating the updated statistics for a referral set.\n - BUS_EVENT_TYPE_VESTING_STATS_UPDATED: Event indicating the updated statistics for the vesting program.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type","enum":["BUS_EVENT_TYPE_UNSPECIFIED","BUS_EVENT_TYPE_ALL","BUS_EVENT_TYPE_TIME_UPDATE","BUS_EVENT_TYPE_LEDGER_MOVEMENTS","BUS_EVENT_TYPE_POSITION_RESOLUTION","BUS_EVENT_TYPE_ORDER","BUS_EVENT_TYPE_ACCOUNT","BUS_EVENT_TYPE_PARTY","BUS_EVENT_TYPE_TRADE","BUS_EVENT_TYPE_MARGIN_LEVELS","BUS_EVENT_TYPE_PROPOSAL","BUS_EVENT_TYPE_VOTE","BUS_EVENT_TYPE_MARKET_DATA","BUS_EVENT_TYPE_NODE_SIGNATURE","BUS_EVENT_TYPE_LOSS_SOCIALIZATION","BUS_EVENT_TYPE_SETTLE_POSITION","BUS_EVENT_TYPE_SETTLE_DISTRESSED","BUS_EVENT_TYPE_MARKET_CREATED","BUS_EVENT_TYPE_ASSET","BUS_EVENT_TYPE_MARKET_TICK","BUS_EVENT_TYPE_WITHDRAWAL","BUS_EVENT_TYPE_DEPOSIT","BUS_EVENT_TYPE_AUCTION","BUS_EVENT_TYPE_RISK_FACTOR","BUS_EVENT_TYPE_NETWORK_PARAMETER","BUS_EVENT_TYPE_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_MARKET_UPDATED","BUS_EVENT_TYPE_ORACLE_SPEC","BUS_EVENT_TYPE_ORACLE_DATA","BUS_EVENT_TYPE_DELEGATION_BALANCE","BUS_EVENT_TYPE_VALIDATOR_SCORE","BUS_EVENT_TYPE_EPOCH_UPDATE","BUS_EVENT_TYPE_VALIDATOR_UPDATE","BUS_EVENT_TYPE_STAKE_LINKING","BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT","BUS_EVENT_TYPE_CHECKPOINT","BUS_EVENT_TYPE_STREAM_START","BUS_EVENT_TYPE_KEY_ROTATION","BUS_EVENT_TYPE_STATE_VAR","BUS_EVENT_TYPE_NETWORK_LIMITS","BUS_EVENT_TYPE_TRANSFER","BUS_EVENT_TYPE_VALIDATOR_RANKING","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED","BUS_EVENT_TYPE_POSITION_STATE","BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL","BUS_EVENT_TYPE_BEGIN_BLOCK","BUS_EVENT_TYPE_END_BLOCK","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED","BUS_EVENT_TYPE_SETTLE_MARKET","BUS_EVENT_TYPE_TRANSACTION_RESULT","BUS_EVENT_TYPE_SNAPSHOT_TAKEN","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY","BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED","BUS_EVENT_TYPE_EXPIRED_ORDERS","BUS_EVENT_TYPE_DISTRESSED_POSITIONS","BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_STOP_ORDER","BUS_EVENT_TYPE_FUNDING_PERIOD","BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT","BUS_EVENT_TYPE_TEAM_CREATED","BUS_EVENT_TYPE_TEAM_UPDATED","BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM","BUS_EVENT_TYPE_REFEREE_JOINED_TEAM","BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_CREATED","BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET","BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED","BUS_EVENT_TYPE_VESTING_STATS_UPDATED","BUS_EVENT_TYPE_MARKET","BUS_EVENT_TYPE_TX_ERROR"],"title":"Bus event type is used to specify a type of event\nIt has 2 styles of event:\nSingle values (e.g. BUS_EVENT_TYPE_ORDER) where they represent one data item\nGroup values (e.g. BUS_EVENT_TYPE_AUCTION) where they represent a group of data items","type":"string"},"v1CheckRawTransactionRequest":{"properties":{"tx":{"format":"byte","required":["tx"],"title":"Bundle of signed payload and signature marshalled into a byte array, to form a transaction that would be submitted to the Vega blockchain","type":"string"}},"required":["tx"],"title":"Request for checking a version agnostic transaction on Vega","type":"object"},"v1CheckRawTransactionResponse":{"properties":{"info":{"title":"Information about the transaction","type":"string"},"code":{"format":"int64","title":"Check code result","type":"integer"},"data":{"title":"Data for details","type":"string"},"gasUsed":{"format":"int64","title":"Gas used for transaction","type":"string"},"gasWanted":{"format":"int64","title":"Gas wanted for transaction","type":"string"},"log":{"title":"Transaction log","type":"string"},"success":{"title":"Success will be true if the transaction was checked by the node","type":"boolean"}},"title":"Response for checking a version agnostic transaction on Vega","type":"object"},"v1CheckTransactionRequest":{"properties":{"tx":{"$ref":"#/components/schemas/v1Transaction","title":"Bundle of signed payload and signature, to form a transaction that would be submitted to the Vega blockchain"}},"title":"Request for checking a transaction v2 on Vega","type":"object"},"v1CheckTransactionResponse":{"properties":{"info":{"title":"Information about the transaction","type":"string"},"code":{"format":"int64","title":"Check code result","type":"integer"},"data":{"title":"Data for details","type":"string"},"gasUsed":{"format":"int64","title":"Gas used for transaction","type":"string"},"gasWanted":{"format":"int64","title":"Gas wanted for transaction","type":"string"},"log":{"title":"Transaction log","type":"string"},"success":{"title":"Success will be true if the transaction was checked by the node","type":"boolean"}},"type":"object"},"v1CheckpointEvent":{"properties":{"blockHash":{"type":"string"},"blockHeight":{"format":"uint64","type":"string"},"hash":{"type":"string"}},"type":"object"},"v1Condition":{"properties":{"operator":{"$ref":"#/components/schemas/ConditionOperator","description":"Type of comparison to make on the value."},"value":{"description":"Value to be compared with by the operator.","type":"string"}},"title":"Condition describes the condition that must be validated by the network","type":"object"},"v1CoreSnapshotData":{"description":"CoreSnapshotData represents the core snapshot data.","properties":{"blockHash":{"title":"Hash of the snapshot block","type":"string"},"blockHeight":{"format":"uint64","title":"Block height at which snapshot was taken","type":"string"},"coreVersion":{"description":"Semver version number of the core.","type":"string"},"protocolUpgradeBlock":{"title":"Indicates if the snapshot is taken as part of protocol upgrade","type":"boolean"}},"type":"object"},"v1CreateReferralSet":{"description":"Creates a referral set. The creator automatically becomes\nthe leader, called a referrer. This cannot be changed.\nA referrer cannot be part of an existing set as referrer or referee.","properties":{"isTeam":{"type":"boolean"},"team":{"$ref":"#/components/schemas/v1CreateReferralSetTeam"}},"title":"Request for creating a referral set","type":"object"},"v1CreateReferralSetTeam":{"properties":{"avatarUrl":{"description":"Optional link to an image to be used as the team avatar.","type":"string"},"closed":{"title":"Is this team closed for external other users","type":"boolean"},"name":{"description":"Team name to be added to the referral banner.","type":"string"},"teamUrl":{"description":"Optional link to a team forum, discord, etc.","type":"string"}},"type":"object"},"v1Data":{"description":"Data describes valid source data that has been received by the node.\nIt represents both matched and unmatched data.","properties":{"broadcastAt":{"description":"Timestamp in Unix nanoseconds for when the data was broadcast to the markets\nwith a matching spec. It has no value when the data did not match any spec.","format":"int64","type":"string"},"data":{"items":{"$ref":"#/components/schemas/v1Property"},"title":"Data holds all the properties of the data","type":"array"},"error":{"description":"Error message if the data could not be sourced.","type":"string"},"matchedSpecIds":{"description":"`matched_specs_ids` lists all the specs that matched this data.\nWhen the array is empty, it means no spec matched this data.","items":{"type":"string"},"type":"array"},"metaData":{"items":{"$ref":"#/components/schemas/v1Property"},"title":"Holds all metadata properties","type":"array"},"signers":{"items":{"$ref":"#/components/schemas/v1Signer"},"type":"array"}},"type":"object"},"v1DelegateSubmission":{"properties":{"amount":{"description":"Amount of stake to delegate. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"nodeId":{"description":"Delegate to the specified node ID.","type":"string"}},"title":"Command to submit an instruction to delegate some stake to a node","type":"object"},"v1DelegationBalanceEvent":{"properties":{"amount":{"type":"string"},"epochSeq":{"type":"string"},"nodeId":{"type":"string"},"party":{"type":"string"}},"title":"DelegationBalanceEvent - updates on the delegation balance of a party to a node in the current epoch in effect","type":"object"},"v1DistressedOrders":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"parties":{"items":{"type":"string"},"title":"Slice of Party IDs i.e. each party's public key for the event","type":"array"}},"title":"Distressed order contains the party IDs for all parties that were distressed and had their orders closed,\nbut did not need to be closed out after cancelling their orders","type":"object"},"v1DistressedPositions":{"description":"Distressed positions event contains the party IDs for all parties that were distressed, had their orders closed but because of insufficient volume on the book\ncould not be fully closed out. These parties are distressed, but still hold an active position on the book as a result. Once enough volume is on the book to close\nthem out, a SettleDistressed event will be sent. In case they manage to reduce their position, or meet the margin requirements, this status will be updated.\nParties that are no longer distressed but active will be listed in the safe_parties field.","properties":{"distressedParties":{"items":{"type":"string"},"title":"Slice of party IDs i.e. each party's public key, that are distressed but still have open volume","type":"array"},"marketId":{"title":"Market ID for the event","type":"string"},"safeParties":{"items":{"type":"string"},"title":"Slice of party IDs i.e. each party's public key, who were distressed but now can safely maintain their position","type":"array"}},"type":"object"},"v1ERC20MultiSigSignerAdded":{"properties":{"epochSeq":{"title":"Epoch that the node was added for","type":"string"},"newSigner":{"title":"Ethereum address of the new signer","type":"string"},"nonce":{"description":"Nonce used.","type":"string"},"signatureId":{"title":"ID of the signature bundle","type":"string"},"submitter":{"title":"Address of the submitter of the transaction","type":"string"},"timestamp":{"format":"int64","title":"Time at which this happened","type":"string"},"validatorId":{"title":"Node ID of the Vega node to be added","type":"string"}},"type":"object"},"v1ERC20MultiSigSignerEvent":{"properties":{"blockNumber":{"format":"uint64","type":"string"},"blockTime":{"format":"int64","type":"string"},"id":{"type":"string"},"logIndex":{"format":"uint64","type":"string"},"nonce":{"type":"string"},"signer":{"type":"string"},"txHash":{"type":"string"},"type":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerEventType"}},"type":"object"},"v1ERC20MultiSigSignerEventType":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_ADDED","TYPE_REMOVED"],"type":"string"},"v1ERC20MultiSigSignerRemoved":{"properties":{"epochSeq":{"title":"Epoch that the node was removed for","type":"string"},"nonce":{"description":"Nonce used.","type":"string"},"oldSigner":{"title":"Ethereum address of the signer to be removed","type":"string"},"signatureSubmitters":{"items":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerRemovedSubmitter"},"title":"List containing all the IDs of bundle generated\nThere should be one bundle generated for every validators\nin the validator set","type":"array"},"timestamp":{"format":"int64","title":"Time at which this happened","type":"string"},"validatorId":{"title":"Node ID of the Vega node which is to be removed","type":"string"}},"type":"object"},"v1ERC20MultiSigSignerRemovedSubmitter":{"properties":{"signatureId":{"description":"Signature ID of the signer removed.","type":"string"},"submitter":{"title":"Address of the submitter of the transaction","type":"string"}},"type":"object"},"v1ERC20MultiSigThresholdSetEvent":{"properties":{"blockNumber":{"format":"uint64","type":"string"},"blockTime":{"format":"int64","type":"string"},"id":{"type":"string"},"logIndex":{"format":"uint64","type":"string"},"newThreshold":{"format":"int64","type":"integer"},"nonce":{"type":"string"},"txHash":{"type":"string"}},"type":"object"},"v1ETHAddress":{"properties":{"address":{"type":"string"}},"type":"object"},"v1EndBlock":{"properties":{"height":{"format":"uint64","type":"string"}},"title":"EndBlock","type":"object"},"v1EpochEvent":{"properties":{"action":{"$ref":"#/components/schemas/vegaEpochAction","title":"Action tells us what action is taking place"},"endTime":{"format":"int64","title":"Vega time at which this epoch actually ended","type":"string"},"expireTime":{"format":"int64","title":"Vega time at which this epoch should end","type":"string"},"seq":{"format":"uint64","title":"Sequence number that increases by one each epoch","type":"string"},"startTime":{"format":"int64","title":"Vega time at which this epoch started","type":"string"}},"title":"Epoch details","type":"object"},"v1EthereumKeyRotateSubmission":{"properties":{"currentAddress":{"description":"Currently used public address.","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature that can be verified using the new ethereum address."},"newAddress":{"description":"New address to rotate to.","type":"string"},"submitterAddress":{"description":"Ethereum public key to use as a submitter to allow automatic signature generation.","type":"string"},"targetBlock":{"description":"Target block at which the key rotation will take effect on.","format":"uint64","type":"string"}},"title":"Transaction to allow a validator to rotate their ethereum keys","type":"object"},"v1EthereumKeyRotation":{"properties":{"blockHeight":{"format":"uint64","title":"Block height when the key rotation took effect","type":"string"},"newAddress":{"title":"Ethereum address that is newly associated with the node","type":"string"},"nodeId":{"title":"Node ID of the node that rotated their Ethereum key","type":"string"},"oldAddress":{"title":"Ethereum address that was previously associated with the node","type":"string"}},"title":"Event that contains information about an Ethereum key rotation","type":"object"},"v1ExpiredOrders":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"orderIds":{"items":{"type":"string"},"title":"Slice of expired order IDs","type":"array"}},"type":"object"},"v1ExternalData":{"properties":{"data":{"$ref":"#/components/schemas/v1Data"}},"type":"object"},"v1Filter":{"description":"Filter describes the conditions under which a data source data is considered of\ninterest or not.","properties":{"conditions":{"description":"Conditions that should be matched by the data to be\nconsidered of interest.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"},"key":{"$ref":"#/components/schemas/v1PropertyKey","description":"Data source's data property key targeted by the filter."}},"type":"object"},"v1FundingPeriod":{"description":"Event notifying on the details of a funding interval for a perpetuals market.","properties":{"end":{"description":"Time in Unix nanoseconds when the funding period ended.","format":"int64","type":"string"},"externalTwap":{"description":"TWAP for this period based on the external data-points.","type":"string"},"fundingPayment":{"description":"Funding payment for this period as the difference between the time-weighted average price of the external and internal data point.","type":"string"},"fundingRate":{"description":"Percentage difference between the time-weighted average price of the external and internal data point.","type":"string"},"internalTwap":{"description":"TWAP for this period based on the internal data-points.","type":"string"},"marketId":{"description":"ID of the market for which this funding period relates to.","type":"string"},"seq":{"description":"Sequence number of the funding period.","format":"uint64","type":"string"},"start":{"description":"Time in Unix nanoseconds when the funding period started.","format":"int64","type":"string"}},"type":"object"},"v1FundingPeriodDataPoint":{"description":"Event notifying a data point for a funding period.","properties":{"dataPointType":{"$ref":"#/components/schemas/FundingPeriodDataPointSource","description":"Origin of the data point."},"marketId":{"description":"Market ID which the data point relates to.","type":"string"},"price":{"description":"Price of the asset as seen by this data point.","type":"string"},"seq":{"description":"Sequence number of the funding period this data point belongs to.","format":"uint64","type":"string"},"timestamp":{"description":"Timestamp in Unix nanoseconds of when the data point was received.","format":"int64","type":"string"},"twap":{"description":"The TWAP for this source with this data-point added.","type":"string"}},"type":"object"},"v1GetSpamStatisticsResponse":{"properties":{"chainId":{"description":"Chain ID for which the statistics are captured.","type":"string"},"statistics":{"$ref":"#/components/schemas/v1SpamStatistics","title":"Spam statistics for the party"}},"title":"Response containing all the spam statistics of a party for the current epoch","type":"object"},"v1GetVegaTimeResponse":{"properties":{"timestamp":{"format":"int64","title":"Timestamp representation of current VegaTime as represented in\nUnix nanoseconds, for example `1580473859111222333` corresponds to `2020-01-31T12:30:59.111222333Z`","type":"string"}},"title":"Response for the current consensus coordinated time on the Vega network, referred to as \"VegaTime\"","type":"object"},"v1IcebergOpts":{"properties":{"minimumVisibleSize":{"description":"Minimum allowed remaining size of the order before it is replenished back to its peak size.","format":"uint64","type":"string"},"peakSize":{"description":"Size of the order that is made visible and can be traded with during the execution of a single order.","format":"uint64","type":"string"}},"title":"Iceberg order options","type":"object"},"v1InternalTimeTrigger":{"description":"Trigger for an internal time data source.","properties":{"every":{"description":"Repeat the trigger every n seconds after the initial. If no time for\ninitial was specified, begin repeating immediately.","format":"int64","type":"string"},"initial":{"description":"Trigger when the vega time is greater or equal to this time, in Unix seconds.","format":"int64","type":"string"}},"type":"object"},"v1IssueSignatures":{"properties":{"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","description":"What kind of signatures to generate, namely for whether a signer is being added or removed."},"submitter":{"description":"Ethereum address which will submit the signatures to the smart contract.","type":"string"},"validatorNodeId":{"description":"Node ID of the validator node that will be signed in or out of the smart contract.","type":"string"}},"title":"Transaction for a validator to submit signatures to a smart contract","type":"object"},"v1KeyRotateSubmission":{"properties":{"currentPubKeyHash":{"description":"Hash of currently used public key.","type":"string"},"newPubKey":{"description":"New public key to rotate to.","type":"string"},"newPubKeyIndex":{"description":"New Vega public key derivation index.","format":"int64","type":"integer"},"targetBlock":{"description":"Target block at which the key rotation will take effect on.","format":"uint64","type":"string"}},"title":"Transaction to allow a validator to rotate their Vega keys","type":"object"},"v1KeyRotation":{"properties":{"blockHeight":{"format":"uint64","title":"Block height when the key rotation took effect","type":"string"},"newPubKey":{"title":"Vega public key that is newly associated with the node","type":"string"},"nodeId":{"title":"Node ID of the node that rotated their Vega key","type":"string"},"oldPubKey":{"title":"Vega public key that was previously associated with the node","type":"string"}},"title":"Event that contains information about a Vega key rotation","type":"object"},"v1LastBlockHeightResponse":{"properties":{"chainId":{"title":"Network chain id from which the block comes from","type":"string"},"hash":{"title":"Last block hash","type":"string"},"height":{"format":"uint64","title":"Last block height","type":"string"},"spamPowDifficulty":{"format":"int64","title":"Difficulty of the proof of work, i.e. the target number of zeros","type":"integer"},"spamPowHashFunction":{"title":"Supported proof of work hash function","type":"string"},"spamPowIncreasingDifficulty":{"title":"Boolean indicating whether increasing difficulty is allowed for using the\nsame height for more than `spam_pow_number_of_past_blocks` transactions","type":"boolean"},"spamPowNumberOfPastBlocks":{"format":"int64","title":"Supported proof of work number of blocks behind current height allowed","type":"integer"},"spamPowNumberOfTxPerBlock":{"format":"int64","title":"Allowed number of transactions per block","type":"integer"}},"title":"Response with the height of the last block processed by\ntendermint","type":"object"},"v1LedgerMovements":{"properties":{"ledgerMovements":{"items":{"$ref":"#/components/schemas/vegaLedgerMovement"},"title":"One or more entries containing internal transfer information","type":"array"}},"title":"Transfer responses event contains a collection of transfer information","type":"object"},"v1LiquidityProvisionAmendment":{"properties":{"buys":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"},"commitmentAmount":{"description":"From here at least one of the following is required to consider the command valid.","type":"string"},"fee":{"type":"string"},"marketId":{"description":"Unique ID for the market with the liquidity provision to be amended.","type":"string"},"reference":{"type":"string"},"sells":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"}},"title":"Amend a liquidity provision request","type":"object"},"v1LiquidityProvisionCancellation":{"properties":{"marketId":{"description":"Unique ID for the market with the liquidity provision to be cancelled.","type":"string"}},"title":"Cancel a liquidity provision request","type":"object"},"v1LiquidityProvisionSubmission":{"properties":{"buys":{"description":"Set of liquidity buy orders to meet the liquidity provision obligation.","items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"},"commitmentAmount":{"description":"Specified as a unitless number that represents the amount of settlement asset of the market.\nThis field is an unsigned integer scaled using the asset's decimal places.","type":"string"},"fee":{"description":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers.","type":"string"},"marketId":{"description":"Market ID for the order.","type":"string"},"reference":{"description":"Reference to be added to every order created out of this liquidity provision submission.","type":"string"},"sells":{"description":"Set of liquidity sell orders to meet the liquidity provision obligation.","items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"}},"title":"A liquidity provision submitted for a given market","type":"object"},"v1LossSocialization":{"properties":{"amount":{"title":"Amount distributed","type":"string"},"marketId":{"title":"Market ID for the event","type":"string"},"partyId":{"title":"Party ID (public key) for the event","type":"string"}},"title":"Loss socialization event contains details on the amount of wins unable to be distributed","type":"object"},"v1MarketEvent":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"payload":{"title":"Payload is a unique information string","type":"string"}},"title":"MarketEvent - the common denominator for all market events\ninterface has a method to return a string for logging","type":"object"},"v1MarketTick":{"properties":{"id":{"title":"Market ID for the event","type":"string"},"time":{"format":"int64","title":"Timestamp containing latest update from Vega blockchain aka Vega-time","type":"string"}},"title":"Market tick event contains the time value for when a particular market was last processed on Vega","type":"object"},"v1NodeSignature":{"properties":{"id":{"description":"ID of the resource being signed.","type":"string"},"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","description":"Kind of resource being signed."},"sig":{"description":"The signature generated by the signer.","format":"byte","type":"string"}},"title":"Represents a signature from a validator, to be used by a foreign chain in order to recognise a decision taken by the Vega network","type":"object"},"v1NodeSignatureKind":{"default":"NODE_SIGNATURE_KIND_UNSPECIFIED","description":"- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing","enum":["NODE_SIGNATURE_KIND_UNSPECIFIED","NODE_SIGNATURE_KIND_ASSET_NEW","NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED","NODE_SIGNATURE_KIND_ASSET_UPDATE"],"title":"Kind of signature created by a node, for example, allow-listing a new asset, withdrawal etc","type":"string"},"v1ObserveEventBusResponse":{"properties":{"events":{"description":"One or more events that match the subscription request criteria.","items":{"$ref":"#/components/schemas/v1BusEvent"},"type":"array"}},"title":"Response to a subscribed stream of events from the Vega event bus","type":"object"},"v1OneOffGovernanceTransfer":{"properties":{"deliverOn":{"format":"int64","type":"string"}},"type":"object"},"v1OracleDataSubmission":{"properties":{"payload":{"description":"Data provided by the data source\nIn the case of Open Oracle - it will be the entire object - it will contain messages, signatures and price data.","format":"byte","type":"string"},"source":{"$ref":"#/components/schemas/OracleDataSubmissionOracleSource","description":"Source from which the data is coming from. Must be base64 encoded.\nOracle data is a type of external data source data."}},"title":"Command to submit new Oracle data from third party providers","type":"object"},"v1OrderAmendment":{"properties":{"expiresAt":{"description":"Amend the expiry time for the order, if the Timestamp value is set, otherwise expiry time will remain unchanged.","format":"int64","type":"string"},"marketId":{"description":"Market ID, this is required to find the order and will not be updated.","type":"string"},"orderId":{"description":"Order ID, this is required to find the order and will not be updated, required field.","type":"string"},"peggedOffset":{"description":"Amend the pegged order offset for the order. This field is an unsigned integer scaled to the market's decimal places.","type":"string"},"peggedReference":{"$ref":"#/components/schemas/vegaPeggedReference","description":"Amend the pegged order reference for the order."},"price":{"description":"Amend the price for the order if the price value is set, otherwise price will remain unchanged.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"sizeDelta":{"description":"Amend the size for the order by the delta specified:\n- To reduce the size from the current value set a negative integer value\n- To increase the size from the current value, set a positive integer value\n- To leave the size unchanged set a value of zero\nThis field needs to be scaled using the market's position decimal places.","format":"int64","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","description":"Amend the time in force for the order, set to TIME_IN_FORCE_UNSPECIFIED to remain unchanged."}},"title":"An order amendment is a request to amend or update an existing order on Vega","type":"object"},"v1OrderCancellation":{"properties":{"marketId":{"description":"Market ID for the order, required field.","type":"string"},"orderId":{"description":"Unique ID for the order. This is set by the system after consensus. Required field.","type":"string"}},"title":"Order cancellation is a request to cancel an existing order on Vega","type":"object"},"v1OrderSubmission":{"properties":{"expiresAt":{"description":"Timestamp in Unix nanoseconds for when the order will expire,\nrequired field only for `Order.TimeInForce`.TIME_IN_FORCE_GTT`.","format":"int64","type":"string"},"icebergOpts":{"$ref":"#/components/schemas/v1IcebergOpts","description":"Parameters used to specify an iceberg order."},"marketId":{"description":"Market ID for the order, required field.","type":"string"},"peggedOrder":{"$ref":"#/components/schemas/vegaPeggedOrder","description":"Used to specify the details for a pegged order."},"postOnly":{"description":"Only valid for Limit orders. Cannot be True at the same time as Reduce-Only.","type":"boolean"},"price":{"description":"Price for the order, the price is an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places,\nrequired field for limit orders, however it is not required for market orders.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"reduceOnly":{"description":"Only valid for Non-Persistent orders. Cannot be True at the same time as Post-Only.\nIf set, order will only be executed if the outcome of the trade moves the trader's position closer to 0.","type":"boolean"},"reference":{"description":"Reference given for the order, this is typically used to retrieve an order submitted through consensus, currently\nset internally by the node to return a unique reference ID for the order submission.","type":"string"},"side":{"$ref":"#/components/schemas/vegaSide","description":"Side for the order, e.g. SIDE_BUY or SIDE_SELL, required field."},"size":{"description":"Size for the order, for example, in a futures market the size equals the number of units, cannot be negative.","format":"uint64","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","description":"Time in force indicates how long an order will remain active before it is executed or expires, required field."},"type":{"$ref":"#/components/schemas/vegaOrderType","description":"Type for the order, required field - See `Order.Type`."}},"title":"Order submission is a request to submit or create a new order on Vega","type":"object"},"v1PartyActivityStreak":{"properties":{"activeFor":{"description":"How many epoch this party has been active for.","format":"uint64","type":"string"},"epoch":{"description":"The epoch this information is relevant to.","format":"uint64","type":"string"},"inactiveFor":{"description":"how many epoch this party has been inactive for.","format":"uint64","type":"string"},"isActive":{"description":"Is this party considered active or not.","type":"boolean"},"openVolume":{"title":"Party's open interest volume at the end of the given epoch","type":"string"},"party":{"description":"The party.","type":"string"},"rewardDistributionActivityMultiplier":{"description":"The current rewards distribution multiplier for this party.","type":"string"},"rewardVestingActivityMultiplier":{"description":"The vesting multiplier for this party.","type":"string"},"tradedVolume":{"title":"Party's traded volume at the end of the given epoch","type":"string"}},"title":"The updated activity streak of a party at end of epoch","type":"object"},"v1PartyVestingStats":{"description":"The vesting stats for a given party.","properties":{"partyId":{"description":"The party.","type":"string"},"rewardBonusMultiplier":{"description":"The bonus multiplier applied on the reward.","type":"string"}},"type":"object"},"v1PoWBlockState":{"properties":{"blockHash":{"title":"Hash of the current block","type":"string"},"blockHeight":{"format":"uint64","title":"Block height for the current Proof of Work state statistics","type":"string"},"difficulty":{"format":"uint64","title":"Base difficulty for this block for when transactions seen < tx_per_block","type":"string"},"expectedDifficulty":{"description":"This is the minimum required difficulty for the next transaction submitted on this block\nif it is possible to submit more transactions on this block, otherwise nil.","format":"uint64","type":"string"},"hashFunction":{"title":"Hashing function used to calculate the block hash","type":"string"},"increasingDifficulty":{"title":"Whether or not this block allows for increasing proof-of-work difficulty if the\ntx-per-block-hash limit has been reached","type":"boolean"},"transactionsSeen":{"format":"uint64","title":"Total number of transactions seen in the block","type":"string"},"txPerBlock":{"format":"uint64","title":"Number of transactions that can have their proof-of-work calculated with this block hash before\neither the difficulty increases, or no more transactions can use this block hash","type":"string"}},"title":"Proof of Work state for a given block","type":"object"},"v1PoWStatistic":{"properties":{"bannedUntil":{"title":"PoW banned until timestamp as RFC3339Nano","type":"string"},"blockStates":{"items":{"$ref":"#/components/schemas/v1PoWBlockState"},"title":"Block state for each block in scope for PoW calculation","type":"array"},"numberOfPastBlocks":{"format":"uint64","title":"Number of block behind the current block whose hash can be used for proof-of-work calculations","type":"string"}},"title":"Proof of work statistics for a party","type":"object"},"v1PositionResolution":{"properties":{"closed":{"format":"int64","title":"Number of close outs","type":"string"},"distressed":{"format":"int64","title":"Number of distressed traders","type":"string"},"markPrice":{"title":"Mark price as a string representing a scaled price","type":"string"},"marketId":{"title":"Market ID for the event","type":"string"}},"title":"Position resolution event contains information on distressed trades","type":"object"},"v1PositionStateEvent":{"properties":{"marketId":{"title":"Market ID for this position update","type":"string"},"partyId":{"title":"Party ID for this position update","type":"string"},"potentialBuys":{"format":"int64","title":"Potential orders","type":"string"},"potentialSells":{"format":"int64","type":"string"},"size":{"format":"int64","title":"Current position","type":"string"},"vwBuyPrice":{"title":"Volume weighted prices","type":"string"},"vwSellPrice":{"type":"string"}},"title":"Position state event contains the current position state for a single party in a single market","type":"object"},"v1ProofOfWork":{"properties":{"nonce":{"description":"Number which, combined with the transaction identifier, will produce a hash with the required number of leading zeros to be accepted by the network.","format":"uint64","type":"string"},"tid":{"description":"Unique transaction identifier used to seed the proof-of-work hash.","type":"string"}},"title":"Components needed for the network to verify proof-of-work","type":"object"},"v1PropagateChainEventResponse":{"properties":{"success":{"title":"Success will be true if the event was accepted by the node,\n**Important** - success does not mean that the event is confirmed by consensus","type":"boolean"}},"title":"Response for a new event sent by the blockchain queue to be propagated on Vega","type":"object"},"v1Property":{"description":"Property describes one property of data spec with a key with its value.","properties":{"name":{"description":"Name of the property.","type":"string"},"value":{"description":"Value of the property.","type":"string"}},"type":"object"},"v1PropertyKey":{"description":"PropertyKey describes the property key contained in data source data.","properties":{"name":{"description":"Name of the property.","type":"string"},"numberDecimalPlaces":{"format":"uint64","title":"Optional decimal place to be be applied on the provided value\nvalid only for PropertyType of type DECIMAL and INTEGER","type":"string"},"type":{"$ref":"#/components/schemas/v1PropertyKeyType","description":"Data type of the property."}},"type":"object"},"v1PropertyKeyType":{"default":"TYPE_UNSPECIFIED","description":"Type describes the data type of properties that are supported by the data source\nengine.\n\n - TYPE_UNSPECIFIED: The default value.\n - TYPE_EMPTY: Any type.\n - TYPE_INTEGER: Integer type.\n - TYPE_STRING: String type.\n - TYPE_BOOLEAN: Boolean type.\n - TYPE_DECIMAL: Any floating point decimal type.\n - TYPE_TIMESTAMP: Timestamp date type.","enum":["TYPE_UNSPECIFIED","TYPE_EMPTY","TYPE_INTEGER","TYPE_STRING","TYPE_BOOLEAN","TYPE_DECIMAL","TYPE_TIMESTAMP"],"type":"string"},"v1ProposalSubmission":{"properties":{"rationale":{"$ref":"#/components/schemas/vegaProposalRationale","description":"Rationale behind a proposal."},"reference":{"description":"Reference identifying the proposal.","type":"string"},"terms":{"$ref":"#/components/schemas/vegaProposalTerms","description":"Proposal configuration and the actual change that is meant to be executed when proposal is enacted."}},"title":"Command to submit a new proposal for the\nVega network governance","type":"object"},"v1ProtocolUpgradeDataNodeReady":{"properties":{"lastBlockHeight":{"format":"uint64","type":"string"}},"title":"Event indicating the data node is ready for protocol upgrade","type":"object"},"v1ProtocolUpgradeEvent":{"properties":{"approvers":{"items":{"type":"string"},"title":"Tendermint validators that have agreed to the upgrade","type":"array"},"status":{"$ref":"#/components/schemas/v1ProtocolUpgradeProposalStatus","title":"Status of the proposal"},"upgradeBlockHeight":{"format":"uint64","title":"Block height at which to perform the upgrade","type":"string"},"vegaReleaseTag":{"title":"Release tag for the vega binary","type":"string"}},"type":"object"},"v1ProtocolUpgradeProposal":{"properties":{"upgradeBlockHeight":{"description":"Block height at which to perform the upgrade.","format":"uint64","type":"string"},"vegaReleaseTag":{"description":"Release tag for the Vega binary.","type":"string"}},"title":"Transaction for a validator to suggest a protocol upgrade","type":"object"},"v1ProtocolUpgradeProposalStatus":{"default":"PROTOCOL_UPGRADE_PROPOSAL_STATUS_UNSPECIFIED","enum":["PROTOCOL_UPGRADE_PROPOSAL_STATUS_UNSPECIFIED","PROTOCOL_UPGRADE_PROPOSAL_STATUS_PENDING","PROTOCOL_UPGRADE_PROPOSAL_STATUS_APPROVED","PROTOCOL_UPGRADE_PROPOSAL_STATUS_REJECTED"],"title":"- PROTOCOL_UPGRADE_PROPOSAL_STATUS_PENDING: The proposal is pending\n - PROTOCOL_UPGRADE_PROPOSAL_STATUS_APPROVED: The proposal is approved\n - PROTOCOL_UPGRADE_PROPOSAL_STATUS_REJECTED: The proposal is rejected","type":"string"},"v1ProtocolUpgradeStarted":{"properties":{"lastBlockHeight":{"format":"uint64","type":"string"}},"title":"Event indicating the core is starting a protocol upgrade","type":"object"},"v1PubKey":{"description":"PubKey is the public key that signed this data.\nDifferent public keys coming from different sources will be further separated.","properties":{"key":{"type":"string"}},"type":"object"},"v1RecurringGovernanceTransfer":{"properties":{"dispatchStrategy":{"$ref":"#/components/schemas/vegaDispatchStrategy"},"endEpoch":{"format":"uint64","type":"string"},"startEpoch":{"format":"uint64","type":"string"}},"type":"object"},"v1RefereeJoinedReferralSet":{"properties":{"atEpoch":{"description":"Epoch at which the party joined the set.","format":"uint64","type":"string"},"joinedAt":{"description":"Time in Unix nanoseconds when the party joined the set.","format":"int64","type":"string"},"referee":{"description":"Party that joined the set.","type":"string"},"setId":{"description":"Unique ID of the referral set the referee joined.","type":"string"}},"type":"object"},"v1RefereeJoinedTeam":{"properties":{"atEpoch":{"description":"Epoch at which the party joined the team.","format":"uint64","type":"string"},"joinedAt":{"description":"Time in Unix nanoseconds when the party joined a team.","format":"int64","type":"string"},"referee":{"description":"The party that joined the team.","type":"string"},"teamId":{"description":"The unique identifier of the team the referee joined.","type":"string"}},"type":"object"},"v1RefereeStats":{"properties":{"discountFactor":{"description":"Discount factor applied to the party.","type":"string"},"epochNotionalTakerVolume":{"title":"Current referee notional taker volume","type":"string"},"partyId":{"description":"Unique ID of the party.","type":"string"},"rewardFactor":{"description":"Reward factor applied to the party.","type":"string"}},"type":"object"},"v1RefereeSwitchedTeam":{"properties":{"atEpoch":{"description":"Epoch at which the party switched the team.","format":"uint64","type":"string"},"fromTeamId":{"description":"The unique identifier of the team the referee left.","type":"string"},"referee":{"description":"The party that switched team.","type":"string"},"switchedAt":{"description":"Time in Unix nanoseconds when the party switched team. This time acts as\nthe joining time.","format":"int64","type":"string"},"toTeamId":{"description":"The unique identifier of the team joined.","type":"string"}},"type":"object"},"v1ReferralProgramEnded":{"properties":{"id":{"description":"Unique ID of the referral program.","type":"string"},"version":{"description":"Program update version.","format":"uint64","type":"string"}},"type":"object"},"v1ReferralProgramStarted":{"properties":{"program":{"$ref":"#/components/schemas/vegaReferralProgram","description":"Referral program that has started."}},"type":"object"},"v1ReferralProgramUpdated":{"properties":{"program":{"$ref":"#/components/schemas/vegaReferralProgram","description":"The updated referral program."}},"type":"object"},"v1ReferralSetCreated":{"properties":{"createdAt":{"description":"Time in Unix nanoseconds when the set was created.","format":"int64","type":"string"},"referrer":{"description":"Party that created the set.","type":"string"},"setId":{"description":"Unique ID of the created set.","type":"string"},"updatedAt":{"description":"Time in Unix nanoseconds when the set was updated.","format":"int64","type":"string"}},"type":"object"},"v1ReferralSetStatsUpdated":{"properties":{"atEpoch":{"description":"Epoch at which the set's statistics are updated.","format":"uint64","type":"string"},"refereesStats":{"description":"Referees' statistics for that epoch.","items":{"$ref":"#/components/schemas/v1RefereeStats"},"type":"array"},"referralSetRunningNotionalTakerVolume":{"description":"Running volume for the set based on the window length of the current\nreferral program.","type":"string"},"setId":{"description":"Unique ID of the set.","type":"string"}},"type":"object"},"v1RewardPayoutEvent":{"properties":{"amount":{"type":"string"},"asset":{"type":"string"},"epochSeq":{"type":"string"},"market":{"type":"string"},"party":{"type":"string"},"percentOfTotalReward":{"type":"string"},"rewardType":{"type":"string"},"timestamp":{"format":"int64","type":"string"}},"type":"object"},"v1SettleDistressed":{"properties":{"margin":{"title":"Margin value as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places","type":"string"},"marketId":{"title":"Market ID for the event","type":"string"},"partyId":{"title":"Party ID i.e. a party's public key for the event","type":"string"},"price":{"title":"Price as an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places","type":"string"}},"title":"Settle distressed event contains information on distressed trading parties who are closed out","type":"object"},"v1SettleMarket":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"positionFactor":{"title":"Position factor - 10 ^ number of position decimal places","type":"string"},"price":{"title":"Price of settlement as a string","type":"string"}},"title":"Settle market event to notify data node that a market has been settled\nso positions and PL can be updated accordingly","type":"object"},"v1SettlePosition":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"partyId":{"title":"Party ID (public key) for the event","type":"string"},"positionFactor":{"title":"Position factor - 10 ^ number of position decimal places","type":"string"},"price":{"title":"Price of settlement as a string","type":"string"},"tradeSettlements":{"items":{"$ref":"#/components/schemas/v1TradeSettlement"},"title":"A collection of 1 or more trade settlements","type":"array"}},"title":"Settle position event contains position settlement information for a party","type":"object"},"v1Signature":{"description":"Signature to authenticate a transaction and to be verified by the Vega\nnetwork.","properties":{"algo":{"description":"Algorithm used to create the signature.","type":"string"},"value":{"description":"Hex encoded bytes of the signature.","type":"string"},"version":{"description":"Version of the signature used to create the signature.","format":"int64","type":"integer"}},"type":"object"},"v1Signer":{"properties":{"ethAddress":{"$ref":"#/components/schemas/v1ETHAddress","description":"In case of an open oracle - Ethereum address will be submitted."},"pubKey":{"$ref":"#/components/schemas/v1PubKey","description":"List of authorized public keys that signed the data for this\nsource. All the public keys in the data should be contained in these\npublic keys."}},"type":"object"},"v1SpamStatistic":{"properties":{"bannedUntil":{"title":"If blocked the timestamp when the party will be unblocked as RFC3339Nano","type":"string"},"countForEpoch":{"format":"uint64","title":"Current transaction count received from the party during this epoch for this policy","type":"string"},"maxForEpoch":{"format":"uint64","title":"Maximum number of transactions allowed for this policy in an epoch","type":"string"},"minTokensRequired":{"title":"Effective minimum number of tokens required to submit a transaction of this type","type":"string"}},"title":"Statistics for a given spam policy","type":"object"},"v1SpamStatistics":{"properties":{"delegations":{"$ref":"#/components/schemas/v1SpamStatistic","title":"Statistics for delegation transactions made by the party"},"epochSeq":{"format":"uint64","title":"Epoch in which these statistics apply to","type":"string"},"issueSignatures":{"$ref":"#/components/schemas/v1SpamStatistic","title":"Statistics for multisig signatures issued for the party"},"nodeAnnouncements":{"$ref":"#/components/schemas/v1SpamStatistic","title":"Statistics for node announcement transactions made by the party"},"pow":{"$ref":"#/components/schemas/v1PoWStatistic","title":"Statistics for proof of work difficulty observed per block for the party"},"proposals":{"$ref":"#/components/schemas/v1SpamStatistic","title":"Statistics for proposal transactions made by the party"},"transfers":{"$ref":"#/components/schemas/v1SpamStatistic","title":"Statistics for transfer transactions made by the party"},"votes":{"$ref":"#/components/schemas/v1VoteSpamStatistics","title":"Statistics for proposal votes made by the party"}},"title":"Complete spam statistics captured for a given party","type":"object"},"v1StakeLinking":{"properties":{"amount":{"description":"Amount of stake deposited or removed.","type":"string"},"blockHeight":{"description":"Block when the event happened.","format":"uint64","type":"string"},"blockTime":{"description":"Block time.","format":"int64","type":"string"},"ethereumAddress":{"description":"Ethereum address from which the stake link was initiated.","type":"string"},"finalizedAt":{"description":"Time at which the Vega network finalised the state of the event.","format":"int64","type":"string"},"id":{"title":"Internal ID for this staking event","type":"string"},"logIndex":{"description":"Log index.","format":"uint64","type":"string"},"party":{"description":"Party to whom the event is directed at.","type":"string"},"status":{"$ref":"#/components/schemas/v1StakeLinkingStatus","description":"Status of the event."},"ts":{"description":"Timestamp in Unix nanoseconds of when the event was emitted by Ethereum.","format":"int64","type":"string"},"txHash":{"description":"Hash of the transaction in which the event happened.","type":"string"},"type":{"$ref":"#/components/schemas/v1StakeLinkingType","description":"Stake linking event type."}},"title":"StakeLinking - an event notifying of stake being deposited or removed for a given party\nThese events are emitted for every Staking deposit or removed accepted by the network","type":"object"},"v1StakeLinkingStatus":{"default":"STATUS_UNSPECIFIED","enum":["STATUS_UNSPECIFIED","STATUS_PENDING","STATUS_ACCEPTED","STATUS_REJECTED"],"title":"- STATUS_UNSPECIFIED: Default value\n - STATUS_PENDING: Indicates an event waiting for confirmation from the Vega network\n - STATUS_ACCEPTED: Indicates an event accepted by the Vega network\n - STATUS_REJECTED: Indicates an event rejected by the Vega network","type":"string"},"v1StakeLinkingType":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_LINK","TYPE_UNLINK"],"title":"- TYPE_UNSPECIFIED: Default value\n - TYPE_LINK: Indicate of a stake deposit instruction\n - TYPE_UNLINK: Indicate of a stake remove instruction","type":"string"},"v1StateVar":{"properties":{"eventId":{"type":"string"},"id":{"type":"string"},"state":{"type":"string"}},"title":"StateVar event updates on state changes in state variable consensus","type":"object"},"v1Statistics":{"properties":{"accountSubscriptions":{"format":"int64","title":"Current number of stream subscribers to account data","type":"integer"},"appVersion":{"title":"Version of the Vega node software","type":"string"},"appVersionHash":{"title":"Version hash of the Vega node software","type":"string"},"averageOrdersPerBlock":{"format":"uint64","title":"Average orders per block","type":"string"},"averageTxBytes":{"format":"uint64","title":"Average transaction size in bytes","type":"string"},"backlogLength":{"format":"uint64","title":"Current backlog length i.e., number of transactions, that are waiting to be included in a block","type":"string"},"blockDuration":{"format":"uint64","title":"Current block duration, in nanoseconds","type":"string"},"blockHash":{"title":"Current block hash","type":"string"},"blockHeight":{"format":"uint64","title":"Current block height as reported by the Vega blockchain","type":"string"},"candleSubscriptions":{"format":"int64","title":"Current number of stream subscribers to candlestick data","type":"integer"},"chainId":{"title":"Unique ID for the underlying Vega blockchain","type":"string"},"chainVersion":{"title":"Version of the underlying Vega blockchain","type":"string"},"currentTime":{"title":"Current system date and time formatted in ISO-8601 datetime format with nanosecond precision","type":"string"},"epochExpiryTime":{"title":"Epoch expected end time","type":"string"},"epochSeq":{"format":"uint64","title":"Current epoch","type":"string"},"epochStartTime":{"title":"Epoch start time","type":"string"},"eventCount":{"format":"uint64","title":"Number of events in the last block","type":"string"},"eventsPerSecond":{"format":"uint64","title":"Rate of events per second in the last block","type":"string"},"genesisTime":{"title":"Genesis block date and time formatted in ISO-8601 datetime format with nanosecond precision","type":"string"},"marketDataSubscriptions":{"format":"int64","title":"Current number of stream subscribers to market data","type":"integer"},"marketDepthSubscriptions":{"format":"int64","title":"Current number of stream subscribers to market depth data","type":"integer"},"marketDepthUpdatesSubscriptions":{"format":"int64","title":"Current number of stream subscribers to market depth update data","type":"integer"},"orderSubscriptions":{"format":"int64","title":"Current number of stream subscribers to order data","type":"integer"},"ordersPerSecond":{"format":"uint64","title":"Orders processed per second","type":"string"},"positionsSubscriptions":{"format":"int64","title":"Current number of stream subscribers to positions data","type":"integer"},"status":{"$ref":"#/components/schemas/vegaChainStatus","title":"Status of the connection to the Vega blockchain"},"totalAmendOrder":{"format":"uint64","title":"Total number of order amendments since genesis across all markets","type":"string"},"totalCancelOrder":{"format":"uint64","title":"Total number of order cancellations since genesis across all markets","type":"string"},"totalCreateOrder":{"format":"uint64","title":"Total number of order submissions since genesis across all markets","type":"string"},"totalMarkets":{"format":"uint64","title":"Total markets on this Vega network","type":"string"},"totalOrders":{"format":"uint64","title":"Total number of orders processed since genesis across all markets","type":"string"},"totalPeers":{"format":"uint64","title":"Total number of connected peers to this node","type":"string"},"totalTrades":{"format":"uint64","title":"Total number of trades emitted since genesis across all markets","type":"string"},"tradeSubscriptions":{"format":"int64","title":"Current number of stream subscribers to trade data","type":"integer"},"tradesPerSecond":{"format":"uint64","title":"Trades emitted per second","type":"string"},"txPerBlock":{"format":"uint64","title":"Transactions per block","type":"string"},"uptime":{"title":"Total uptime for this node formatted in ISO-8601 datetime format with nanosecond precision","type":"string"},"vegaTime":{"title":"Current Vega date and time formatted in ISO-8601 datetime format with nanosecond precision","type":"string"}},"title":"Vega domain specific statistics as reported by the node the caller is connected to","type":"object"},"v1StatisticsResponse":{"properties":{"statistics":{"$ref":"#/components/schemas/v1Statistics"}},"title":"Response containing statistics about the Vega network","type":"object"},"v1StopOrderEvent":{"properties":{"stopOrder":{"$ref":"#/components/schemas/vegaStopOrder"},"submission":{"$ref":"#/components/schemas/v1OrderSubmission"}},"type":"object"},"v1StopOrderSetup":{"properties":{"expiresAt":{"description":"Optional expiry timestamp.","format":"int64","type":"string"},"expiryStrategy":{"$ref":"#/components/schemas/StopOrderExpiryStrategy","description":"Strategy to adopt if the expiry time is reached."},"orderSubmission":{"$ref":"#/components/schemas/v1OrderSubmission","description":"Order to be submitted once the trigger is breached."
[...]
