{"openapi":"3.0.0","info":{"title":"Vega data node APIs","version":"v0.73.0-preview.16"},"servers":[{"url":"https://api.n00.testnet.vega.rocks","description":"n00 (data node)"},{"url":"https://api.n06.testnet.vega.rocks","description":"n06 (data node)"},{"url":"https://api.n07.testnet.vega.rocks","description":"n07 (data node)"},{"url":"https://api.n08.testnet.vega.rocks","description":"n08 (data node)"},{"url":"https://api.n09.testnet.vega.rocks","description":"n09 (data node)"}],"paths":{"/api/v2/accounts":{"get":{"parameters":[{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold\n - ACCOUNT_TYPE_HOLDING: Per asset account for holding in-flight unfilled orders' funds\n - ACCOUNT_TYPE_LP_LIQUIDITY_FEES: Network controlled liquidity provider's account, per market, to hold accrued liquidity fees.\n - ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION: Network controlled liquidity fees bonus distribution account, per market.\n - ACCOUNT_TYPE_NETWORK_TREASURY: Network controlled treasury\n - ACCOUNT_TYPE_VESTING_REWARDS: Account holding user's rewards for the vesting period\n - ACCOUNT_TYPE_VESTED_REWARDS: Account holding user's rewards after the vesting period\n - ACCOUNT_TYPE_REWARD_AVERAGE_POSITION: Per asset market reward account given for average position\n - ACCOUNT_TYPE_REWARD_RELATIVE_RETURN: Per asset market reward account given for relative return\n - ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY: Per asset market reward account given for return volatility\n - ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING: Per asset market reward account given to validators by their ranking\n - ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD: Per asset account for pending fee referral reward payouts","explode":true,"in":"query","name":"filter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS","ACCOUNT_TYPE_HOLDING","ACCOUNT_TYPE_LP_LIQUIDITY_FEES","ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION","ACCOUNT_TYPE_NETWORK_TREASURY","ACCOUNT_TYPE_VESTING_REWARDS","ACCOUNT_TYPE_VESTED_REWARDS","ACCOUNT_TYPE_REWARD_AVERAGE_POSITION","ACCOUNT_TYPE_REWARD_RELATIVE_RETURN","ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY","ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING","ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD"],"type":"string"},"type":"array"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListAccountsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Accounts"],"description":"Get a list of accounts matching the supplied filter, including their current balances.\nIf a given account has never had a balance, it will be absent from the list.","operationId":"TradingDataService_ListAccounts","summary":"List accounts"}},"/api/v2/asset/{assetId}":{"get":{"parameters":[{"description":"Asset ID to get data for.","in":"path","name":"assetId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetAssetResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a single asset using its ID. Use the assets list query to get an asset's ID","operationId":"TradingDataService_GetAsset","summary":"Get asset"}},"/api/v2/assets":{"get":{"parameters":[{"description":"Optional asset ID to list data for.","in":"query","name":"assetId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListAssetsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a list of assets available on the Vega network","operationId":"TradingDataService_ListAssets","summary":"List assets"}},"/api/v2/balance/changes":{"get":{"parameters":[{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold\n - ACCOUNT_TYPE_HOLDING: Per asset account for holding in-flight unfilled orders' funds\n - ACCOUNT_TYPE_LP_LIQUIDITY_FEES: Network controlled liquidity provider's account, per market, to hold accrued liquidity fees.\n - ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION: Network controlled liquidity fees bonus distribution account, per market.\n - ACCOUNT_TYPE_NETWORK_TREASURY: Network controlled treasury\n - ACCOUNT_TYPE_VESTING_REWARDS: Account holding user's rewards for the vesting period\n - ACCOUNT_TYPE_VESTED_REWARDS: Account holding user's rewards after the vesting period\n - ACCOUNT_TYPE_REWARD_AVERAGE_POSITION: Per asset market reward account given for average position\n - ACCOUNT_TYPE_REWARD_RELATIVE_RETURN: Per asset market reward account given for relative return\n - ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY: Per asset market reward account given for return volatility\n - ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING: Per asset market reward account given to validators by their ranking\n - ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD: Per asset account for pending fee referral reward payouts","explode":true,"in":"query","name":"filter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS","ACCOUNT_TYPE_HOLDING","ACCOUNT_TYPE_LP_LIQUIDITY_FEES","ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION","ACCOUNT_TYPE_NETWORK_TREASURY","ACCOUNT_TYPE_VESTING_REWARDS","ACCOUNT_TYPE_VESTED_REWARDS","ACCOUNT_TYPE_REWARD_AVERAGE_POSITION","ACCOUNT_TYPE_REWARD_RELATIVE_RETURN","ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY","ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING","ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD"],"type":"string"},"type":"array"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListBalanceChangesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Accounts"],"description":"Get a list of the changes in account balances over a period of time.","operationId":"TradingDataService_ListBalanceChanges","summary":"List balance changes"}},"/api/v2/candle":{"get":{"parameters":[{"description":"Candle ID to retrieve candle data for.","in":"query","name":"candleId","required":true,"schema":{"type":"string"}},{"description":"Timestamp in Unix nanoseconds to retrieve candles from.","in":"query","name":"fromTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds to retrieve candles to.","in":"query","name":"toTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListCandleDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Candles"],"description":"Get a list of candle data for a given candle ID. Candle IDs can be obtained by calling list-candle-intervals","operationId":"TradingDataService_ListCandleData","summary":"List candle data"}},"/api/v2/candle/intervals":{"get":{"parameters":[{"description":"Unique ID for the market to list candle intervals for.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListCandleIntervalsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Candles"],"description":"Get a list of all available intervals for a given market along with the corresponding candle ID","operationId":"TradingDataService_ListCandleIntervals","summary":"List candle intervals"}},"/api/v2/checkpoints":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListCheckpointsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of information about checkpoints generated by the network","operationId":"TradingDataService_ListCheckpoints","summary":"List checkpoints"}},"/api/v2/delegations":{"get":{"parameters":[{"description":"Restrict delegations to those made by the given party ID.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Restrict delegations to those made to the given node ID.","in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"description":"Return delegations made in the given epoch. If not set, delegations for the current epoch will be returned.","in":"query","name":"epochId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListDelegationsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of the token delegations on the network","operationId":"TradingDataService_ListDelegations","summary":"List delegations"}},"/api/v2/deposit/{id}":{"get":{"parameters":[{"description":"Deposit ID to return data for.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetDepositResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a deposit by its ID","operationId":"TradingDataService_GetDeposit","summary":"Get deposit"}},"/api/v2/deposits":{"get":{"parameters":[{"description":"Restrict deposits to those made by the given party ID.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListDepositsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a list of deposits for a given party.\nIf a date range is provided, filtering will be based on the last time the deposit\nhas been updated in Vega time.","operationId":"TradingDataService_ListDeposits","summary":"List deposits"}},"/api/v2/epoch":{"get":{"parameters":[{"description":"Epoch ID. If provided, returns the epoch with the given ID.","in":"query","name":"id","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Block height. If provided, returns the epoch that the given block is in.","in":"query","name":"block","required":false,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetEpochResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get data for a specific epoch, if ID is omitted, it retrieves the current epoch","operationId":"TradingDataService_GetEpoch","summary":"Get epoch"}},"/api/v2/erc20/asset/limits/bundle":{"get":{"parameters":[{"description":"Proposal ID of the asset update proposal.","in":"query","name":"proposalId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetERC20SetAssetLimitsBundleResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get the signature bundle to update the token limits. These are `maxLifetimeDeposit` and `withdrawThreshold` for a given ERC20 token that is\nalready allowlisted in the collateral bridge.","operationId":"TradingDataService_GetERC20SetAssetLimitsBundle","summary":"Get ERC20 set asset limits bundle"}},"/api/v2/erc20/asset/list/bundle":{"get":{"parameters":[{"description":"Asset ID of the asset bundle requested.","in":"query","name":"assetId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetERC20ListAssetBundleResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get the signatures bundle to allowlist an ERC20 token in the collateral bridge","operationId":"TradingDataService_GetERC20ListAssetBundle","summary":"Get ERC20 list asset bundle"}},"/api/v2/erc20/asset/withdrawal/bundle":{"get":{"parameters":[{"description":"Withdrawal ID to retrieve.","in":"query","name":"withdrawalId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetERC20WithdrawalApprovalResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get the signature bundle to finalise a withdrawal on Ethereum","operationId":"TradingDataService_GetERC20WithdrawalApproval","summary":"Get ERC20 withdrawal approval"}},"/api/v2/erc20/multisigcontrol/signer/added/bundles":{"get":{"parameters":[{"description":"Node ID of the validator for which a signature bundle is required.","in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"description":"Ethereum address of the validator that will submit the bundle.","in":"query","name":"submitter","required":false,"schema":{"type":"string"}},{"description":"Epoch in which the bundle was generated, i.e. the epoch in which the node was promoted to consensus validator.","in":"query","name":"epochSeq","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListERC20MultiSigSignerAddedBundlesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get a list of the signature bundles to add a particular validator to the signer list of the multisig contract","operationId":"TradingDataService_ListERC20MultiSigSignerAddedBundles","summary":"List ERC20 multi-sig signer added bundles"}},"/api/v2/erc20/multisigcontrol/signer/removed/bundles":{"get":{"parameters":[{"description":"Node ID of the validator of which a signature bundle is required.","in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"description":"Ethereum address of the validator that will submit the bundle.","in":"query","name":"submitter","required":false,"schema":{"type":"string"}},{"description":"Epoch in which the bundle was generated, i.e. the epoch in which the node was demoted from a consensus validator.","in":"query","name":"epochSeq","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListERC20MultiSigSignerRemovedBundlesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get a list of the signature bundles to remove a particular validator from signer list of the multisig contract","operationId":"TradingDataService_ListERC20MultiSigSignerRemovedBundles","summary":"List ERC20 multi-sig signer removed bundles"}},"/api/v2/estimate/fee":{"get":{"parameters":[{"description":"Market ID, used to specify the fee factors.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Price at which the potential order is expected to trade.","in":"query","name":"price","required":true,"schema":{"type":"string"}},{"description":"Size at which the potential order is expected to trade.","in":"query","name":"size","required":true,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2EstimateFeeResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Estimate the fee that would be incurred for submitting an order\nwith the specified price and size on the market.","operationId":"TradingDataService_EstimateFee","summary":"Estimate fee"}},"/api/v2/estimate/margin":{"get":{"parameters":[{"description":"Market ID for the order.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Party ID of the order.","in":"query","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Order side - indicator for Seller or Buyer side.\n\n - SIDE_UNSPECIFIED: Default value, always invalid\n - SIDE_BUY: Buy order\n - SIDE_SELL: Sell order","in":"query","name":"side","required":false,"schema":{"default":"SIDE_UNSPECIFIED","enum":["SIDE_UNSPECIFIED","SIDE_BUY","SIDE_SELL"],"type":"string"}},{"description":"Type of the order.\n\n - TYPE_UNSPECIFIED: Default value, always invalid\n - TYPE_LIMIT: Used for Limit orders\n - TYPE_MARKET: Used for Market orders\n - TYPE_NETWORK: Used for orders where the initiating party is the network (with distressed parties)","in":"query","name":"type","required":false,"schema":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_LIMIT","TYPE_MARKET","TYPE_NETWORK"],"type":"string"}},{"description":"Size of order.","in":"query","name":"size","required":true,"schema":{"format":"uint64","type":"string"}},{"description":"Price of the asset.","in":"query","name":"price","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2EstimateMarginResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Estimate the margin that would be required for submitting this order","operationId":"TradingDataService_EstimateMargin","summary":"Estimate margin"}},"/api/v2/estimate/position":{"get":{"parameters":[{"description":"Market ID to estimate position for.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Open volume. This field is a signed integer scaled to the market's position decimal places.\nA negative number denotes a short position.","in":"query","name":"openVolume","required":true,"schema":{"format":"int64","type":"string"}},{"description":"Optional argument specifying collateral available for the position, if provided then response will contain the liquidation price estimate.\nCollateral available needs to be provided scaled to asset decimal places. Liquidation price returned is scaled to asset decimal places by default.","in":"query","name":"collateralAvailable","required":false,"schema":{"type":"string"}},{"description":"Argument specifying if the liquidation price estimates should be scaled to market decimal places, by default they are scaled to asset decimal places.","in":"query","name":"scaleLiquidationPriceToMarketDecimals","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2EstimatePositionResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Positions"],"description":"Estimate the margin that would be required for maintaining the specified position. Margin estimates are scaled to asset decimal places.\nIf the optional collateral available argument is supplied, the response also contains the estimate of the liquidation price.\nLiquidation price estimates are scaled to asset decimal places by default, unless an argument to scale to market decimal places is specified in the request.","operationId":"TradingDataService_EstimatePosition","summary":"Estimate position"}},"/api/v2/fees/stats":{"get":{"parameters":[{"description":"Market ID to get referral fee statistics for. If omitted, asset ID must be provided.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Asset ID to get referral fee statistics for. If omitted, market ID must be provided.","in":"query","name":"assetId","required":false,"schema":{"type":"string"}},{"description":"Epoch to get referral fee statistics for. If omitted, the last epoch published is used.","in":"query","name":"epochSeq","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Referrer party ID to filter the statistics for.","in":"query","name":"referrer","required":false,"schema":{"type":"string"}},{"description":"Referee party ID to filter the statistics for.","in":"query","name":"referee","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetFeesStatsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Fees"],"description":"Gets accumulated fees, rewards, and applied discount information for a given asset or market for the latest epoch\nor a specific epoch.","operationId":"TradingDataService_GetFeesStats","summary":"Get fees statistics"}},"/api/v2/funding-payments":{"get":{"parameters":[{"description":"Party ID to get funding payment for.","in":"query","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Restrict funding payments returned to those generated by the given market.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListFundingPaymentsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of data points for a perpetual market's funding payment for a party.","operationId":"TradingDataService_ListFundingPayments","summary":"List funding payments for a party"}},"/api/v2/funding-periods/data-points/{marketId}":{"get":{"parameters":[{"description":"Market ID to get funding period data points for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Restrict the data points to those with the given source type.\n\n - SOURCE_UNSPECIFIED: Default value\n - SOURCE_EXTERNAL: Data point is from an external data source, such as an oracle, and represents the spot price of the underlying asset.\n - SOURCE_INTERNAL: Data point from within Vega such as the mark price after performing mark-to-market.","in":"query","name":"source","required":false,"schema":{"default":"SOURCE_UNSPECIFIED","enum":["SOURCE_UNSPECIFIED","SOURCE_EXTERNAL","SOURCE_INTERNAL"],"type":"string"}},{"description":"Restrict the data points to those that contributed to the given funding period sequence.","in":"query","name":"seq","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListFundingPeriodDataPointsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of data points for a perpetual market's funding periods.","operationId":"TradingDataService_ListFundingPeriodDataPoints","summary":"List funding period data points"}},"/api/v2/funding-periods/{marketId}":{"get":{"parameters":[{"description":"Market ID to get funding periods for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListFundingPeriodsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of funding periods for a perpetual market.","operationId":"TradingDataService_ListFundingPeriods","summary":"List funding periods"}},"/api/v2/governance":{"get":{"parameters":[{"description":"Proposal ID to get governance data for, if provided.","in":"query","name":"proposalId","required":false,"schema":{"type":"string"}},{"description":"Reference to get proposal data for, if provided.","in":"query","name":"reference","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetGovernanceDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Governance"],"description":"Get a single proposal's details either by proposal ID or by reference","operationId":"TradingDataService_GetGovernanceData","summary":"Get governance data"}},"/api/v2/governances":{"get":{"parameters":[{"description":"Restrict proposals to those with the given state.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted i.e. proposal terms failed validation due to wrong configuration or failed to meet network requirements.\n - STATE_DECLINED: Proposal didn't get enough votes, e.g. either failed to gain required participation or majority level.\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","in":"query","name":"proposalState","required":false,"schema":{"default":"STATE_UNSPECIFIED","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"type":"string"}},{"description":"Restrict proposals to those with the given type.\n\n - TYPE_ALL: List all proposals\n - TYPE_NEW_MARKET: List new market proposals\n - TYPE_UPDATE_MARKET: List update market proposals\n - TYPE_NETWORK_PARAMETERS: List change Vega network parameter proposals\n - TYPE_NEW_ASSET: New asset proposals\n - TYPE_NEW_FREE_FORM: Proposals for creating a new free form proposal\n - TYPE_UPDATE_ASSET: Update asset proposals\n - TYPE_NEW_SPOT_MARKET: Propose a new spot market\n - TYPE_UPDATE_SPOT_MARKET: Update an existing spot market\n - TYPE_NEW_TRANSFER: Propose a new transfer\n - TYPE_CANCEL_TRANSFER: Proposal to cancel a transfer\n - TYPE_UPDATE_MARKET_STATE: Proposal for updating the state of a market\n - TYPE_UPDATE_REFERRAL_PROGRAM: Proposal to update the referral program\n - TYPE_UPDATE_VOLUME_DISCOUNT_PROGRAM: Proposal to update the volume discount program","in":"query","name":"proposalType","required":false,"schema":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_ALL","TYPE_NEW_MARKET","TYPE_UPDATE_MARKET","TYPE_NETWORK_PARAMETERS","TYPE_NEW_ASSET","TYPE_NEW_FREE_FORM","TYPE_UPDATE_ASSET","TYPE_NEW_SPOT_MARKET","TYPE_UPDATE_SPOT_MARKET","TYPE_NEW_TRANSFER","TYPE_CANCEL_TRANSFER","TYPE_UPDATE_MARKET_STATE","TYPE_UPDATE_REFERRAL_PROGRAM","TYPE_UPDATE_VOLUME_DISCOUNT_PROGRAM"],"type":"string"}},{"description":"Restrict proposals to those proposed by the given party ID.","in":"query","name":"proposerPartyId","required":false,"schema":{"type":"string"}},{"description":"Restrict proposals to those with the given reference.","in":"query","name":"proposalReference","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListGovernanceDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Governance"],"description":"Get a list of proposals","operationId":"TradingDataService_ListGovernanceData","summary":"List governance data"}},"/api/v2/info":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2InfoResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Node information"],"description":"Get information about the data node.\nResponse contains a semver formatted version of the data node and the commit hash, from which the data node was built","operationId":"TradingDataService_Info","summary":"Data node information"}},"/api/v2/ledgerentry/export":{"get":{"parameters":[{"description":"Restrict exported ledger entries to those relating to the given party ID.","in":"query","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Restrict exported ledger entries to those relating to the given asset ID.","in":"query","name":"assetId","required":false,"schema":{"type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"error":{"$ref":"#/components/schemas/googlerpcStatus"},"result":{"$ref":"#/components/schemas/apiHttpBody"}},"title":"Stream result of apiHttpBody","type":"object"}}},"description":"A successful response.(streaming responses)"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Ledger entries"],"description":"Export ledger entries records ledger entries to a csv file.\nMay or may not contain a date range - if no date range is provided, list all records for all times.\n\nLedger entries can be exported by:\n  - export ledger entries for a single party for a given asset within a given time range\n  - export ledger entries for a single party for a given asset for all times\nbuf:lint:ignore RPC_RESPONSE_STANDARD_NAME\nbuf:lint:ignore RPC_REQUEST_RESPONSE_UNIQUE","operationId":"TradingDataService_ExportLedgerEntries","summary":"Export ledger entries"}},"/api/v2/ledgerentry/history":{"get":{"parameters":[{"description":"Determines whether an entry must have accounts matching both the account_from_filter\nand the account_to_filter. If set to 'true', entries must have matches in both filters.\nIf set to `false`, entries matching only the account_from_filter or the account_to_filter will also be included.","in":"query","name":"filter.closeOnAccountFilters","required":false,"schema":{"type":"boolean"}},{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.fromAccountFilter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.fromAccountFilter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.fromAccountFilter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold\n - ACCOUNT_TYPE_HOLDING: Per asset account for holding in-flight unfilled orders' funds\n - ACCOUNT_TYPE_LP_LIQUIDITY_FEES: Network controlled liquidity provider's account, per market, to hold accrued liquidity fees.\n - ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION: Network controlled liquidity fees bonus distribution account, per market.\n - ACCOUNT_TYPE_NETWORK_TREASURY: Network controlled treasury\n - ACCOUNT_TYPE_VESTING_REWARDS: Account holding user's rewards for the vesting period\n - ACCOUNT_TYPE_VESTED_REWARDS: Account holding user's rewards after the vesting period\n - ACCOUNT_TYPE_REWARD_AVERAGE_POSITION: Per asset market reward account given for average position\n - ACCOUNT_TYPE_REWARD_RELATIVE_RETURN: Per asset market reward account given for relative return\n - ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY: Per asset market reward account given for return volatility\n - ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING: Per asset market reward account given to validators by their ranking\n - ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD: Per asset account for pending fee referral reward payouts","explode":true,"in":"query","name":"filter.fromAccountFilter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS","ACCOUNT_TYPE_HOLDING","ACCOUNT_TYPE_LP_LIQUIDITY_FEES","ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION","ACCOUNT_TYPE_NETWORK_TREASURY","ACCOUNT_TYPE_VESTING_REWARDS","ACCOUNT_TYPE_VESTED_REWARDS","ACCOUNT_TYPE_REWARD_AVERAGE_POSITION","ACCOUNT_TYPE_REWARD_RELATIVE_RETURN","ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY","ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING","ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD"],"type":"string"},"type":"array"}},{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.toAccountFilter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.toAccountFilter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.toAccountFilter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold\n - ACCOUNT_TYPE_HOLDING: Per asset account for holding in-flight unfilled orders' funds\n - ACCOUNT_TYPE_LP_LIQUIDITY_FEES: Network controlled liquidity provider's account, per market, to hold accrued liquidity fees.\n - ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION: Network controlled liquidity fees bonus distribution account, per market.\n - ACCOUNT_TYPE_NETWORK_TREASURY: Network controlled treasury\n - ACCOUNT_TYPE_VESTING_REWARDS: Account holding user's rewards for the vesting period\n - ACCOUNT_TYPE_VESTED_REWARDS: Account holding user's rewards after the vesting period\n - ACCOUNT_TYPE_REWARD_AVERAGE_POSITION: Per asset market reward account given for average position\n - ACCOUNT_TYPE_REWARD_RELATIVE_RETURN: Per asset market reward account given for relative return\n - ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY: Per asset market reward account given for return volatility\n - ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING: Per asset market reward account given to validators by their ranking\n - ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD: Per asset account for pending fee referral reward payouts","explode":true,"in":"query","name":"filter.toAccountFilter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS","ACCOUNT_TYPE_HOLDING","ACCOUNT_TYPE_LP_LIQUIDITY_FEES","ACCOUNT_TYPE_LIQUIDITY_FEES_BONUS_DISTRIBUTION","ACCOUNT_TYPE_NETWORK_TREASURY","ACCOUNT_TYPE_VESTING_REWARDS","ACCOUNT_TYPE_VESTED_REWARDS","ACCOUNT_TYPE_REWARD_AVERAGE_POSITION","ACCOUNT_TYPE_REWARD_RELATIVE_RETURN","ACCOUNT_TYPE_REWARD_RETURN_VOLATILITY","ACCOUNT_TYPE_REWARD_VALIDATOR_RANKING","ACCOUNT_TYPE_PENDING_FEE_REFERRAL_REWARD"],"type":"string"},"type":"array"}},{"description":"List of transfer types that is used for filtering sender and receiver accounts.\n\n - TRANSFER_TYPE_UNSPECIFIED: Default value, always invalid\n - TRANSFER_TYPE_LOSS: Funds deducted after final settlement loss\n - TRANSFER_TYPE_WIN: Funds added to general account after final settlement gain\n - TRANSFER_TYPE_MTM_LOSS: Funds deducted from margin account after mark to market loss\n - TRANSFER_TYPE_MTM_WIN: Funds added to margin account after mark to market gain\n - TRANSFER_TYPE_MARGIN_LOW: Funds transferred from general account to meet margin requirement\n - TRANSFER_TYPE_MARGIN_HIGH: Excess margin amount returned to general account\n - TRANSFER_TYPE_MARGIN_CONFISCATED: Margin confiscated from margin account to fulfil closeout\n - TRANSFER_TYPE_MAKER_FEE_PAY: Maker fee paid from general account\n - TRANSFER_TYPE_MAKER_FEE_RECEIVE: Maker fee received into general account\n - TRANSFER_TYPE_INFRASTRUCTURE_FEE_PAY: Infrastructure fee paid from general account\n - TRANSFER_TYPE_INFRASTRUCTURE_FEE_DISTRIBUTE: Infrastructure fee received into general account\n - TRANSFER_TYPE_LIQUIDITY_FEE_PAY: Liquidity fee paid from general account\n - TRANSFER_TYPE_LIQUIDITY_FEE_DISTRIBUTE: Liquidity fee received into general account\n - TRANSFER_TYPE_BOND_LOW: Bond account funded from general account to meet required bond amount\n - TRANSFER_TYPE_BOND_HIGH: Bond returned to general account after liquidity commitment was reduced\n - TRANSFER_TYPE_WITHDRAW: Funds withdrawn from general account\n - TRANSFER_TYPE_DEPOSIT: Funds deposited to general account\n - TRANSFER_TYPE_BOND_SLASHING: Bond account penalised when liquidity commitment not met\n - TRANSFER_TYPE_REWARD_PAYOUT: Reward payout received\n - TRANSFER_TYPE_TRANSFER_FUNDS_SEND: Internal Vega network instruction for the collateral engine to move funds from a user's general account into the pending transfers pool\n - TRANSFER_TYPE_TRANSFER_FUNDS_DISTRIBUTE: Internal Vega network instruction for the collateral engine to move funds from the pending transfers pool account into the destination account\n - TRANSFER_TYPE_CLEAR_ACCOUNT: Market-related accounts emptied because market has closed\n - TRANSFER_TYPE_CHECKPOINT_BALANCE_RESTORE: Balances restored after network restart\n - TRANSFER_TYPE_SPOT: Spot trade delivery\n - TRANSFER_TYPE_HOLDING_LOCK: An internal instruction to transfer a quantity corresponding to an active spot order from a general account into a party holding account.\n - TRANSFER_TYPE_HOLDING_RELEASE: An internal instruction to transfer an excess quantity corresponding to an active spot order from a holding account into a party general account.\n - TRANSFER_TYPE_SUCCESSOR_INSURANCE_FRACTION: Insurance pool fraction transfer from parent to successor market.\n - TRANSFER_TYPE_LIQUIDITY_FEE_ALLOCATE: Allocates liquidity fee earnings to each liquidity provider's network controlled liquidity fee account.\n - TRANSFER_TYPE_LIQUIDITY_FEE_NET_DISTRIBUTE: Distributes net fee earnings from liquidity provider's fee account to their general account.\n - TRANSFER_TYPE_SLA_PENALTY_BOND_APPLY: Applies SLA penalty by moving funds from party's bond account to market's insurance pool.\n - TRANSFER_TYPE_SLA_PENALTY_LP_FEE_APPLY: Applies SLA penalty by moving funds from the liquidity provider's fee account to market insurance pool.\n - TRANSFER_TYPE_LIQUIDITY_FEE_UNPAID_COLLECT: Collects penalties from the liquidity provider's fee account before the fee revenue is paid, and transfers it to the market's bonus distribution account.\n - TRANSFER_TYPE_SLA_PERFORMANCE_BONUS_DISTRIBUTE: Distributes performance bonus from market bonus to liquidity provider's general account.\n - TRANSFER_TYPE_PERPETUALS_FUNDING_LOSS: Funds deducted from margin account after a perpetuals funding loss.\n - TRANSFER_TYPE_PERPETUALS_FUNDING_WIN: Funds added to margin account after a perpetuals funding gain.\n - TRANSFER_TYPE_REWARDS_VESTED: Funds moved from the vesting account to the vested account once the vesting period is reached.\n - TRANSFER_TYPE_FEE_REFERRER_REWARD_PAY: Fee referrer reward paid from general account.\n - TRANSFER_TYPE_FEE_REFERRER_REWARD_DISTRIBUTE: Fee referrer reward received into general account of the referrer.","explode":true,"in":"query","name":"filter.transferTypes","required":false,"schema":{"items":{"enum":["TRANSFER_TYPE_UNSPECIFIED","TRANSFER_TYPE_LOSS","TRANSFER_TYPE_WIN","TRANSFER_TYPE_MTM_LOSS","TRANSFER_TYPE_MTM_WIN","TRANSFER_TYPE_MARGIN_LOW","TRANSFER_TYPE_MARGIN_HIGH","TRANSFER_TYPE_MARGIN_CONFISCATED","TRANSFER_TYPE_MAKER_FEE_PAY","TRANSFER_TYPE_MAKER_FEE_RECEIVE","TRANSFER_TYPE_INFRASTRUCTURE_FEE_PAY","TRANSFER_TYPE_INFRASTRUCTURE_FEE_DISTRIBUTE","TRANSFER_TYPE_LIQUIDITY_FEE_PAY","TRANSFER_TYPE_LIQUIDITY_FEE_DISTRIBUTE","TRANSFER_TYPE_BOND_LOW","TRANSFER_TYPE_BOND_HIGH","TRANSFER_TYPE_WITHDRAW","TRANSFER_TYPE_DEPOSIT","TRANSFER_TYPE_BOND_SLASHING","TRANSFER_TYPE_REWARD_PAYOUT","TRANSFER_TYPE_TRANSFER_FUNDS_SEND","TRANSFER_TYPE_TRANSFER_FUNDS_DISTRIBUTE","TRANSFER_TYPE_CLEAR_ACCOUNT","TRANSFER_TYPE_CHECKPOINT_BALANCE_RESTORE","TRANSFER_TYPE_SPOT","TRANSFER_TYPE_HOLDING_LOCK","TRANSFER_TYPE_HOLDING_RELEASE","TRANSFER_TYPE_SUCCESSOR_INSURANCE_FRACTION","TRANSFER_TYPE_LIQUIDITY_FEE_ALLOCATE","TRANSFER_TYPE_LIQUIDITY_FEE_NET_DISTRIBUTE","TRANSFER_TYPE_SLA_PENALTY_BOND_APPLY","TRANSFER_TYPE_SLA_PENALTY_LP_FEE_APPLY","TRANSFER_TYPE_LIQUIDITY_FEE_UNPAID_COLLECT","TRANSFER_TYPE_SLA_PERFORMANCE_BONUS_DISTRIBUTE","TRANSFER_TYPE_PERPETUALS_FUNDING_LOSS","TRANSFER_TYPE_PERPETUALS_FUNDING_WIN","TRANSFER_TYPE_REWARDS_VESTED","TRANSFER_TYPE_FEE_REFERRER_REWARD_PAY","TRANSFER_TYPE_FEE_REFERRER_REWARD_DISTRIBUTE"],"type":"string"},"type":"array"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLedgerEntriesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Ledger entries"],"description":"Get a list of ledger entries within the given date range.\nThis query requests and sums the number of ledger entries from a given subset of accounts, specified via the 'filter' argument.\nIt returns a time series - implemented as a list of AggregateLedgerEntry structs - with a row for every time\nthe summed ledger entries of the set of specified accounts changes.\nEach account filter must contain no more than one party ID.\n\nEntries can be filtered by:\n  - the sending account (market ID, asset ID, account type)\n  - receiving account (market ID, asset ID, account type)\n  - sending AND receiving account\n  - transfer type either in addition to the above filters or as a standalone option","operationId":"TradingDataService_ListLedgerEntries","summary":"List ledger entries"}},"/api/v2/liquidity/providers":{"get":{"parameters":[{"description":"Market ID to retrieve liquidity providers for. If omitted, you must provide a party ID.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Party ID to retrieve data for. If omitted, you must provide a market ID.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLiquidityProvidersResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Liquidity providers"],"description":"List information about active liquidity provider(s) for a given market, or liquidity provider's party ID.","operationId":"TradingDataService_ListLiquidityProviders","summary":"List liquidity providers data"}},"/api/v2/liquidity/provisions":{"get":{"parameters":[{"description":"Restrict liquidity provision orders to those placed on the given market.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Restrict liquidity provision orders to those placed by the given party.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Restrict liquidity provision orders to those with the given order reference.","in":"query","name":"reference","required":false,"schema":{"type":"string"}},{"description":"Whether to include live liquidity provision orders. If not set, live orders will not be included.","in":"query","name":"live","required":false,"schema":{"type":"boolean"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLiquidityProvisionsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Liquidity provisions"],"description":"Get a list of liquidity provisions for a given market","operationId":"TradingDataService_ListLiquidityProvisions","summary":"List liquidity provisions"}},"/api/v2/margin/levels":{"get":{"parameters":[{"description":"Party ID for which to list the margin levels.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Market ID for which to list the margin levels.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListMarginLevelsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Margin levels"],"description":"Get a list margin levels that match the provided criteria. If no filter is provided, all margin levels will be returned.","operationId":"TradingDataService_ListMarginLevels","summary":"List margin levels"}},"/api/v2/market/data/{marketId}":{"get":{"parameters":[{"description":"Market ID to request data history for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the start of the date range.","in":"query","name":"startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp in Unix nanoseconds indicating the end of the date range.","in":"query","name":"endTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetMarketDataHistoryByIDResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get market data history for a market ID from between a given date range","operationId":"TradingDataService_GetMarketDataHistoryByID","summary":"Get market data history"}},"/api/v2/market/data/{marketId}/latest":{"get":{"parameters":[{"description":"Market ID to retrieve market data for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetLatestMarketDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get the latest market data for a given market","operationId":"TradingDataService_GetLatestMarketData","summary":"Get latest market data"}},"/api/v2/market/depth/{marketId}/latest":{"get":{"parameters":[{"description":"Market ID to request market depth for, required field.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Maximum market depth.","in":"query","name":"maxDepth","required":false,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetLatestMarketDepthResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get the latest market depth for a given market","operationId":"TradingDataService_GetLatestMarketDepth","summary":"Get latest market depth"}},"/api/v2/market/{marketId}":{"get":{"parameters":[{"description":"Market ID of the market to retrieve data for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetMarketResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get information about a specific market using its ID. A market's ID will be the same as the ID of the proposal that\ngenerated it","operationId":"TradingDataService_GetMarket","summary":"Get market"}},"/api/v2/market/{marketId}/trade/latest":{"get":{"parameters":[{"description":"Market ID to retrieve the last trade for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetLastTradeResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Trades"],"description":"Get the last trade made for a given market.","operationId":"TradingDataService_GetLastTrade","summary":"Get last trade"}},"/api/v2/markets":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"description":"Whether to include settled markets. If not set, settled markets will be included.","in":"query","name":"includeSettled","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListMarketsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of markets","operationId":"TradingDataService_ListMarkets","summary":"List markets"}},"/api/v2/markets/data":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLatestMarketDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of the latest market data for every market","operationId":"TradingDataService_ListLatestMarketData","summary":"List latest market data"}},"/api/v2/network/data":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get data regarding the nodes of the network","operationId":"TradingDataService_GetNetworkData","summary":"Get network data"}},"/api/v2/network/limits":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkLimitsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get the network limits relating to asset and market creation","operationId":"TradingDataService_GetNetworkLimits","summary":"Get network limits"}},"/api/v2/network/parameters":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Whether to order the results with the newest records first. If not set, the default value is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListNetworkParametersResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of the network parameter keys and their values","operationId":"TradingDataService_ListNetworkParameters","summary":"List network parameters"}},"/api/v2/network/parameters/{key}":{"get":{"parameters":[{"description":"Key identifying the network parameter.","in":"path","name":"key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkParameterResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a network parameter's value by its key","operationId":"TradingDataService_GetNetworkParameter","summary":"Get network parameter"}},"/api/v2/networkhistory":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkHistoryStatusResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network history"],"description":"Get information about the current state of network history's IPFS swarm","operationId":"TradingDataService_GetNetworkHistoryStatus","summary":"Network history status"}},"/api/v2/networkhistory/bootstrap":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkHistoryBootstrapPeersResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network history"],"description":"Get a list of IPFS peers that can be used to initialise a new data node with network history","operationId":"TradingDataService_GetNetworkHistoryBootstrapPeers","summary":"Network history bootstrap peers"}},"/api/v2/networkhistory/export":{"get":{"parameters":[{"description":"Block to begin exporting from. Must be the first block of a history segment,\nwhich by default are 1000 blocks each; in that case - 1, 1001, 2001 etc. are valid values.\nThis can be checked by first calling the API to list all network history segments.","in":"query","name":"fromBlock","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Last block to export up to and including. Must be the last block of a history segment\nwhich by default are 1000 blocks each; in that case - 1000, 2000, 3000 etc. are valid values.\nThis can be checked by first calling the API to list all network history segments.","in":"query","name":"toBlock","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Table to export data from.","in":"query","name":"table","required":false,"schema":{"default":"TABLE_UNSPECIFIED","enum":["TABLE_UNSPECIFIED","TABLE_BALANCES","TABLE_CHECKPOINTS","TABLE_DELEGATIONS","TABLE_LEDGER","TABLE_ORDERS","TABLE_TRADES","TABLE_MARKET_DATA","TABLE_MARGIN_LEVELS","TABLE_POSITIONS","TABLE_LIQUIDITY_PROVISIONS","TABLE_MARKETS","TABLE_DEPOSITS","TABLE_WITHDRAWALS","TABLE_BLOCKS","TABLE_REWARDS"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"error":{"$ref":"#/components/schemas/googlerpcStatus"},"result":{"$ref":"#/components/schemas/apiHttpBody"}},"title":"Stream result of apiHttpBody","type":"object"}}},"description":"A successful response.(streaming responses)"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/
[...]
