{"openapi":"3.0.0","info":{"title":"Vega block explorer APIs","version":"v0.71.1"},"servers":[{"url":"https://be.testnet.vega.xyz/rest","description":"Block Explorer"}],"paths":{"/info":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1InfoResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["BlockExplorer"],"description":"Get information about the block explorer.\nResponse contains a semver formatted version of the data node and the commit hash, from which the block explorer was built","operationId":"BlockExplorer_Info","summary":"Info"}},"/transactions":{"get":{"parameters":[{"description":"Number of transactions to be returned from the blockchain.","in":"query","name":"limit","required":false,"schema":{"format":"int64","type":"integer"}},{"description":"Optional cursor to paginate the request.","in":"query","name":"before","required":false,"schema":{"type":"string"}},{"description":"Optional cursor to paginate the request.","in":"query","name":"after","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListTransactionsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["BlockExplorer"],"description":"List transactions from the Vega blockchain","operationId":"BlockExplorer_ListTransactions","summary":"List transactions"}},"/transactions/{hash}":{"get":{"parameters":[{"description":"Hash of the transaction","in":"path","name":"hash","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["BlockExplorer"],"description":"Get a transaction from the Vega blockchain","operationId":"BlockExplorer_GetTransaction","summary":"Get transaction"}}},"components":{"schemas":{"ConditionOperator":{"default":"OPERATOR_UNSPECIFIED","description":"Operator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue.","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"type":"string"},"OracleDataSubmissionOracleSource":{"default":"ORACLE_SOURCE_UNSPECIFIED","description":"- ORACLE_SOURCE_UNSPECIFIED: Default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data","enum":["ORACLE_SOURCE_UNSPECIFIED","ORACLE_SOURCE_OPEN_ORACLE","ORACLE_SOURCE_JSON"],"title":"Supported oracle sources","type":"string"},"OrderTimeInForce":{"default":"TIME_IN_FORCE_UNSPECIFIED","description":"- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, the order either trades completely i.e. remainingSize == 0 after adding,\nor not at all, and does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)","enum":["TIME_IN_FORCE_UNSPECIFIED","TIME_IN_FORCE_GTC","TIME_IN_FORCE_GTT","TIME_IN_FORCE_IOC","TIME_IN_FORCE_FOK","TIME_IN_FORCE_GFA","TIME_IN_FORCE_GFN"],"title":"Time In Force for an order","type":"string"},"UndelegateSubmissionMethod":{"default":"METHOD_UNSPECIFIED","enum":["METHOD_UNSPECIFIED","METHOD_NOW","METHOD_AT_END_OF_EPOCH"],"type":"string"},"blockexplorerapiv1Transaction":{"properties":{"block":{"format":"uint64","title":"Height of the block the transaction was found in","type":"string"},"code":{"format":"int64","title":"Results code of the transaction. 0 indicates the transaction was successful","type":"integer"},"command":{"$ref":"#/components/schemas/v1InputData","title":"Actual command of the transaction"},"cursor":{"title":"Cursor for this transaction. This is used for paginating results","type":"string"},"error":{"title":"Optional error happening when processing / checking the transaction\nThis should be set if error code is not 0","type":"string"},"hash":{"title":"Hash of the transaction","type":"string"},"index":{"format":"int64","title":"Index of the transaction in the block","type":"integer"},"signature":{"$ref":"#/components/schemas/v1Signature","title":"Signature generated by the submitter for the transaction"},"submitter":{"title":"Vega public key of the transaction's submitter","type":"string"},"type":{"title":"Type of transaction","type":"string"}},"type":"object"},"commandsv1Transfer":{"properties":{"amount":{"description":"Amount to be taken from the source account. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"asset":{"description":"Asset ID of the asset to be transferred.","type":"string"},"fromAccountType":{"$ref":"#/components/schemas/vegaAccountType","description":"Account type from which the funds of the party\nshould be taken."},"oneOff":{"$ref":"#/components/schemas/v1OneOffTransfer"},"recurring":{"$ref":"#/components/schemas/v1RecurringTransfer"},"reference":{"description":"Reference to be attached to the transfer.","type":"string"},"to":{"description":"Public key of the destination account.","type":"string"},"toAccountType":{"$ref":"#/components/schemas/vegaAccountType","description":"Type of the destination account."}},"title":"Transfer initiated by a party","type":"object"},"googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"details":{"items":{"$ref":"#/components/schemas/protobufAny"},"type":"array"},"message":{"type":"string"}},"type":"object"},"protobufAny":{"additionalProperties":{},"properties":{"@type":{"type":"string"}},"type":"object"},"v1AnnounceNode":{"properties":{"avatarUrl":{"description":"AvatarURL of the validator.","type":"string"},"chainPubKey":{"description":"Public key for the blockchain, required field.","type":"string"},"country":{"description":"Country code (ISO 3166-1 alpha-2) for the location of the node.","type":"string"},"ethereumAddress":{"description":"Ethereum public key, required field.","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the validator made using the ethereum wallet."},"fromEpoch":{"description":"Epoch from which the validator is expected\nto be ready to validate blocks.","format":"uint64","type":"string"},"id":{"description":"Node ID of the validator, i.e. the node's public master key.","type":"string"},"infoUrl":{"description":"URL with more info on the node.","type":"string"},"name":{"description":"Name of the validator.","type":"string"},"submitterAddress":{"description":"Ethereum public key to use as a submitter to allow automatic signature generation.","type":"string"},"vegaPubKey":{"description":"Vega public key, required field.","type":"string"},"vegaPubKeyIndex":{"description":"Vega public key derivation index.","format":"int64","type":"integer"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the validator made using the Vega wallet."}},"title":"Used to announce a node as a new pending validator","type":"object"},"v1BatchMarketInstructions":{"properties":{"amendments":{"description":"List of order amendments to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderAmendment"},"type":"array"},"cancellations":{"description":"List of order cancellations to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderCancellation"},"type":"array"},"submissions":{"description":"List of order submissions to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderSubmission"},"type":"array"}},"title":"Batch of order instructions.\nThis command accepts only the following batches of commands\nand will be processed in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\nThe total amount of commands in the batch across all three lists of\ninstructions is restricted by the following network parameter:\n\"spam.protection.max.batchSize\"","type":"object"},"v1CancelTransfer":{"properties":{"transferId":{"description":"Transfer ID of the transfer to cancel.","type":"string"}},"title":"Request for cancelling a recurring transfer","type":"object"},"v1ChainEvent":{"properties":{"builtin":{"$ref":"#/components/schemas/vegaBuiltinAssetEvent","description":"Built-in asset event."},"erc20":{"$ref":"#/components/schemas/vegaERC20Event","description":"Ethereum ERC20 event."},"erc20Multisig":{"$ref":"#/components/schemas/vegaERC20MultiSigEvent","description":"Ethereum ERC20 multisig event."},"nonce":{"description":"Arbitrary one-time integer used to prevent replay attacks.","format":"uint64","type":"string"},"stakingEvent":{"$ref":"#/components/schemas/vegaStakingEvent","description":"Ethereum Staking event."},"txId":{"description":"Transaction ID of the transaction in which the events happened, usually a hash.","type":"string"}},"title":"Event forwarded to the Vega network to provide information on events happening on other networks","type":"object"},"v1Condition":{"properties":{"operator":{"$ref":"#/components/schemas/ConditionOperator","description":"Type of comparison to make on the value."},"value":{"description":"Value to be compared with by the operator.","type":"string"}},"title":"Condition describes the condition that must be validated by the network","type":"object"},"v1DelegateSubmission":{"properties":{"amount":{"description":"Amount of stake to delegate. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"nodeId":{"description":"Delegate to the specified node ID.","type":"string"}},"title":"Command to submit an instruction to delegate some stake to a node","type":"object"},"v1ETHAddress":{"properties":{"address":{"type":"string"}},"type":"object"},"v1EthereumKeyRotateSubmission":{"properties":{"currentAddress":{"description":"Currently used public address.","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature that can be verified using the new ethereum address."},"newAddress":{"description":"New address to rotate to.","type":"string"},"submitterAddress":{"description":"Ethereum public key to use as a submitter to allow automatic signature generation.","type":"string"},"targetBlock":{"description":"Target block at which the key rotation will take effect on.","format":"uint64","type":"string"}},"title":"Transaction to allow a validator to rotate their ethereum keys","type":"object"},"v1Filter":{"description":"Filter describes the conditions under which a data source data is considered of\ninterest or not.","properties":{"conditions":{"description":"Conditions that should be matched by the data to be\nconsidered of interest.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"},"key":{"$ref":"#/components/schemas/v1PropertyKey","description":"Data source's data property key targeted by the filter."}},"type":"object"},"v1GetTransactionResponse":{"properties":{"transaction":{"$ref":"#/components/schemas/blockexplorerapiv1Transaction","title":"Transaction corresponding to the hash"}},"type":"object"},"v1InfoResponse":{"properties":{"commitHash":{"title":"Commit hash from which the data node was built","type":"string"},"version":{"title":"Semver formatted version of the data node","type":"string"}},"type":"object"},"v1InputData":{"properties":{"announceNode":{"$ref":"#/components/schemas/v1AnnounceNode","description":"Command used by a node operator to announce its node as a pending validator."},"batchMarketInstructions":{"$ref":"#/components/schemas/v1BatchMarketInstructions","description":"Command to submit a batch of order instructions to a market."},"blockHeight":{"description":"Block height at which the transaction was made.\nThis should be the current block height. The transaction will be valid\nfrom the block and up to the `tolerance` block height.\nExample: If the network has a tolerance of 150 blocks and `block_height`\nis set to `200`, then the transaction will be valid until block `350`.\nNote that a `block_height` that is ahead of the real block height will be\nrejected. The tolerance can be queried from the chain's network parameters.\n`block_height` prevents replay attacks in conjunction with `nonce` (see above).","format":"uint64","type":"string"},"cancelTransfer":{"$ref":"#/components/schemas/v1CancelTransfer","description":"Command to request cancelling a recurring transfer."},"chainEvent":{"$ref":"#/components/schemas/v1ChainEvent","description":"Command used by a validator to submit an event forwarded to the Vega network to provide information\non events happening on other networks, to be used by a foreign chain\nto recognise a decision taken by the Vega network."},"delegateSubmission":{"$ref":"#/components/schemas/v1DelegateSubmission","description":"Command to delegate tokens to a validator."},"ethereumKeyRotateSubmission":{"$ref":"#/components/schemas/v1EthereumKeyRotateSubmission","description":"Command used by a validator to allow given validator to rotate their Ethereum keys."},"issueSignatures":{"$ref":"#/components/schemas/v1IssueSignatures","description":"Command used by a validator to submit signatures to a smart contract."},"keyRotateSubmission":{"$ref":"#/components/schemas/v1KeyRotateSubmission","description":"Command used by a validator to allow given validator to rotate their Vega keys."},"liquidityProvisionAmendment":{"$ref":"#/components/schemas/v1LiquidityProvisionAmendment","description":"Command to request amending a liquidity commitment."},"liquidityProvisionCancellation":{"$ref":"#/components/schemas/v1LiquidityProvisionCancellation","description":"Command to request cancelling a liquidity commitment."},"liquidityProvisionSubmission":{"$ref":"#/components/schemas/v1LiquidityProvisionSubmission","description":"Command to submit a liquidity commitment."},"nodeSignature":{"$ref":"#/components/schemas/v1NodeSignature","description":"Command used by a validator to submit a signature, to be used by a foreign chain to recognise a decision taken by the Vega network."},"nodeVote":{"$ref":"#/components/schemas/v1NodeVote","description":"Command used by a validator when a node votes for validating that a given resource exists or is valid,\nfor example, an ERC20 deposit is valid and exists on ethereum."},"nonce":{"description":"Number to provide uniqueness to prevent accidental replays and,\nin combination with `block_height`, deliberate attacks.\nA nonce provides uniqueness for otherwise identical transactions,\nensuring that the transaction hash uniquely identifies a specific transaction.\nGranted all other fields are equal, the nonce can either be a counter\nor generated at random to submit multiple transactions within the same\nblock (see below), without being identified as replays.\nPlease note that Protocol Buffers do not have a canonical, unique encoding\nand therefore different libraries or binaries may encode the same message\nslightly differently, causing a different hash.","format":"uint64","type":"string"},"oracleDataSubmission":{"$ref":"#/components/schemas/v1OracleDataSubmission","description":"Command to submit new oracle data from third party providers."},"orderAmendment":{"$ref":"#/components/schemas/v1OrderAmendment","description":"Command to amend an order."},"orderCancellation":{"$ref":"#/components/schemas/v1OrderCancellation","description":"Command to cancel an order."},"orderSubmission":{"$ref":"#/components/schemas/v1OrderSubmission","description":"Command for submitting an order."},"proposalSubmission":{"$ref":"#/components/schemas/v1ProposalSubmission","description":"Command to submit a governance proposal."},"protocolUpgradeProposal":{"$ref":"#/components/schemas/v1ProtocolUpgradeProposal","description":"Command used by a validator to propose a protocol upgrade."},"stateVariableProposal":{"$ref":"#/components/schemas/v1StateVariableProposal","description":"Command used by a validator to submit a floating point value."},"transfer":{"$ref":"#/components/schemas/commandsv1Transfer","description":"Command to submit a transfer."},"undelegateSubmission":{"$ref":"#/components/schemas/v1UndelegateSubmission","description":"Command to remove tokens delegated to a validator."},"validatorHeartbeat":{"$ref":"#/components/schemas/v1ValidatorHeartbeat","description":"Command used by a validator to signal they are still online and validating blocks\nor ready to validate blocks when they are still a pending validator."},"voteSubmission":{"$ref":"#/components/schemas/v1VoteSubmission","description":"Command to submit a vote on a governance proposal."},"withdrawSubmission":{"$ref":"#/components/schemas/v1WithdrawSubmission","description":"Command to submit a withdrawal."}},"type":"object"},"v1IssueSignatures":{"properties":{"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","description":"What kind of signatures to generate, namely for whether a signer is being added or removed."},"submitter":{"description":"Ethereum address which will submit the signatures to the smart contract.","type":"string"},"validatorNodeId":{"description":"Node ID of the validator node that will be signed in or out of the smart contract.","type":"string"}},"title":"Transaction for a validator to submit signatures to a smart contract","type":"object"},"v1KeyRotateSubmission":{"properties":{"currentPubKeyHash":{"description":"Hash of currently used public key.","type":"string"},"newPubKey":{"description":"New public key to rotate to.","type":"string"},"newPubKeyIndex":{"description":"New Vega public key derivation index.","format":"int64","type":"integer"},"targetBlock":{"description":"Target block at which the key rotation will take effect on.","format":"uint64","type":"string"}},"title":"Transaction to allow a validator to rotate their Vega keys","type":"object"},"v1LiquidityProvisionAmendment":{"properties":{"buys":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"},"commitmentAmount":{"description":"From here at least one of the following is required to consider the command valid.","type":"string"},"fee":{"type":"string"},"marketId":{"description":"Unique ID for the market with the liquidity provision to be amended.","type":"string"},"reference":{"type":"string"},"sells":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"}},"title":"Amend a liquidity provision request","type":"object"},"v1LiquidityProvisionCancellation":{"properties":{"marketId":{"description":"Unique ID for the market with the liquidity provision to be cancelled.","type":"string"}},"title":"Cancel a liquidity provision request","type":"object"},"v1LiquidityProvisionSubmission":{"properties":{"buys":{"description":"Set of liquidity buy orders to meet the liquidity provision obligation.","items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"},"commitmentAmount":{"description":"Specified as a unitless number that represents the amount of settlement asset of the market.\nThis field is an unsigned integer scaled using the asset's decimal places.","type":"string"},"fee":{"description":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers.","type":"string"},"marketId":{"description":"Market ID for the order, required field.","type":"string"},"reference":{"description":"Reference to be added to every order created out of this liquidityProvisionSubmission.","type":"string"},"sells":{"description":"Set of liquidity sell orders to meet the liquidity provision obligation.","items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"}},"title":"A liquidity provision submitted for a given market","type":"object"},"v1ListTransactionsResponse":{"properties":{"transactions":{"items":{"$ref":"#/components/schemas/blockexplorerapiv1Transaction"},"title":"Transaction corresponding to the specific request and filters","type":"array"}},"type":"object"},"v1NodeSignature":{"properties":{"id":{"description":"ID of the resource being signed.","type":"string"},"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","description":"Kind of resource being signed."},"sig":{"description":"The signature generated by the signer.","format":"byte","type":"string"}},"title":"Represents a signature from a validator, to be used by a foreign chain in order to recognise a decision taken by the Vega network","type":"object"},"v1NodeSignatureKind":{"default":"NODE_SIGNATURE_KIND_UNSPECIFIED","description":"- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing","enum":["NODE_SIGNATURE_KIND_UNSPECIFIED","NODE_SIGNATURE_KIND_ASSET_NEW","NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED","NODE_SIGNATURE_KIND_ASSET_UPDATE"],"title":"Kind of signature created by a node, for example, allow-listing a new asset, withdrawal etc","type":"string"},"v1NodeVote":{"description":"Used when a node votes for validating that a given resource exists or is valid,\nfor example, an ERC20 deposit is valid and exists on ethereum.","properties":{"reference":{"description":"Reference identifying the resource making the vote, required field.","type":"string"},"type":{"$ref":"#/components/schemas/v1NodeVoteType","description":"Type of NodeVote, also required."}},"type":"object"},"v1NodeVoteType":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_STAKE_DEPOSITED","TYPE_STAKE_REMOVED","TYPE_FUNDS_DEPOSITED","TYPE_SIGNER_ADDED","TYPE_SIGNER_REMOVED","TYPE_BRIDGE_STOPPED","TYPE_BRIDGE_RESUMED","TYPE_ASSET_LISTED","TYPE_LIMITS_UPDATED","TYPE_STAKE_TOTAL_SUPPLY","TYPE_SIGNER_THRESHOLD_SET","TYPE_GOVERNANCE_VALIDATE_ASSET"],"title":"- TYPE_UNSPECIFIED: Represents an unspecified or missing value from the input\n - TYPE_STAKE_DEPOSITED: Node vote for a new stake deposit\n - TYPE_STAKE_REMOVED: Node vote for a new stake removed event\n - TYPE_FUNDS_DEPOSITED: Node vote for a new collateral deposit\n - TYPE_SIGNER_ADDED: Node vote for a new signer added to the erc20 bridge\n - TYPE_SIGNER_REMOVED: Node vote for a signer removed from the erc20 bridge\n - TYPE_BRIDGE_STOPPED: Node vote for a bridge stopped event\n - TYPE_BRIDGE_RESUMED: Node vote for a bridge resumed event\n - TYPE_ASSET_LISTED: Node vote for a newly listed asset\n - TYPE_LIMITS_UPDATED: Node vote for an asset limits update\n - TYPE_STAKE_TOTAL_SUPPLY: Node vote to share the total supply of the staking token\n - TYPE_SIGNER_THRESHOLD_SET: Node vote to update the threshold of the signer set for the multisig contract\n - TYPE_GOVERNANCE_VALIDATE_ASSET: Node vote to validate a new assert governance proposal","type":"string"},"v1OneOffTransfer":{"properties":{"deliverOn":{"description":"Unix timestamp in nanoseconds. Time at which the\ntransfer should be delivered into the To account.","format":"int64","type":"string"}},"title":"Specific details for a one off transfer","type":"object"},"v1OracleDataSubmission":{"properties":{"payload":{"description":"Data provided by the data source\nIn the case of Open Oracle - it will be the entire object - it will contain messages, signatures and price data.","format":"byte","type":"string"},"source":{"$ref":"#/components/schemas/OracleDataSubmissionOracleSource","description":"Source from which the data is coming from. Must be base64 encoded.\nOracle data is a type of external data source data."}},"title":"Command to submit new Oracle data from third party providers","type":"object"},"v1OrderAmendment":{"properties":{"expiresAt":{"description":"Amend the expiry time for the order, if the Timestamp value is set, otherwise expiry time will remain unchanged.","format":"int64","type":"string"},"marketId":{"description":"Market ID, this is required to find the order and will not be updated.","type":"string"},"orderId":{"description":"Order ID, this is required to find the order and will not be updated, required field.","type":"string"},"peggedOffset":{"description":"Amend the pegged order offset for the order. This field is an unsigned integer scaled to the market's decimal places.","type":"string"},"peggedReference":{"$ref":"#/components/schemas/vegaPeggedReference","description":"Amend the pegged order reference for the order."},"price":{"description":"Amend the price for the order if the price value is set, otherwise price will remain unchanged.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"sizeDelta":{"description":"Amend the size for the order by the delta specified:\n- To reduce the size from the current value set a negative integer value\n- To increase the size from the current value, set a positive integer value\n- To leave the size unchanged set a value of zero\nThis field needs to be scaled using the market's position decimal places.","format":"int64","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","description":"Amend the time in force for the order, set to TIME_IN_FORCE_UNSPECIFIED to remain unchanged."}},"title":"An order amendment is a request to amend or update an existing order on Vega","type":"object"},"v1OrderCancellation":{"properties":{"marketId":{"description":"Market ID for the order, required field.","type":"string"},"orderId":{"description":"Unique ID for the order. This is set by the system after consensus. Required field.","type":"string"}},"title":"Order cancellation is a request to cancel an existing order on Vega","type":"object"},"v1OrderSubmission":{"properties":{"expiresAt":{"description":"Timestamp for when the order will expire, in nanoseconds,\nrequired field only for `Order.TimeInForce`.TIME_IN_FORCE_GTT`.","format":"int64","type":"string"},"marketId":{"description":"Market ID for the order, required field.","type":"string"},"peggedOrder":{"$ref":"#/components/schemas/vegaPeggedOrder","description":"Used to specify the details for a pegged order."},"postOnly":{"description":"Only valid for Limit orders. Cannot be True at the same time as Reduce-Only.","type":"boolean"},"price":{"description":"Price for the order, the price is an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places,\nrequired field for limit orders, however it is not required for market orders.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"reduceOnly":{"description":"Only valid for Non-Persistent orders. Cannot be True at the same time as Post-Only.\nIf set, order will only be executed if the outcome of the trade moves the trader's position closer to 0.","type":"boolean"},"reference":{"description":"Reference given for the order, this is typically used to retrieve an order submitted through consensus, currently\nset internally by the node to return a unique reference ID for the order submission.","type":"string"},"side":{"$ref":"#/components/schemas/vegaSide","description":"Side for the order, e.g. SIDE_BUY or SIDE_SELL, required field."},"size":{"description":"Size for the order, for example, in a futures market the size equals the number of units, cannot be negative.","format":"uint64","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","description":"Time in force indicates how long an order will remain active before it is executed or expires, required field."},"type":{"$ref":"#/components/schemas/vegaOrderType","description":"Type for the order, required field - See `Order.Type`."}},"title":"Order submission is a request to submit or create a new order on Vega","type":"object"},"v1PropertyKey":{"description":"PropertyKey describes the property key contained in data source data.","properties":{"name":{"description":"Name of the property.","type":"string"},"numberDecimalPlaces":{"format":"uint64","title":"Optional decimal place to be be applied on the provided value\nvalid only for PropertyType of type DECIMAL and INTEGER","type":"string"},"type":{"$ref":"#/components/schemas/v1PropertyKeyType","description":"Data type of the property."}},"type":"object"},"v1PropertyKeyType":{"default":"TYPE_UNSPECIFIED","description":"Type describes the data type of properties that are supported by the data source\nengine.\n\n - TYPE_UNSPECIFIED: The default value.\n - TYPE_EMPTY: Any type.\n - TYPE_INTEGER: Integer type.\n - TYPE_STRING: String type.\n - TYPE_BOOLEAN: Boolean type.\n - TYPE_DECIMAL: Any floating point decimal type.\n - TYPE_TIMESTAMP: Timestamp date type.","enum":["TYPE_UNSPECIFIED","TYPE_EMPTY","TYPE_INTEGER","TYPE_STRING","TYPE_BOOLEAN","TYPE_DECIMAL","TYPE_TIMESTAMP"],"type":"string"},"v1ProposalSubmission":{"properties":{"rationale":{"$ref":"#/components/schemas/vegaProposalRationale","description":"Rationale behind a proposal."},"reference":{"description":"Reference identifying the proposal.","type":"string"},"terms":{"$ref":"#/components/schemas/vegaProposalTerms","description":"Proposal configuration and the actual change that is meant to be executed when proposal is enacted."}},"title":"Command to submit a new proposal for the\nVega network governance","type":"object"},"v1ProtocolUpgradeProposal":{"properties":{"upgradeBlockHeight":{"description":"Block height at which to perform the upgrade.","format":"uint64","type":"string"},"vegaReleaseTag":{"description":"Release tag for the Vega binary.","type":"string"}},"title":"Transaction for a validator to suggest a protocol upgrade","type":"object"},"v1PubKey":{"description":"PubKey is the public key that signed this data.\nDifferent public keys coming from different sources will be further separated.","properties":{"key":{"type":"string"}},"type":"object"},"v1RecurringTransfer":{"properties":{"dispatchStrategy":{"$ref":"#/components/schemas/vegaDispatchStrategy","description":"Optional parameter defining how a transfer is dispatched."},"endEpoch":{"description":"Last epoch at which this transfer shall be paid.","format":"uint64","type":"string"},"factor":{"description":"Factor needs to be > 0.","type":"string"},"startEpoch":{"description":"First epoch from which this transfer shall be paid.","format":"uint64","type":"string"}},"title":"Specific details for a recurring transfer","type":"object"},"v1Signature":{"description":"Signature to authenticate a transaction and to be verified by the Vega\nnetwork.","properties":{"algo":{"description":"Algorithm used to create the signature.","type":"string"},"value":{"description":"Hex encoded bytes of the signature.","type":"string"},"version":{"description":"Version of the signature used to create the signature.","format":"int64","type":"integer"}},"type":"object"},"v1Signer":{"properties":{"ethAddress":{"$ref":"#/components/schemas/v1ETHAddress","title":"In case of an open oracle - Ethereum address will be submitted"},"pubKey":{"$ref":"#/components/schemas/v1PubKey","description":"List of authorized public keys that signed the data for this\nsource. All the public keys in the data should be contained in these\npublic keys."}},"type":"object"},"v1StateVariableProposal":{"properties":{"proposal":{"$ref":"#/components/schemas/vegaStateValueProposal","description":"State value proposal details."}},"title":"Transaction for a validator to submit a floating point value","type":"object"},"v1UndelegateSubmission":{"properties":{"amount":{"description":"Optional, if not specified = ALL.\nIf provided, this field must be an unsigned integer passed as a string\nand needs to be scaled using the asset decimal places for the token.","type":"string"},"method":{"$ref":"#/components/schemas/UndelegateSubmissionMethod","description":"Method of delegation."},"nodeId":{"description":"Node ID to delegate to.","type":"string"}},"type":"object"},"v1ValidatorHeartbeat":{"properties":{"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the validator made using the ethereum wallet."},"message":{"description":"Message which has been signed.","type":"string"},"nodeId":{"description":"Node ID of the validator emitting the heartbeat.","type":"string"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the validator made using the vega wallet."}},"title":"Message from a validator signalling they are still online and validating blocks\nor ready to validate blocks when they are still a pending validator","type":"object"},"v1VoteSubmission":{"description":"Command to submit a new vote for a governance proposal.","properties":{"proposalId":{"description":"Submit vote for the specified proposal ID.","type":"string"},"value":{"$ref":"#/components/schemas/vegaVoteValue","description":"Actual value of the vote."}},"type":"object"},"v1WithdrawSubmission":{"properties":{"amount":{"description":"Amount to be withdrawn. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"asset":{"description":"Asset to be withdrawn.","type":"string"},"ext":{"$ref":"#/components/schemas/vegaWithdrawExt","description":"Foreign chain specifics."}},"title":"Represents the submission request to withdraw funds for a party on Vega","type":"object"},"vegaAccountType":{"default":"ACCOUNT_TYPE_UNSPECIFIED","description":"- ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"title":"Various collateral/account types as used by Vega","type":"string"},"vegaAssetDetails":{"properties":{"builtinAsset":{"$ref":"#/components/schemas/vegaBuiltinAsset","description":"Vega built-in asset."},"decimals":{"description":"Number of decimal / precision handled by this asset.","format":"uint64","type":"string"},"erc20":{"$ref":"#/components/schemas/vegaERC20","description":"Ethereum ERC20 asset."},"name":{"description":"Name of the asset (e.g: Great British Pound).","type":"string"},"quantum":{"description":"Minimum economically meaningful amount in the asset.","type":"string"},"symbol":{"description":"Symbol of the asset (e.g: GBP).","type":"string"}},"title":"Vega representation of an external asset","type":"object"},"vegaAssetDetailsUpdate":{"description":"Changes to apply on an existing asset.","properties":{"erc20":{"$ref":"#/components/schemas/vegaERC20Update","description":"Ethereum ERC20 asset update."},"quantum":{"description":"Minimum economically meaningful amount in the asset.","type":"string"}},"type":"object"},"vegaBuiltinAsset":{"properties":{"maxFaucetAmountMint":{"description":"Maximum amount that can be requested by a party through the built-in asset faucet at a time.","type":"string"}},"title":"Vega internal asset","type":"object"},"vegaBuiltinAssetDeposit":{"properties":{"amount":{"description":"Amount to be deposited. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"partyId":{"description":"Vega party ID i.e. public key.","type":"string"},"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"}},"title":"Deposit for a Vega built-in asset","type":"object"},"vegaBuiltinAssetEvent":{"properties":{"deposit":{"$ref":"#/components/schemas/vegaBuiltinAssetDeposit","description":"Built-in asset deposit."},"withdrawal":{"$ref":"#/components/schemas/vegaBuiltinAssetWithdrawal","description":"Built-in asset withdrawal."}},"title":"Event related to a Vega built-in asset","type":"object"},"vegaBuiltinAssetWithdrawal":{"properties":{"amount":{"description":"The amount to be withdrawn. This field is an unsigned integer scaled to the asset's decimal places.","type":"string"},"partyId":{"description":"Vega network party ID i.e. public key.","type":"string"},"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"}},"title":"Withdrawal for a Vega built-in asset","type":"object"},"vegaDataSourceDefinition":{"description":"DataSourceDefinition represents the top level object that deals with data sources.\nDataSourceDefinition can be external or internal, with whatever number of data sources are defined\nfor each type in the child objects below.","properties":{"external":{"$ref":"#/components/schemas/vegaDataSourceDefinitionExternal"},"internal":{"$ref":"#/components/schemas/vegaDataSourceDefinitionInternal"}},"type":"object"},"vegaDataSourceDefinitionExternal":{"description":"DataSourceDefinitionExternal is the top level object used for all external data sources.\nIt contains one of any of the defined `SourceType` variants.","properties":{"oracle":{"$ref":"#/components/schemas/vegaDataSourceSpecConfiguration"}},"type":"object"},"vegaDataSourceDefinitionInternal":{"description":"DataSourceDefinitionInternal is the top level object used for all internal data sources.\nIt contains one of any of the defined `SourceType` variants.","properties":{"time":{"$ref":"#/components/schemas/vegaDataSourceSpecConfigurationTime"}},"type":"object"},"vegaDataSourceSpecConfiguration":{"description":"All types of external data sources use the same configuration set for meeting requirements\nin order for the data to be useful for Vega - valid signatures and matching filters.","properties":{"filters":{"description":"Filters describes which source data are considered of interest or not for\nthe product (or the risk model).","items":{"$ref":"#/components/schemas/v1Filter"},"type":"array"},"signers":{"description":"Signers is the list of authorized signatures that signed the data for this\nsource. All the signatures in the data source data should be contained in this\nexternal source. All the signatures in the data should be contained in this list.","items":{"$ref":"#/components/schemas/v1Signer"},"type":"array"}},"type":"object"},"vegaDataSourceSpecConfigurationTime":{"description":"DataSourceSpecConfigurationTime is the internal data source used for emitting timestamps.","properties":{"conditions":{"description":"Conditions that the timestamps should meet in order to be considered.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"}},"type":"object"},"vegaDataSourceSpecToFutureBinding":{"properties":{"settlementDataProperty":{"description":"Name of the property in the source data that should be used as settlement data.\nIf it is set to \"prices.BTC.value\", then the Future will use the value of\nthis property as settlement data.","type":"string"},"tradingTerminationProperty":{"description":"Name of the property in the data source data that signals termination of trading.","type":"string"}},"title":"DataSourceSpecToFutureBinding describes which property of the data source data is to be\nused as settlement data and which to use as the trading terminated trigger","type":"object"},"vegaDispatchMetric":{"default":"DISPATCH_METRIC_UNSPECIFIED","enum":["DISPATCH_METRIC_UNSPECIFIED","DISPATCH_METRIC_MAKER_FEES_PAID","DISPATCH_METRIC_MAKER_FEES_RECEIVED","DISPATCH_METRIC_LP_FEES_RECEIVED","DISPATCH_METRIC_MARKET_VALUE"],"title":"- DISPATCH_METRIC_MAKER_FEES_PAID: Dispatch metric that is using the total maker fees paid in the market\n - DISPATCH_METRIC_MAKER_FEES_RECEIVED: Dispatch metric that is using the total maker fees received in the market\n - DISPATCH_METRIC_LP_FEES_RECEIVED: Dispatch metric that is using the total LP fees received in the market\n - DISPATCH_METRIC_MARKET_VALUE: Dispatch metric that is using total value of the market if above the required threshold and not paid given proposer bonus yet","type":"string"},"vegaDispatchStrategy":{"properties":{"assetForMetric":{"description":"Asset to use for metric.","type":"string"},"markets":{"description":"Optional markets in scope.","items":{"type":"string"},"type":"array"},"metric":{"$ref":"#/components/schemas/vegaDispatchMetric","description":"Metric to apply."}},"type":"object"},"vegaERC20":{"properties":{"contractAddress":{"description":"Address of the contract for the token, on the ethereum network.","type":"string"},"lifetimeLimit":{"description":"Lifetime limits deposit per address\nnote: this is a temporary measure that can be changed by governance.","type":"string"},"withdrawThreshold":{"description":"Maximum you can withdraw instantly. All withdrawals over the threshold will be delayed by the withdrawal delay.\nThere’s no limit on the size of a withdrawal\nnote: this is a temporary measure that can be changed by governance.","type":"string"}},"title":"ERC20 token based asset, living on the ethereum network","type":"object"},"vegaERC20AssetDelist":{"properties":{"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"}},"title":"Asset deny-listing for an ERC20 token","type":"object"},"vegaERC20AssetLimitsUpdated":{"properties":{"lifetimeLimits":{"description":"Updated lifetime limits.","type":"string"},"sourceEthereumAddress":{"description":"Ethereum wallet that initiated the deposit.","type":"string"},"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"},"withdrawThreshold":{"description":"Updated withdrawal threshold.","type":"string"}},"type":"object"},"vegaERC20AssetList":{"properties":{"assetSource":{"description":"Ethereum address of the asset.","type":"string"},"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"}},"title":"Asset allow-listing for an ERC20 token","type":"object"},"vegaERC20Deposit":{"properties":{"amount":{"description":"Amount to be deposited.","type":"string"},"sourceEthereumAddress":{"description":"Ethereum wallet that initiated the deposit.","type":"string"},"targetPartyId":{"description":"Vega party ID i.e. public key that is the target of the deposit.","type":"string"},"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"}},"title":"Asset deposit for an ERC20 token","type":"object"},"vegaERC20Event":{"properties":{"assetDelist":{"$ref":"#/components/schemas/vegaERC20AssetDelist","description":"De-list an ERC20 asset."},"assetLimitsUpdated":{"$ref":"#/components/schemas/vegaERC20AssetLimitsUpdated","description":"Update an ERC20 asset."},"assetList":{"$ref":"#/components/schemas/vegaERC20AssetList","description":"List an ERC20 asset."},"block":{"description":"Block in which the transaction was added.","format":"uint64","type":"string"},"bridgeResumed":{"description":"Bridge operations has been resumed.","type":"boolean"},"bridgeStopped":{"description":"Bridge operations has been stopped.","type":"boolean"},"deposit":{"$ref":"#/components/schemas/vegaERC20Deposit","description":"Deposit ERC20 asset."},"index":{"description":"Index of the log in the transaction.","format":"uint64","type":"string"},"withdrawal":{"$ref":"#/components/schemas/vegaERC20Withdrawal","description":"Withdraw ERC20 asset."}},"title":"Event related to an ERC20 token","type":"object"},"vegaERC20MultiSigEvent":{"properties":{"block":{"format":"uint64","title":"Block in which the transaction was added","type":"string"},"index":{"format":"uint64","title":"Index of the log in the transaction","type":"string"},"signerAdded":{"$ref":"#/components/schemas/vegaERC20SignerAdded","title":"Add a signer to the erc20 bridge"},"signerRemoved":{"$ref":"#/components/schemas/vegaERC20SignerRemoved","title":"Remove a signer from the erc20 bridge"},"thresholdSet":{"$ref":"#/components/schemas/vegaERC20ThresholdSet","title":"Threshold set"}},"title":"Event related to the ERC20 MultiSig","type":"object"},"vegaERC20SignerAdded":{"properties":{"blockTime":{"description":"Time at which the block was produced\nwill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"newSigner":{"title":"Ethereum address of the new signer","type":"string"},"nonce":{"title":"Nonce created by the Vega network used for this new signer","type":"string"}},"title":"New signer added to the ERC20 bridge","type":"object"},"vegaERC20SignerRemoved":{"properties":{"blockTime":{"description":"Time at which the block was produced.\nWill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"nonce":{"title":"Nonce created by the Vega network used for this old signer","type":"string"},"oldSigner":{"title":"Ethereum address of the old signer","type":"string"}},"title":"Signer removed from the ERC20 bridge","type":"object"},"vegaERC20ThresholdSet":{"properties":{"blockTime":{"description":"Time at which the block was produced.\nWill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"newThreshold":{"format":"int64","title":"New threshold value to set","type":"integer"},"nonce":{"title":"Nonce created by the Vega network","type":"string"}},"title":"Threshold has been updated on the multisig control","type":"object"},"vegaERC20Update":{"properties":{"lifetimeLimit":{"description":"Lifetime limits deposit per address.\nThis will be interpreted against the asset decimals.\nnote: this is a temporary measure that can be changed by governance.","type":"string"},"withdrawThreshold":{"description":"Maximum you can withdraw instantly. All withdrawals over the threshold will be delayed by the withdrawal delay.\nThere’s no limit on the size of a withdrawal\nnote: this is a temporary measure that can be changed by governance.","type":"string"}},"type":"object"},"vegaERC20Withdrawal":{"properties":{"referenceNonce":{"description":"Reference nonce used for the transaction.","type":"string"},"targetEthereumAddress":{"description":"Target Ethereum wallet address.","type":"string"},"vegaAssetId":{"description":"Vega network internal asset ID.","type":"string"}},"title":"Asset withdrawal for an ERC20 token","type":"object"},"vegaErc20WithdrawExt":{"properties":{"receiverAddress":{"description":"Address into which the bridge will release the funds.","type":"string"}},"title":"Extension of data required for the withdraw submissions","type":"object"},"vegaFutureProduct":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","description":"Binding between the data source spec and the settlement data."},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"Data source spec describing the data source for settlement."},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"The external data source spec describing the data source of trading termination."},"quoteName":{"description":"Product quote name.","type":"string"},"settlementAsset":{"description":"Asset ID for the product's settlement asset.","type":"string"}},"title":"Future product configuration","type":"object"},"vegaInstrumentConfiguration":{"properties":{"code":{"description":"Instrument code, human-readable shortcode used to describe the instrument.","type":"string"},"future":{"$ref":"#/components/schemas/vegaFutureProduct","description":"Future."},"name":{"description":"Instrument name.","type":"string"}},"title":"Instrument configuration","type":"object"},"vegaKeyValueBundle":{"properties":{"key":{"type":"string"},"tolerance":{"type":"string"},"value":{"$ref":"#/components/schemas/vegaStateVarValue"}},"type":"object"},"vegaLiquidityMonitoringParameters":{"properties":{"auctionExtension":{"description":"Specifies by how many seconds an auction should be extended if leaving the auction were to trigger a liquidity auction.","format":"int64","type":"string"},"targetStakeParameters":{"$ref":"#/components/schemas/vegaTargetStakeParameters","description":"Specifies parameters related to target stake calculation."},"triggeringRatio":{"description":"Specifies the triggering ratio for entering liquidity auction.","type":"string"}},"title":"LiquidityMonitoringParameters contains settings used for liquidity monitoring","type":"object"},"vegaLiquidityOrder":{"properties":{"offset":{"description":"Offset/amount of units away for the order. This field is an unsigned integer scaled using the market's decimal places.","type":"string"},"proportion":{"description":"Relative proportion of the commitment to be allocated at a price level.","format":"int64","type":"integer"},"reference":{"$ref":"#/components/schemas/vegaPeggedReference","description":"Pegged reference point for the order."}},"title":"Represents a liquidity order","type":"object"},"vegaLogNormalModelParams":{"properties":{"mu":{"description":"Mu parameter, annualised growth rate of the underlying asset.","format":"double","type":"number"},"r":{"description":"R parameter, annualised growth rate of the risk-free asset, used for discounting of future cash flows, can be any real number.","format":"double","type":"number"},"sigma":{"description":"Sigma parameter, annualised volatility of the underlying asset, must be a strictly non-negative real number.","format":"double","type":"number"}},"title":"Risk model parameters for log normal","type":"object"},"vegaLogNormalRiskModel":{"properties":{"params":{"$ref":"#/components/schemas/vegaLogNormalModelParams","description":"Risk model parameters for log normal."},"riskAversionParameter":{"description":"Risk Aversion Parameter.","format":"double","type":"number"},"tau":{"description":"Tau parameter of the risk model, projection horizon measured as a year fraction used in the expected shortfall\ncalculation to obtain the maintenance margin, must be a strictly non-negative real number.","format":"double","type":"number"}},"title":"Risk model for log normal","type":"object"},"vegaMatrixValue":{"properties":{"value":{"items":{"$ref":"#/components/schemas/vegaVectorValue"},"type":"array"}},"type":"object"},"vegaNetworkParameter":{"properties":{"key":{"description":"Unique key of the network parameter.","type":"string"},"value":{"description":"Value for the network parameter.","type":"string"}},"title":"Represents a network parameter on Vega","type":"object"},"vegaNewAsset":{"properties":{"changes":{"$ref":"#/components/schemas/vegaAssetDetails","description":"Configuration of the new asset."}},"title":"New asset on Vega","type":"object"},"vegaNewFreeform":{"description":"Freeform proposal\nThis message is just used as a placeholder to sort out the nature of the\nproposal once parsed.","type":"object"},"vegaNewMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNewMarketConfiguration","description":"Configuration of the new market."}},"title":"New market on Vega","type":"object"},"vegaNewMarketConfiguration":{"properties":{"decimalPlaces":{"description":"Decimal places used for the new market, sets the smallest price increment on the book.","format":"uint64","type":"string"},"instrument":{"$ref":"#/components/schemas/vegaInstrumentConfiguration","description":"New market instrument configuration."},"linearSlippageFactor":{"description":"Linear slippage factor is used to cap the slippage component of maintenance margin - it is applied to the slippage volume.","type":"string"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","description":"Liquidity monitoring parameters."},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected."},"lpPriceRange":{"description":"Percentage move up and down from the mid price which specifies the range of\nprice levels over which automated liquidity provision orders will be deployed.","type":"string"},"metadata":{"description":"Optional new market metadata, tags.","items":{"type":"string"},"type":"array"},"positionDecimalPlaces":{"description":"Decimal places for order sizes, sets what size the smallest order / position on the market can be.","format":"int64","type":"string"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Price monitoring parameters."},"quadraticSlippageFactor":{"description":"Quadratic slippage factor is used to cap the slippage component of maintenance margin - it is applied to the square of the slippage volume.","type":"string"},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected."}},"title":"Configuration for a new market on Vega","type":"object"},"vegaOrderType":{"default":"TYPE_UNSPECIFIED","description":"- TYPE_UNSPECIFIED: Default value, always invalid\n - TYPE_LIMIT: Used for Limit orders\n - TYPE_MARKET: Used for Market orders\n - TYPE_NETWORK: Used for orders where the initiating party is the network (with distressed parties)","enum":["TYPE_UNSPECIFIED","TYPE_LIMIT","TYPE_MARKET","TYPE_NETWORK"],"title":"Type values for an order","type":"string"},"vegaPeggedOrder":{"properties":{"offset":{"description":"Offset from the price reference.","type":"string"},"reference":{"$ref":"#/components/schemas/vegaPeggedReference","description":"Price point the order is linked to."}},"title":"Pegged orders are limit orders where the price is specified in the form REFERENCE +/- OFFSET\nThey can be used for any limit order that is valid during continuous trading","type":"object"},"vegaPeggedReference":{"default":"PEGGED_REFERENCE_UNSPECIFIED","description":"- PEGGED_REFERENCE_UNSPECIFIED: Default value for PeggedReference, no reference given\n - PEGGED_REFERENCE_MID: Mid price reference\n - PEGGED_REFERENCE_BEST_BID: Best bid price reference\n - PEGGED_REFERENCE_BEST_ASK: Best ask price reference","enum":["PEGGED_REFERENCE_UNSPECIFIED","PEGGED_REFERENCE_MID","PEGGED_REFERENCE_BEST_BID","PEGGED_REFERENCE_BEST_ASK"],"title":"Pegged reference defines which price point a pegged order is linked to - meaning\nthe price for a pegged order is calculated from the value of the reference price point","type":"string"},"vegaPriceMonitoringParameters":{"properties":{"triggers":{"items":{"$ref":"#/components/schemas/vegaPriceMonitoringTrigger"},"type":"array"}},"title":"PriceMonitoringParameters contains a collection of triggers to be used for a given market","type":"object"},"vegaPriceMonitoringTrigger":{"properties":{"auctionExtension":{"description":"Price monitoring auction extension duration in seconds should the price\nbreach its theoretical level over the specified horizon at the specified\nprobability level.","format":"int64","type":"string"},"horizon":{"description":"Price monitoring projection horizon τ in seconds.","format":"int64","type":"string"},"probability":{"description":"Price monitoring probability level p.","type":"string"}},"title":"PriceMonitoringTrigger holds together price projection horizon τ, probability level p, and auction extension duration","type":"object"},"vegaProposalRationale":{"description":"Rationale behind a proposal.","properties":{"description":{"description":"Description to show a short title / something in case the link goes offline.\nThis is to be between 0 and 20k unicode characters.\nThis is mandatory for all proposals.","type":"string"},"title":{"description":"Title to be used to give a short description of the proposal in lists.\nThis is to be between 0 and 100 unicode characters.\nThis is mandatory for all proposals.","type":"string"}},"type":"object"},"vegaProposalTerms":{"properties":{"closingTimestamp":{"description":"Timestamp as Unix time in seconds when voting closes for this proposal,\nconstrained by `minClose` and `maxClose` network parameters.","format":"int64","type":"string"},"enactmentTimestamp":{"description":"Timestamp as Unix time in seconds when proposal gets enacted if passed,\nconstrained by `minEnact` and `maxEnact` network parameters.","format":"int64","type":"string"},"newAsset":{"$ref":"#/components/schemas/vegaNewAsset","description":"Proposal change for creating new assets on Vega."},"newFreeform":{"$ref":"#/components/schemas/vegaNewFreeform","description":"Proposal change for a freeform request, which can be voted on but does not change the behaviour of the system,\nand can be used to gauge community sentiment."},"newMarket":{"$ref":"#/components/schemas/vegaNewMarket","description":"Proposal change for creating new market on Vega."},"updateAsset":{"$ref":"#/components/schemas/vegaUpdateAsset","description":"Proposal change for updating an asset."},"updateMarket":{"$ref":"#/components/schemas/vegaUpdateMarket","description":"Proposal change for modifying an existing market on Vega."},"updateNetworkParameter":{"$ref":"#/components/schemas/vegaUpdateNetworkParameter","description":"Proposal change for updating Vega network parameters."},"validationTimestamp":{"description":"Validation timestamp as Unix time in seconds.","format":"int64","type":"string"}},"title":"Terms for a governance proposal on Vega","type":"object"},"vegaScalarValue":{"properties":{"value":{"type":"string"}},"type":"object"},"vegaSide":{"default":"SIDE_UNSPECIFIED","description":"- SIDE_UNSPECIFIED: Default value, always invalid\n - SIDE_BUY: Buy order\n - SIDE_SELL: Sell order","enum":["SIDE_UNSPECIFIED","SIDE_BUY","SIDE_SELL"],"title":"Side relates to the direction of an order, to Buy, or Sell","type":"string"},"vegaSimpleModelParams":{"properties":{"factorLong":{"description":"Pre-defined risk factor value for long.","format":"double","type":"number"},"factorShort":{"description":"Pre-defined risk factor value for short.","format":"double","type":"number"},"maxMoveUp":{"description":"Pre-defined maximum price move up that the model considers as valid.","format":"double","type":"number"},"minMoveDown":{"description":"Pre-defined minimum price move down that the model considers as valid.","format":"double","type":"number"},"probabilityOfTrading":{"description":"Pre-defined constant probability of trading.","format":"double","type":"number"}},"title":"Risk model parameters for simple modelling","type":"object"},"vegaStakeDeposited":{"properties":{"amount":{"description":"Amount deposited as an unsigned base 10 integer scaled to the asset's decimal places.","type":"string"},"blockTime":{"description":"Time at which the block was produced.\nWill be used to inform the core at what time\nthe stake started to be available.","format":"int64","type":"string"},"ethereumAddress":{"title":"Ethereum Address of the user depositing stake (hex encode with 0x prefix)","type":"string"},"vegaPublicKey":{"description":"Hex encoded public key of the party receiving the stake deposit.","type":"string"}},"type":"object"},"vegaStakeRemoved":{"properties":{"amount":{"description":"Amount removed as a base 10 unsigned integer scaled to the asset's decimal places.","type":"string"},"blockTime":{"description":"The time at which the block was produced\nwill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"ethereumAddress":{"description":"Ethereum address of the user removing stake. This should be hex encoded with 0x prefix.","type":"string"},"vegaPublicKey":{"description":"Hex encoded public key of the party from which to remove stake.","type":"string"}},"type":"object"},"vegaStakeTotalSupply":{"properties":{"tokenAddress":{"title":"Address of the staking asset","type":"string"},"totalSupply":{"description":"Total supply observed for the token as an unsigned based 10 integer scaled to the asset's decimal places.","type":"string"}},"type":"object"},"vegaStakingEvent":{"description":"Event related to staking on the Vega network.","properties":{"block":{"description":"Block in which the transaction was added.","format":"uint64","type":"string"},"index":{"description":"Index of the log in the transaction.","format":"uint64","type":"string"},"stakeDeposited":{"$ref":"#/components/schemas/vegaStakeDeposited"},"stakeRemoved":{"$ref":"#/components/schemas/vegaStakeRemoved"},"totalSupply":{"$ref":"#/components/schemas/vegaStakeTotalSupply"}},"type":"object"},"vegaStateValueProposal":{"properties":{"eventId":{"description":"Event ID.","type":"string"},"kvb":{"description":"Key value tolerance triplets.","items":{"$ref":"#/components/schemas/vegaKeyValueBundle"},"type":"array"},"stateVarId":{"description":"State variable ID.","type":"string"}},"type":"object"},"vegaStateVarValue":{"properties":{"matrixVal":{"$ref":"#/components/schemas/vegaMatrixValue"},"scalarVal":{"$ref":"#/components/schemas/vegaScalarValue"},"vectorVal":{"$ref":"#/components/schemas/vegaVectorValue"}},"type":"object"},"vegaTargetStakeParameters":{"properties":{"scalingFactor":{"description":"Specifies scaling factors used in target stake calculation.","format":"double","type":"number"},"timeWindow":{"description":"Specifies length of time window expressed in seconds for target stake calculation.","format":"int64","type":"string"}},"title":"TargetStakeParameters contains parameters used in target stake calculation","type":"object"},"vegaUpdateAsset":{"properties":{"assetId":{"description":"Asset ID the update is for.","type":"string"},"changes":{"$ref":"#/components/schemas/vegaAssetDetailsUpdate","description":"Changes to apply on an existing asset."}},"title":"Update an existing asset on Vega","type":"object"},"vegaUpdateFutureProduct":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","description":"The binding between the data source spec and the settlement data."},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"The data source spec describing the data of settlement data."},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceDefinition","description":"The data source spec describing the data source for trading termination."},"quoteName":{"description":"Human-readable name/abbreviation of the quote name.","type":"string"}},"title":"Future product configuration","type":"object"},"vegaUpdateInstrumentConfiguration":{"properties":{"code":{"description":"Instrument code, human-readable shortcode used to describe the instrument.","type":"string"},"future":{"$ref":"#/components/schemas/vegaUpdateFutureProduct","description":"Future."}},"title":"Instrument configuration","type":"object"},"vegaUpdateMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaUpdateMarketConfiguration","description":"Updated configuration of the market."},"marketId":{"description":"Market ID the update is for.","type":"string"}},"title":"Update an existing market on Vega","type":"object"},"vegaUpdateMarketConfiguration":{"properties":{"instrument":{"$ref":"#/components/schemas/vegaUpdateInstrumentConfiguration","description":"Updated market instrument configuration."},"linearSlippageFactor":{"description":"Linear slippage factor is used to cap the slippage component of maintenance margin - it is applied to the slippage volume.","type":"string"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","description":"Liquidity monitoring parameters."},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","description":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected."},"lpPriceRange":{"description":"Percentage move up and down from the mid price which specifies the range of\nprice levels over which automated liquidity provision orders will be deployed.","type":"string"},"metadata":{"description":"Optional market metadata, tags.","items":{"type":"string"},"type":"array"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","description":"Price monitoring parameters."},"quadraticSlippageFactor":{"description":"Quadratic slippage factor is used to cap the slippage component of maintenance margin - it is applied to the square of the slippage volume.","type":"string"},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","description":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected."}},"title":"Configuration to update a market on Vega","type":"object"},"vegaUpdateNetworkParameter":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNetworkParameter","description":"The network parameter to update."}},"title":"Update network configuration on Vega","type":"object"},"vegaVectorValue":{"properties":{"value":{"items":{"type":"string"},"type":"array"}},"type":"object"},"vegaVoteValue":{"default":"VALUE_UNSPECIFIED","description":"- VALUE_UNSPECIFIED: Default value, always invalid\n - VALUE_NO: Vote against the proposal\n - VALUE_YES: Vote in favour of the proposal","enum":["VALUE_UNSPECIFIED","VALUE_NO","VALUE_YES"],"title":"Vote value","type":"string"},"vegaWithdrawExt":{"properties":{"erc20":{"$ref":"#/components/schemas/vegaErc20WithdrawExt","description":"ERC20 withdrawal details."}},"title":"Withdrawal external details","type":"object"}}},"tags":[{"name":"Block Explorer"}]}