{"openapi":"3.0.0","info":{"title":"Vega data node APIs","version":"v0.71.4"},"servers":[{"url":"https://vega-query.mainnet.lovali.xyz","description":"vega-query.mainnet.lovali.xyz"},{"url":"https://vega.xprv.io/datanode","description":"vega.xprv.io"}],"paths":{"/api/v2/accounts":{"get":{"parameters":[{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","explode":true,"in":"query","name":"filter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"type":"string"},"type":"array"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListAccountsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Accounts"],"description":"Get a list of accounts matching the supplied filter, including their current balances.\nIf a given account has never had a balance, it will be absent from the list.","operationId":"TradingDataService_ListAccounts","summary":"List accounts"}},"/api/v2/asset/{assetId}":{"get":{"parameters":[{"description":"Asset ID to get data for.","in":"path","name":"assetId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetAssetResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a single asset using its ID. Use the assets list query to get an asset's ID","operationId":"TradingDataService_GetAsset","summary":"Get asset"}},"/api/v2/assets":{"get":{"parameters":[{"description":"Optional asset ID to list data for.","in":"query","name":"assetId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListAssetsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a list of assets using cursor based pagination","operationId":"TradingDataService_ListAssets","summary":"List assets"}},"/api/v2/balance/changes":{"get":{"parameters":[{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","explode":true,"in":"query","name":"filter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"type":"string"},"type":"array"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListBalanceChangesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Accounts"],"description":"Get a list of the changes in account balances over a period of time.\n\nAn account is defined as a set of asset_id, type, party_id, and market_id.\n- Every account has an associated asset and type.\n- Certain account types such as the global reward pool for example, do not have an associated party.\n  These are denoted by the special party ID 'network'\n- Certain account types do not have an associated market such as the general party accounts, for example.\n  These are denoted by the special market ID '' (the empty string)\n\n`ListBalanceChangesRequest` will return a list of `AggregatedBalance` records,\nwith a row for each block at which a given account's balance changes.","operationId":"TradingDataService_ListBalanceChanges","summary":"List balance changes"}},"/api/v2/candle":{"get":{"parameters":[{"description":"Candle ID to retrieve candle data for, required field.","in":"query","name":"candleId","required":true,"schema":{"type":"string"}},{"description":"Timestamp to retrieve candles since, in nanoseconds since the epoch.","in":"query","name":"fromTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Timestamp to retrieve candles to, in nanoseconds since the epoch.","in":"query","name":"toTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListCandleDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Candles"],"description":"Get a list of candle data for a given candle ID. You can get a candle ID from the list candle intervals query","operationId":"TradingDataService_ListCandleData","summary":"List candle data"}},"/api/v2/candle/intervals":{"get":{"parameters":[{"description":"Unique ID for the market to list candle intervals for.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListCandleIntervalsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Candles"],"description":"Get a list of all available intervals for a given market along with the corresponding candle ID","operationId":"TradingDataService_ListCandleIntervals","summary":"List candle intervals"}},"/api/v2/checkpoints":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListCheckpointsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of information about checkpoints generated by the network","operationId":"TradingDataService_ListCheckpoints","summary":"List checkpoints"}},"/api/v2/delegations":{"get":{"parameters":[{"description":"Party ID to list delegations for, if provided.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Node ID to list delegations for, if provided.","in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"description":"Epoch ID to list delegations for, if provided.","in":"query","name":"epochId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListDelegationsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of the token delegations on the network","operationId":"TradingDataService_ListDelegations","summary":"List delegations"}},"/api/v2/deposit/{id}":{"get":{"parameters":[{"description":"Deposit ID, which can be obtained using the List Deposits query.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetDepositResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a deposit by its ID","operationId":"TradingDataService_GetDeposit","summary":"Get deposit"}},"/api/v2/deposits":{"get":{"parameters":[{"description":"Party ID whose deposits are to be retrieved.\nIf not provided, deposits for all parties will be provided.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListDepositsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Assets"],"description":"Get a list of deposits for a given party.\nIf a date range is provided, filtering will be based on the last time the deposit\nhas been updated in Vega time.","operationId":"TradingDataService_ListDeposits","summary":"List deposits"}},"/api/v2/epoch":{"get":{"parameters":[{"description":"Epoch ID to get, if provided. If omitted, data for the current epoch is returned.","in":"query","name":"id","required":false,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetEpochResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get data for a specific epoch, if ID is omitted, it retrieves the current epoch","operationId":"TradingDataService_GetEpoch","summary":"Get epoch"}},"/api/v2/erc20/asset/limits/bundle":{"get":{"parameters":[{"description":"Proposal ID of the asset update proposal.","in":"query","name":"proposalId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetERC20SetAssetLimitsBundleResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get the signature bundle to update the token limits. These are `maxLifetimeDeposit` and `withdrawThreshold` for a given ERC20 token that is\nalready allowlisted in the collateral bridge.","operationId":"TradingDataService_GetERC20SetAssetLimitsBundle","summary":"Get ERC20 set asset limits bundle"}},"/api/v2/erc20/asset/list/bundle":{"get":{"parameters":[{"description":"Asset ID of the asset bundle requested.","in":"query","name":"assetId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetERC20ListAssetBundleResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get the signatures bundle to allowlist an ERC20 token in the collateral bridge","operationId":"TradingDataService_GetERC20ListAssetBundle","summary":"Get ERC20 list asset bundle"}},"/api/v2/erc20/asset/withdrawal/bundle":{"get":{"parameters":[{"description":"Withdrawal ID to retrieve.","in":"query","name":"withdrawalId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetERC20WithdrawalApprovalResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get the signature bundle to finalize a withdrawal on ethereum","operationId":"TradingDataService_GetERC20WithdrawalApproval","summary":"Get ERC20 withdrawal approval"}},"/api/v2/erc20/multisigcontrol/signer/added/bundles":{"get":{"parameters":[{"description":"Node ID of the validator for which a signature bundle is required.","in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"description":"Ethereum address of the validator that will submit the bundle.","in":"query","name":"submitter","required":false,"schema":{"type":"string"}},{"description":"Epoch in which the bundle was generated, i.e. the epoch in which the node was promoted to consensus validator.","in":"query","name":"epochSeq","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListERC20MultiSigSignerAddedBundlesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get a list of the signature bundles to add a particular validator to the signer list of the multisig contract","operationId":"TradingDataService_ListERC20MultiSigSignerAddedBundles","summary":"List ERC20 multi-sig signer added bundles"}},"/api/v2/erc20/multisigcontrol/signer/removed/bundles":{"get":{"parameters":[{"description":"Node ID of the validator of which a signature bundle is required.","in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"description":"Ethereum address of the validator that will submit the bundle.","in":"query","name":"submitter","required":false,"schema":{"type":"string"}},{"description":"Epoch in which the bundle was generated, i.e. the epoch in which the node was demoted from a consensus validator.","in":"query","name":"epochSeq","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListERC20MultiSigSignerRemovedBundlesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get a list of the signature bundles to remove a particular validator from signer list of the multisig contract","operationId":"TradingDataService_ListERC20MultiSigSignerRemovedBundles","summary":"List ERC20 multi-sig signer removed bundles"}},"/api/v2/estimate/fee":{"get":{"parameters":[{"description":"Market ID, used to specify the fee factors.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Price at which the potential order is expected to trade.","in":"query","name":"price","required":true,"schema":{"type":"string"}},{"description":"Size at which the potential order is expected to trade.","in":"query","name":"size","required":true,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2EstimateFeeResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Estimate the fee that would be incurred for submitting an order\nwith the specified price and size on the market.","operationId":"TradingDataService_EstimateFee","summary":"Estimate fee"}},"/api/v2/estimate/margin":{"get":{"parameters":[{"description":"Market ID for the order.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Party ID of the order.","in":"query","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Order side - indicator for Seller or Buyer side.\n\n - SIDE_UNSPECIFIED: Default value, always invalid\n - SIDE_BUY: Buy order\n - SIDE_SELL: Sell order","in":"query","name":"side","required":false,"schema":{"default":"SIDE_UNSPECIFIED","enum":["SIDE_UNSPECIFIED","SIDE_BUY","SIDE_SELL"],"type":"string"}},{"description":"Type of the order.\n\n - TYPE_UNSPECIFIED: Default value, always invalid\n - TYPE_LIMIT: Used for Limit orders\n - TYPE_MARKET: Used for Market orders\n - TYPE_NETWORK: Used for orders where the initiating party is the network (with distressed parties)","in":"query","name":"type","required":false,"schema":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_LIMIT","TYPE_MARKET","TYPE_NETWORK"],"type":"string"}},{"description":"Size of order.","in":"query","name":"size","required":true,"schema":{"format":"uint64","type":"string"}},{"description":"Price of the asset.","in":"query","name":"price","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2EstimateMarginResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Estimate the margin that would be required for submitting this order","operationId":"TradingDataService_EstimateMargin","summary":"Estimate margin"}},"/api/v2/estimate/position":{"get":{"parameters":[{"description":"Market ID.","in":"query","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Open volume.\nThis field is an signed integer (negative for short position) passed as a string and needs to be scaled using the market's position decimal places.","in":"query","name":"openVolume","required":true,"schema":{"format":"int64","type":"string"}},{"description":"Optional argument specifying collateral available for the position, if provided then response will contain the liquidation price estimate.","in":"query","name":"collateralAvailable","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2EstimatePositionResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Positions"],"description":"Estimate the margin that would be required for maintaining the specified position.\nIf the optional collateral available argument is supplied, the response also contains the estimate of the liquidation price.","operationId":"TradingDataService_EstimatePosition","summary":"Estimate position"}},"/api/v2/governance":{"get":{"parameters":[{"description":"Proposal ID to get governance data for, if provided.","in":"query","name":"proposalId","required":false,"schema":{"type":"string"}},{"description":"Reference to get proposal data for, if provided.","in":"query","name":"reference","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetGovernanceDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Governance"],"description":"Get a single proposal's details","operationId":"TradingDataService_GetGovernanceData","summary":"Get governance data"}},"/api/v2/governances":{"get":{"parameters":[{"description":"Proposal state to list governance data for, if provided.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted i.e. proposal terms failed validation due to wrong configuration or failed to meet network requirements.\n - STATE_DECLINED: Proposal didn't get enough votes, e.g. either failed to gain required participation or majority level.\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","in":"query","name":"proposalState","required":false,"schema":{"default":"STATE_UNSPECIFIED","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"type":"string"}},{"description":"Proposal type to list governance data for, if provided.\n\n - TYPE_ALL: List all proposals\n - TYPE_NEW_MARKET: List new market proposals\n - TYPE_UPDATE_MARKET: List update market proposals\n - TYPE_NETWORK_PARAMETERS: List change Vega network parameter proposals\n - TYPE_NEW_ASSET: New asset proposals\n - TYPE_NEW_FREE_FORM: Proposals for creating a new free form proposal\n - TYPE_UPDATE_ASSET: Update asset proposals","in":"query","name":"proposalType","required":false,"schema":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_ALL","TYPE_NEW_MARKET","TYPE_UPDATE_MARKET","TYPE_NETWORK_PARAMETERS","TYPE_NEW_ASSET","TYPE_NEW_FREE_FORM","TYPE_UPDATE_ASSET"],"type":"string"}},{"description":"Proposer party ID to list governance data for, if provided.","in":"query","name":"proposerPartyId","required":false,"schema":{"type":"string"}},{"description":"Proposal reference to list governance data for, if provided.","in":"query","name":"proposalReference","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListGovernanceDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Governance"],"description":"Get a list of proposals","operationId":"TradingDataService_ListGovernanceData","summary":"List governance data"}},"/api/v2/info":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2InfoResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Node information"],"description":"Get information about the data node.\nResponse contains a semver formatted version of the data node and the commit hash, from which the data node was built","operationId":"TradingDataService_Info","summary":"Data node information"}},"/api/v2/ledgerentry/export":{"get":{"parameters":[{"description":"Party ID to export ledger entries for.","in":"query","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Optional: Asset ID.","in":"query","name":"assetId","required":true,"schema":{"type":"string"}},{"in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"error":{"$ref":"#/components/schemas/googlerpcStatus"},"result":{"$ref":"#/components/schemas/apiHttpBody"}},"title":"Stream result of apiHttpBody","type":"object"}}},"description":"A successful response.(streaming responses)"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Ledger entries"],"description":"Export ledger entries records ledger entries to a csv file.\nMay or may not contain a date range - if no date range is provided, list all records for all times.\n\nLedger entries can be exported by:\n  - export ledger entries for a single party for a given asset within a given time range\n  - export ledger entries for a single party for a given asset for all times\nbuf:lint:ignore RPC_RESPONSE_STANDARD_NAME\nbuf:lint:ignore RPC_REQUEST_RESPONSE_UNIQUE","operationId":"TradingDataService_ExportLedgerEntries","summary":"Export ledger entries"}},"/api/v2/ledgerentry/history":{"get":{"parameters":[{"description":"Determines whether an entry must have accounts matching both the account_from_filter\nand the account_to_filter. If set to 'true', entries must have matches in both filters.\nIf set to `false`, entries matching only the account_from_filter or the account_to_filter will also be included.","in":"query","name":"filter.closeOnAccountFilters","required":false,"schema":{"type":"boolean"}},{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.fromAccountFilter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.fromAccountFilter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.fromAccountFilter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","explode":true,"in":"query","name":"filter.fromAccountFilter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"type":"string"},"type":"array"}},{"description":"Restrict accounts to those holding balances in this asset ID.","in":"query","name":"filter.toAccountFilter.assetId","required":false,"schema":{"type":"string"}},{"description":"Restrict accounts to those owned by the parties in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.toAccountFilter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to the markets in this list. Pass an empty list for no filter.","explode":true,"in":"query","name":"filter.toAccountFilter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Restrict accounts to those connected to any of the types in this list. Pass an empty list for no filter.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nRequired initial margin is allocated to each market from user's general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nVega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","explode":true,"in":"query","name":"filter.toAccountFilter.accountTypes","required":false,"schema":{"items":{"enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"type":"string"},"type":"array"}},{"description":"List of transfer types that is used for filtering sender and receiver accounts.\n\n - TRANSFER_TYPE_UNSPECIFIED: Default value, always invalid\n - TRANSFER_TYPE_LOSS: Funds deducted after final settlement loss\n - TRANSFER_TYPE_WIN: Funds added to general account after final settlement gain\n - TRANSFER_TYPE_MTM_LOSS: Funds deducted from margin account after mark to market loss\n - TRANSFER_TYPE_MTM_WIN: Funds added to margin account after mark to market gain\n - TRANSFER_TYPE_MARGIN_LOW: Funds transferred from general account to meet margin requirement\n - TRANSFER_TYPE_MARGIN_HIGH: Excess margin amount returned to general account\n - TRANSFER_TYPE_MARGIN_CONFISCATED: Margin confiscated from margin account to fulfil closeout\n - TRANSFER_TYPE_MAKER_FEE_PAY: Maker fee paid from general account\n - TRANSFER_TYPE_MAKER_FEE_RECEIVE: Maker fee received into general account\n - TRANSFER_TYPE_INFRASTRUCTURE_FEE_PAY: Infrastructure fee paid from general account\n - TRANSFER_TYPE_INFRASTRUCTURE_FEE_DISTRIBUTE: Infrastructure fee received into general account\n - TRANSFER_TYPE_LIQUIDITY_FEE_PAY: Liquidity fee paid from general account\n - TRANSFER_TYPE_LIQUIDITY_FEE_DISTRIBUTE: Liquidity fee received into general account\n - TRANSFER_TYPE_BOND_LOW: Bond account funded from general account to meet required bond amount\n - TRANSFER_TYPE_BOND_HIGH: Bond returned to general account after liquidity commitment was reduced\n - TRANSFER_TYPE_WITHDRAW: Funds withdrawn from general account\n - TRANSFER_TYPE_DEPOSIT: Funds deposited to general account\n - TRANSFER_TYPE_BOND_SLASHING: Bond account penalised when liquidity commitment not met\n - TRANSFER_TYPE_REWARD_PAYOUT: Reward payout received\n - TRANSFER_TYPE_TRANSFER_FUNDS_SEND: Internal Vega network instruction for the collateral engine to move funds from a user's general account into the pending transfers pool\n - TRANSFER_TYPE_TRANSFER_FUNDS_DISTRIBUTE: Internal Vega network instruction for the collateral engine to move funds from the pending transfers pool account into the destination account\n - TRANSFER_TYPE_CLEAR_ACCOUNT: Market-related accounts emptied because market has closed\n - TRANSFER_TYPE_CHECKPOINT_BALANCE_RESTORE: Balances restored after network restart","explode":true,"in":"query","name":"filter.transferTypes","required":false,"schema":{"items":{"enum":["TRANSFER_TYPE_UNSPECIFIED","TRANSFER_TYPE_LOSS","TRANSFER_TYPE_WIN","TRANSFER_TYPE_MTM_LOSS","TRANSFER_TYPE_MTM_WIN","TRANSFER_TYPE_MARGIN_LOW","TRANSFER_TYPE_MARGIN_HIGH","TRANSFER_TYPE_MARGIN_CONFISCATED","TRANSFER_TYPE_MAKER_FEE_PAY","TRANSFER_TYPE_MAKER_FEE_RECEIVE","TRANSFER_TYPE_INFRASTRUCTURE_FEE_PAY","TRANSFER_TYPE_INFRASTRUCTURE_FEE_DISTRIBUTE","TRANSFER_TYPE_LIQUIDITY_FEE_PAY","TRANSFER_TYPE_LIQUIDITY_FEE_DISTRIBUTE","TRANSFER_TYPE_BOND_LOW","TRANSFER_TYPE_BOND_HIGH","TRANSFER_TYPE_WITHDRAW","TRANSFER_TYPE_DEPOSIT","TRANSFER_TYPE_BOND_SLASHING","TRANSFER_TYPE_REWARD_PAYOUT","TRANSFER_TYPE_TRANSFER_FUNDS_SEND","TRANSFER_TYPE_TRANSFER_FUNDS_DISTRIBUTE","TRANSFER_TYPE_CLEAR_ACCOUNT","TRANSFER_TYPE_CHECKPOINT_BALANCE_RESTORE"],"type":"string"},"type":"array"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"in":"query","name":"dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLedgerEntriesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Ledger entries"],"description":"Get a list of ledger entries within the given date range.\nThis query requests and sums the number of ledger entries from a given subset of accounts, specified via the 'filter' argument.\nIt returns a time series - implemented as a list of AggregateLedgerEntry structs - with a row for every time\nthe summed ledger entries of the set of specified accounts changes.\nEach account filter must contain no more than one party ID.\n\nEntries can be filtered by:\n  - the sending account (market ID, asset ID, account type)\n  - receiving account (market ID, asset ID, account type)\n  - sending AND receiving account\n  - transfer type either in addition to the above filters or as a standalone option","operationId":"TradingDataService_ListLedgerEntries","summary":"List ledger entries"}},"/api/v2/liquidity/provisions":{"get":{"parameters":[{"description":"Target market for the liquidity provision orders.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Party which submitted the liquidity provision orders.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Reference of the liquidity provision.","in":"query","name":"reference","required":false,"schema":{"type":"string"}},{"description":"Indicator if the listed liquidity provision orders will include live orders or not.","in":"query","name":"live","required":false,"schema":{"type":"boolean"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLiquidityProvisionsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Liquidity provisions"],"description":"Get a list of liquidity provisions for a given market using a cursor based pagination","operationId":"TradingDataService_ListLiquidityProvisions","summary":"List liquidity provisions"}},"/api/v2/margin/levels":{"get":{"parameters":[{"description":"Party ID for which to list the margin levels.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Market ID for which to list the margin levels.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListMarginLevelsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Margin levels"],"description":"Get a list margin levels that match the provided criteria. If no filter is provided, all margin levels will be returned.","operationId":"TradingDataService_ListMarginLevels","summary":"List margin levels"}},"/api/v2/market/data/{marketId}":{"get":{"parameters":[{"description":"Market ID to request data history for, required field.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Optional Unix time in nanoseconds.","in":"query","name":"startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Optional Unix time in nanoseconds.","in":"query","name":"endTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetMarketDataHistoryByIDResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get market data history for a market ID between given dates","operationId":"TradingDataService_GetMarketDataHistoryByID","summary":"Get market data history"}},"/api/v2/market/data/{marketId}/latest":{"get":{"parameters":[{"description":"Market ID to retrieve market data for, required field.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetLatestMarketDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get the latest market data for a given market","operationId":"TradingDataService_GetLatestMarketData","summary":"Get latest market data"}},"/api/v2/market/depth/{marketId}/latest":{"get":{"parameters":[{"description":"Market ID to request market depth for, required field.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Optional field to indicate the maximum market depth.","in":"query","name":"maxDepth","required":false,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetLatestMarketDepthResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get the latest market depth for a given market","operationId":"TradingDataService_GetLatestMarketDepth","summary":"Get latest market depth"}},"/api/v2/market/{marketId}":{"get":{"parameters":[{"description":"Market ID of the market to retrieve data for.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetMarketResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get information about a specific market using its ID. Use the market lists query to get a market's ID","operationId":"TradingDataService_GetMarket","summary":"Get market"}},"/api/v2/market/{marketId}/trade/latest":{"get":{"parameters":[{"description":"Market ID to retrieve the last trade for, required field.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetLastTradeResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Trades"],"description":"Get latest trade","operationId":"TradingDataService_GetLastTrade","summary":"Get latest trade"}},"/api/v2/markets":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"description":"Whether or not to include settled markets in the response; default to true if not specified.","in":"query","name":"includeSettled","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListMarketsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of markets using a cursor based pagination","operationId":"TradingDataService_ListMarkets","summary":"List markets"}},"/api/v2/markets/data":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListLatestMarketDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Markets"],"description":"Get a list of the latest market data for every market","operationId":"TradingDataService_ListLatestMarketData","summary":"List latest market data"}},"/api/v2/network/data":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get data regarding the nodes of the network","operationId":"TradingDataService_GetNetworkData","summary":"Get network data"}},"/api/v2/network/limits":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkLimitsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get the current network limits, for example: is bootstrapping finished, are proposals enabled etc.","operationId":"TradingDataService_GetNetworkLimits","summary":"Get network limits"}},"/api/v2/network/parameters":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListNetworkParametersResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of the network parameters","operationId":"TradingDataService_ListNetworkParameters","summary":"List network parameters"}},"/api/v2/network/parameters/{key}":{"get":{"parameters":[{"description":"Key identifying the network parameter.","in":"path","name":"key","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkParameterResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a single network parameter","operationId":"TradingDataService_GetNetworkParameter","summary":"Get network parameter"}},"/api/v2/networkhistory":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkHistoryStatusResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network history"],"description":"Get information about the current state of network history\nResponse contains the network history status","operationId":"TradingDataService_GetNetworkHistoryStatus","summary":"Network history status"}},"/api/v2/networkhistory/bootstrap":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNetworkHistoryBootstrapPeersResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network history"],"description":"Get the bootstrap peers for data nodes.\nResponse contains the bootstrap peers","operationId":"TradingDataService_GetNetworkHistoryBootstrapPeers","summary":"Network history bootstrap peers"}},"/api/v2/networkhistory/export":{"get":{"parameters":[{"description":"Block to begin exporting from. Must be the first block of a history segment,\nwhich by default are 1000 blocks each; in that case - 1, 1001, 2001 etc. are valid values.\nThis can be checked by first calling the API to list all network history segments.","in":"query","name":"fromBlock","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Last block to export up to and including. Must be the last block of a history segment\nwhich by default are 1000 blocks each; in that case - 1000, 2000, 3000 etc. are valid values.\nThis can be checked by first calling the API to list all network history segments.","in":"query","name":"toBlock","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Table to export data from.","in":"query","name":"table","required":false,"schema":{"default":"TABLE_UNSPECIFIED","enum":["TABLE_UNSPECIFIED","TABLE_BALANCES","TABLE_CHECKPOINTS","TABLE_DELEGATIONS","TABLE_LEDGER","TABLE_ORDERS","TABLE_TRADES","TABLE_MARKET_DATA","TABLE_MARGIN_LEVELS","TABLE_POSITIONS","TABLE_LIQUIDITY_PROVISIONS","TABLE_MARKETS","TABLE_DEPOSITS","TABLE_WITHDRAWALS","TABLE_BLOCKS","TABLE_REWARDS"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"error":{"$ref":"#/components/schemas/googlerpcStatus"},"result":{"$ref":"#/components/schemas/apiHttpBody"}},"title":"Stream result of apiHttpBody","type":"object"}}},"description":"A successful response.(streaming responses)"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network history"],"description":"Export CSV table data from network history between two block heights.\n\nThe requested block heights must fall on network history segment boundaries, which can\nbe discovered by calling the API to list all network history segments. By default\nsegments contain 1000 blocks. In that case ranges such as (1, 1000), (1001, 2000), (1, 3000)\nwould all fall on segment boundaries and be valid.\n\nThe generated CSV file is compressed into a ZIP file and returned, with the file name\nin the following format: [chain id]-[table name]-[start block]-[end block].zip\n\nIn gRPC, results are returned in a chunked stream of base64 encoded data.\n\nThrough the REST gateway, the base64 data chunks are decoded and streamed as a\n`content-type: application/zip` HTTP response.\n\nThe CSV exported data uses a comma as a DELIMITER between fields, and \" for QUOTE-ing fields.\n\nIf a value contains any of: DELIMITER, QUOTE, carriage return, or line feed then the whole\nvalue is prefixed and suffixed by the QUOTE character and any occurrence within\nthe value of a QUOTE character preceded by another QUOTE.\n\nA NULL is output as the NULL parameter string and is not quoted, while a non-NULL value\nmatching the NULL parameter string is quoted.\n\nFor example, with the default settings, a NULL is written as an unquoted empty string,\nwhile an empty string data value is written with double quotes.\n\nNote that CSV files produced may contain quoted values containing embedded carriage returns and line feeds.\nThus the files are not strictly one line per table row like text-format files.\n\nThe first row of the CSV file is a header that describes the contents of each column\nin subsequent rows.\n\nUsually the ZIP file will contain only a single CSV file. However it is possible that\nthe (from_block, to_block) request spans over a range of blocks in which the underlying\nschema of the database changes. For example, a column may have been added, removed, or renamed.\n\nIf this happens, the CSV file will be split at the point of the schema change and the zip\nfile will contain multiple CSV files, with a potentially different set of headers. The\n'version' number of the database schema is part of the in the CSV filename:\n\n [chain id]-[table name]-[schema version]-[start block]-[end block].zip\n\nFor example, a zip file might be called mainnet-sometable-000001-003000.zip\n\nAnd contain two CSV files: mainnet-sometable-1-000001-002000.csv:\n\ntimestamp, value\n1, foo\n2, bar\n\nAnd mainnet-sometable-2-002001-003000.csv:\n\ntimestamp, value, extra_value\n3, baz, apple\n\nIt is worth noting that the schema will not change within a single network history segment.\nbuf:lint:ignore RPC_RESPONSE_STANDARD_NAME\nbuf:lint:ignore RPC_REQUEST_RESPONSE_UNIQUE","operationId":"TradingDataService_ExportNetworkHistory","summary":"Export network history as CSV"}},"/api/v2/networkhistory/segments":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListAllNetworkHistorySegmentsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network history"],"description":"Get a list of all history segments stored by the data node currently connected to","operationId":"TradingDataService_ListAllNetworkHistorySegments","summary":"List all network history segments"}},"/api/v2/node/signatures":{"get":{"parameters":[{"description":"Resource ID to list signatures for, required field.","in":"query","name":"id","required":true,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListNodeSignaturesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["ERC20 bridge"],"description":"Get a list of aggregate signatures from all the nodes of the network","operationId":"TradingDataService_ListNodeSignatures","summary":"List node signatures"}},"/api/v2/node/{id}":{"get":{"parameters":[{"description":"Node ID to get data for.","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetNodeResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get information about a given node","operationId":"TradingDataService_GetNode","summary":"Get node"}},"/api/v2/nodes":{"get":{"parameters":[{"description":"Epoch number to list nodes for, if provided.","in":"query","name":"epochSeq","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListNodesResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Network"],"description":"Get a list of the nodes on the network along with the related information.","operationId":"TradingDataService_ListNodes","summary":"List nodes"}},"/api/v2/oracle/data":{"get":{"parameters":[{"description":"Oracle spec ID to list data for.","in":"query","name":"oracleSpecId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListOracleDataResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Data sources"],"description":"Get a list of all oracle data","operationId":"TradingDataService_ListOracleData","summary":"List oracle data"}},"/api/v2/oracle/spec/{oracleSpecId}":{"get":{"parameters":[{"description":"Oracle spec ID to request data for.","in":"path","name":"oracleSpecId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetOracleSpecResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Data sources"],"description":"Get an oracle spec by ID. Use the oracle spec list to query for oracle spec IDs","operationId":"TradingDataService_GetOracleSpec","summary":"Get oracle spec"}},"/api/v2/oracle/specs":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListOracleSpecsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Data sources"],"description":"Get a list of specs for an oracle","operationId":"TradingDataService_ListOracleSpecs","summary":"List oracle specs"}},"/api/v2/order/versions/{orderId}":{"get":{"parameters":[{"description":"Order ID to list versions for.","in":"path","name":"orderId","required":true,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListOrderVersionsResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Get a list of all versions of an order in the order history","operationId":"TradingDataService_ListOrderVersions","summary":"List order versions"}},"/api/v2/order/{orderId}":{"get":{"parameters":[{"description":"Order ID to retrieve order information for.","in":"path","name":"orderId","required":true,"schema":{"type":"string"}},{"description":"Optional version of the order.","in":"query","name":"version","required":false,"schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2GetOrderResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Get the current version of an order, or optionally provide a version ID to retrieve a given version if order was amended.","operationId":"TradingDataService_GetOrder","summary":"Get order"}},"/api/v2/orders":{"get":{"parameters":[{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}},{"description":"List of order statuses the orders can be filtered by.\n\n - STATUS_UNSPECIFIED: Default value, always invalid\n - STATUS_ACTIVE: Used for active unfilled or partially filled orders\n - STATUS_EXPIRED: Used for expired GTT orders\n - STATUS_CANCELLED: Used for orders cancelled by the party that created the order\n - STATUS_STOPPED: Used for unfilled FOK or IOC orders, and for orders that were stopped by the network\n - STATUS_FILLED: Used for closed fully filled orders\n - STATUS_REJECTED: Used for orders when not enough collateral was available to fill the margin requirements\n - STATUS_PARTIALLY_FILLED: Used for closed partially filled IOC orders\n - STATUS_PARKED: Order has been removed from the order book and has been parked,\nthis applies to pegged orders and liquidity orders (orders created from a liquidity provision shape)","explode":true,"in":"query","name":"filter.statuses","required":false,"schema":{"items":{"enum":["STATUS_UNSPECIFIED","STATUS_ACTIVE","STATUS_EXPIRED","STATUS_CANCELLED","STATUS_STOPPED","STATUS_FILLED","STATUS_REJECTED","STATUS_PARTIALLY_FILLED","STATUS_PARKED"],"type":"string"},"type":"array"}},{"description":"List of order types the orders can be filtered by.\n\n - TYPE_UNSPECIFIED: Default value, always invalid\n - TYPE_LIMIT: Used for Limit orders\n - TYPE_MARKET: Used for Market orders\n - TYPE_NETWORK: Used for orders where the initiating party is the network (with distressed parties)","explode":true,"in":"query","name":"filter.types","required":false,"schema":{"items":{"enum":["TYPE_UNSPECIFIED","TYPE_LIMIT","TYPE_MARKET","TYPE_NETWORK"],"type":"string"},"type":"array"}},{"description":"List of timings the orders can be filtered by.\n\n - TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, the order either trades completely i.e. remainingSize == 0 after adding,\nor not at all, and does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)","explode":true,"in":"query","name":"filter.timeInForces","required":false,"schema":{"items":{"enum":["TIME_IN_FORCE_UNSPECIFIED","TIME_IN_FORCE_GTC","TIME_IN_FORCE_GTT","TIME_IN_FORCE_IOC","TIME_IN_FORCE_FOK","TIME_IN_FORCE_GFA","TIME_IN_FORCE_GFN"],"type":"string"},"type":"array"}},{"description":"Indicator if liquidity provision orders should be included or not in the list.","in":"query","name":"filter.excludeLiquidity","required":false,"schema":{"type":"boolean"}},{"description":"List of party IDs to filter on.","explode":true,"in":"query","name":"filter.partyIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"List of market IDs to filter on.","explode":true,"in":"query","name":"filter.marketIds","required":false,"schema":{"items":{"type":"string"},"type":"array"}},{"description":"Reference.","in":"query","name":"filter.reference","required":false,"schema":{"type":"string"}},{"in":"query","name":"filter.dateRange.startTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"in":"query","name":"filter.dateRange.endTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Indicator for listing only live orders, if set to true.","in":"query","name":"filter.liveOnly","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v2ListOrdersResponse"}}},"description":"A successful response."},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An internal server error"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Orders"],"description":"Get a list of orders that match the given filters","operationId":"TradingDataService_ListOrders","summary":"List orders"}},"/api/v2/parties":{"get":{"parameters":[{"description":"Party ID to filter for. If omitted, no filter will be applied.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort greater than row identified by cursor supplied in 'after'.","in":"query","name":"pagination.first","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the last row of the previous page.","in":"query","name":"pagination.after","required":false,"schema":{"type":"string"}},{"description":"Number of records to be returned that sort less than row identified by cursor supplied in 'before'.","in":"query","name":"pagination.last","required":false,"schema":{"format":"int32","type":"integer"}},{"description":"If paging forwards, the cursor string for the first row of the previous page.","in":"query","name":"pagination.before","required":false,"schema":{"type":"string"}},{"description":"Newest records first, older records last, default is true.","in":"query","name":"pagination.newestFirst","required":false,"schema":{"type":"boolean"}}],
[...]
