{"openapi":"3.0.0","info":{"title":"Vega block explorer APIs","version":"v0.59.0"},"servers":[{"url":"https://n13.testnet.vega.xyz/rest","description":"n13: Experimental node"}],"paths":{"/transactions":{"get":{"parameters":[{"description":"The number of transactions to be returned from the blockchain.","in":"query","name":"limit","required":false,"schema":{"format":"int64","type":"integer"}},{"description":"An optional cursor to paginate the request.","in":"query","name":"before","required":false,"schema":{"type":"string"}},{"description":"An optional cursor to paginate the request.","in":"query","name":"after","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListTransactionsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["BlockExplorer"],"description":"List transactions from the Vega blockchain","operationId":"BlockExplorer_ListTransactions","summary":"List transactions"}},"/transactions/{hash}":{"get":{"parameters":[{"description":"The hash of the transaction","in":"path","name":"hash","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["BlockExplorer"],"description":"Get a transaction from the Vega blockchain","operationId":"BlockExplorer_GetTransaction","summary":"Get transaction"}}},"components":{"schemas":{"ConditionOperator":{"default":"OPERATOR_UNSPECIFIED","description":"Comparator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue.","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"type":"string"},"OracleDataSubmissionOracleSource":{"default":"ORACLE_SOURCE_UNSPECIFIED","description":"- ORACLE_SOURCE_UNSPECIFIED: The default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data","enum":["ORACLE_SOURCE_UNSPECIFIED","ORACLE_SOURCE_OPEN_ORACLE","ORACLE_SOURCE_JSON"],"title":"The supported Oracle sources","type":"string"},"OrderTimeInForce":{"default":"TIME_IN_FORCE_UNSPECIFIED","description":"- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, The order either trades completely (remainingSize == 0 after adding)\nor not at all, does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)","enum":["TIME_IN_FORCE_UNSPECIFIED","TIME_IN_FORCE_GTC","TIME_IN_FORCE_GTT","TIME_IN_FORCE_IOC","TIME_IN_FORCE_FOK","TIME_IN_FORCE_GFA","TIME_IN_FORCE_GFN"],"title":"Time In Force for an order","type":"string"},"UndelegateSubmissionMethod":{"default":"METHOD_UNSPECIFIED","enum":["METHOD_UNSPECIFIED","METHOD_NOW","METHOD_AT_END_OF_EPOCH","METHOD_IN_ANGER"],"type":"string"},"blockexplorerapiv1Transaction":{"properties":{"block":{"format":"uint64","title":"The height of the block the transaction was found in","type":"string"},"code":{"format":"int64","title":"The results code of the transaction (0 is success)","type":"integer"},"command":{"$ref":"#/components/schemas/v1InputData","title":"The actual command of the transaction"},"cursor":{"title":"The cursor for this transaction (in the page, used for paginated results)","type":"string"},"hash":{"title":"The hash of the transaction","type":"string"},"index":{"format":"int64","title":"The index of the transaction in the block","type":"integer"},"submitter":{"title":"The submitter of the transaction (Vega public key)","type":"string"},"type":{"title":"The type of transaction","type":"string"}},"type":"object"},"commandsv1Transfer":{"properties":{"amount":{"title":"The amount to be taken from the source account","type":"string"},"asset":{"title":"The asset","type":"string"},"fromAccountType":{"$ref":"#/components/schemas/vegaAccountType","title":"The account type from which the funds of the party\nshould be taken"},"oneOff":{"$ref":"#/components/schemas/v1OneOffTransfer"},"recurring":{"$ref":"#/components/schemas/v1RecurringTransfer"},"reference":{"title":"The reference to be attached to the transfer","type":"string"},"to":{"title":"The public key of the destination account","type":"string"},"toAccountType":{"$ref":"#/components/schemas/vegaAccountType","title":"The type of the destination account"}},"title":"A transfer initiated by a party","type":"object"},"googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"details":{"items":{"$ref":"#/components/schemas/protobufAny"},"type":"array"},"message":{"type":"string"}},"type":"object"},"protobufAny":{"additionalProperties":{},"properties":{"@type":{"type":"string"}},"type":"object"},"v1AnnounceNode":{"properties":{"avatarUrl":{"title":"AvatarURL of the validator","type":"string"},"chainPubKey":{"title":"Public key for the blockchain, required field","type":"string"},"country":{"title":"Country code (ISO 3166-1 alpha-2) for the location of the node","type":"string"},"ethereumAddress":{"title":"Ethereum public key, required field","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature from the validator made using the ethereum wallet"},"fromEpoch":{"format":"uint64","title":"The epoch from which the validator is expected\nto be ready to validate blocks","type":"string"},"id":{"title":"ID of the validator, (public master key)","type":"string"},"infoUrl":{"title":"URL with more info on the node","type":"string"},"name":{"title":"Name of the validator","type":"string"},"submitterAddress":{"title":"Ethereum public key to use as a submitter to allow automatic signature generation","type":"string"},"vegaPubKey":{"title":"Vega public key, required field","type":"string"},"vegaPubKeyIndex":{"format":"int64","title":"Vega public key derivation index","type":"integer"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature from the validator made using the vega wallet"}},"title":"Used announce a node as a new potential validator","type":"object"},"v1BatchMarketInstructions":{"properties":{"amendments":{"items":{"$ref":"#/components/schemas/v1OrderAmendment"},"title":"A list of order amendments to be processed sequentially","type":"array"},"cancellations":{"items":{"$ref":"#/components/schemas/v1OrderCancellation"},"title":"A list of order cancellations to be processed sequentially","type":"array"},"submissions":{"items":{"$ref":"#/components/schemas/v1OrderSubmission"},"title":"A list of order submissions to be processed sequentially","type":"array"}},"title":"A batch of order instructions.\nThis command accepts only the following batches of commands\nand will be processed in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\nThe total amount of commands in the batch across all three lists of\ninstructions is restricted by the following network parameter:\n\"spam.protection.max.batchSize\"","type":"object"},"v1CancelTransfer":{"properties":{"transferId":{"title":"The ID of the transfer to cancel","type":"string"}},"title":"A request for cancelling a recurring transfer","type":"object"},"v1ChainEvent":{"properties":{"builtin":{"$ref":"#/components/schemas/vegaBuiltinAssetEvent","title":"Built-in asset event"},"erc20":{"$ref":"#/components/schemas/vegaERC20Event","title":"Ethereum ERC20 event"},"erc20Multisig":{"$ref":"#/components/schemas/vegaERC20MultiSigEvent","title":"Ethereum ERC20 multisig event"},"nonce":{"format":"uint64","title":"Arbitrary one-time integer used to prevent replay attacks","type":"string"},"stakingEvent":{"$ref":"#/components/schemas/vegaStakingEvent","title":"Ethereum Staking event"},"txId":{"title":"The identifier of the transaction in which the events happened, usually a hash","type":"string"}},"title":"An event forwarded to the Vega network to provide information on events happening on other networks","type":"object"},"v1Condition":{"properties":{"operator":{"$ref":"#/components/schemas/ConditionOperator","description":"comparator is the type of comparison to make on the value."},"value":{"description":"value is used by the comparator.","type":"string"}},"title":"Condition describes the condition that must be validated by the network","type":"object"},"v1DelegateSubmission":{"properties":{"amount":{"title":"The amount of stake to delegate","type":"string"},"nodeId":{"title":"The ID for the node to delegate to","type":"string"}},"title":"A command to submit an instruction to delegate some stake to a node","type":"object"},"v1ETHAddress":{"properties":{"address":{"type":"string"}},"type":"object"},"v1EthereumKeyRotateSubmission":{"properties":{"currentAddress":{"title":"Currently used public address","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature that can be verified using the new ethereum address"},"newAddress":{"title":"The new adress to rotate to","type":"string"},"submitterAddress":{"title":"Ethereum public key to use as a submitter to allow automatic signature generation","type":"string"},"targetBlock":{"format":"uint64","title":"Target block at which the key rotation will take effect on","type":"string"}},"title":"A transaction to allow validator to rotate their ethereum keys","type":"object"},"v1Filter":{"description":"Filter describes the conditions under which a data source data is considered of\ninterest or not.","properties":{"conditions":{"description":"conditions are the conditions that should be matched by the data to be\nconsidered of interest.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"},"key":{"$ref":"#/components/schemas/v1PropertyKey","description":"key is the data source data property key targeted by the filter."}},"type":"object"},"v1GetTransactionResponse":{"properties":{"transaction":{"$ref":"#/components/schemas/blockexplorerapiv1Transaction","title":"The transaction corresponding to the hash"}},"type":"object"},"v1InputData":{"properties":{"announceNode":{"$ref":"#/components/schemas/v1AnnounceNode"},"batchMarketInstructions":{"$ref":"#/components/schemas/v1BatchMarketInstructions"},"blockHeight":{"description":"The block height at which the transaction was made.\nThis should be the current block height. The transaction will be valid\nfrom the block and up to the `tolerance` block height.\nExample: If the network has a tolerance of 150 blocks and `block_height`\nis set to `200`, then the transaction will be valid until block `350`.\nNote that a `block_height` that is ahead of the real block height will be\nrejected. The tolerance can be queried from the chain's network parameters.\n`block_height` prevents replay attacks in conjunction with `nonce` (see above).","format":"uint64","type":"string"},"cancelTransfer":{"$ref":"#/components/schemas/v1CancelTransfer"},"chainEvent":{"$ref":"#/components/schemas/v1ChainEvent"},"delegateSubmission":{"$ref":"#/components/schemas/v1DelegateSubmission"},"ethereumKeyRotateSubmission":{"$ref":"#/components/schemas/v1EthereumKeyRotateSubmission"},"issueSignatures":{"$ref":"#/components/schemas/v1IssueSignatures"},"keyRotateSubmission":{"$ref":"#/components/schemas/v1KeyRotateSubmission"},"liquidityProvisionAmendment":{"$ref":"#/components/schemas/v1LiquidityProvisionAmendment"},"liquidityProvisionCancellation":{"$ref":"#/components/schemas/v1LiquidityProvisionCancellation"},"liquidityProvisionSubmission":{"$ref":"#/components/schemas/v1LiquidityProvisionSubmission"},"nodeSignature":{"$ref":"#/components/schemas/v1NodeSignature"},"nodeVote":{"$ref":"#/components/schemas/v1NodeVote","title":"Validator commands"},"nonce":{"description":"A number to provide uniqueness to prevent accidental replays and,\nin combination with `block_height`, deliberate attacks.\nA nonce provides uniqueness for otherwise identical transactions,\nensuring that the transaction hash uniquely identifies a specific transaction.\nGranted all other fields are equal, the nonce can either be a counter\nor generated at random to submit multiple transactions within the same\nblock (see below), without being identified as replays.\nPlease note that Protocol Buffers do not have a canonical, unique encoding\nand therefore different libraries or binaries may encode the same message\nslightly differently, causing a different hash.","format":"uint64","type":"string"},"oracleDataSubmission":{"$ref":"#/components/schemas/v1OracleDataSubmission","title":"Oracles"},"orderAmendment":{"$ref":"#/components/schemas/v1OrderAmendment"},"orderCancellation":{"$ref":"#/components/schemas/v1OrderCancellation"},"orderSubmission":{"$ref":"#/components/schemas/v1OrderSubmission","title":"User commands"},"proposalSubmission":{"$ref":"#/components/schemas/v1ProposalSubmission"},"protocolUpgradeProposal":{"$ref":"#/components/schemas/v1ProtocolUpgradeProposal"},"stateVariableProposal":{"$ref":"#/components/schemas/v1StateVariableProposal"},"transfer":{"$ref":"#/components/schemas/commandsv1Transfer"},"undelegateSubmission":{"$ref":"#/components/schemas/v1UndelegateSubmission"},"validatorHeartbeat":{"$ref":"#/components/schemas/v1ValidatorHeartbeat"},"voteSubmission":{"$ref":"#/components/schemas/v1VoteSubmission"},"withdrawSubmission":{"$ref":"#/components/schemas/v1WithdrawSubmission"}},"type":"object"},"v1IssueSignatures":{"properties":{"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","title":"The kind of signatures to generate, namely for whether a signer is being added or removed"},"submitter":{"title":"The ethereum address which will submit the signatures to the smart-contract","type":"string"},"validatorNodeId":{"title":"The ID of the node that will be signed in or out of the smartcontract","type":"string"}},"type":"object"},"v1KeyRotateSubmission":{"properties":{"currentPubKeyHash":{"title":"Hash of currently used public key","type":"string"},"newPubKey":{"title":"The new public key to rotate to","type":"string"},"newPubKeyIndex":{"format":"int64","title":"New Vega public key derivation index","type":"integer"},"targetBlock":{"format":"uint64","title":"Target block at which the key rotation will take effect on","type":"string"}},"title":"A transaction to allow validator to rotate their vega keys","type":"object"},"v1LiquidityProvisionAmendment":{"properties":{"buys":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"},"commitmentAmount":{"title":"From here at least one of the following is required to consider the command valid","type":"string"},"fee":{"type":"string"},"marketId":{"type":"string"},"reference":{"type":"string"},"sells":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"}},"title":"Amend a liquidity provision request","type":"object"},"v1LiquidityProvisionCancellation":{"properties":{"marketId":{"type":"string"}},"title":"Cancel a liquidity provision request","type":"object"},"v1LiquidityProvisionSubmission":{"properties":{"buys":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"title":"A set of liquidity buy orders to meet the liquidity provision obligation","type":"array"},"commitmentAmount":{"title":"Specified as a unitless number that represents the amount of settlement asset of the market","type":"string"},"fee":{"title":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers","type":"string"},"marketId":{"title":"Market identifier for the order, required field","type":"string"},"reference":{"title":"A reference to be added to every order created out of this liquidityProvisionSubmission","type":"string"},"sells":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"title":"A set of liquidity sell orders to meet the liquidity provision obligation","type":"array"}},"title":"A liquidity provision submitted for a given market","type":"object"},"v1ListTransactionsResponse":{"properties":{"transactions":{"items":{"$ref":"#/components/schemas/blockexplorerapiv1Transaction"},"title":"The transaction corresponding to the specific request and filters","type":"array"}},"type":"object"},"v1NodeSignature":{"properties":{"id":{"title":"The identifier of the resource being signed","type":"string"},"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","title":"The kind of resource being signed"},"sig":{"format":"byte","title":"The signature","type":"string"}},"title":"Represents a signature from a validator, to be used by a foreign chain in order to recognise a decision taken by the Vega network","type":"object"},"v1NodeSignatureKind":{"default":"NODE_SIGNATURE_KIND_UNSPECIFIED","description":"- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing","enum":["NODE_SIGNATURE_KIND_UNSPECIFIED","NODE_SIGNATURE_KIND_ASSET_NEW","NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED","NODE_SIGNATURE_KIND_ASSET_UPDATE"],"title":"The kind of the signature created by a node, for example, allow-listing a new asset, withdrawal etc","type":"string"},"v1NodeVote":{"properties":{"reference":{"title":"Reference, required field","type":"string"}},"title":"Used when a node votes for validating a given resource exists or is valid,\nfor example, an ERC20 deposit is valid and exists on ethereum","type":"object"},"v1OneOffTransfer":{"properties":{"deliverOn":{"format":"int64","title":"A unix timestamp in second. Time at which the\ntransfer should be delivered in the to account","type":"string"}},"title":"Specific details for a one off transfer","type":"object"},"v1OracleDataSubmission":{"properties":{"payload":{"format":"byte","title":"The data provided by the data source\nIn the case of Open Oracle - it will be the entire object - it will contain messages, signatures and price data","type":"string"},"source":{"$ref":"#/components/schemas/OracleDataSubmissionOracleSource","description":"The source from which the data is coming from. Must be base64 encoded.\nOracle data a type of external data source data."}},"title":"Command to submit new Oracle data from third party providers","type":"object"},"v1OrderAmendment":{"properties":{"expiresAt":{"format":"int64","title":"Amend the expiry time for the order, if the Timestamp value is set, otherwise expiry time will remain unchanged\n- See [`VegaTimeResponse`](#api.VegaTimeResponse).`timestamp`","type":"string"},"marketId":{"title":"Market identifier, this is required to find the order and will not be updated","type":"string"},"orderId":{"title":"Order identifier, this is required to find the order and will not be updated, required field","type":"string"},"peggedOffset":{"title":"Amend the pegged order offset for the order","type":"string"},"peggedReference":{"$ref":"#/components/schemas/vegaPeggedReference","title":"Amend the pegged order reference for the order\n- See [`PeggedReference`](#vega.PeggedReference)"},"price":{"title":"Amend the price for the order, if the Price value is set, otherwise price will remain unchanged - See [`Price`](#vega.Price)","type":"string"},"sizeDelta":{"format":"int64","title":"Amend the size for the order by the delta specified:\n- To reduce the size from the current value set a negative integer value\n- To increase the size from the current value, set a positive integer value\n- To leave the size unchanged set a value of zero","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","title":"Amend the time in force for the order, set to TIME_IN_FORCE_UNSPECIFIED to remain unchanged\n- See [`TimeInForce`](#api.VegaTimeResponse).`timestamp`"}},"title":"An order amendment is a request to amend or update an existing order on Vega","type":"object"},"v1OrderCancellation":{"properties":{"marketId":{"title":"Market identifier for the order, required field","type":"string"},"orderId":{"title":"Unique identifier for the order (set by the system after consensus), required field","type":"string"}},"title":"An order cancellation is a request to cancel an existing order on Vega","type":"object"},"v1OrderSubmission":{"properties":{"expiresAt":{"format":"int64","title":"Timestamp for when the order will expire, in nanoseconds since the epoch,\nrequired field only for `Order.TimeInForce`.TIME_IN_FORCE_GTT`\n- See `VegaTimeResponse`.`timestamp`","type":"string"},"marketId":{"title":"Market identifier for the order, required field","type":"string"},"peggedOrder":{"$ref":"#/components/schemas/vegaPeggedOrder","title":"Used to specify the details for a pegged order\n- See `PeggedOrder`"},"price":{"title":"Price for the order, the price is an integer, for example `123456` is a correctly\nformatted price of `1.23456` assuming market configured to 5 decimal places,\n, required field for limit orders, however it is not required for market orders","type":"string"},"reference":{"title":"Reference given for the order, this is typically used to retrieve an order submitted through consensus, currently\nset internally by the node to return a unique reference identifier for the order submission","type":"string"},"side":{"$ref":"#/components/schemas/vegaSide","title":"Side for the order, e.g. SIDE_BUY or SIDE_SELL, required field\n- See `Side`"},"size":{"format":"uint64","title":"Size for the order, for example, in a futures market the size equals the number of units, cannot be negative","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","title":"Time in force indicates how long an order will remain active before it is executed or expires, required field\n- See `Order.TimeInForce`"},"type":{"$ref":"#/components/schemas/vegaOrderType","title":"Type for the order, required field - See `Order.Type`"}},"title":"An order submission is a request to submit or create a new order on Vega","type":"object"},"v1PropertyKey":{"description":"PropertyKey describes the property key contained in an data source data.","properties":{"name":{"description":"name is the name of the property.","type":"string"},"type":{"$ref":"#/components/schemas/v1PropertyKeyType","description":"type is the type of the property."}},"type":"object"},"v1PropertyKeyType":{"default":"TYPE_UNSPECIFIED","description":"Type describes the type of properties that are supported by the data source\nengine.\n\n - TYPE_UNSPECIFIED: The default value.\n - TYPE_EMPTY: Any type.\n - TYPE_INTEGER: Integer type.\n - TYPE_STRING: String type.\n - TYPE_BOOLEAN: Boolean type.\n - TYPE_DECIMAL: Any floating point decimal type.\n - TYPE_TIMESTAMP: Timestamp date type.","enum":["TYPE_UNSPECIFIED","TYPE_EMPTY","TYPE_INTEGER","TYPE_STRING","TYPE_BOOLEAN","TYPE_DECIMAL","TYPE_TIMESTAMP"],"type":"string"},"v1ProposalSubmission":{"properties":{"rationale":{"$ref":"#/components/schemas/vegaProposalRationale","description":"The rationale behind a proposal."},"reference":{"title":"Proposal reference","type":"string"},"terms":{"$ref":"#/components/schemas/vegaProposalTerms","title":"Proposal configuration and the actual change that is meant to be executed when proposal is enacted"}},"title":"A command to submit a new proposal for the\nVega network governance","type":"object"},"v1ProtocolUpgradeProposal":{"properties":{"upgradeBlockHeight":{"format":"uint64","title":"The block height at which to perform the upgrade","type":"string"},"vegaReleaseTag":{"title":"the release tag for the vega binary","type":"string"}},"type":"object"},"v1PubKey":{"description":"PubKey is the public key that signed this data.\nDifferent public keys coming from different sources will be further separated.","properties":{"key":{"type":"string"}},"type":"object"},"v1RecurringTransfer":{"properties":{"dispatchStrategy":{"$ref":"#/components/schemas/vegaDispatchStrategy","title":"optional parameter defining how a transfer is dispatched"},"endEpoch":{"format":"uint64","title":"The last epoch at which this transfer shall be paid","type":"string"},"factor":{"title":"factor needs to be > 0","type":"string"},"startEpoch":{"format":"uint64","title":"The first epoch from which this transfer shall be paid","type":"string"}},"title":"Specific details for a recurring transfer","type":"object"},"v1Signature":{"description":"A signature to authenticate a transaction and to be verified by the Vega\nnetwork.","properties":{"algo":{"description":"The algorithm used to create the signature.","type":"string"},"value":{"description":"The bytes of the signature (hex-encoded).","type":"string"},"version":{"description":"The version of the signature used to create the signature.","format":"int64","type":"integer"}},"type":"object"},"v1Signer":{"properties":{"ethAddress":{"$ref":"#/components/schemas/v1ETHAddress","title":"in case of an open oracle - Ethereum address will be submitted"},"pubKey":{"$ref":"#/components/schemas/v1PubKey","description":"pubKeys is the list of authorized public keys that signed the data for this\nsource. All the public keys in the data should be contained in these\npublic keys."}},"type":"object"},"v1StateVariableProposal":{"properties":{"proposal":{"$ref":"#/components/schemas/vegaStateValueProposal","title":"The state value proposal details"}},"type":"object"},"v1UndelegateSubmission":{"properties":{"amount":{"title":"optional, if not specified = ALL","type":"string"},"method":{"$ref":"#/components/schemas/UndelegateSubmissionMethod"},"nodeId":{"type":"string"}},"type":"object"},"v1ValidatorHeartbeat":{"properties":{"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature from the validator made using the ethereum wallet"},"nodeId":{"title":"the id of the node emitting the heartbeat","type":"string"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature from the validator made using the vega wallet"}},"title":"A message from a validator signaling they are still online and validating blocks\nor ready to validate block when they are till a potential validator","type":"object"},"v1VoteSubmission":{"description":"A command to submit a new vote for a governance\nproposal.","properties":{"proposalId":{"description":"The ID of the proposal to vote for.","type":"string"},"value":{"$ref":"#/components/schemas/vegaVoteValue","title":"The actual value of the vote"}},"type":"object"},"v1WithdrawSubmission":{"properties":{"amount":{"title":"The amount to be withdrawn","type":"string"},"asset":{"title":"The asset to be withdrawn","type":"string"},"ext":{"$ref":"#/components/schemas/vegaWithdrawExt","title":"Foreign chain specifics"}},"title":"Represents the submission request to withdraw funds for a party on Vega","type":"object"},"vegaAccountType":{"default":"ACCOUNT_TYPE_UNSPECIFIED","description":"- ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nThe required initial margin is allocated to each market from your general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nThe Vega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"title":"Various collateral/account types as used by Vega","type":"string"},"vegaAssetDetails":{"properties":{"builtinAsset":{"$ref":"#/components/schemas/vegaBuiltinAsset","title":"A built-in asset"},"decimals":{"format":"uint64","title":"Number of decimal / precision handled by this asset","type":"string"},"erc20":{"$ref":"#/components/schemas/vegaERC20","title":"An Ethereum ERC20 asset"},"name":{"title":"Name of the asset (e.g: Great British Pound)","type":"string"},"quantum":{"title":"The minimum economically meaningful amount in the asset","type":"string"},"symbol":{"title":"Symbol of the asset (e.g: GBP)","type":"string"}},"title":"The Vega representation of an external asset","type":"object"},"vegaAssetDetailsUpdate":{"description":"The changes to apply on an existing asset.","properties":{"erc20":{"$ref":"#/components/schemas/vegaERC20Update","title":"An Ethereum ERC20 asset"},"quantum":{"title":"The minimum economically meaningful amount in the asset","type":"string"}},"type":"object"},"vegaBuiltinAsset":{"properties":{"maxFaucetAmountMint":{"title":"Maximum amount that can be requested by a party through the built-in asset faucet at a time","type":"string"}},"title":"A Vega internal asset","type":"object"},"vegaBuiltinAssetDeposit":{"properties":{"amount":{"title":"The amount to be deposited","type":"string"},"partyId":{"title":"A Vega party identifier (pub-key)","type":"string"},"vegaAssetId":{"title":"A Vega network internal asset identifier","type":"string"}},"title":"A deposit for a Vega built-in asset","type":"object"},"vegaBuiltinAssetEvent":{"properties":{"deposit":{"$ref":"#/components/schemas/vegaBuiltinAssetDeposit","title":"Built-in asset deposit"},"withdrawal":{"$ref":"#/components/schemas/vegaBuiltinAssetWithdrawal","title":"Built-in asset withdrawal"}},"title":"An event related to a Vega built-in asset","type":"object"},"vegaBuiltinAssetWithdrawal":{"properties":{"amount":{"title":"The amount to be withdrawn","type":"string"},"partyId":{"title":"A Vega network party identifier (pub-key)","type":"string"},"vegaAssetId":{"title":"A Vega network internal asset identifier","type":"string"}},"title":"A withdrawal for a Vega built-in asset","type":"object"},"vegaDataSourceDefinition":{"description":"DataSourceDefinition represents the top level object that deals with data sources.\nDataSourceDefinition can be external or internal, with whatever number of data sources are defined\nfor each type in the child objects below.","properties":{"external":{"$ref":"#/components/schemas/vegaDataSourceDefinitionExternal"},"internal":{"$ref":"#/components/schemas/vegaDataSourceDefinitionInternal"}},"type":"object"},"vegaDataSourceDefinitionExternal":{"description":"DataSourceDefinitionExternal is the top level object used for all external data sources.\nIt contains one of any of the defined `SourceType` variants.","properties":{"oracle":{"$ref":"#/components/schemas/vegaDataSourceSpecConfiguration"}},"type":"object"},"vegaDataSourceDefinitionInternal":{"description":"DataSourceDefinitionInternal is the top level object used for all internal data sources.\nIt contains one of any of the defined `SourceType` variants.","properties":{"time":{"$ref":"#/components/schemas/vegaDataSourceSpecConfigurationTime"}},"type":"object"},"vegaDataSourceSpecConfiguration":{"description":"All types of external data sources use the same configuration set for meeting requirements\nin order for the data to be useful for Vega - valid signatures and matching filters.","properties":{"filters":{"description":"filters describes which source data are considered of interest or not for\nthe product (or the risk model).","items":{"$ref":"#/components/schemas/v1Filter"},"type":"array"},"signers":{"description":"signers is the list of authorized signatures that signed the data for this\nsource. All the signatures in the data source data should be contained in this\nexternal source. All the signatures in the data should be contained in this list.","items":{"$ref":"#/components/schemas/v1Signer"},"type":"array"}},"type":"object"},"vegaDataSourceSpecConfigurationTime":{"description":"DataSourceSpecConfigurationTime is the internal data source used for emitting timestamps.","properties":{"conditions":{"description":"Conditions that the timestamps should meet in order to be considered.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"}},"type":"object"},"vegaDataSourceSpecToFutureBinding":{"properties":{"settlementDataProperty":{"description":"settlement_data_property holds the name of the property in the source data\nthat should be used as settlement data.\nIf it is set to \"prices.BTC.value\", then the Future will use the value of\nthis property as settlement data.","type":"string"},"tradingTerminationProperty":{"title":"the name of the property in the data source data that signals termination of trading","type":"string"}},"title":"DataSourceSpecToFutureBinding describes which property of the data source data is to be\nused as settlement data and which to use as the trading terminated trigger","type":"object"},"vegaDispatchMetric":{"default":"DISPATCH_METRIC_UNSPECIFIED","enum":["DISPATCH_METRIC_UNSPECIFIED","DISPATCH_METRIC_MAKER_FEES_PAID","DISPATCH_METRIC_MAKER_FEES_RECEIVED","DISPATCH_METRIC_LP_FEES_RECEIVED","DISPATCH_METRIC_MARKET_VALUE"],"title":"- DISPATCH_METRIC_MAKER_FEES_PAID: Dispatch metric that is using the total maker fees paid in the market\n - DISPATCH_METRIC_MAKER_FEES_RECEIVED: Dispatch metric that is using the total maker fees received in the market\n - DISPATCH_METRIC_LP_FEES_RECEIVED: Dispatch metric that is using the total LP fees received in the market\n - DISPATCH_METRIC_MARKET_VALUE: Dispatch metric that is using total value of the market if above the required threshold and not paid given proposer bonus yet","type":"string"},"vegaDispatchStrategy":{"properties":{"assetForMetric":{"title":"The asset to use for metric","type":"string"},"markets":{"items":{"type":"string"},"title":"Optional markets in scope","type":"array"},"metric":{"$ref":"#/components/schemas/vegaDispatchMetric","title":"The metric to apply"}},"type":"object"},"vegaERC20":{"properties":{"contractAddress":{"title":"The address of the contract for the token, on the ethereum network","type":"string"},"lifetimeLimit":{"title":"The lifetime limits deposit per address\nnote: this is a temporary measure that can be changed by governance","type":"string"},"withdrawThreshold":{"title":"The maximum you can withdraw instantly. All withdrawals over the threshold will be delayed by the withdrawal delay.\nThere’s no limit on the size of a withdrawal\nnote: this is a temporary measure that can be changed by governance","type":"string"}},"title":"An ERC20 token based asset, living on the ethereum network","type":"object"},"vegaERC20AssetDelist":{"properties":{"vegaAssetId":{"title":"The Vega network internal identifier of the asset","type":"string"}},"title":"An asset deny-listing for an ERC20 token","type":"object"},"vegaERC20AssetLimitsUpdated":{"properties":{"lifetimeLimits":{"title":"The updated lifetime limits","type":"string"},"sourceEthereumAddress":{"title":"The Ethereum wallet that initiated the deposit","type":"string"},"vegaAssetId":{"title":"The Vega network internal identifier of the asset","type":"string"},"withdrawThreshold":{"title":"The updated withdraw threshold","type":"string"}},"type":"object"},"vegaERC20AssetList":{"properties":{"assetSource":{"title":"The ethereum address of the asset","type":"string"},"vegaAssetId":{"title":"The Vega network internal identifier of the asset","type":"string"}},"title":"An asset allow-listing for an ERC20 token","type":"object"},"vegaERC20Deposit":{"properties":{"amount":{"title":"The amount to be deposited","type":"string"},"sourceEthereumAddress":{"title":"The Ethereum wallet that initiated the deposit","type":"string"},"targetPartyId":{"title":"The Vega party identifier (pub-key) which is the target of the deposit","type":"string"},"vegaAssetId":{"title":"The vega network internal identifier of the asset","type":"string"}},"title":"An asset deposit for an ERC20 token","type":"object"},"vegaERC20Event":{"properties":{"assetDelist":{"$ref":"#/components/schemas/vegaERC20AssetDelist","title":"De-list an ERC20 asset"},"assetLimitsUpdated":{"$ref":"#/components/schemas/vegaERC20AssetLimitsUpdated","title":"Update an ERC20 asset"},"assetList":{"$ref":"#/components/schemas/vegaERC20AssetList","title":"List an ERC20 asset"},"block":{"format":"uint64","title":"The block in which the transaction was added","type":"string"},"bridgeResumed":{"title":"Bridge operations has been resumed","type":"boolean"},"bridgeStopped":{"title":"Bridge operations has been stopped","type":"boolean"},"deposit":{"$ref":"#/components/schemas/vegaERC20Deposit","title":"Deposit ERC20 asset"},"index":{"format":"uint64","title":"Index of the log in the transaction","type":"string"},"withdrawal":{"$ref":"#/components/schemas/vegaERC20Withdrawal","title":"Withdraw ERC20 asset"}},"title":"An event related to an ERC20 token","type":"object"},"vegaERC20MultiSigEvent":{"properties":{"block":{"format":"uint64","title":"The block in which the transaction was added","type":"string"},"index":{"format":"uint64","title":"Index of the log in the transaction","type":"string"},"signerAdded":{"$ref":"#/components/schemas/vegaERC20SignerAdded","title":"Add a signer to the erc20 bridge"},"signerRemoved":{"$ref":"#/components/schemas/vegaERC20SignerRemoved","title":"Remove a signer from the erc20 bridge"},"thresholdSet":{"$ref":"#/components/schemas/vegaERC20ThresholdSet","title":"Threshold set"}},"title":"An event related to the ERC20 MultiSig","type":"object"},"vegaERC20SignerAdded":{"properties":{"blockTime":{"description":"The time at which the block was produced\nwill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"newSigner":{"title":"The ethereum address of the new signer","type":"string"},"nonce":{"title":"The nonce create by the vega network used for this new signer","type":"string"}},"title":"A new signer added to the ERC20 bridge","type":"object"},"vegaERC20SignerRemoved":{"properties":{"blockTime":{"description":"The time at which the block was produced\nwill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"nonce":{"title":"The nonce create by the vega network used for this old signer","type":"string"},"oldSigner":{"title":"The ethereum address of the old signer","type":"string"}},"title":"A signer removed from the ERC20 bridge","type":"object"},"vegaERC20ThresholdSet":{"properties":{"blockTime":{"description":"The time at which the block was produced\nwill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"newThreshold":{"format":"int64","title":"The new threshold","type":"integer"},"nonce":{"title":"The nonce create by the vega network","type":"string"}},"title":"The threshold have been updated on the multisigcontrol","type":"object"},"vegaERC20Update":{"properties":{"lifetimeLimit":{"title":"The lifetime limits deposit per address.\nThis is will be interpreted against the asset decimals.\nnote: this is a temporary measure that can be changed by governance","type":"string"},"withdrawThreshold":{"title":"The maximum you can withdraw instantly. All withdrawals over the threshold will be delayed by the withdrawal delay.\nThere’s no limit on the size of a withdrawal\nnote: this is a temporary measure that can be changed by governance","type":"string"}},"type":"object"},"vegaERC20Withdrawal":{"properties":{"referenceNonce":{"title":"The reference nonce used for the transaction","type":"string"},"targetEthereumAddress":{"title":"The target Ethereum wallet address","type":"string"},"vegaAssetId":{"title":"The Vega network internal identifier of the asset","type":"string"}},"title":"An asset withdrawal for an ERC20 token","type":"object"},"vegaErc20WithdrawExt":{"properties":{"receiverAddress":{"title":"The address into which the bridge will release the funds","type":"string"}},"title":"An extension of data required for the withdraw submissions","type":"object"},"vegaFutureProduct":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","title":"The binding between the data source spec and the settlement data"},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceDefinition","title":"The data source spec describing the data source for settlement"},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceDefinition","title":"The external data source spec describing the data source of trading termination"},"quoteName":{"title":"Product quote name","type":"string"},"settlementAsset":{"title":"Asset ID for the product's settlement asset","type":"string"},"settlementDataDecimals":{"format":"int64","title":"The number of decimal places implied by the settlement data (such as price) emitted by the settlement data source","type":"integer"}},"title":"Future product configuration","type":"object"},"vegaInstrumentConfiguration":{"properties":{"code":{"title":"Instrument code, human-readable shortcode used to describe the instrument","type":"string"},"future":{"$ref":"#/components/schemas/vegaFutureProduct","title":"Future"},"name":{"title":"Instrument name","type":"string"}},"title":"Instrument configuration","type":"object"},"vegaKeyValueBundle":{"properties":{"key":{"type":"string"},"tolerance":{"type":"string"},"value":{"$ref":"#/components/schemas/vegaStateVarValue"}},"type":"object"},"vegaLiquidityMonitoringParameters":{"properties":{"auctionExtension":{"format":"int64","title":"Specifies by how many seconds an auction should be extended if leaving the auction were to trigger a liquidity auction","type":"string"},"targetStakeParameters":{"$ref":"#/components/schemas/vegaTargetStakeParameters","title":"Specifies parameters related to target stake calculation"},"triggeringRatio":{"format":"double","title":"Specifies the triggering ratio for entering liquidity auction","type":"number"}},"title":"LiquidityMonitoringParameters contains settings used for liquidity monitoring","type":"object"},"vegaLiquidityOrder":{"properties":{"offset":{"title":"The offset/amount of units away for the order","type":"string"},"proportion":{"format":"int64","title":"The relative proportion of the commitment to be allocated at a price level","type":"integer"},"reference":{"$ref":"#/components/schemas/vegaPeggedReference","title":"The pegged reference point for the order"}},"title":"Represents a liquidity order","type":"object"},"vegaLogNormalModelParams":{"properties":{"mu":{"format":"double","title":"Mu param","type":"number"},"r":{"format":"double","title":"R param","type":"number"},"sigma":{"format":"double","title":"Sigma param","type":"number"}},"title":"Risk model parameters for log normal","type":"object"},"vegaLogNormalRiskModel":{"properties":{"params":{"$ref":"#/components/schemas/vegaLogNormalModelParams","title":"Risk model parameters for log normal"},"riskAversionParameter":{"format":"double","title":"Risk Aversion Parameter","type":"number"},"tau":{"format":"double","title":"Tau","type":"number"}},"title":"Risk model for log normal","type":"object"},"vegaMatrixValue":{"properties":{"value":{"items":{"$ref":"#/components/schemas/vegaVectorValue"},"type":"array"}},"type":"object"},"vegaNetworkParameter":{"properties":{"key":{"title":"The unique key","type":"string"},"value":{"title":"The value for the network parameter","type":"string"}},"title":"Represents a network parameter on Vega","type":"object"},"vegaNewAsset":{"properties":{"changes":{"$ref":"#/components/schemas/vegaAssetDetails","title":"The configuration of the new asset"}},"title":"New asset on Vega","type":"object"},"vegaNewFreeform":{"description":"Freeform proposal\nThis message is just used as a placeholder to sort out the nature of the\nproposal once parsed.","type":"object"},"vegaNewMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNewMarketConfiguration","title":"The configuration of the new market"}},"title":"New market on Vega","type":"object"},"vegaNewMarketConfiguration":{"properties":{"decimalPlaces":{"format":"uint64","title":"Decimal places used for the new market, sets the smallest price increment on the book","type":"string"},"instrument":{"$ref":"#/components/schemas/vegaInstrumentConfiguration","title":"New market instrument configuration"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","title":"Liquidity monitoring parameters"},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","title":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected"},"metadata":{"items":{"type":"string"},"title":"Optional new market meta data, tags","type":"array"},"positionDecimalPlaces":{"format":"int64","title":"Decimal places for order sizes, sets what size the smallest order / position on the market can be","type":"string"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","title":"Price monitoring parameters"},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","title":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected"}},"title":"Configuration for a new market on Vega","type":"object"},"vegaOrderType":{"default":"TYPE_UNSPECIFIED","description":"- TYPE_UNSPECIFIED: Default value, always invalid\n - TYPE_LIMIT: Used for Limit orders\n - TYPE_MARKET: Used for Market orders\n - TYPE_NETWORK: Used for orders where the initiating party is the network (with distressed parties)","enum":["TYPE_UNSPECIFIED","TYPE_LIMIT","TYPE_MARKET","TYPE_NETWORK"],"title":"Type values for an order","type":"string"},"vegaPeggedOrder":{"properties":{"offset":{"title":"Offset from the price reference","type":"string"},"reference":{"$ref":"#/components/schemas/vegaPeggedReference","title":"The price point the order is linked to"}},"title":"Pegged orders are limit orders where the price is specified in the form REFERENCE +/- OFFSET\nThey can be used for any limit order that is valid during continuous trading","type":"object"},"vegaPeggedReference":{"default":"PEGGED_REFERENCE_UNSPECIFIED","description":"- PEGGED_REFERENCE_UNSPECIFIED: Default value for PeggedReference, no reference given\n - PEGGED_REFERENCE_MID: Mid price reference\n - PEGGED_REFERENCE_BEST_BID: Best bid price reference\n - PEGGED_REFERENCE_BEST_ASK: Best ask price reference","enum":["PEGGED_REFERENCE_UNSPECIFIED","PEGGED_REFERENCE_MID","PEGGED_REFERENCE_BEST_BID","PEGGED_REFERENCE_BEST_ASK"],"title":"A pegged reference defines which price point a pegged order is linked to - meaning\nthe price for a pegged order is calculated from the value of the reference price point","type":"string"},"vegaPriceMonitoringParameters":{"properties":{"triggers":{"items":{"$ref":"#/components/schemas/vegaPriceMonitoringTrigger"},"type":"array"}},"title":"PriceMonitoringParameters contains a collection of triggers to be used for a given market","type":"object"},"vegaPriceMonitoringTrigger":{"properties":{"auctionExtension":{"format":"int64","title":"Price monitoring auction extension duration in seconds should the price\nbreach it's theoretical level over the specified horizon at the specified\nprobability level","type":"string"},"horizon":{"format":"int64","title":"Price monitoring projection horizon τ in seconds","type":"string"},"probability":{"title":"Price monitoring probability level p","type":"string"}},"title":"PriceMonitoringTrigger holds together price projection horizon τ, probability level p, and auction extension duration","type":"object"},"vegaProposalRationale":{"description":"The rationale behind a proposal.","properties":{"description":{"description":"Description to show a short title / something in case the link goes offline.\nThis is to be between 0 and 20k unicode characters.\nThis is mandatory for all proposals.","type":"string"},"title":{"description":"Title to be used to give a short description of the proposal in lists.\nThis is to be between 0 and 100 unicode characters.\nThis is mandatory for all proposals.","type":"string"}},"type":"object"},"vegaProposalTerms":{"properties":{"closingTimestamp":{"format":"int64","title":"Timestamp (Unix time in seconds) when voting closes for this proposal,\nconstrained by `minClose` and `maxClose` network parameters","type":"string"},"enactmentTimestamp":{"format":"int64","title":"Timestamp (Unix time in seconds) when proposal gets enacted (if passed),\nconstrained by `minEnact` and `maxEnact` network parameters","type":"string"},"newAsset":{"$ref":"#/components/schemas/vegaNewAsset","title":"Proposal change for creating new assets on Vega"},"newFreeform":{"$ref":"#/components/schemas/vegaNewFreeform","title":"Proposal change for a freeform request, which can be voted on but does not change the behaviour of the system,\nand can be used to gauge community sentiment"},"newMarket":{"$ref":"#/components/schemas/vegaNewMarket","title":"Proposal change for creating new market on Vega"},"updateAsset":{"$ref":"#/components/schemas/vegaUpdateAsset","title":"Proposal change for updating an asset"},"updateMarket":{"$ref":"#/components/schemas/vegaUpdateMarket","title":"Proposal change for modifying an existing market on Vega"},"updateNetworkParameter":{"$ref":"#/components/schemas/vegaUpdateNetworkParameter","title":"Proposal change for updating Vega network parameters"},"validationTimestamp":{"format":"int64","title":"Validation timestamp (Unix time in seconds)","type":"string"}},"title":"Terms for a governance proposal on Vega","type":"object"},"vegaScalarValue":{"properties":{"value":{"type":"string"}},"type":"object"},"vegaSide":{"default":"SIDE_UNSPECIFIED","description":"- SIDE_UNSPECIFIED: Default value, always invalid\n - SIDE_BUY: Buy order\n - SIDE_SELL: Sell order","enum":["SIDE_UNSPECIFIED","SIDE_BUY","SIDE_SELL"],"title":"A side relates to the direction of an order, to Buy, or Sell","type":"string"},"vegaSimpleModelParams":{"properties":{"factorLong":{"format":"double","title":"Pre-defined risk factor value for long","type":"number"},"factorShort":{"format":"double","title":"Pre-defined risk factor value for short","type":"number"},"maxMoveUp":{"format":"double","title":"Pre-defined maximum price move up that the model considers as valid","type":"number"},"minMoveDown":{"format":"double","title":"Pre-defined minimum price move down that the model considers as valid","type":"number"},"probabilityOfTrading":{"format":"double","title":"Pre-defined constant probability of trading","type":"number"}},"title":"Risk model parameters for simple modelling","type":"object"},"vegaStakeDeposited":{"properties":{"amount":{"title":"The amount deposited (base 10)","type":"string"},"blockTime":{"description":"The time at which the block was produced\nwill be used to inform the core at what time\nthe stake started to be available.","format":"int64","type":"string"},"ethereumAddress":{"title":"Ethereum Address of the user depositing stake (hex encode with 0x prefix)","type":"string"},"vegaPublicKey":{"title":"The public of the party receiving the stake deposit (hex encode)","type":"string"}},"type":"object"},"vegaStakeRemoved":{"properties":{"amount":{"title":"The amount removed (base 10)","type":"string"},"blockTime":{"description":"The time at which the block was produced\nwill be used to inform the core at what time\nthe stake was made unavailable.","format":"int64","type":"string"},"ethereumAddress":{"title":"Ethereum address of the user removing stake (hex encode with 0x prefix)","type":"string"},"vegaPublicKey":{"title":"The public key of the party from which to remove stake (hex encode)","type":"string"}},"type":"object"},"vegaStakeTotalSupply":{"properties":{"tokenAddress":{"title":"The address of the staking asset","type":"string"},"totalSupply":{"title":"The total supply observed for the token","type":"string"}},"type":"object"},"vegaStakingEvent":{"properties":{"block":{"format":"uint64","title":"The block in which the transaction was added","type":"string"},"index":{"format":"uint64","title":"Index of the log in the transaction","type":"string"},"stakeDeposited":{"$ref":"#/components/schemas/vegaStakeDeposited"},"stakeRemoved":{"$ref":"#/components/schemas/vegaStakeRemoved"},"totalSupply":{"$ref":"#/components/schemas/vegaStakeTotalSupply"}},"type":"object"},"vegaStateValueProposal":{"properties":{"eventId":{"title":"event identifier","type":"string"},"kvb":{"items":{"$ref":"#/components/schemas/vegaKeyValueBundle"},"title":"key value tolerance triplets","type":"array"},"stateVarId":{"title":"state variable identifier","type":"string"}},"type":"object"},"vegaStateVarValue":{"properties":{"matrixVal":{"$ref":"#/components/schemas/vegaMatrixValue"},"scalarVal":{"$ref":"#/components/schemas/vegaScalarValue"},"vectorVal":{"$ref":"#/components/schemas/vegaVectorValue"}},"type":"object"},"vegaTargetStakeParameters":{"properties":{"scalingFactor":{"format":"double","title":"Specifies scaling factors used in target stake calculation","type":"number"},"timeWindow":{"format":"int64","title":"Specifies length of time window expressed in seconds for target stake calculation","type":"string"}},"title":"TargetStakeParameters contains parameters used in target stake calculation","type":"object"},"vegaUpdateAsset":{"properties":{"assetId":{"title":"The ID of the asset to be updated","type":"string"},"changes":{"$ref":"#/components/schemas/vegaAssetDetailsUpdate","title":"The changes to apply on an existing asset"}},"title":"Update an existing asset on Vega","type":"object"},"vegaUpdateFutureProduct":{"properties":{"dataSourceSpecBinding":{"$ref":"#/components/schemas/vegaDataSourceSpecToFutureBinding","title":"The binding between the data source spec and the settlement data"},"dataSourceSpecForSettlementData":{"$ref":"#/components/schemas/vegaDataSourceDefinition","title":"The data source spec describing the data of settlement data"},"dataSourceSpecForTradingTermination":{"$ref":"#/components/schemas/vegaDataSourceDefinition","title":"The data source spec describing the data source for trading termination"},"quoteName":{"title":"Human-readable name/abbreviation of the quote name","type":"string"},"settlementDataDecimals":{"format":"int64","title":"The number of decimal places implied by the settlement data (such as price) emitted by the settlement external data source","type":"integer"}},"title":"Future product configuration","type":"object"},"vegaUpdateInstrumentConfiguration":{"properties":{"code":{"title":"Instrument code, human-readable shortcode used to describe the instrument","type":"string"},"future":{"$ref":"#/components/schemas/vegaUpdateFutureProduct","title":"Future"}},"title":"Instrument configuration","type":"object"},"vegaUpdateMarket":{"properties":{"changes":{"$ref":"#/components/schemas/vegaUpdateMarketConfiguration","title":"The updated configuration of the market"},"marketId":{"title":"The identifier of the market to update","type":"string"}},"title":"Update an existing market on Vega","type":"object"},"vegaUpdateMarketConfiguration":{"properties":{"instrument":{"$ref":"#/components/schemas/vegaUpdateInstrumentConfiguration","title":"Updated market instrument configuration"},"liquidityMonitoringParameters":{"$ref":"#/components/schemas/vegaLiquidityMonitoringParameters","title":"Liquidity monitoring parameters"},"logNormal":{"$ref":"#/components/schemas/vegaLogNormalRiskModel","title":"Log normal risk model parameters, valid only if MODEL_LOG_NORMAL is selected"},"metadata":{"items":{"type":"string"},"title":"Optional market metadata, tags","type":"array"},"priceMonitoringParameters":{"$ref":"#/components/schemas/vegaPriceMonitoringParameters","title":"Price monitoring parameters"},"simple":{"$ref":"#/components/schemas/vegaSimpleModelParams","title":"Simple risk model parameters, valid only if MODEL_SIMPLE is selected"}},"title":"Configuration to update a market on Vega","type":"object"},"vegaUpdateNetworkParameter":{"properties":{"changes":{"$ref":"#/components/schemas/vegaNetworkParameter","title":"The network parameter to update"}},"title":"Update network configuration on Vega","type":"object"},"vegaVectorValue":{"properties":{"value":{"items":{"type":"string"},"type":"array"}},"type":"object"},"vegaVoteValue":{"default":"VALUE_UNSPECIFIED","description":"- VALUE_UNSPECIFIED: Default value, always invalid\n - VALUE_NO: A vote against the proposal\n - VALUE_YES: A vote in favour of the proposal","enum":["VALUE_UNSPECIFIED","VALUE_NO","VALUE_YES"],"title":"Vote value","type":"string"},"vegaWithdrawExt":{"properties":{"erc20":{"$ref":"#/components/schemas/vegaErc20WithdrawExt","title":"ERC20 withdrawal details"}},"title":"Withdrawal external details","type":"object"}}},"tags":[{"name":"Block Explorer"}]}