{"openapi":"3.0.0","info":{"title":"data-node/api/v1/trading_data.proto","version":"0.62.1"},"servers":[{"url":"https://api.n06.testnet.vega.xyz","description":"n06 (data node)"},{"url":"https://api.n09.testnet.vega.xyz","description":"n09 (data node)"},{"url":"https://api.n11.testnet.vega.xyz","description":"n11 (data node)"},{"url":"https://api.n12.testnet.vega.xyz","description":"n12 (data node)"}],"paths":{"/assets":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1AssetsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Assets","summary":"Get a list of all assets on Vega"}},"/assets/{asset}/globalRewardPoolAccount":{"get":{"parameters":[{"description":"Asset identifier, required field\n- Set to an empty string to return all accounts\n- Set to an asset ID to return a single global reward pool account for a given asset","in":"path","name":"asset","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GlobalRewardPoolAccountsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GlobalRewardPoolAccounts","summary":"Get a list of accounts holding reward pools\nCan be filtered by asset, there will be 1 reward pool account per\nasset in the network"}},"/assets/{asset}/infrastructureFeeAccount":{"get":{"parameters":[{"description":"Asset identifier, required field\n- Set to an empty string to return all accounts\n- Set to an asset ID to return a single infrastructure fee account for a given asset","in":"path","name":"asset","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1FeeInfrastructureAccountsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_FeeInfrastructureAccounts","summary":"Get a list of accounts holding infrastructure fees.\nCan be filtered by asset, there will be 1 infrastructure fee account per\nasset in the network"}},"/assets/{id}":{"get":{"parameters":[{"description":"Asset identifier, required field","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1AssetByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_AssetByID","summary":"Get an asset by its identifier"}},"/delegations":{"get":{"parameters":[{"in":"query","name":"party","required":false,"schema":{"type":"string"}},{"in":"query","name":"nodeId","required":false,"schema":{"type":"string"}},{"in":"query","name":"epochSeq","required":false,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1DelegationsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Delegations","summary":"Get delegation data"}},"/deposits/{id}":{"get":{"parameters":[{"description":"The identifier of the deposit","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1DepositResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Deposit","summary":"Get a deposit by its identifier"}},"/epochs":{"get":{"parameters":[{"description":"Optional - if id omitted it gets the current epoch.","in":"query","name":"id","required":false,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetEpochResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetEpoch2","summary":"Get data for a specific epoch, if id omitted it gets the current epoch"}},"/epochs/{id}":{"get":{"parameters":[{"description":"Optional - if id omitted it gets the current epoch","in":"path","name":"id","required":true,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetEpochResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetEpoch","summary":"Get data for a specific epoch, if id omitted it gets the current epoch"}},"/governance/asset/proposals":{"get":{"parameters":[{"description":"Optional proposal state.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted (proposal terms failed validation due to wrong configuration or failing to meet network requirements)\n - STATE_DECLINED: Proposal didn't get enough votes (either failing to gain required participation or majority level)\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","in":"query","name":"selectInState","required":false,"schema":{"default":"STATE_UNSPECIFIED","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetNewAssetProposalsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetNewAssetProposals","summary":"Get governance data (proposals and votes) for proposals aiming to create new assets"}},"/governance/market/proposals":{"get":{"parameters":[{"description":"Optional proposal state.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted (proposal terms failed validation due to wrong configuration or failing to meet network requirements)\n - STATE_DECLINED: Proposal didn't get enough votes (either failing to gain required participation or majority level)\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","in":"query","name":"selectInState","required":false,"schema":{"default":"STATE_UNSPECIFIED","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetNewMarketProposalsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetNewMarketProposals","summary":"Get governance data (proposals and votes) for proposals that aim creating new markets"}},"/governance/proposal/reference/{reference}":{"get":{"parameters":[{"description":"Proposal reference. Required field","in":"path","name":"reference","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetProposalByReferenceResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetProposalByReference","summary":"Get governance data (proposals and votes) for a proposal located by reference"}},"/governance/proposal/{proposalId}":{"get":{"parameters":[{"description":"Proposal identifier, required field","in":"path","name":"proposalId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetProposalByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetProposalByID","summary":"Get governance data (proposals and votes) for a proposal located by ID"}},"/governance/proposals":{"get":{"parameters":[{"description":"Optional proposal state.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted (proposal terms failed validation due to wrong configuration or failing to meet network requirements)\n - STATE_DECLINED: Proposal didn't get enough votes (either failing to gain required participation or majority level)\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","in":"query","name":"selectInState","required":false,"schema":{"default":"STATE_UNSPECIFIED","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetProposalsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetProposals","summary":"Get governance data (proposals and votes) for all proposals"}},"/key-rotations":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetKeyRotationsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetKeyRotations","summary":"Get all key rotations"}},"/liquidity-provisions/market/{market}":{"get":{"parameters":[{"description":"The target market for the liquidity provision orders","in":"path","name":"market","required":true,"schema":{"type":"string"}},{"description":"The party which submitted the liquidity provision orders.","in":"query","name":"party","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1LiquidityProvisionsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_LiquidityProvisions2","summary":"Get the liquidity provision orders"}},"/liquidity-provisions/party/{party}/market/{market}":{"get":{"parameters":[{"description":"The party which submitted the liquidity provision orders","in":"path","name":"party","required":true,"schema":{"type":"string"}},{"description":"The target market for the liquidity provision orders","in":"path","name":"market","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1LiquidityProvisionsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_LiquidityProvisions","summary":"Get the liquidity provision orders"}},"/markets":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarketsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Markets","summary":"Get a list of Markets"}},"/markets-data":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarketsDataResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_MarketsData","summary":"Get a list of Market Data"}},"/markets-data/{marketId}":{"get":{"parameters":[{"description":"Market identifier","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarketDataByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_MarketDataByID","summary":"Get Market Data by Market ID"}},"/markets/{marketId}":{"get":{"parameters":[{"description":"Market identifier, required field","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarketByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_MarketByID","summary":"Get a Market by ID"}},"/markets/{marketId}/accounts":{"get":{"parameters":[{"description":"Market identifier","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Asset identifier.","in":"query","name":"asset","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarketAccountsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_MarketAccounts","summary":"Get a list of Accounts by Market"}},"/markets/{marketId}/candles":{"get":{"parameters":[{"description":"Market identifier, required field.","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Timestamp to retrieve candles since, in nanoseconds since the epoch,\nrequired field - See [`VegaTimeResponse`](#api.VegaTimeResponse).`timestamp`.","in":"query","name":"sinceTimestamp","required":false,"schema":{"format":"int64","type":"string"}},{"description":"Time interval for the candles, required field.\n\n - INTERVAL_UNSPECIFIED: Default value, always invalid\n - INTERVAL_I1M: 1 minute.\n - INTERVAL_I5M: 5 minutes.\n - INTERVAL_I15M: 15 minutes.\n - INTERVAL_I1H: 1 hour.\n - INTERVAL_I6H: 6 hours.\n - INTERVAL_I1D: 1 day.","in":"query","name":"interval","required":false,"schema":{"default":"INTERVAL_UNSPECIFIED","enum":["INTERVAL_UNSPECIFIED","INTERVAL_I1M","INTERVAL_I5M","INTERVAL_I15M","INTERVAL_I1H","INTERVAL_I6H","INTERVAL_I1D"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CandlesResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Candles","summary":"Get a list of Candles by Market"}},"/markets/{marketId}/depth":{"get":{"parameters":[{"description":"Market identifier, required field","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Max depth limits the number of levels returned. Default is 0, which returns all levels.","in":"query","name":"maxDepth","required":false,"schema":{"format":"uint64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarketDepthResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_MarketDepth","summary":"Get Market Depth"}},"/markets/{marketId}/orders":{"get":{"parameters":[{"description":"Market identifier, required field","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OrdersByMarketResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OrdersByMarket","summary":"Get a list of Orders by Market"}},"/markets/{marketId}/orders/{orderId}":{"get":{"parameters":[{"description":"Market identifier, required field","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Order identifier, required field","in":"path","name":"orderId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OrderByMarketAndIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OrderByMarketAndID","summary":"Get an Order by Market and Order ID"}},"/markets/{marketId}/trades":{"get":{"parameters":[{"description":"Market identifier, required field","in":"path","name":"marketId","required":true,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1TradesByMarketResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_TradesByMarket","summary":"Get a list of Trades by Market"}},"/markets/{marketId}/trades/latest":{"get":{"parameters":[{"description":"Market identifier, required field","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1LastTradeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_LastTrade","summary":"Get latest Trade"}},"/network/parameters":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1NetworkParametersResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_NetworkParameters","summary":"Get the network parameters"}},"/nodes":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetNodesResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetNodes","summary":"List all known network nodes"}},"/nodes-data":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetNodeDataResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetNodeData","summary":"Get data of current node"}},"/nodes/{id}":{"get":{"parameters":[{"description":"Required id of node","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetNodeByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetNodeByID","summary":"Get a specific node by ID"}},"/oracle-data":{"get":{"parameters":[{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ListOracleDataResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_ListOracleData","summary":"Get all oracle data"}},"/oracle-specs":{"get":{"parameters":[{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OracleSpecsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OracleSpecs","summary":"Get the oracle specs"}},"/oracle-specs/{id}":{"get":{"parameters":[{"description":"The id to get the oracle spec for","in":"path","name":"id","required":true,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OracleSpecResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OracleSpec","summary":"Get an oracle spec by ID"}},"/oracle-specs/{id}/oracle-data":{"get":{"parameters":[{"description":"The id to get the oracle spec for","in":"path","name":"id","required":true,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OracleDataBySpecResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OracleDataBySpec","summary":"Get oracle data that matched the given spec"}},"/orders/fee/estimate":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1EstimateFeeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_EstimateFee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1EstimateFeeRequest"}}},"required":true},"summary":"Get an estimate for the fee to be paid for a given order"}},"/orders/margins/estimate":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1EstimateMarginResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_EstimateMargin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1EstimateMarginRequest"}}},"required":true},"summary":"Get an estimate for the margin required for a new order"}},"/orders/{orderId}/trades":{"get":{"parameters":[{"description":"Order identifier, required field","in":"path","name":"orderId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1TradesByOrderResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_TradesByOrder","summary":"Get a list of Trades by Order"}},"/orders/{orderId}/versions":{"get":{"parameters":[{"description":"Order identifier, required field","in":"path","name":"orderId","required":true,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OrderVersionsByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OrderVersionsByID","summary":"Get all versions of the order by its orderID"}},"/orders/{reference}":{"get":{"parameters":[{"description":"Unique reference, required field","in":"path","name":"reference","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OrderByReferenceResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OrderByReference","summary":"Get an Order by Pending Order reference (UUID)"}},"/parties":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1PartiesResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Parties","summary":"Get a list of Parties"}},"/parties/{partyId}":{"get":{"parameters":[{"description":"Party identifier, required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1PartyByIDResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_PartyByID","summary":"Get a Party by ID"}},"/parties/{partyId}/accounts":{"get":{"parameters":[{"description":"Party identifier","in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Market identifier.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Account type, required field.\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nThe required initial margin is allocated to each market from your general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nThe Vega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold","in":"query","name":"type","required":false,"schema":{"default":"ACCOUNT_TYPE_UNSPECIFIED","enum":["ACCOUNT_TYPE_UNSPECIFIED","ACCOUNT_TYPE_INSURANCE","ACCOUNT_TYPE_SETTLEMENT","ACCOUNT_TYPE_MARGIN","ACCOUNT_TYPE_GENERAL","ACCOUNT_TYPE_FEES_INFRASTRUCTURE","ACCOUNT_TYPE_FEES_LIQUIDITY","ACCOUNT_TYPE_FEES_MAKER","ACCOUNT_TYPE_BOND","ACCOUNT_TYPE_EXTERNAL","ACCOUNT_TYPE_GLOBAL_INSURANCE","ACCOUNT_TYPE_GLOBAL_REWARD","ACCOUNT_TYPE_PENDING_TRANSFERS","ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES","ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES","ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"],"type":"string"}},{"description":"Asset identifier.","in":"query","name":"asset","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1PartyAccountsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_PartyAccounts","summary":"Get a list of Accounts by Party"}},"/parties/{partyId}/deposits":{"get":{"parameters":[{"description":"The party to get the deposits for","in":"path","name":"partyId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1DepositsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Deposits","summary":"Get deposits for a party"}},"/parties/{partyId}/markets/{marketId}/margin":{"get":{"parameters":[{"description":"Party identifier, required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Market identifier","in":"path","name":"marketId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1MarginLevelsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_MarginLevels","summary":"Get Margin Levels by Party ID"}},"/parties/{partyId}/orders":{"get":{"parameters":[{"description":"Party identifier, required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1OrdersByPartyResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_OrdersByParty","summary":"Get a list of Orders by Party"}},"/parties/{partyId}/positions":{"get":{"parameters":[{"description":"Party identifier, required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Market identifier.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1PositionsByPartyResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_PositionsByParty","summary":"Get a list of Positions by Party"}},"/parties/{partyId}/proposals":{"get":{"parameters":[{"description":"Party identifier, required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Optional proposal state.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted (proposal terms failed validation due to wrong configuration or failing to meet network requirements)\n - STATE_DECLINED: Proposal didn't get enough votes (either failing to gain required participation or majority level)\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal","in":"query","name":"selectInState","required":false,"schema":{"default":"STATE_UNSPECIFIED","enum":["STATE_UNSPECIFIED","STATE_FAILED","STATE_OPEN","STATE_PASSED","STATE_REJECTED","STATE_DECLINED","STATE_ENACTED","STATE_WAITING_FOR_NODE_VOTE"],"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetProposalsByPartyResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetProposalsByParty","summary":"Get governance data (proposals and votes) for proposals by party authoring them"}},"/parties/{partyId}/rewards":{"get":{"parameters":[{"in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"in":"query","name":"assetId","required":false,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetRewardsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetRewards","summary":"Get rewards"}},"/parties/{partyId}/trades":{"get":{"parameters":[{"description":"Party identifier. Required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}},{"description":"Market identifier.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Skip the number of records specified, default is 0.","in":"query","name":"pagination.skip","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Limit the number of returned records to the value specified, default is 50.","in":"query","name":"pagination.limit","required":false,"schema":{"format":"uint64","type":"string"}},{"description":"Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.","in":"query","name":"pagination.descending","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1TradesByPartyResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_TradesByParty","summary":"Get a list of Trades by Party"}},"/parties/{partyId}/votes":{"get":{"parameters":[{"description":"Party identifier, required field","in":"path","name":"partyId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetVotesByPartyResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetVotesByParty","summary":"Get votes by party casting them"}},"/parties/{party}/stake":{"get":{"parameters":[{"in":"path","name":"party","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1PartyStakeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_PartyStake"}},"/time":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetVegaTimeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_GetVegaTime","summary":"Get Time"}},"/transfers":{"get":{"parameters":[{"in":"query","name":"pubkey","required":false,"schema":{"type":"string"}},{"in":"query","name":"isFrom","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"isTo","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1TransfersResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Transfers"}},"/withdrawals/party/{partyId}":{"get":{"parameters":[{"description":"The party to get the withdrawals for","in":"path","name":"partyId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1WithdrawalsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Withdrawals","summary":"Get withdrawals for a party"}},"/withdrawals/{id}":{"get":{"parameters":[{"description":"The identifier of the withdrawal","in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1WithdrawalResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_Withdrawal","summary":"Get a withdrawal by its identifier"}},"/withdrawals/{withdrawalId}/approval/erc20":{"get":{"parameters":[{"description":"The identifier of the withdrawal","in":"path","name":"withdrawalId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1ERC20WithdrawalApprovalResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["TradingDataService"],"operationId":"TradingDataService_ERC20WithdrawalApproval","summary":"Get the bundle approval for an ERC20 withdrawal,\nthese data are being used to bundle the call to the smart contract on the ethereum bridge"}}},"components":{"schemas":{"ConditionOperator":{"default":"OPERATOR_UNSPECIFIED","description":"Comparator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue.","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"type":"string"},"MarketTradingMode":{"default":"TRADING_MODE_UNSPECIFIED","description":"- TRADING_MODE_UNSPECIFIED: Default value, this is invalid\n - TRADING_MODE_CONTINUOUS: Normal trading\n - TRADING_MODE_BATCH_AUCTION: Auction trading (FBA)\n - TRADING_MODE_OPENING_AUCTION: Opening auction\n - TRADING_MODE_MONITORING_AUCTION: Auction triggered by monitoring\n - TRADING_MODE_NO_TRADING: Not trading is allowed","enum":["TRADING_MODE_UNSPECIFIED","TRADING_MODE_CONTINUOUS","TRADING_MODE_BATCH_AUCTION","TRADING_MODE_OPENING_AUCTION","TRADING_MODE_MONITORING_AUCTION","TRADING_MODE_NO_TRADING"],"title":"The trading mode the market is currently running, also referred to as 'market state'","type":"string"},"OracleDataSubmissionOracleSource":{"default":"ORACLE_SOURCE_UNSPECIFIED","description":"- ORACLE_SOURCE_UNSPECIFIED: The default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data","enum":["ORACLE_SOURCE_UNSPECIFIED","ORACLE_SOURCE_OPEN_ORACLE","ORACLE_SOURCE_JSON"],"title":"The supported Oracle sources","type":"string"},"OrderTimeInForce":{"default":"TIME_IN_FORCE_UNSPECIFIED","description":"- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, The order either trades completely (remainingSize == 0 after adding)\nor not at all, does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)","enum":["TIME_IN_FORCE_UNSPECIFIED","TIME_IN_FORCE_GTC","TIME_IN_FORCE_GTT","TIME_IN_FORCE_IOC","TIME_IN_FORCE_FOK","TIME_IN_FORCE_GFA","TIME_IN_FORCE_GFN"],"title":"Time In Force for an order","type":"string"},"TransactionResultFailureDetails":{"properties":{"error":{"title":"An error message explaining the reason for the transaction failing processing","type":"string"}},"type":"object"},"TransactionResultSuccessDetails":{"type":"object"},"UndelegateSubmissionMethod":{"default":"METHOD_UNSPECIFIED","enum":["METHOD_UNSPECIFIED","METHOD_NOW","METHOD_AT_END_OF_EPOCH","METHOD_IN_ANGER"],"type":"string"},"VoteValue":{"default":"VALUE_UNSPECIFIED","description":"- VALUE_UNSPECIFIED: Default value, always invalid\n - VALUE_NO: A vote against the proposal\n - VALUE_YES: A vote in favour of the proposal","enum":["VALUE_UNSPECIFIED","VALUE_NO","VALUE_YES"],"title":"Vote value","type":"string"},"datanodeapiv1KeyRotation":{"properties":{"blockHeight":{"format":"uint64","type":"string"},"newPubKey":{"type":"string"},"nodeId":{"type":"string"},"oldPubKey":{"type":"string"}},"type":"object"},"googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"details":{"items":{"$ref":"#/components/schemas/protobufAny"},"type":"array"},"message":{"type":"string"}},"type":"object"},"protobufAny":{"additionalProperties":{},"properties":{"@type":{"type":"string"}},"type":"object"},"v1AccountsSubscribeResponse":{"properties":{"account":{"$ref":"#/components/schemas/vegaAccount"}},"type":"object"},"v1AnnounceNode":{"properties":{"avatarUrl":{"title":"AvatarURL of the validator","type":"string"},"chainPubKey":{"title":"Public key for the blockchain, required field","type":"string"},"country":{"title":"Country code (ISO 3166-1 alpha-2) for the location of the node","type":"string"},"ethereumAddress":{"title":"Ethereum public key, required field","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature from the validator made using the ethereum wallet"},"fromEpoch":{"format":"uint64","title":"The epoch from which the validator is expected\nto be ready to validate blocks","type":"string"},"id":{"title":"ID of the validator, (public master key)","type":"string"},"infoUrl":{"title":"URL with more info on the node","type":"string"},"name":{"title":"Name of the validator","type":"string"},"submitterAddress":{"title":"Ethereum public key to use as a submitter to allow automatic signature generation","type":"string"},"vegaPubKey":{"title":"Vega public key, required field","type":"string"},"vegaPubKeyIndex":{"format":"int64","title":"Vega public key derivation index","type":"integer"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature from the validator made using the vega wallet"}},"title":"Used announce a node as a new potential validator","type":"object"},"v1AssetByIDResponse":{"properties":{"asset":{"$ref":"#/components/schemas/vegaAsset","title":"An asset record, if found"}},"title":"Response for an asset given an asset identifier","type":"object"},"v1AssetsResponse":{"properties":{"assets":{"items":{"$ref":"#/components/schemas/vegaAsset"},"title":"A list of 0 or more assets","type":"array"}},"title":"Response for a list of all assets enabled on Vega","type":"object"},"v1AuctionEvent":{"properties":{"end":{"format":"int64","title":"Timestamp containing the end time for an auction","type":"string"},"extensionTrigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","title":"If an auction was ongoing, but was extended for whatever reason, this field will\nbe set to the trigger type indicating which component extended the auction"},"leave":{"title":"True if the event indicates leaving auction mode and False otherwise","type":"boolean"},"marketId":{"title":"Market identifier for the event","type":"string"},"openingAuction":{"title":"True if the event indicates an auction opening and False otherwise","type":"boolean"},"start":{"format":"int64","title":"Timestamp containing the start time for an auction","type":"string"},"trigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","title":"the reason this market is/was in auction"}},"title":"An auction event indicating a change in auction state, for example starting or ending an auction","type":"object"},"v1BatchMarketInstructions":{"properties":{"amendments":{"items":{"$ref":"#/components/schemas/v1OrderAmendment"},"title":"A list of order amendments to be processed sequentially","type":"array"},"cancellations":{"items":{"$ref":"#/components/schemas/v1OrderCancellation"},"title":"A list of order cancellations to be processed sequentially","type":"array"},"submissions":{"items":{"$ref":"#/components/schemas/v1OrderSubmission"},"title":"A list of order submissions to be processed sequentially","type":"array"}},"title":"A batch of order instructions.\nThis command accepts only the following batches of commands\nand will be processed in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\nThe total amount of commands in the batch across all three lists of\ninstructions is restricted by the following network parameter:\n\"spam.protection.max.batchSize\"","type":"object"},"v1BeginBlock":{"properties":{"hash":{"type":"string"},"height":{"format":"uint64","type":"string"},"timestamp":{"format":"int64","type":"string"}},"title":"BeginBlock","type":"object"},"v1BusEvent":{"properties":{"account":{"$ref":"#/components/schemas/vegaAccount","title":"Account events"},"asset":{"$ref":"#/components/schemas/vegaAsset","title":"Asset events"},"auction":{"$ref":"#/components/schemas/v1AuctionEvent","title":"Auction events - See [AuctionEvent](#vega.AuctionEvent)"},"beginBlock":{"$ref":"#/components/schemas/v1BeginBlock","title":"The core is starting to process a new block"},"block":{"title":"The batch (or block) of transactions that the events relate to","type":"string"},"chainId":{"type":"string"},"checkpoint":{"$ref":"#/components/schemas/v1CheckpointEvent","title":"Checkpoint was created"},"delegationBalance":{"$ref":"#/components/schemas/v1DelegationBalanceEvent","title":"Delegation balance events"},"deposit":{"$ref":"#/components/schemas/vegaDeposit","title":"Deposit events"},"endBlock":{"$ref":"#/components/schemas/v1EndBlock","title":"The core finished to process a block"},"epochEvent":{"$ref":"#/components/schemas/v1EpochEvent","title":"Epoch update events - See [Epoch](#vega.Epoch)"},"erc20MultisigSetThresholdEvent":{"$ref":"#/components/schemas/v1ERC20MultiSigThresholdSetEvent","title":"ERC20 multi sig set threshold event"},"erc20MultisigSignerAdded":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerAdded","title":"ERC20 multi sig signer added"},"erc20MultisigSignerEvent":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerEvent","title":"ERC20 multi sig signer event"},"erc20MultisigSignerRemoved":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerRemoved","title":"ERC20 multi sig signer removed"},"ethereumKeyRotation":{"$ref":"#/components/schemas/v1EthereumKeyRotation","title":"Ethereum key rotation took place"},"id":{"title":"A unique event identifier for the message","type":"string"},"keyRotation":{"$ref":"#/components/schemas/vegaeventsv1KeyRotation","title":"Key rotation took place"},"ledgerMovements":{"$ref":"#/components/schemas/v1LedgerMovements","title":"Transfer responses update events - See [TransferResponses](#vega.TransferResponses)"},"liquidityProvision":{"$ref":"#/components/schemas/vegaLiquidityProvision","title":"LiquidityProvision  events"},"lossSocialization":{"$ref":"#/components/schemas/v1LossSocialization","title":"Loss socialization events - See [LossSocialization](#vega.LossSocialization)"},"marginLevels":{"$ref":"#/components/schemas/vegaMarginLevels","title":"Margin level update events"},"market":{"$ref":"#/components/schemas/v1MarketEvent","title":"Market tick events - See [MarketEvent](#vega.MarketEvent)"},"marketCreated":{"$ref":"#/components/schemas/vegaMarket","title":"Market created events"},"marketData":{"$ref":"#/components/schemas/vegaMarketData","title":"Market data events"},"marketTick":{"$ref":"#/components/schemas/v1MarketTick","title":"Market tick events - See [MarketTick](#vega.MarketTick)"},"marketUpdated":{"$ref":"#/components/schemas/vegaMarket","title":"Market created events"},"networkLimits":{"$ref":"#/components/schemas/vegaNetworkLimits","title":"Network limits events"},"networkParameter":{"$ref":"#/components/schemas/vegaNetworkParameter","title":"Network parameter events"},"nodeSignature":{"$ref":"#/components/schemas/v1NodeSignature","title":"Node signature events"},"oracleData":{"$ref":"#/components/schemas/vegaOracleData","title":"OracleData events"},"oracleSpec":{"$ref":"#/components/schemas/vegaOracleSpec","title":"OracleSpec events"},"order":{"$ref":"#/components/schemas/vegaOrder","title":"Order events"},"party":{"$ref":"#/components/schemas/vegaParty","title":"Party events"},"positionResolution":{"$ref":"#/components/schemas/v1PositionResolution","title":"Position resolution events - See [PositionResolution](#vega.PositionResolution)"},"positionStateEvent":{"$ref":"#/components/schemas/v1PositionStateEvent","title":"Position status for a party in a market"},"proposal":{"$ref":"#/components/schemas/vegaProposal","title":"Proposal events (for governance)"},"protocolUpgradeEvent":{"$ref":"#/components/schemas/v1ProtocolUpgradeEvent","title":"Protocol upgrade proposal updates"},"protocolUpgradeStarted":{"$ref":"#/components/schemas/v1ProtocolUpgradeStarted","title":"The core is starting a protocol upgrade"},"rankingEvent":{"$ref":"#/components/schemas/v1ValidatorRankingEvent","title":"Ranking event"},"rewardPayout":{"$ref":"#/components/schemas/v1RewardPayoutEvent","title":"Reward payout event"},"riskFactor":{"$ref":"#/components/schemas/vegaRiskFactor","title":"Risk factor events"},"settleDistressed":{"$ref":"#/components/schemas/v1SettleDistressed","title":"Position distressed events - See [SettleDistressed](#vega.SettleDistressed)"},"settleMarket":{"$ref":"#/components/schemas/v1SettleMarket","title":"Settle market event for data-node to update positions for settled markets"},"settlePosition":{"$ref":"#/components/schemas/v1SettlePosition","title":"Position settlement events - See [SettlePosition](#vega.SettlePosition)"},"stakeLinking":{"$ref":"#/components/schemas/v1StakeLinking","title":"Staking event"},"stateVar":{"$ref":"#/components/schemas/v1StateVar","title":"State variable consensus state transition update"},"timeUpdate":{"$ref":"#/components/schemas/v1TimeUpdate","title":"Time update events - See [TimeUpdate](#vega.TimeUpdate)"},"trade":{"$ref":"#/components/schemas/vegaTrade","title":"Trade events"},"transactionResult":{"$ref":"#/components/schemas/v1TransactionResult","title":"The result of a transaction processed by the network"},"transfer":{"$ref":"#/components/schemas/vegaeventsv1Transfer","title":"Transfer event"},"txErrEvent":{"$ref":"#/components/schemas/v1TxErrorEvent","title":"Transaction error events, not included in the ALL event type"},"txHash":{"type":"string"},"type":{"$ref":"#/components/schemas/v1BusEventType","title":"The type of bus event (one of the list below)"},"validatorScore":{"$ref":"#/components/schemas/v1ValidatorScoreEvent","title":"Validator score calculated"},"validatorUpdate":{"$ref":"#/components/schemas/v1ValidatorUpdate","title":"Validator update events"},"version":{"format":"int64","title":"Version of bus event","type":"integer"},"vote":{"$ref":"#/components/schemas/vegaVote","title":"Vote events (for governance)"},"withdrawal":{"$ref":"#/components/schemas/vegaWithdrawal","title":"Withdrawal events"}},"title":"A bus event is a container for event bus events emitted by Vega","type":"object"},"v1BusEventType":{"default":"BUS_EVENT_TYPE_UNSPECIFIED","description":"- BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfert\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the erc20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the erc20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicting that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: The core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: The core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: The core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: The market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: The result of a transaction processed by the network\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type","enum":["BUS_EVENT_TYPE_UNSPECIFIED","BUS_EVENT_TYPE_ALL","BUS_EVENT_TYPE_TIME_UPDATE","BUS_EVENT_TYPE_LEDGER_MOVEMENTS","BUS_EVENT_TYPE_POSITION_RESOLUTION","BUS_EVENT_TYPE_ORDER","BUS_EVENT_TYPE_ACCOUNT","BUS_EVENT_TYPE_PARTY","BUS_EVENT_TYPE_TRADE","BUS_EVENT_TYPE_MARGIN_LEVELS","BUS_EVENT_TYPE_PROPOSAL","BUS_EVENT_TYPE_VOTE","BUS_EVENT_TYPE_MARKET_DATA","BUS_EVENT_TYPE_NODE_SIGNATURE","BUS_EVENT_TYPE_LOSS_SOCIALIZATION","BUS_EVENT_TYPE_SETTLE_POSITION","BUS_EVENT_TYPE_SETTLE_DISTRESSED","BUS_EVENT_TYPE_MARKET_CREATED","BUS_EVENT_TYPE_ASSET","BUS_EVENT_TYPE_MARKET_TICK","BUS_EVENT_TYPE_WITHDRAWAL","BUS_EVENT_TYPE_DEPOSIT","BUS_EVENT_TYPE_AUCTION","BUS_EVENT_TYPE_RISK_FACTOR","BUS_EVENT_TYPE_NETWORK_PARAMETER","BUS_EVENT_TYPE_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_MARKET_UPDATED","BUS_EVENT_TYPE_ORACLE_SPEC","BUS_EVENT_TYPE_ORACLE_DATA","BUS_EVENT_TYPE_DELEGATION_BALANCE","BUS_EVENT_TYPE_VALIDATOR_SCORE","BUS_EVENT_TYPE_EPOCH_UPDATE","BUS_EVENT_TYPE_VALIDATOR_UPDATE","BUS_EVENT_TYPE_STAKE_LINKING","BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT","BUS_EVENT_TYPE_CHECKPOINT","BUS_EVENT_TYPE_STREAM_START","BUS_EVENT_TYPE_KEY_ROTATION","BUS_EVENT_TYPE_STATE_VAR","BUS_EVENT_TYPE_NETWORK_LIMITS","BUS_EVENT_TYPE_TRANSFER","BUS_EVENT_TYPE_VALIDATOR_RANKING","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED","BUS_EVENT_TYPE_POSITION_STATE","BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL","BUS_EVENT_TYPE_BEGIN_BLOCK","BUS_EVENT_TYPE_END_BLOCK","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED","BUS_EVENT_TYPE_SETTLE_MARKET","BUS_EVENT_TYPE_TRANSACTION_RESULT","BUS_EVENT_TYPE_MARKET","BUS_EVENT_TYPE_TX_ERROR"],"title":"An (event) bus event type is used to specify a type of event\nIt has 2 styles of event:\nSingle values (e.g. BUS_EVENT_TYPE_ORDER) where they represent one data item\nGroup values (e.g. BUS_EVENT_TYPE_AUCTION) where they represent a group of data items","type":"string"},"v1CancelTransfer":{"properties":{"transferId":{"title":"The ID of the transfer to cancel","type":"string"}},"title":"A request for cancelling a recurring transfer","type":"object"},"v1CandlesResponse":{"properties":{"candles":{"items":{"$ref":"#/components/schemas/vegaCandle"},"title":"A list of 0 or more candles","type":"array"}},"title":"Response for a list of candles for a market at an interval","type":"object"},"v1CandlesSubscribeResponse":{"properties":{"candle":{"$ref":"#/components/schemas/vegaCandle"}},"type":"object"},"v1Checkpoint":{"properties":{"atBlock":{"format":"uint64","type":"string"},"blockHash":{"type":"string"},"hash":{"type":"string"}},"title":"The actual data regarding a checkpoint","type":"object"},"v1CheckpointEvent":{"properties":{"blockHash":{"type":"string"},"blockHeight":{"format":"uint64","type":"string"},"hash":{"type":"string"}},"type":"object"},"v1CheckpointsResponse":{"properties":{"checkpoints":{"items":{"$ref":"#/components/schemas/v1Checkpoint"},"type":"array"}},"title":"Response message containing all checkpoints requested","type":"object"},"v1Condition":{"properties":{"operator":{"$ref":"#/components/schemas/ConditionOperator","description":"comparator is the type of comparison to make on the value."},"value":{"description":"value is used by the comparator.","type":"string"}},"title":"Condition describes the condition that must be validated by the network","type":"object"},"v1Data":{"description":"Data describes valid source data that has been received by the node.\nIt represents both matched and unmatched data.","properties":{"broadcastAt":{"description":"broadcast_at is the time at which the data was broadcast to the markets\nwith a matching spec.\nIt has no value when the date did not match any spec.\nThe value is a Unix timestamp in nanoseconds.","format":"int64","type":"string"},"data":{"items":{"$ref":"#/components/schemas/v1Property"},"title":"data holds all the properties of the data","type":"array"},"matchedSpecIds":{"description":"matched_specs_ids lists all the specs that matched this data.\nWhen the array is empty, it means no spec matched this data.","items":{"type":"string"},"type":"array"},"signers":{"items":{"$ref":"#/components/schemas/v1Signer"},"type":"array"}},"type":"object"},"v1DelegateSubmission":{"properties":{"amount":{"title":"The amount of stake to delegate","type":"string"},"nodeId":{"title":"The ID for the node to delegate to","type":"string"}},"title":"A command to submit an instruction to delegate some stake to a node","type":"object"},"v1DelegationBalanceEvent":{"properties":{"amount":{"type":"string"},"epochSeq":{"type":"string"},"nodeId":{"type":"string"},"party":{"type":"string"}},"title":"DelegationBalanceEvent - updates on the delegation balance of a party to a node in the current epoch in effect","type":"object"},"v1DelegationsResponse":{"properties":{"delegations":{"items":{"$ref":"#/components/schemas/vegaDelegation"},"type":"array"}},"type":"object"},"v1DepositResponse":{"properties":{"deposit":{"$ref":"#/components/schemas/vegaDeposit","title":"The deposit matching the identifier from the request"}},"title":"A response for a deposit","type":"object"},"v1DepositsResponse":{"properties":{"deposits":{"items":{"$ref":"#/components/schemas/vegaDeposit"},"title":"The list of deposits for the specified party","type":"array"}},"title":"The response for a list of deposits","type":"object"},"v1ERC20MultiSigSignerAdded":{"properties":{"epochSeq":{"title":"The epoch that the node was added for","type":"string"},"newSigner":{"title":"The ethereum address of the new signer","type":"string"},"nonce":{"description":"The nonce used.","type":"string"},"signatureId":{"title":"The identifier of the signature bundle","type":"string"},"submitter":{"title":"The address of the submitter of the transaction","type":"string"},"timestamp":{"format":"int64","title":"the time at which this happened","type":"string"},"validatorId":{"title":"The vega node ID of the node to be added","type":"string"}},"type":"object"},"v1ERC20MultiSigSignerEvent":{"properties":{"blockNumber":{"format":"uint64","type":"string"},"blockTime":{"format":"int64","type":"string"},"id":{"type":"string"},"logIndex":{"format":"uint64","type":"string"},"nonce":{"type":"string"},"signer":{"type":"string"},"txHash":{"type":"string"},"type":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerEventType"}},"type":"object"},"v1ERC20MultiSigSignerEventType":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_ADDED","TYPE_REMOVED"],"type":"string"},"v1ERC20MultiSigSignerRemoved":{"properties":{"epochSeq":{"title":"The epoch that the node was removed for","type":"string"},"nonce":{"description":"The nonce used.","type":"string"},"oldSigner":{"title":"The ethereum address of the signer to be removed","type":"string"},"signatureSubmitters":{"items":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerRemovedSubmitter"},"title":"A list containing all the IDs of bundle generated\nThere should be one bundle generated for every validators\nin the validator set","type":"array"},"timestamp":{"format":"int64","title":"the time at which this happened","type":"string"},"validatorId":{"title":"The vega node ID of the node which is to be removed","type":"string"}},"type":"object"},"v1ERC20MultiSigSignerRemovedSubmitter":{"properties":{"signatureId":{"title":"The ID of this signature bundle","type":"string"},"submitter":{"title":"The address of the submitter of the transaction","type":"string"}},"type":"object"},"v1ERC20MultiSigThresholdSetEvent":{"properties":{"blockNumber":{"format":"uint64","type":"string"},"blockTime":{"format":"int64","type":"string"},"id":{"type":"string"},"logIndex":{"format":"uint64","type":"string"},"newThreshold":{"format":"int64","type":"integer"},"nonce":{"type":"string"},"txHash":{"type":"string"}},"type":"object"},"v1ERC20WithdrawalApprovalResponse":{"properties":{"amount":{"title":"The amount to be withdrawn","type":"string"},"assetSource":{"title":"The address of asset on ethereum","type":"string"},"creation":{"format":"int64","title":"The creation timestamps","type":"string"},"expiry":{"format":"int64","title":"The expiry / until what time the request is valid","type":"string"},"nonce":{"title":"The nonce, which is actually the internal reference for the withdrawal","type":"string"},"signatures":{"title":"The signatures bundle as hex encoded data, forward by 0x\ne.g: 0x + sig1 + sig2 + ... + sixN","type":"string"},"targetAddress":{"title":"The ethereum address to withdraw the funds to, 0x prefixed","type":"string"}},"title":"The response with all information required to bundle the call to finalise the withdrawal on the erc20 bridge\nfunction withdraw_asset(address asset_source, uint256 asset_id, uint256 amount, uint256 expiry, uint256 nonce, bytes memory signatures)","type":"object"},"v1ETHAddress":{"properties":{"address":{"type":"string"}},"type":"object"},"v1EndBlock":{"properties":{"height":{"format":"uint64","type":"string"}},"title":"EndBlock","type":"object"},"v1EpochEvent":{"properties":{"action":{"$ref":"#/components/schemas/vegaEpochAction","title":"Action tells us what action is taking place"},"endTime":{"format":"int64","title":"What time did it actually end","type":"string"},"expireTime":{"format":"int64","title":"What time should this epoch end","type":"string"},"seq":{"format":"uint64","title":"Sequence number that increases by one each epoch","type":"string"},"startTime":{"format":"int64","title":"What time did this epoch start","type":"string"}},"title":"Epoch details","type":"object"},"v1EstimateFeeRequest":{"properties":{"order":{"$ref":"#/components/schemas/vegaOrder","title":"Order to estimate fees for\nthe following fields in the order are required:\nMarketID (used to specify the fee factors)\nPrice (the price at which the order could trade)\nSize (the size at which the order could eventually trade)"}},"title":"Request to fetch the estimated fee if an order were to trade immediately","type":"object"},"v1EstimateFeeResponse":{"properties":{"fee":{"$ref":"#/components/schemas/vegaFee","title":"Summary of the estimated fees for this order if it were to trade now"}},"title":"Response to a EstimateFeeRequest, containing the estimated fees for a given order","type":"object"},"v1EstimateMarginRequest":{"properties":{"order":{"$ref":"#/components/schemas/vegaOrder","title":"Order to estimate fees for"}},"title":"Request to fetch the estimated MarginLevels if an order were to trade immediately","type":"object"},"v1EstimateMarginResponse":{"properties":{"marginLevels":{"$ref":"#/components/schemas/vegaMarginLevels","title":"Summary of the estimated margins for this order if it were to trade now"}},"title":"Response to a EstimateMarginRequest, containing the estimated marginLevels for a given order","type":"object"},"v1EthereumKeyRotateSubmission":{"properties":{"currentAddress":{"title":"Currently used public address","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","title":"Signature that can be verified using the new ethereum address"},"newAddress":{"title":"The new adress to rotate to","type":"string"},"submitterAddress":{"title":"Ethereum public key to use as a submitter to allow automatic signature generation","type":"string"},"targetBlock":{"format":"uint64","title":"Target block at which the key rotation will take effect on","type":"string"}},"title":"A transaction to allow validator to rotate their ethereum keys","type":"object"},"v1EthereumKeyRotation":{"properties":{"blockHeight":{"format":"uint64","title":"Height of the block where key rotation took effect","type":"string"},"newAddress":{"title":"New Ethereum address of validator node","type":"string"},"nodeId":{"title":"Node id of the node","type":"string"},"oldAddress":{"title":"Old Ethereum address of validator node","type":"string"}},"title":"An Ethereum key rotation events contains information about Ethereum key rotation","type":"object"},"v1ExternalData":{"properties":{"data":{"$ref":"#/components/schemas/v1Data"}},"type":"object"},"v1FeeInfrastructureAccountsResponse":{"properties":{"accounts":{"items":{"$ref":"#/components/schemas/vegaAccount"},"title":"A list of 0 or more infrastructure fee accounts","type":"array"}},"title":"Response for a list of infrastructure fee accounts","type":"object"},"v1Filter":{"description":"Filter describes the conditions under which a data source data is considered of\ninterest or not.","properties":{"conditions":{"description":"conditions are the conditions that should be matched by the data to be\nconsidered of interest.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"},"key":{"$ref":"#/components/schemas/v1PropertyKey","description":"key is the data source data property key targeted by the filter."}},"type":"object"},"v1GetEpochResponse":{"properties":{"epoch":{"$ref":"#/components/schemas/vegaEpoch"}},"type":"object"},"v1GetKeyRotationsByNodeResponse":{"properties":{"rotations":{"items":{"$ref":"#/components/schemas/datanodeapiv1KeyRotation"},"type":"array"}},"title":"Response with all key rotations per node","type":"object"},"v1GetKeyRotationsResponse":{"properties":{"rotations":{"items":{"$ref":"#/components/schemas/datanodeapiv1KeyRotation"},"type":"array"}},"title":"Response with all key rotations","type":"object"},"v1GetNetworkParametersProposalsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of network parameter proposals","type":"object"},"v1GetNewAssetProposalsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of new asset proposals","type":"object"},"v1GetNewFreeformProposalsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of new freeform proposals","type":"object"},"v1GetNewMarketProposalsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of new market proposals","type":"object"},"v1GetNodeByIDResponse":{"properties":{"node":{"$ref":"#/components/schemas/vegaNode"}},"title":"Response with all nodes","type":"object"},"v1GetNodeDataResponse":{"properties":{"nodeData":{"$ref":"#/components/schemas/vegaNodeData"}},"title":"Response with node data","type":"object"},"v1GetNodeSignaturesAggregateResponse":{"properties":{"signatures":{"items":{"$ref":"#/components/schemas/v1NodeSignature"},"title":"A list of 0 or more signatures","type":"array"}},"title":"Response to specify the identifier of the resource to retrieve aggregated signatures for","type":"object"},"v1GetNodesResponse":{"properties":{"nodes":{"items":{"$ref":"#/components/schemas/vegaNode"},"type":"array"}},"title":"Response with all nodes","type":"object"},"v1GetProposalByIDResponse":{"properties":{"data":{"$ref":"#/components/schemas/vegaGovernanceData","title":"Governance data, if found"}},"title":"Response for a governance proposal given a proposal identifier","type":"object"},"v1GetProposalByReferenceResponse":{"properties":{"data":{"$ref":"#/components/schemas/vegaGovernanceData","title":"Governance data, if found"}},"title":"Response for a governance proposal given a proposal reference","type":"object"},"v1GetProposalsByPartyResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of proposals for a party","type":"object"},"v1GetProposalsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of proposals","type":"object"},"v1GetRewardSummariesResponse":{"properties":{"summaries":{"items":{"$ref":"#/components/schemas/vegaRewardSummary"},"type":"array"}},"title":"The return message with reward details in for a single party","type":"object"},"v1GetRewardsResponse":{"properties":{"rewards":{"items":{"$ref":"#/components/schemas/vegaReward"},"type":"array"}},"title":"The return message with reward details in for a single party","type":"object"},"v1GetRiskFactorsResponse":{"properties":{"riskFactor":{"$ref":"#/components/schemas/vegaRiskFactor"}},"type":"object"},"v1GetUpdateMarketProposalsResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/vegaGovernanceData"},"title":"A list of 0 or more governance data","type":"array"}},"title":"Response for a list of update market proposals","type":"object"},"v1GetVegaTimeResponse":{"properties":{"timestamp":{"format":"int64","title":"Timestamp representation of current VegaTime as represented in\nNanoseconds since the epoch, for example `1580473859111222333` corresponds to `2020-01-31T12:30:59.111222333Z`","type":"string"}},"title":"Response for the current consensus coordinated time on the Vega network, referred to as \"VegaTime\"","type":"object"},"v1GetVotesByPartyResponse":{"properties":{"votes":{"items":{"$ref":"#/components/schemas/vegaVote"},"title":"A list of 0 or more votes","type":"array"}},"title":"Response for a list of votes for a party","type":"object"},"v1GlobalRewardPoolAccountsResponse":{"properties":{"accounts":{"items":{"$ref":"#/components/schemas/vegaAccount"},"title":"A list of 0 or more global reward pool accounts","type":"array"}},"title":"Response for a list of global reward pool accounts","type":"object"},"v1IssueSignatures":{"properties":{"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","title":"The kind of signatures to generate, namely for whether a signer is being added or removed"},"submitter":{"title":"The ethereum address which will submit the signatures to the smart-contract","type":"string"},"validatorNodeId":{"title":"The ID of the node that will be signed in or out of the smartcontract","type":"string"}},"type":"object"},"v1KeyRotateSubmission":{"properties":{"currentPubKeyHash":{"title":"Hash of currently used public key","type":"string"},"newPubKey":{"title":"The new public key to rotate to","type":"string"},"newPubKeyIndex":{"format":"int64","title":"New Vega public key derivation index","type":"integer"},"targetBlock":{"format":"uint64","title":"Target block at which the key rotation will take effect on","type":"string"}},"title":"A transaction to allow validator to rotate their vega keys","type":"object"},"v1LastTradeResponse":{"properties":{"trade":{"$ref":"#/components/schemas/vegaTrade","title":"A trade, if found"}},"title":"Response for the latest trade that occurred on Vega for a given market","type":"object"},"v1LedgerMovements":{"properties":{"ledgerMovements":{"items":{"$ref":"#/components/schemas/vegaLedgerMovement"},"title":"One or more entries containing internal transfer information","type":"array"}},"title":"A transfer responses event contains a collection of transfer information","type":"object"},"v1LedgerMovementsSubscribeResponse":{"properties":{"ledgerMovement":{"$ref":"#/components/schemas/vegaLedgerMovement"}},"type":"object"},"v1LiquidityProvisionAmendment":{"properties":{"buys":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"},"commitmentAmount":{"title":"From here at least one of the following is required to consider the command valid","type":"string"},"fee":{"type":"string"},"marketId":{"type":"string"},"reference":{"type":"string"},"sells":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"type":"array"}},"title":"Amend a liquidity provision request","type":"object"},"v1LiquidityProvisionCancellation":{"properties":{"marketId":{"type":"string"}},"title":"Cancel a liquidity provision request","type":"object"},"v1LiquidityProvisionSubmission":{"properties":{"buys":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"title":"A set of liquidity buy orders to meet the liquidity provision obligation","type":"array"},"commitmentAmount":{"title":"Specified as a unitless number that represents the amount of settlement asset of the market","type":"string"},"fee":{"title":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers","type":"string"},"marketId":{"title":"Market identifier for the order, required field","type":"string"},"reference":{"title":"A reference to be added to every order created out of this liquidityProvisionSubmission","type":"string"},"sells":{"items":{"$ref":"#/components/schemas/vegaLiquidityOrder"},"title":"A set of liquidity sell orders to meet the liquidity provision obligation","type":"array"}},"title":"A liquidity provision submitted for a given market","type":"object"},"v1LiquidityProvisionsResponse":{"properties":{"liquidityProvisions":{"items":{"$ref":"#/components/schemas/vegaLiquidityProvision"},"type":"array"}},"title":"A response containing all of the Vega liquidity provision orders","type":"object"},"v1ListOracleDataResponse":{"properties":{"oracleData":{"items":{"$ref":"#/components/schemas/vegaOracleData"},"title":"The list of seen oracle data","type":"array"}},"title":"The response to get all seen oracle data","type":"object"},"v1LossSocialization":{"properties":{"amount":{"title":"Amount distributed","type":"string"},"marketId":{"title":"Market identifier for the event","type":"string"},"partyId":{"title":"Party identifier (public key) for the event","type":"string"}},"title":"A loss socialization event contains details on the amount of wins unable to be distributed","type":"object"},"v1MarginLevelsResponse":{"properties":{"marginLevels":{"items":{"$ref":"#/components/schemas/vegaMarginLevels"},"title":"A list of 0 or more margin levels","type":"array"}},"title":"Response for margin levels for a party","type":"object"},"v1MarginLevelsSubscribeResponse":{"properties":{"marginLevels":{"$ref":"#/components/schemas/vegaMarginLevels"}},"type":"object"},"v1MarketAccountsResponse":{"properties":{"accounts":{"items":{"$ref":"#/components/schemas/vegaAccount"},"title":"A list of 0 or more accounts","type":"array"}},"title":"Response for a list of accounts for a market","type":"object"},"v1MarketByIDResponse":{"properties":{"market":{"$ref":"#/components/schemas/vegaMarket","title":"A market, if found"}},"title":"Response for a market given a market identifier","type":"object"},"v1MarketDataByIDResponse":{"properties":{"marketData":{"$ref":"#/components/schemas/vegaMarketData","title":"Market data, if found"}},"title":"Response for market data for a market","type":"object"},"v1MarketDepthResponse":{"properties":{"buy":{"items":{"$ref":"#/components/schemas/vegaPriceLevel"},"title":"Zero or more price levels for the buy side of the market depth data","type":"array"},"lastTrade":{"$ref":"#/components/schemas/vegaTrade","title":"Last trade recorded on Vega at the time of retrieving the `MarketDepthResponse`"},"marketId":{"title":"Market identifier","type":"string"},"sell":{"items":{"$ref":"#/components/schemas/vegaPriceLevel"},"title":"Zero or more price levels for the sell side of the market depth data","type":"array"},"sequenceNumber":{"format":"uint64","title":"Sequence number incremented after each update","type":"string"}},"title":"Response for the market depth/order book price levels on a market","type":"object"},"v1MarketDepthSubscribeResponse":{"properties":{"marketDepth":{"$ref":"#/components/schemas/vegaMarketDepth"}},"type":"object"},"v1MarketDepthUpdatesSubscribeResponse":{"properties":{"update":{"$ref":"#/components/schemas/vegaMarketDepthUpdate"}},"type":"object"},"v1MarketEvent":{"properties":{"marketId":{"title":"Market identifier for the event","type":"string"},"payload":{"title":"Payload is a unique information string","type":"string"}},"title":"MarketEvent - the common denominator for all market events\ninterface has a method to return a string for logging","type":"object"},"v1MarketTick":{"properties":{"id":{"title":"Market identifier for the event","type":"string"},"time":{"format":"int64","title":"Timestamp containing latest update from Vega blockchain aka Vega-time","type":"string"}},"title":"A market ticket event contains the time value for when a particular market was last processed on Vega","type":"object"},"v1MarketsDataResponse":{"properties":{"marketsData":{"items":{"$ref":"#/components/schemas/vegaMarketData"},"title":"A list of 0 or more market data","type":"array"}},"title":"Response for market data","type":"object"},"v1MarketsDataSubscribeResponse":{"properties":{"marketData":{"$ref":"#/components/schemas/vegaMarketData"}},"type":"object"},"v1MarketsResponse":{"properties":{"markets":{"items":{"$ref":"#/components/schemas/vegaMarket"},"title":"A list of 0 or more markets","type":"array"}},"title":"Response for a list of markets on Vega","type":"object"},"v1NetworkParametersResponse":{"properties":{"networkParameters":{"items":{"$ref":"#/components/schemas/vegaNetworkParameter"},"type":"array"}},"title":"A response containing all of the vega network parameters","type":"object"},"v1NodeSignature":{"properties":{"id":{"title":"The identifier of the resource being signed","type":"string"},"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","title":"The kind of resource being signed"},"sig":{"format":"byte","title":"The signature","type":"string"}},"title":"Represents a signature from a validator, to be used by a foreign chain in order to recognise a decision taken by the Vega network","type":"object"},"v1NodeSignatureKind":{"default":"NODE_SIGNATURE_KIND_UNSPECIFIED","description":"- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing","enum":["NODE_SIGNATURE_KIND_UNSPECIFIED","NODE_SIGNATURE_KIND_ASSET_NEW","NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED","NODE_SIGNATURE_KIND_ASSET_UPDATE"],"title":"The kind of the signature created by a node, for example, allow-listing a new asset, withdrawal etc","type":"string"},"v1ObserveDelegationsResponse":{"properties":{"delegation":{"$ref":"#/components/schemas/vegaDelegation"}},"title":"All events related to delegation with the given filters","type":"object"},"v1ObserveEventBusResponse":{"properties":{"events":{"items":{"$ref":"#/components/schemas/v1BusEvent"},"title":"One or more events","type":"array"}},"title":"Response to a subscribed stream of events from the Vega event bus","type":"object"},"v1ObserveGovernanceResponse":{"properties":{"data":{"$ref":"#/components/schemas/vegaGovernanceData"}},"title":"All events related to governance","type":"object"},"v1ObservePartyProposalsResponse":{"properties":{"data":{"$ref":"#/components/schemas/vegaGovernanceData"}},"type":"object"},"v1ObservePartyVotesResponse":{"properties":{"vote":{"$ref":"#/components/schemas/vegaVote"}},"type":"object"},"v1ObserveProposalVotesResponse":{"properties":{"vote":{"$ref":"#/components/schemas/vegaVote"}},"type":"object"},"v1ObserveRewardsResponse":{"properties":{"reward":{"$ref":"#/components/schemas/vegaReward"}},"type":"object"},"v1OracleDataBySpecResponse":{"properties":{"oracleData":{"items":{"$ref":"#/components/schemas/vegaOracleData"},"title":"The list of external data broadcast to a given spec","type":"array"}},"title":"The response for a list of all oracle data broadcast to a given spec","type":"object"},"v1OracleDataSubmission":{"properties":{"payload":{"format":"byte","title":"The data provided by the data source\nIn the case of Open Oracle - it will be the entire object - it will contain messages, signatures and price data","type":"string"},"source":{"$ref":"#/components/schemas/OracleDataSubmissionOracleSource","description":"The source from which the data is coming from. Must be base64 encoded.\nOracle data a type of external data source data."}},"title":"Command to submit new Oracle data from third party providers","type":"object"},"v1OracleSpecResponse":{"properties":{"oracleSpec":{"$ref":"#/components/schemas/vegaOracleSpec","title":"The withdrawal matching the identifier from the request"}},"title":"A response for a oracle spec","type":"object"},"v1OracleSpecsResponse":{"properties":{"oracleSpecs":{"items":{"$ref":"#/components/schemas/vegaOracleSpec"},"title":"The list of external data specs","type":"array"}},"title":"The response for a list of withdrawals","type":"object"},"v1OrderAmendment":{"properties":{"expiresAt":{"format":"int64","title":"Amend the expiry time for the order, if the Timestamp value is set, otherwise expiry time will remain unchanged\n- See [`VegaTimeResponse`](#api.VegaTimeResponse).`timestamp`","type":"string"},"marketId":{"title":"Market identifier, this is required to find the order and will not be updated","type":"string"},"orderId":{"title":"Order identifier, this is required to find the order and will not be updated, required field","type":"string"},"peggedOffset":{"title":"Amend the pegged order offset for the order","type":"string"},"peggedReference":{"$ref":"#/components/schemas/vegaPeggedReference","title":"Amend the pegged order reference for the order\n- See [`PeggedReference`](#vega.PeggedReference)"},"price":{"title":"Amend the price for the order, if the Price value is set, otherwise price will remain unchanged - See [`Price`](#vega.Price)","type":"string"},"sizeDelta":{"format":"int64","title":"Amend 
[...]
