{
  "swagger": "2.0",
  "info": {
    "title": "Vega core APIs",
    "version": "v0.78.0-dev"
  },
  "tags": [
    {
      "name": "CoreService"
    }
  ],
  "host": "lb.testnet.vega.xyz",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {},
  "definitions": {
    "AMMCurve": {
      "type": "object",
      "properties": {
        "virtualLiquidity": {
          "type": "string",
          "description": "Virtual liquidity for the given AMM curve."
        },
        "theoreticalPosition": {
          "type": "string",
          "description": "Maximum tradable volume on the AMM curve."
        }
      }
    },
    "AMMStatusReason": {
      "type": "string",
      "enum": [
        "STATUS_REASON_UNSPECIFIED",
        "STATUS_REASON_CANCELLED_BY_PARTY",
        "STATUS_REASON_CANNOT_FILL_COMMITMENT",
        "STATUS_REASON_PARTY_ALREADY_OWNS_AMM_FOR_MARKET",
        "STATUS_REASON_PARTY_CLOSED_OUT",
        "STATUS_REASON_MARKET_CLOSED",
        "STATUS_REASON_COMMITMENT_TOO_LOW",
        "STATUS_REASON_CANNOT_REBASE"
      ],
      "default": "STATUS_REASON_UNSPECIFIED",
      "description": " - STATUS_REASON_CANCELLED_BY_PARTY: AMM was cancelled by its owner.\n - STATUS_REASON_CANNOT_FILL_COMMITMENT: Party does not have enough funds in their general account to meet the AMM's commitment.\n - STATUS_REASON_PARTY_ALREADY_OWNS_AMM_FOR_MARKET: Party already has an AMM operating on this market and cannot create another one.\n - STATUS_REASON_PARTY_CLOSED_OUT: AMM was liquidated and stopped by the network.\n - STATUS_REASON_MARKET_CLOSED: AMM was stopped by the network because the market it operated in was closed.\n - STATUS_REASON_COMMITMENT_TOO_LOW: Commitment amount was below the network wide minimum, or its price bounds are too wide, such that the volume is spread thinly creating zero-volume price-levels.\n - STATUS_REASON_CANNOT_REBASE: AMM was unable to rebase its fair-price such that it does not cross with existing orders."
    },
    "ConditionOperator": {
      "type": "string",
      "enum": [
        "OPERATOR_UNSPECIFIED",
        "OPERATOR_EQUALS",
        "OPERATOR_GREATER_THAN",
        "OPERATOR_GREATER_THAN_OR_EQUAL",
        "OPERATOR_LESS_THAN",
        "OPERATOR_LESS_THAN_OR_EQUAL"
      ],
      "default": "OPERATOR_UNSPECIFIED",
      "description": "Operator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue."
    },
    "FundingPeriodDataPointSource": {
      "type": "string",
      "enum": [
        "SOURCE_UNSPECIFIED",
        "SOURCE_EXTERNAL",
        "SOURCE_INTERNAL"
      ],
      "default": "SOURCE_UNSPECIFIED",
      "description": " - SOURCE_UNSPECIFIED: Default value\n - SOURCE_EXTERNAL: Data point is from an external data source, such as an oracle, and represents the spot price of the underlying asset.\n - SOURCE_INTERNAL: Data point from within Vega such as the mark price after performing mark-to-market."
    },
    "MarketTradingMode": {
      "type": "string",
      "enum": [
        "TRADING_MODE_UNSPECIFIED",
        "TRADING_MODE_CONTINUOUS",
        "TRADING_MODE_BATCH_AUCTION",
        "TRADING_MODE_OPENING_AUCTION",
        "TRADING_MODE_MONITORING_AUCTION",
        "TRADING_MODE_NO_TRADING",
        "TRADING_MODE_SUSPENDED_VIA_GOVERNANCE",
        "TRADING_MODE_LONG_BLOCK_AUCTION"
      ],
      "default": "TRADING_MODE_UNSPECIFIED",
      "description": "- TRADING_MODE_UNSPECIFIED: Default value, this is invalid\n - TRADING_MODE_CONTINUOUS: Normal trading\n - TRADING_MODE_BATCH_AUCTION: Auction trading (FBA)\n - TRADING_MODE_OPENING_AUCTION: Opening auction\n - TRADING_MODE_MONITORING_AUCTION: Auction triggered by monitoring\n - TRADING_MODE_NO_TRADING: No trading is allowed\n - TRADING_MODE_SUSPENDED_VIA_GOVERNANCE: Special auction mode triggered via governance\n - TRADING_MODE_LONG_BLOCK_AUCTION: Auction triggered globally by long block",
      "title": "Trading mode the market is currently running, also referred to as 'market state'"
    },
    "OracleDataSubmissionOracleSource": {
      "type": "string",
      "enum": [
        "ORACLE_SOURCE_UNSPECIFIED",
        "ORACLE_SOURCE_OPEN_ORACLE",
        "ORACLE_SOURCE_JSON",
        "ORACLE_SOURCE_ETHEREUM"
      ],
      "default": "ORACLE_SOURCE_UNSPECIFIED",
      "description": "- ORACLE_SOURCE_UNSPECIFIED: Default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard.\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data.\n - ORACLE_SOURCE_ETHEREUM: Specifies that the payload will be base64 encoded JSON conforming to the ETH standard.",
      "title": "Supported oracle sources"
    },
    "OrderTimeInForce": {
      "type": "string",
      "enum": [
        "TIME_IN_FORCE_UNSPECIFIED",
        "TIME_IN_FORCE_GTC",
        "TIME_IN_FORCE_GTT",
        "TIME_IN_FORCE_IOC",
        "TIME_IN_FORCE_FOK",
        "TIME_IN_FORCE_GFA",
        "TIME_IN_FORCE_GFN"
      ],
      "default": "TIME_IN_FORCE_UNSPECIFIED",
      "description": "- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, the order either trades completely i.e. remainingSize == 0 after adding,\nor not at all, and does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)",
      "title": "Time In Force for an order"
    },
    "StopOrderExpiryStrategy": {
      "type": "string",
      "enum": [
        "EXPIRY_STRATEGY_UNSPECIFIED",
        "EXPIRY_STRATEGY_CANCELS",
        "EXPIRY_STRATEGY_SUBMIT"
      ],
      "default": "EXPIRY_STRATEGY_UNSPECIFIED",
      "description": " - EXPIRY_STRATEGY_UNSPECIFIED: Never valid\n - EXPIRY_STRATEGY_CANCELS: Stop order should be cancelled if the expiry time is reached.\n - EXPIRY_STRATEGY_SUBMIT: Order should be submitted if the expiry time is reached."
    },
    "StopOrderRejectionReason": {
      "type": "string",
      "enum": [
        "REJECTION_REASON_UNSPECIFIED",
        "REJECTION_REASON_TRADING_NOT_ALLOWED",
        "REJECTION_REASON_EXPIRY_IN_THE_PAST",
        "REJECTION_REASON_MUST_BE_REDUCE_ONLY",
        "REJECTION_REASON_MAX_STOP_ORDERS_PER_PARTY_REACHED",
        "REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_WITHOUT_A_POSITION",
        "REJECTION_REASON_STOP_ORDER_NOT_CLOSING_THE_POSITION",
        "REJECTION_REASON_STOP_ORDER_LINKED_PERCENTAGE_INVALID",
        "REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_DURING_OPENING_AUCTION",
        "REJECTION_REASON_STOP_ORDER_CANNOT_MATCH_OCO_EXPIRY_TIMES",
        "REJECTION_REASON_STOP_ORDER_SIZE_OVERRIDE_UNSUPPORTED_FOR_SPOT"
      ],
      "default": "REJECTION_REASON_UNSPECIFIED",
      "title": "- REJECTION_REASON_UNSPECIFIED: Never valid\n - REJECTION_REASON_TRADING_NOT_ALLOWED: Trading is not allowed yet\n - REJECTION_REASON_EXPIRY_IN_THE_PAST: Expiry of the stop order is in the past\n - REJECTION_REASON_MUST_BE_REDUCE_ONLY: Stop orders submission must be reduce only\n - REJECTION_REASON_MAX_STOP_ORDERS_PER_PARTY_REACHED: Party has reached the maximum stop orders allowed for this market\n - REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_WITHOUT_A_POSITION: Stop orders are not allowed if there is no open position\n - REJECTION_REASON_STOP_ORDER_NOT_CLOSING_THE_POSITION: This stop order does not close the position\n - REJECTION_REASON_STOP_ORDER_LINKED_PERCENTAGE_INVALID: The percentage value for the linked stop order is invalid\n - REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_DURING_OPENING_AUCTION: Stop orders are not allowed during the opening auction\n - REJECTION_REASON_STOP_ORDER_CANNOT_MATCH_OCO_EXPIRY_TIMES: Stop OCO orders cannot have the same expiry timestamp\n - REJECTION_REASON_STOP_ORDER_SIZE_OVERRIDE_UNSUPPORTED_FOR_SPOT: Stop orders with a position size override are not supported for spot markets"
    },
    "StopOrderSizeOverrideSetting": {
      "type": "string",
      "enum": [
        "SIZE_OVERRIDE_SETTING_UNSPECIFIED",
        "SIZE_OVERRIDE_SETTING_NONE",
        "SIZE_OVERRIDE_SETTING_POSITION"
      ],
      "default": "SIZE_OVERRIDE_SETTING_UNSPECIFIED",
      "title": "- SIZE_OVERRIDE_SETTING_UNSPECIFIED: Never valid\n - SIZE_OVERRIDE_SETTING_NONE: No override, the size within the contained normal order submission will be used\n - SIZE_OVERRIDE_SETTING_POSITION: Use the total position of the trader"
    },
    "StopOrderSizeOverrideValue": {
      "type": "object",
      "properties": {
        "percentage": {
          "type": "string",
          "title": "Scaling percentage of the current position’s size"
        }
      }
    },
    "StopOrderTriggerDirection": {
      "type": "string",
      "enum": [
        "TRIGGER_DIRECTION_UNSPECIFIED",
        "TRIGGER_DIRECTION_RISES_ABOVE",
        "TRIGGER_DIRECTION_FALLS_BELOW"
      ],
      "default": "TRIGGER_DIRECTION_UNSPECIFIED",
      "title": "- TRIGGER_DIRECTION_UNSPECIFIED: Never valid\n - TRIGGER_DIRECTION_RISES_ABOVE: Stop order is triggered once the price rises above a certain level\n - TRIGGER_DIRECTION_FALLS_BELOW: Stop order is triggered once the price falls below a certain level"
    },
    "TransactionResultFailureDetails": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "title": "Error message explaining the reason for the transaction failing processing"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionResultKeyErrors"
          },
          "description": "Map of the detailed errors, if any."
        }
      }
    },
    "TransactionResultKeyErrors": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key."
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The errors mapped to this key."
        }
      },
      "description": "A mapping of a key to a list of errors."
    },
    "TransactionResultSuccessDetails": {
      "type": "object"
    },
    "UpdateMarginModeMode": {
      "type": "string",
      "enum": [
        "MODE_UNSPECIFIED",
        "MODE_CROSS_MARGIN",
        "MODE_ISOLATED_MARGIN"
      ],
      "default": "MODE_UNSPECIFIED",
      "title": "- MODE_UNSPECIFIED: Never valid.\n - MODE_CROSS_MARGIN: Cross margin mode - margin is dynamically acquired and released as a position is marked to market\n - MODE_ISOLATED_MARGIN: Isolated margin mode - margin for any newly opened position volume is transferred to the margin account when the trade is executed"
    },
    "commandsv1CancelTransfer": {
      "type": "object",
      "properties": {
        "transferId": {
          "type": "string",
          "description": "Transfer ID of the transfer to cancel."
        }
      },
      "description": "Command that can be used by the party that initiated a transfer to instruct the network to stop an active recurring transaction."
    },
    "googlerpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "protobufNullValue": {
      "type": "string",
      "enum": [
        "NULL_VALUE"
      ],
      "default": "NULL_VALUE",
      "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value."
    },
    "v1AMM": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the AMM."
        },
        "partyId": {
          "type": "string",
          "description": "Party ID of the owner of the AMM."
        },
        "marketId": {
          "type": "string",
          "description": "Market ID that the AMM provides liquidity for."
        },
        "ammPartyId": {
          "type": "string",
          "description": "Party ID that the AMM operates as."
        },
        "commitment": {
          "type": "string",
          "description": "Amount committed to the AMM."
        },
        "parameters": {
          "$ref": "#/definitions/v1AMMConcentratedLiquidityParameters",
          "description": "Liquidity parameters that define the size and range of the AMM's tradeable volume."
        },
        "status": {
          "$ref": "#/definitions/v1AMMStatus",
          "description": "Current status of the AMM."
        },
        "statusReason": {
          "$ref": "#/definitions/AMMStatusReason",
          "description": "Reason for the AMM's current status."
        },
        "proposedFee": {
          "type": "string",
          "description": "Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market."
        },
        "lowerCurve": {
          "$ref": "#/definitions/AMMCurve"
        },
        "upperCurve": {
          "$ref": "#/definitions/AMMCurve"
        }
      }
    },
    "v1AMMConcentratedLiquidityParameters": {
      "type": "object",
      "properties": {
        "base": {
          "type": "string",
          "description": "Base price bound configuration for the AMM."
        },
        "lowerBound": {
          "type": "string",
          "description": "Upper price bound configuration for the AMM. If unset, the AMM will never hold a short position."
        },
        "upperBound": {
          "type": "string",
          "description": "Lower price bound configuration for the AMM. If unset, the AMM will never hold a long position."
        },
        "leverageAtUpperBound": {
          "type": "string",
          "description": "Leverage at upper bounds."
        },
        "leverageAtLowerBound": {
          "type": "string",
          "description": "Leverage at lower bounds."
        }
      },
      "description": "Liquidity parameters that define the range and shape of the AMM's curve."
    },
    "v1AMMStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_ACTIVE",
        "STATUS_REJECTED",
        "STATUS_CANCELLED",
        "STATUS_STOPPED",
        "STATUS_REDUCE_ONLY"
      ],
      "default": "STATUS_UNSPECIFIED",
      "description": " - STATUS_ACTIVE: AMM is active on the market and is posting tradable volume.\n - STATUS_REJECTED: AMM submission was rejected.\n - STATUS_CANCELLED: AMM has been cancelled by the owner and is no longer trading.\n - STATUS_STOPPED: AMM has been stopped by the network and is no longer trading.\n - STATUS_REDUCE_ONLY: AMM will only trade such that it will reduce its position."
    },
    "v1AmendAMM": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market ID for the AMM to be amended."
        },
        "commitmentAmount": {
          "type": "string",
          "description": "Amount to be committed to the AMM. If not supplied the commitment will remain unchanged."
        },
        "slippageTolerance": {
          "type": "string",
          "description": "Slippage tolerance for rebasing position when updating the AMM."
        },
        "concentratedLiquidityParameters": {
          "$ref": "#/definitions/v1AmendAMMConcentratedLiquidityParameters",
          "description": "Concentrated liquidity parameters defining the shape of the AMM's volume curves. If not supplied the parameters will remain unchanged."
        },
        "proposedFee": {
          "type": "string",
          "description": "Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market. If not supplied the proposed fee will remain unchanged."
        }
      },
      "description": "Command to amend an existing automated market maker on a market."
    },
    "v1AmendAMMConcentratedLiquidityParameters": {
      "type": "object",
      "properties": {
        "upperBound": {
          "type": "string",
          "description": "Price at which the AMM will stop quoting sell volume. If not supplied the AMM will never hold a short position."
        },
        "lowerBound": {
          "type": "string",
          "description": "Price at which the AMM will stop quoting buy volume. If not supplied the AMM will never hold a long position."
        },
        "base": {
          "type": "string",
          "description": "Price that the AMM will quote as its \"fair price\" when its position is zero."
        },
        "leverageAtUpperBound": {
          "type": "string",
          "description": "Leverage at upper bound. If not set the markets risk-factors will be used to calculate leverage."
        },
        "leverageAtLowerBound": {
          "type": "string",
          "description": "Leverage at lower bound. If not set the markets risk-factors will be used to calculate leverage."
        }
      },
      "description": "Liquidity parameters that define the size and range of the AMM's tradeable volume."
    },
    "v1AnnounceNode": {
      "type": "object",
      "properties": {
        "vegaPubKey": {
          "type": "string",
          "description": "Vega public key of the node being announced."
        },
        "ethereumAddress": {
          "type": "string",
          "description": "Ethereum public key of the node being announced."
        },
        "chainPubKey": {
          "type": "string",
          "description": "Public key for the blockchain, currently the node's CometBFT key."
        },
        "infoUrl": {
          "type": "string",
          "description": "URL to the node operators homepage allowing stake holders to make an informed decision when delegating."
        },
        "country": {
          "type": "string",
          "description": "Country code (ISO 3166-1 alpha-2) for the location of the node."
        },
        "id": {
          "type": "string",
          "description": "Node ID of the validator, which is the node's public master key."
        },
        "name": {
          "type": "string",
          "description": "Human-readable name of the node."
        },
        "avatarUrl": {
          "type": "string",
          "description": "URL to the node operator's avatar."
        },
        "vegaPubKeyIndex": {
          "type": "integer",
          "format": "int64",
          "description": "Vega public key derivation index."
        },
        "fromEpoch": {
          "type": "string",
          "format": "uint64",
          "description": "Epoch from which the node is expected to be ready to validate blocks."
        },
        "ethereumSignature": {
          "$ref": "#/definitions/v1Signature",
          "description": "Signature from the node made using the ethereum wallet."
        },
        "vegaSignature": {
          "$ref": "#/definitions/v1Signature",
          "description": "Signature from the node made using the Vega wallet."
        },
        "submitterAddress": {
          "type": "string",
          "description": "Ethereum public key to use as a submitter to allow automatic signature generation."
        }
      },
      "description": "A command that allows a new node operator to announce themselves to the network as a new validator."
    },
    "v1ApplyReferralCode": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Referral code, normally the referral set ID, for the party to join."
        }
      },
      "description": "Command that allows the submitter to join a referral set and earn a collective reduction in fees based on the activity of all members of that set.\nA party that joins a referral set is called a referee. A referee can only be a member of one referral set and cannot themselves be or become a referrer.\nTo switch to another referral set, a subsequent command can be sent and the switch will take effect at the end of the epoch."
    },
    "v1AuctionEvent": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "openingAuction": {
          "type": "boolean",
          "title": "True if the event indicates an auction opening and False otherwise"
        },
        "leave": {
          "type": "boolean",
          "title": "True if the event indicates leaving auction mode and False otherwise"
        },
        "start": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp containing the start time for an auction"
        },
        "end": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp containing the end time for an auction"
        },
        "trigger": {
          "$ref": "#/definitions/vegaAuctionTrigger",
          "title": "Reason this market is/was in auction"
        },
        "extensionTrigger": {
          "$ref": "#/definitions/vegaAuctionTrigger",
          "title": "If an auction was ongoing, but was extended for whatever reason, this field will\nbe set to the trigger type indicating which component extended the auction"
        }
      },
      "title": "Auction event indicating a change in auction state, for example starting or ending an auction"
    },
    "v1BatchMarketInstructions": {
      "type": "object",
      "properties": {
        "cancellations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OrderCancellation"
          },
          "description": "List of order cancellations to be processed sequentially."
        },
        "amendments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OrderAmendment"
          },
          "description": "List of order amendments to be processed sequentially."
        },
        "submissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OrderSubmission"
          },
          "description": "List of order submissions to be processed sequentially."
        },
        "stopOrdersCancellation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1StopOrdersCancellation"
          },
          "description": "List of stop order cancellations to be processed sequentially."
        },
        "stopOrdersSubmission": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1StopOrdersSubmission"
          },
          "description": "List of stop order submissions to be processed sequentially."
        },
        "updateMarginMode": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1UpdateMarginMode"
          },
          "title": "Update margin mode instruction"
        }
      },
      "description": "A command that allows the submission of a batch market instruction which wraps up multiple market instructions into a single transaction.\nThese instructions are then processed sequentially in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\n- StopOrderSubmission\nwhere the maximum allow of instructions in a batch is controlled by the network parameter \"spam.protection.max.batchSize\"."
    },
    "v1BatchProposalSubmission": {
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Arbitrary human-readable reference identifying the proposal."
        },
        "terms": {
          "$ref": "#/definitions/v1BatchProposalSubmissionTerms",
          "description": "Proposal terms containing the type and details of the proposal, as well as time spans for voting and enactment."
        },
        "rationale": {
          "$ref": "#/definitions/vegaProposalRationale",
          "description": "Rationale behind a proposal."
        }
      },
      "description": "Command that allows a token holder to submit a batch governance proposal that can be voted on by any other token holders, and eventually enacted on the Vega network.\nFor example this command can be used to propose a new market and a network parameter change with it."
    },
    "v1BatchProposalSubmissionTerms": {
      "type": "object",
      "properties": {
        "closingTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "Closing timestamp in Unix time; adheres to `minClose` and `maxClose` limits."
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaBatchProposalTermsChange"
          },
          "description": "List of individual changes included in the batch proposal."
        }
      },
      "title": "Terms for a batch governance proposal submission"
    },
    "v1BeginBlock": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "type": "string",
          "format": "int64"
        },
        "hash": {
          "type": "string"
        }
      },
      "title": "BeginBlock"
    },
    "v1BusEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Unique event ID for the message"
        },
        "block": {
          "type": "string",
          "title": "The batch or block of transactions that the events relate to"
        },
        "type": {
          "$ref": "#/definitions/v1BusEventType",
          "title": "The type of bus event. Must be one of the list below:"
        },
        "timeUpdate": {
          "$ref": "#/definitions/v1TimeUpdate",
          "title": "Time update events"
        },
        "ledgerMovements": {
          "$ref": "#/definitions/v1LedgerMovements",
          "title": "Transfer responses update events"
        },
        "positionResolution": {
          "$ref": "#/definitions/v1PositionResolution",
          "title": "Position resolution events"
        },
        "order": {
          "$ref": "#/definitions/vegaOrder",
          "title": "Order events"
        },
        "account": {
          "$ref": "#/definitions/vegaAccount",
          "title": "Account events"
        },
        "party": {
          "$ref": "#/definitions/vegaParty",
          "title": "Party events"
        },
        "trade": {
          "$ref": "#/definitions/vegaTrade",
          "title": "Trade events"
        },
        "marginLevels": {
          "$ref": "#/definitions/vegaMarginLevels",
          "title": "Margin level update events"
        },
        "proposal": {
          "$ref": "#/definitions/vegaProposal",
          "title": "Proposal events for governance"
        },
        "vote": {
          "$ref": "#/definitions/vegaVote",
          "title": "Vote events for governance"
        },
        "marketData": {
          "$ref": "#/definitions/vegaMarketData",
          "title": "Market data events"
        },
        "nodeSignature": {
          "$ref": "#/definitions/v1NodeSignature",
          "title": "Node signature events"
        },
        "lossSocialization": {
          "$ref": "#/definitions/v1LossSocialization",
          "title": "Loss socialization events"
        },
        "settlePosition": {
          "$ref": "#/definitions/v1SettlePosition",
          "title": "Position settlement events"
        },
        "settleDistressed": {
          "$ref": "#/definitions/v1SettleDistressed",
          "title": "Position distressed events"
        },
        "marketCreated": {
          "$ref": "#/definitions/vegaMarket",
          "title": "Market created events"
        },
        "asset": {
          "$ref": "#/definitions/vegaAsset",
          "title": "Asset events"
        },
        "marketTick": {
          "$ref": "#/definitions/v1MarketTick",
          "title": "Market tick events"
        },
        "withdrawal": {
          "$ref": "#/definitions/vegaWithdrawal",
          "title": "Withdrawal events"
        },
        "deposit": {
          "$ref": "#/definitions/vegaDeposit",
          "title": "Deposit events"
        },
        "auction": {
          "$ref": "#/definitions/v1AuctionEvent",
          "title": "Auction events"
        },
        "riskFactor": {
          "$ref": "#/definitions/vegaRiskFactor",
          "title": "Risk factor events"
        },
        "networkParameter": {
          "$ref": "#/definitions/vegaNetworkParameter",
          "title": "Network parameter events"
        },
        "liquidityProvision": {
          "$ref": "#/definitions/vegaLiquidityProvision",
          "title": "LiquidityProvision  events"
        },
        "marketUpdated": {
          "$ref": "#/definitions/vegaMarket",
          "title": "Market created events"
        },
        "oracleSpec": {
          "$ref": "#/definitions/vegaOracleSpec",
          "title": "OracleSpec events"
        },
        "oracleData": {
          "$ref": "#/definitions/vegaOracleData",
          "title": "OracleData events"
        },
        "delegationBalance": {
          "$ref": "#/definitions/v1DelegationBalanceEvent",
          "title": "Delegation balance events"
        },
        "validatorScore": {
          "$ref": "#/definitions/v1ValidatorScoreEvent",
          "title": "Validator score calculated"
        },
        "epochEvent": {
          "$ref": "#/definitions/v1EpochEvent",
          "title": "Epoch update events"
        },
        "validatorUpdate": {
          "$ref": "#/definitions/v1ValidatorUpdate",
          "title": "Validator update events"
        },
        "stakeLinking": {
          "$ref": "#/definitions/v1StakeLinking",
          "title": "Staking event"
        },
        "rewardPayout": {
          "$ref": "#/definitions/v1RewardPayoutEvent",
          "title": "Reward payout event"
        },
        "checkpoint": {
          "$ref": "#/definitions/v1CheckpointEvent",
          "title": "Checkpoint was created"
        },
        "keyRotation": {
          "$ref": "#/definitions/v1KeyRotation",
          "title": "Key rotation took place"
        },
        "stateVar": {
          "$ref": "#/definitions/v1StateVar",
          "title": "State variable consensus state transition update"
        },
        "networkLimits": {
          "$ref": "#/definitions/vegaNetworkLimits",
          "title": "Network limits events"
        },
        "transfer": {
          "$ref": "#/definitions/vegaeventsv1Transfer",
          "title": "Transfer event"
        },
        "rankingEvent": {
          "$ref": "#/definitions/v1ValidatorRankingEvent",
          "title": "Ranking event"
        },
        "erc20MultisigSignerEvent": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerEvent",
          "title": "ERC20 multi sig signer event"
        },
        "erc20MultisigSetThresholdEvent": {
          "$ref": "#/definitions/v1ERC20MultiSigThresholdSetEvent",
          "title": "ERC20 multi sig set threshold event"
        },
        "erc20MultisigSignerAdded": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerAdded",
          "title": "ERC20 multi sig signer added"
        },
        "erc20MultisigSignerRemoved": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerRemoved",
          "title": "ERC20 multi sig signer removed"
        },
        "positionStateEvent": {
          "$ref": "#/definitions/v1PositionStateEvent",
          "title": "Position status for a party in a market"
        },
        "ethereumKeyRotation": {
          "$ref": "#/definitions/v1EthereumKeyRotation",
          "title": "Ethereum key rotation took place"
        },
        "protocolUpgradeEvent": {
          "$ref": "#/definitions/v1ProtocolUpgradeEvent",
          "title": "Protocol upgrade proposal updates"
        },
        "beginBlock": {
          "$ref": "#/definitions/v1BeginBlock",
          "title": "Core is starting to process a new block"
        },
        "endBlock": {
          "$ref": "#/definitions/v1EndBlock",
          "title": "Core finished processing a block"
        },
        "protocolUpgradeStarted": {
          "$ref": "#/definitions/v1ProtocolUpgradeStarted",
          "title": "Core is starting a protocol upgrade"
        },
        "settleMarket": {
          "$ref": "#/definitions/v1SettleMarket",
          "title": "Settle market event for data-node to update positions for settled markets"
        },
        "transactionResult": {
          "$ref": "#/definitions/v1TransactionResult",
          "title": "Result of a transaction processed by the network"
        },
        "coreSnapshotEvent": {
          "$ref": "#/definitions/v1CoreSnapshotData",
          "title": "Core snapshot has been taken at the end of the block"
        },
        "protocolUpgradeDataNodeReady": {
          "$ref": "#/definitions/v1ProtocolUpgradeDataNodeReady",
          "title": "Core snapshot has been taken at the end of the block"
        },
        "distressedOrders": {
          "$ref": "#/definitions/v1DistressedOrders",
          "title": "Parties that had their orders closed because they were distressed"
        },
        "expiredOrders": {
          "$ref": "#/definitions/v1ExpiredOrders",
          "title": "Orders that expired for a given market"
        },
        "distressedPositions": {
          "$ref": "#/definitions/v1DistressedPositions",
          "title": "Open positions on the market that are/were distressed"
        },
        "stopOrder": {
          "$ref": "#/definitions/v1StopOrderEvent",
          "title": "A stop order event"
        },
        "fundingPeriod": {
          "$ref": "#/definitions/v1FundingPeriod",
          "description": "Start or end of a funding period."
        },
        "fundingPeriodDataPoint": {
          "$ref": "#/definitions/v1FundingPeriodDataPoint",
          "description": "Data point within a funding period."
        },
        "teamCreated": {
          "$ref": "#/definitions/v1TeamCreated",
          "title": "Event notifying of the creation of a team.m"
        },
        "teamUpdated": {
          "$ref": "#/definitions/v1TeamUpdated",
          "description": "Event notifying of an update to a team."
        },
        "refereeSwitchedTeam": {
          "$ref": "#/definitions/v1RefereeSwitchedTeam",
          "description": "Event notifying that a referee switched teams."
        },
        "refereeJoinedTeam": {
          "$ref": "#/definitions/v1RefereeJoinedTeam",
          "description": "Event notifying that a referee joined a team."
        },
        "referralProgramStarted": {
          "$ref": "#/definitions/v1ReferralProgramStarted",
          "description": "Event notifying that a referral program has started."
        },
        "referralProgramUpdated": {
          "$ref": "#/definitions/v1ReferralProgramUpdated",
          "description": "Event notifying that a referral program has been updated."
        },
        "referralProgramEnded": {
          "$ref": "#/definitions/v1ReferralProgramEnded",
          "description": "Event notifying that a referral program has ended."
        },
        "referralSetCreated": {
          "$ref": "#/definitions/v1ReferralSetCreated",
          "description": "Event notifying a referral set has been created."
        },
        "refereeJoinedReferralSet": {
          "$ref": "#/definitions/v1RefereeJoinedReferralSet",
          "description": "Event notifying a referee has joined a referral set."
        },
        "partyActivityStreak": {
          "$ref": "#/definitions/v1PartyActivityStreak",
          "title": "Event notifying of an update to a party's activity streak"
        },
        "volumeDiscountProgramStarted": {
          "$ref": "#/definitions/v1VolumeDiscountProgramStarted",
          "description": "Event notifying that a volume discount program has started."
        },
        "volumeDiscountProgramUpdated": {
          "$ref": "#/definitions/v1VolumeDiscountProgramUpdated",
          "description": "Event notifying that a volume discount program has been updated."
        },
        "volumeDiscountProgramEnded": {
          "$ref": "#/definitions/v1VolumeDiscountProgramEnded",
          "description": "Event notifying that a volume discount program has ended."
        },
        "referralSetStatsUpdated": {
          "$ref": "#/definitions/v1ReferralSetStatsUpdated",
          "description": "Event notifying of an update to a referral set's statistics."
        },
        "vestingStatsUpdated": {
          "$ref": "#/definitions/v1VestingStatsUpdated",
          "description": "Event notifying of an update to the vesting statistics."
        },
        "volumeDiscountStatsUpdated": {
          "$ref": "#/definitions/v1VolumeDiscountStatsUpdated",
          "description": "Event notifying of an update to the volume discount statistics."
        },
        "feesStats": {
          "$ref": "#/definitions/v1FeesStats",
          "description": "Event notifying of an update the fees stats for a market."
        },
        "fundingPayments": {
          "$ref": "#/definitions/v1FundingPayments",
          "description": "Event notifying of funding payments at the end of a funding period."
        },
        "paidLiquidityFeesStats": {
          "$ref": "#/definitions/v1PaidLiquidityFeesStats",
          "description": "Event notifying of an update to the liqudity fees stats for a market."
        },
        "vestingBalancesSummary": {
          "$ref": "#/definitions/v1VestingBalancesSummary",
          "description": "Event notifying of an update to the vesting and locked balances."
        },
        "transferFees": {
          "$ref": "#/definitions/v1TransferFees",
          "description": "Event notifying of fees related to a transfer being paid."
        },
        "transferFeesDiscount": {
          "$ref": "#/definitions/v1TransferFeesDiscount",
          "description": "Event notifying of a party's available discounts for transfer fees, per asset."
        },
        "partyMarginModeUpdated": {
          "$ref": "#/definitions/v1PartyMarginModeUpdated",
          "description": "Event notifying of a party's margin mode update on a market."
        },
        "partyProfileUpdated": {
          "$ref": "#/definitions/v1PartyProfileUpdated",
          "description": "Event notifying of a party's profile update."
        },
        "teamsStatsUpdated": {
          "$ref": "#/definitions/v1TeamsStatsUpdated",
          "description": "Event notifying of an update of teams' statistics."
        },
        "timeWeightedNotionalPositionUpdated": {
          "$ref": "#/definitions/v1TimeWeightedNotionalPositionUpdated",
          "title": "Event notifying an update of the time weighted notional position for a party in an asset"
        },
        "cancelledOrders": {
          "$ref": "#/definitions/v1CancelledOrders",
          "description": "Event notifying of multiple orders being cancelled for a given party, on a given market."
        },
        "gameScores": {
          "$ref": "#/definitions/v1GameScores",
          "description": "Event notifying on near realtime game scores for parties and teams."
        },
        "amm": {
          "$ref": "#/definitions/v1AMM",
          "description": "Event notifying of AMM updates."
        },
        "volumeRebateProgramStarted": {
          "$ref": "#/definitions/v1VolumeRebateProgramStarted",
          "description": "Event notifying that a volume rebate program has started."
        },
        "volumeRebateProgramUpdated": {
          "$ref": "#/definitions/v1VolumeRebateProgramUpdated",
          "description": "Event notifying that a volume rebate program has been updated."
        },
        "volumeRebateProgramEnded": {
          "$ref": "#/definitions/v1VolumeRebateProgramEnded",
          "description": "Event notifying that a volume rebate program has ended."
        },
        "volumeRebateStatsUpdated": {
          "$ref": "#/definitions/v1VolumeRebateStatsUpdated",
          "description": "Event notifying of an update to the volume rebate statistics."
        },
        "market": {
          "$ref": "#/definitions/v1MarketEvent",
          "title": "Market tick events"
        },
        "txErrEvent": {
          "$ref": "#/definitions/v1TxErrorEvent",
          "title": "Transaction error events, not included in the ALL event type"
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "title": "Version of bus event"
        },
        "chainId": {
          "type": "string"
        },
        "txHash": {
          "type": "string"
        }
      },
      "title": "Bus event is a container for event bus events emitted by Vega"
    },
    "v1BusEventType": {
      "type": "string",
      "enum": [
        "BUS_EVENT_TYPE_UNSPECIFIED",
        "BUS_EVENT_TYPE_ALL",
        "BUS_EVENT_TYPE_TIME_UPDATE",
        "BUS_EVENT_TYPE_LEDGER_MOVEMENTS",
        "BUS_EVENT_TYPE_POSITION_RESOLUTION",
        "BUS_EVENT_TYPE_ORDER",
        "BUS_EVENT_TYPE_ACCOUNT",
        "BUS_EVENT_TYPE_PARTY",
        "BUS_EVENT_TYPE_TRADE",
        "BUS_EVENT_TYPE_MARGIN_LEVELS",
        "BUS_EVENT_TYPE_PROPOSAL",
        "BUS_EVENT_TYPE_VOTE",
        "BUS_EVENT_TYPE_MARKET_DATA",
        "BUS_EVENT_TYPE_NODE_SIGNATURE",
        "BUS_EVENT_TYPE_LOSS_SOCIALIZATION",
        "BUS_EVENT_TYPE_SETTLE_POSITION",
        "BUS_EVENT_TYPE_SETTLE_DISTRESSED",
        "BUS_EVENT_TYPE_MARKET_CREATED",
        "BUS_EVENT_TYPE_ASSET",
        "BUS_EVENT_TYPE_MARKET_TICK",
        "BUS_EVENT_TYPE_WITHDRAWAL",
        "BUS_EVENT_TYPE_DEPOSIT",
        "BUS_EVENT_TYPE_AUCTION",
        "BUS_EVENT_TYPE_RISK_FACTOR",
        "BUS_EVENT_TYPE_NETWORK_PARAMETER",
        "BUS_EVENT_TYPE_LIQUIDITY_PROVISION",
        "BUS_EVENT_TYPE_MARKET_UPDATED",
        "BUS_EVENT_TYPE_ORACLE_SPEC",
        "BUS_EVENT_TYPE_ORACLE_DATA",
        "BUS_EVENT_TYPE_DELEGATION_BALANCE",
        "BUS_EVENT_TYPE_VALIDATOR_SCORE",
        "BUS_EVENT_TYPE_EPOCH_UPDATE",
        "BUS_EVENT_TYPE_VALIDATOR_UPDATE",
        "BUS_EVENT_TYPE_STAKE_LINKING",
        "BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT",
        "BUS_EVENT_TYPE_CHECKPOINT",
        "BUS_EVENT_TYPE_STREAM_START",
        "BUS_EVENT_TYPE_KEY_ROTATION",
        "BUS_EVENT_TYPE_STATE_VAR",
        "BUS_EVENT_TYPE_NETWORK_LIMITS",
        "BUS_EVENT_TYPE_TRANSFER",
        "BUS_EVENT_TYPE_VALIDATOR_RANKING",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED",
        "BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED",
        "BUS_EVENT_TYPE_POSITION_STATE",
        "BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION",
        "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL",
        "BUS_EVENT_TYPE_BEGIN_BLOCK",
        "BUS_EVENT_TYPE_END_BLOCK",
        "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED",
        "BUS_EVENT_TYPE_SETTLE_MARKET",
        "BUS_EVENT_TYPE_TRANSACTION_RESULT",
        "BUS_EVENT_TYPE_SNAPSHOT_TAKEN",
        "BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY",
        "BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED",
        "BUS_EVENT_TYPE_EXPIRED_ORDERS",
        "BUS_EVENT_TYPE_DISTRESSED_POSITIONS",
        "BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION",
        "BUS_EVENT_TYPE_STOP_ORDER",
        "BUS_EVENT_TYPE_FUNDING_PERIOD",
        "BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT",
        "BUS_EVENT_TYPE_TEAM_CREATED",
        "BUS_EVENT_TYPE_TEAM_UPDATED",
        "BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM",
        "BUS_EVENT_TYPE_REFEREE_JOINED_TEAM",
        "BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED",
        "BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED",
        "BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED",
        "BUS_EVENT_TYPE_REFERRAL_SET_CREATED",
        "BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET",
        "BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK",
        "BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED",
        "BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED",
        "BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED",
        "BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED",
        "BUS_EVENT_TYPE_VESTING_STATS_UPDATED",
        "BUS_EVENT_TYPE_VOLUME_DISCOUNT_STATS_UPDATED",
        "BUS_EVENT_TYPE_FEES_STATS_UPDATED",
        "BUS_EVENT_TYPE_FUNDING_PAYMENTS",
        "BUS_EVENT_TYPE_PAID_LIQUIDITY_FEES_STATS_UPDATED",
        "BUS_EVENT_TYPE_VESTING_SUMMARY",
        "BUS_EVENT_TYPE_TRANSFER_FEES_PAID",
        "BUS_EVENT_TYPE_TRANSFER_FEES_DISCOUNT_UPDATED",
        "BUS_EVENT_TYPE_PARTY_MARGIN_MODE_UPDATED",
        "BUS_EVENT_TYPE_PARTY_PROFILE_UPDATED",
        "BUS_EVENT_TYPE_TEAMS_STATS_UPDATED",
        "BUS_EVENT_TYPE_TIME_WEIGHTED_NOTIONAL_POSITION_UPDATED",
        "BUS_EVENT_TYPE_CANCELLED_ORDERS",
        "BUS_EVENT_TYPE_GAME_SCORES",
        "BUS_EVENT_TYPE_AMM",
        "BUS_EVENT_TYPE_VOLUME_REBATE_PROGRAM_STARTED",
        "BUS_EVENT_TYPE_VOLUME_REBATE_PROGRAM_UPDATED",
        "BUS_EVENT_TYPE_VOLUME_REBATE_PROGRAM_ENDED",
        "BUS_EVENT_TYPE_VOLUME_REBATE_STATS_UPDATED",
        "BUS_EVENT_TYPE_MARKET",
        "BUS_EVENT_TYPE_TX_ERROR"
      ],
      "default": "BUS_EVENT_TYPE_UNSPECIFIED",
      "description": "- BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: Event indicating the core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: Event indicating the core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: Event indicating the core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: Event indicating the market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: Event indicating the result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Event indicating a snapshot was taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Event data node uses to notify that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_DISTRESSED_POSITIONS: Event indicating parties have become, or were, distressed but still have an active position.\n - BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION: Event indicating a spot liquidity provision has been created or updated.\n - BUS_EVENT_TYPE_STOP_ORDER: Event indicating a stop order has been submitted or updated.\n - BUS_EVENT_TYPE_FUNDING_PERIOD: Event indicating the start or end of a funding period.\n - BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT: Event indicating a data point for a funding period has been received.\n - BUS_EVENT_TYPE_TEAM_CREATED: Event indicating a team has been created.\n - BUS_EVENT_TYPE_TEAM_UPDATED: Event indicating a team has been updated.\n - BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM: Event indicating a referee switched team.\n - BUS_EVENT_TYPE_REFEREE_JOINED_TEAM: Event indicating a referee joined a team.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED: Event indicating a referral program started.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED: Event indicating a referral program has been updated.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED: Event indicating a referral program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_CREATED: Event indicating a set has been created.\n - BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET: Event indicating a referee joined a set.\n - BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK: Event indicating the updated activity streak for a party\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED: Event indicating a volume discount program started.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED: Event indicating a volume discount program has been updated.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED: Event indicating a volume discount program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED: Event indicating the updated statistics for a referral set.\n - BUS_EVENT_TYPE_VESTING_STATS_UPDATED: Event indicating the updated statistics for the vesting program.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_STATS_UPDATED: Event indicating the updated statistics for the volume discount.\n - BUS_EVENT_TYPE_FEES_STATS_UPDATED: Event indicating the fees statistics per market at end of epoch\n - BUS_EVENT_TYPE_FUNDING_PAYMENTS: Event indicating a funding period has ended and resulted in funding payment transfers.\n - BUS_EVENT_TYPE_PAID_LIQUIDITY_FEES_STATS_UPDATED: Event used to report the updated paid liquidity fee statistics for the market at the end of the epoch\n - BUS_EVENT_TYPE_VESTING_SUMMARY: Event used to report the summary of vesting and locked balances at the end of the epoch\n - BUS_EVENT_TYPE_TRANSFER_FEES_PAID: Event used to link ledger entries to the transfer that triggered the fees being collected.\n - BUS_EVENT_TYPE_TRANSFER_FEES_DISCOUNT_UPDATED: Event indicating that a party's available transfer fee discount has changed, per asset.\n - BUS_EVENT_TYPE_PARTY_MARGIN_MODE_UPDATED: Event indicating that a party updated their margin mode on a market.\n - BUS_EVENT_TYPE_PARTY_PROFILE_UPDATED: Event indicating that a party updated their profile.\n - BUS_EVENT_TYPE_TEAMS_STATS_UPDATED: Event indicating that teams' statistics have been updated.\n - BUS_EVENT_TYPE_TIME_WEIGHTED_NOTIONAL_POSITION_UPDATED: Event indicating time weighted notional position has been updated.\n - BUS_EVENT_TYPE_CANCELLED_ORDERS: Event containing the IDs of orders cancelled by a party on a market.\n - BUS_EVENT_TYPE_GAME_SCORES: Event containing the near realtime game scores for parties and teams.\n - BUS_EVENT_TYPE_AMM: Event use to notify for an AMM update.\n - BUS_EVENT_TYPE_VOLUME_REBATE_PROGRAM_STARTED: Event indicating a volume rebate program started.\n - BUS_EVENT_TYPE_VOLUME_REBATE_PROGRAM_UPDATED: Event indicating a volume rebate program has been updated.\n - BUS_EVENT_TYPE_VOLUME_REBATE_PROGRAM_ENDED: Event indicating a volume rebate program ended.\n - BUS_EVENT_TYPE_VOLUME_REBATE_STATS_UPDATED: Event indicating the updated statistics for the volume rebate.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type",
      "title": "Bus event type is used to specify a type of event\nIt has 2 styles of event:\nSingle values (e.g. BUS_EVENT_TYPE_ORDER) where they represent one data item\nGroup values (e.g. BUS_EVENT_TYPE_AUCTION) where they represent a group of data items"
    },
    "v1CancelAMM": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market ID to cancel an AMM for."
        },
        "method": {
          "$ref": "#/definitions/v1CancelAMMMethod",
          "description": "Method to use to cancel the AMM."
        }
      },
      "description": "Command to cancel an automated market maker for a given market."
    },
    "v1CancelAMMMethod": {
      "type": "string",
      "enum": [
        "METHOD_UNSPECIFIED",
        "METHOD_IMMEDIATE",
        "METHOD_REDUCE_ONLY"
      ],
      "default": "METHOD_UNSPECIFIED",
      "description": " - METHOD_IMMEDIATE: Cancellation will be immediate and any open positions will be transferred to the network for liquidation.\n - METHOD_REDUCE_ONLY: AMM will only trade to reduce its position, and will be cancelled once its position reaches zero."
    },
    "v1CancelledOrders": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market ID for the event."
        },
        "partyId": {
          "type": "string",
          "description": "The ID of the party which cancelled the orders."
        },
        "orderIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The order IDs that were cancelled."
        }
      }
    },
    "v1CheckRawTransactionResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Whether or not the transaction passed the submission checks."
        },
        "code": {
          "type": "integer",
          "format": "int64",
          "description": "Error code to indicate the category of failure if the transaction was not successfully submitted."
        },
        "gasWanted": {
          "type": "string",
          "format": "int64",
          "description": "Amount of space in a block that the transaction will fill. This does not relate to any monetary cost for submitting the transaction."
        },
        "gasUsed": {
          "type": "string",
          "format": "int64",
          "description": "Unused."
        },
        "data": {
          "type": "string",
          "description": "Further details for why the transaction was not successfully checked."
        },
        "log": {
          "type": "string",
          "description": "Further details for the underlying consensus layer of the result of the transaction."
        },
        "info": {
          "type": "string",
          "title": "Unused"
        }
      },
      "title": "Response for checking a version agnostic transaction on Vega"
    },
    "v1CheckTransactionResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Whether or not the transaction passed the submission checks."
        },
        "code": {
          "type": "integer",
          "format": "int64",
          "description": "Error code to indicate the category of failure if the transaction was not successfully checked."
        },
        "gasWanted": {
          "type": "string",
          "format": "int64",
          "description": "Amount of space in a block that the transaction will fill. This does not relate to any monetary cost for submitting the transaction."
        },
        "gasUsed": {
          "type": "string",
          "format": "int64",
          "description": "Unused."
        },
        "data": {
          "type": "string",
          "description": "Further details for why the transaction was not successfully submitted."
        },
        "log": {
          "type": "string",
          "description": "Further details for the underlying consensus layer of the result of the transaction."
        },
        "info": {
          "type": "string",
          "description": "Unused."
        }
      }
    },
    "v1CheckpointEvent": {
      "type": "object",
      "properties": {
        "hash": {
          "type": "string"
        },
        "blockHash": {
          "type": "string"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "v1Condition": {
      "type": "object",
      "properties": {
        "operator": {
          "$ref": "#/definitions/ConditionOperator",
          "description": "Type of comparison to make on the value."
        },
        "value": {
          "type": "string",
          "description": "Value to be compared with by the operator."
        }
      },
      "title": "Condition describes the condition that must be validated by the network"
    },
    "v1CoreSnapshotData": {
      "type": "object",
      "properties": {
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Block height at which snapshot was taken"
        },
        "blockHash": {
          "type": "string",
          "title": "Hash of the snapshot block"
        },
        "coreVersion": {
          "type": "string",
          "description": "Semver version number of the core."
        },
        "protocolUpgradeBlock": {
          "type": "boolean",
          "title": "Indicates if the snapshot is taken as part of protocol upgrade"
        }
      },
      "description": "CoreSnapshotData represents the core snapshot data."
    },
    "v1CreateReferralSet": {
      "type": "object",
      "properties": {
        "isTeam": {
          "type": "boolean",
          "description": "Whether or not the referral set should be considered a team that can participate in team games on the network."
        },
        "team": {
          "$ref": "#/definitions/v1CreateReferralSetTeam",
          "description": "Team details, if the referral set is to be considered a team."
        }
      },
      "description": "Command that a party can use to instruct the network to create a new referral set on the network.\nThe submitter of this command will become the referrer of the new set and cannot be the referrer or a referee of another set.\nA referrer can use the referral set ID as a referral code to attract others to the Vega network and have fees reduced for the referral set."
    },
    "v1CreateReferralSetTeam": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the team."
        },
        "teamUrl": {
          "type": "string",
          "description": "External link to the team's homepage."
        },
        "avatarUrl": {
          "type": "string",
          "description": "External link to an avatar for the team."
        },
        "closed": {
          "type": "boolean",
          "description": "Whether or not the team is closed to new party members."
        },
        "allowList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of public keys that are allowed to join the team.\nOnly applicable to closed teams. Removing a party from the allow list does not remove\nthe party from the team."
        }
      }
    },
    "v1Data": {
      "type": "object",
      "properties": {
        "signers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Signer"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Property"
          },
          "title": "Data holds all the properties of the data"
        },
        "matchedSpecIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "`matched_specs_ids` lists all the specs that matched this data.\nWhen the array is empty, it means no spec matched this data."
        },
        "broadcastAt": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp in Unix nanoseconds for when the data was broadcast to the markets\nwith a matching spec. It has no value when the data did not match any spec."
        },
        "metaData": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Property"
          },
          "title": "Holds all metadata properties"
        },
        "error": {
          "type": "string",
          "description": "Error message if the data could not be sourced."
        }
      },
      "description": "Data describes valid source data that has been received by the node.\nIt represents both matched and unmatched data."
    },
    "v1DelegateSubmission": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Node ID to delegate stake to."
        },
        "amount": {
          "type": "string",
          "description": "Amount of stake to delegate, as an unsigned integer scaled to the governance asset's decimal places."
        }
      },
      "description": "Command to allow a token holder to delegate their tokens to a validator to help secure the network.\nA token holder delegating to a validator will earn rewards based on the amount they have delegated, and the performance of the chosen validator."
    },
    "v1DelegationBalanceEvent": {
      "type": "object",
      "properties": {
        "party": {
          "type": "string"
        },
        "nodeId": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "epochSeq": {
          "type": "string"
        }
      },
      "title": "DelegationBalanceEvent - updates on the delegation balance of a party to a node in the current epoch in effect"
    },
    "v1DistressedOrders": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "parties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Slice of Party IDs i.e. each party's public key for the event"
        }
      },
      "title": "Distressed order contains the party IDs for all parties that were distressed and had their orders closed,\nbut did not need to be closed out after cancelling their orders"
    },
    "v1DistressedPositions": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "distressedParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Slice of party IDs i.e. each party's public key, that are distressed but still have open volume"
        },
        "safeParties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Slice of party IDs i.e. each party's public key, who were distressed but now can safely maintain their position"
        }
      },
      "description": "Distressed positions event contains the party IDs for all parties that were distressed, had their orders closed but because of insufficient volume on the book\ncould not be fully closed out. These parties are distressed, but still hold an active position on the book as a result. Once enough volume is on the book to close\nthem out, a SettleDistressed event will be sent. In case they manage to reduce their position, or meet the margin requirements, this status will be updated.\nParties that are no longer distressed but active will be listed in the safe_parties field."
    },
    "v1ERC20MultiSigSignerAdded": {
      "type": "object",
      "properties": {
        "signatureId": {
          "type": "string",
          "title": "ID of the signature bundle"
        },
        "validatorId": {
          "type": "string",
          "title": "Node ID of the Vega node to be added"
        },
        "timestamp": {
          "type": "string",
          "format": "int64",
          "title": "Time at which this happened"
        },
        "newSigner": {
          "type": "string",
          "title": "Ethereum address of the new signer"
        },
        "submitter": {
          "type": "string",
          "title": "Address of the submitter of the transaction"
        },
        "nonce": {
          "type": "string",
          "description": "Nonce used."
        },
        "epochSeq": {
          "type": "string",
          "title": "Epoch that the node was added for"
        },
        "chainId": {
          "type": "string",
          "description": "EVM chain ID that the multisig control contract lives on."
        }
      }
    },
    "v1ERC20MultiSigSignerEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/v1ERC20MultiSigSignerEventType"
        },
        "signer": {
          "type": "string"
        },
        "nonce": {
          "type": "string"
        },
        "blockTime": {
          "type": "string",
          "format": "int64"
        },
        "txHash": {
          "type": "string"
        },
        "logIndex": {
          "type": "string",
          "format": "uint64"
        },
        "blockNumber": {
          "type": "string",
          "format": "uint64"
        },
        "chainId": {
          "type": "string"
        }
      }
    },
    "v1ERC20MultiSigSignerEventType": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "TYPE_ADDED",
        "TYPE_REMOVED"
      ],
      "default": "TYPE_UNSPECIFIED"
    },
    "v1ERC20MultiSigSignerRemoved": {
      "type": "object",
      "properties": {
        "signatureSubmitters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ERC20MultiSigSignerRemovedSubmitter"
          },
          "title": "List containing all the IDs of bundle generated\nThere should be one bundle generated for every validators\nin the validator set"
        },
        "validatorId": {
          "type": "string",
          "title": "Node ID of the Vega node which is to be removed"
        },
        "timestamp": {
          "type": "string",
          "format": "int64",
          "title": "Time at which this happened"
        },
        "oldSigner": {
          "type": "string",
          "title": "Ethereum address of the signer to be removed"
        },
        "nonce": {
          "type": "string",
          "description": "Nonce used."
        },
        "epochSeq": {
          "type": "string",
          "title": "Epoch that the node was removed for"
        },
        "chainId": {
          "type": "string",
          "description": "EVM chain ID that the multisig control contract lives on."
        }
      }
    },
    "v1ERC20MultiSigSignerRemovedSubmitter": {
      "type": "object",
      "properties": {
        "signatureId": {
          "type": "string",
          "description": "Signature ID of the signer removed."
        },
        "submitter": {
          "type": "string",
          "title": "Address of the submitter of the transaction"
        }
      }
    },
    "v1ERC20MultiSigThresholdSetEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "newThreshold": {
          "type": "integer",
          "format": "int64"
        },
        "nonce": {
          "type": "string"
        },
        "blockTime": {
          "type": "string",
          "format": "int64"
        },
        "txHash": {
          "type": "string"
        },
        "logIndex": {
          "type": "string",
          "format": "uint64"
        },
        "blockNumber": {
          "type": "string",
          "format": "uint64"
        },
        "chainId": {
          "type": "string"
        }
      }
    },
    "v1ETHAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        }
      }
    },
    "v1EndBlock": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "format": "uint64"
        }
      },
      "title": "EndBlock"
    },
    "v1EpochEvent": {
      "type": "object",
      "properties": {
        "seq": {
          "type": "string",
          "format": "uint64",
          "title": "Sequence number that increases by one each epoch"
        },
        "action": {
          "$ref": "#/definitions/vegaEpochAction",
          "title": "Action tells us what action is taking place"
        },
        "startTime": {
          "type": "string",
          "format": "int64",
          "title": "Vega time at which this epoch started"
        },
        "expireTime": {
          "type": "string",
          "format": "int64",
          "title": "Vega time at which this epoch should end"
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "title": "Vega time at which this epoch actually ended"
        }
      },
      "title": "Epoch details"
    },
    "v1EthereumKeyRotateSubmission": {
      "type": "object",
      "properties": {
        "targetBlock": {
          "type": "string",
          "format": "uint64",
          "description": "Block height at which the key rotation will take effect."
        },
        "newAddress": {
          "type": "string",
          "description": "Ethereum address that is being rotated to."
        },
        "currentAddress": {
          "type": "string",
          "description": "Ethereum address of the node's current Ethereum keys."
        },
        "submitterAddress": {
          "type": "string",
          "description": "Ethereum public key to use as a submitter to allow automatic signature generation."
        },
        "ethereumSignature": {
          "$ref": "#/definitions/v1Signature",
          "description": "Signature signed by the new Ethereum key that can be verified to prove ownership."
        }
      },
      "description": "A validator command sent manually that allows a node operator to indicate to the network that their node's Ethereum key will be rotated."
    },
    "v1EthereumKeyRotation": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "Node ID of the node that rotated their Ethereum key"
        },
        "oldAddress": {
          "type": "string",
          "title": "Ethereum address that was previously associated with the node"
        },
        "newAddress": {
          "type": "string",
          "title": "Ethereum address that is newly associated with the node"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Block height when the key rotation took effect"
        }
      },
      "title": "Event that contains information about an Ethereum key rotation"
    },
    "v1ExpiredOrders": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "orderIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Slice of expired order IDs"
        }
      }
    },
    "v1ExternalData": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v1Data"
        }
      }
    },
    "v1FeesStats": {
      "type": "object",
      "properties": {
        "market": {
          "type": "string",
          "title": "Market the fees were paid in"
        },
        "asset": {
          "type": "string",
          "description": "Settlement asset of the market."
        },
        "epochSeq": {
          "type": "string",
          "format": "uint64",
          "description": "Epoch for which these stats where valid."
        },
        "totalRewardsReceived": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PartyAmount"
          },
          "description": "Total referral rewards received by the referrer of the referral set."
        },
        "referrerRewardsGenerated": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ReferrerRewardsGenerated"
          },
          "description": "Referral rewards generated by all referee taker fees."
        },
        "refereesDiscountApplied": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PartyAmount"
          },
          "description": "Total referral discounts applied to all referee taker fees."
        },
        "volumeDiscountApplied": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PartyAmount"
          },
          "description": "Total volume discounts applied to all referee taker fees."
        },
        "totalMakerFeesReceived": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PartyAmount"
          },
          "description": "Total maker fees received by the maker side."
        },
        "makerFeesGenerated": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1MakerFeesGenerated"
          },
          "description": "Maker fees paid by all trade aggressors, and which makers the fees were paid to."
        },
        "totalFeesPaidAndReceived": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PartyAmount"
          },
          "description": "Total trading fees received and paid by the party."
        }
      },
      "title": "Fees rewards and discounts paid / received per parties during an epoch"
    },
    "v1Filter": {
      "type": "object",
      "properties": {
        "key": {
          "$ref": "#/definitions/v1PropertyKey",
          "description": "Data source's data property key targeted by the filter."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Condition"
          },
          "description": "Conditions that should be matched by the data to be\nconsidered of interest."
        }
      },
      "description": "Filter describes the conditions under which a data source data is considered of\ninterest or not."
    },
    "v1FundingPayment": {
      "type": "object",
      "properties": {
        "partyId": {
          "type": "string",
          "description": "ID of the party."
        },
        "amount": {
          "type": "string",
          "description": "The amount paid, this can be negative for parties who lost at the end of the funding period."
        }
      },
      "description": "The amount gained or lost by a party as a result of a funding payment."
    },
    "v1FundingPayments": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "ID of the market."
        },
        "seq": {
          "type": "string",
          "format": "uint64",
          "description": "Sequence number of the funding period associated with these payments."
        },
        "payments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1FundingPayment"
          },
          "description": "List of parties and the payment amounts, this can be negative for parties who lost at the end of the funding period."
        }
      },
      "description": "Event notifying of funding payments at the end of a funding period."
    },
    "v1FundingPeriod": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "ID of the market for which this funding period relates to."
        },
        "seq": {
          "type": "string",
          "format": "uint64",
          "description": "Sequence number of the funding period."
        },
        "start": {
          "type": "string",
          "format": "int64",
          "description": "Time in Unix nanoseconds when the funding period started."
        },
        "end": {
          "type": "string",
          "format": "int64",
          "description": "Time in Unix nanoseconds when the funding period ended."
        },
        "fundingPayment": {
          "type": "string",
          "description": "Funding payment for this period as the difference between the time-weighted average price of the external and internal data point."
        },
        "fundingRate": {
          "type": "string",
          "description": "Percentage difference between the time-weighted average price of the external and internal data point."
        },
        "internalTwap": {
          "type": "string",
          "description": "TWAP for this period based on the internal data-points."
        },
        "externalTwap": {
          "type": "string",
          "description": "TWAP for this period based on the external data-points."
        }
      },
      "description": "Event notifying on the details of a funding interval for a perpetuals market."
    },
    "v1FundingPeriodDataPoint": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market ID which the data point relates to."
        },
        "seq": {
          "type": "string",
          "format": "uint64",
          "description": "Sequence number of the funding period this data point belongs to."
        },
        "dataPointType": {
          "$ref": "#/definitions/FundingPeriodDataPointSource",
          "description": "Origin of the data point."
        },
        "price": {
          "type": "string",
          "description": "Price of the asset as seen by this data point."
        },
        "timestamp": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp in Unix nanoseconds of when the data point was received."
        },
        "twap": {
          "type": "string",
          "description": "The TWAP for this source with this data-point added."
        }
      },
      "description": "Event notifying a data point for a funding period."
    },
    "v1GamePartyScore": {
      "type": "object",
      "properties": {
        "gameId": {
          "type": "string",
          "description": "Game ID."
        },
        "party": {
          "type": "string",
          "description": "The party ID."
        },
        "teamId": {
          "type": "string",
          "description": "Team the party belongs to. Unset if the party is not part of a team."
        },
        "epoch": {
          "type": "string",
          "format": "int64",
          "description": "Epoch when these scores were generated."
        },
        "time": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp in Unix nanoseconds when these scores were generated."
        },
        "score": {
          "type": "string",
          "description": "Party's current score in the game."
        },
        "stakingBalance": {
          "type": "string",
          "description": "Party's current staking balance. Only populated if the game has a requirement for it."
        },
        "openVolume": {
          "type": "string",
          "description": "Party's current open volume. Only populated if the game has a requirement for it."
        },
        "totalFeesPaid": {
          "type": "string",
          "description": "Total fees paid by the party during the relevant period."
        },
        "isEligible": {
          "type": "boolean",
          "description": "If the party is eligible for a reward for this game based on the current information."
        },
        "rank": {
          "type": "string",
          "format": "uint64",
          "description": "If the party is a member of a team, this is their relative position in the sorting order of the team.\nEmpty if not a team, or if the party is not eligible."
        }
      },
      "description": "Scores per party per game with eligibility context."
    },
    "v1GameScores": {
      "type": "object",
      "properties": {
        "teamScores": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1GameTeamScore"
          }
        },
        "partyScores": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1GamePartyScore"
          }
        }
      }
    },
    "v1GameTeamScore": {
      "type": "object",
      "properties": {
        "gameId": {
          "type": "string",
          "description": "Game ID."
        },
        "teamId": {
          "type": "string",
          "title": "Team ID"
        },
        "epoch": {
          "type": "string",
          "format": "int64",
          "description": "Epoch when these scores were generated."
        },
        "time": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp in Unix nanoseconds when these scores were generated."
        },
        "score": {
          "type": "string",
          "description": "Team's current collective score in the game."
        }
      }
    },
    "v1GetSpamStatisticsResponse": {
      "type": "object",
      "properties": {
        "chainId": {
          "type": "string",
          "description": "Chain ID for which the statistics are captured."
        },
        "statistics": {
          "$ref": "#/definitions/v1SpamStatistics",
          "title": "Spam statistics for the party"
        }
      },
      "title": "Response containing all the spam statistics of a party for the current epoch"
    },
    "v1GetVegaTimeResponse": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp representation of current VegaTime as represented in\nUnix nanoseconds, for example `1580473859111222333` corresponds to `2020-01-31T12:30:59.111222333Z`"
        }
      },
      "title": "Response for the current consensus coordinated time on the Vega network, referred to as \"VegaTime\""
    },
    "v1IcebergOpts": {
      "type": "object",
      "properties": {
        "peakSize": {
          "type": "string",
          "format": "uint64",
          "description": "Size of the order that is made visible and can be traded with during the execution of a single order."
        },
        "minimumVisibleSize": {
          "type": "string",
          "format": "uint64",
          "description": "Minimum allowed remaining size of the order before it is replenished back to its peak size."
        }
      },
      "title": "Iceberg order options"
    },
    "v1InternalTimeTrigger": {
      "type": "object",
      "properties": {
        "initial": {
          "type": "string",
          "format": "int64",
          "description": "Trigger when the vega time is greater or equal to this time, in Unix seconds."
        },
        "every": {
          "type": "string",
          "format": "int64",
          "description": "Repeat the trigger every n seconds after the initial. If no time for\ninitial was specified, begin repeating immediately."
        }
      },
      "description": "Trigger for an internal time data source."
    },
    "v1IssueSignatures": {
      "type": "object",
      "properties": {
        "submitter": {
          "type": "string",
          "description": "Ethereum address which will submit the signatures to the smart contract."
        },
        "kind": {
          "$ref": "#/definitions/v1NodeSignatureKind",
          "description": "What kind of signatures to generate, namely for whether a signer is being added or removed."
        },
        "validatorNodeId": {
          "type": "string",
          "description": "Node ID of the validator node that will be signed in or out of the smart contract."
        },
        "chainId": {
          "type": "string",
          "description": "Chain ID of the bridge to generate signatures for."
        }
      },
      "description": "Command that can be used by a validator to instruct the network to generate signatures to add or remove validators from the multisig-control contract.\nSignatures can only be generated for validator nodes that have been promoted or demoted from the consensus validator set, and any attempt to generate signatures for another node will be rejected.\nThe generated signatures can only be submitted to the contract by the Ethereum addresses included in the command."
    },
    "v1JoinTeam": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the team to join, this is the same as the referral code used to generate the team."
        }
      },
      "description": "Command that allows the submitter to join a team or change teams if they are already a member of a team."
    },
    "v1KeyRotateSubmission": {
      "type": "object",
      "properties": {
        "newPubKeyIndex": {
          "type": "integer",
          "format": "int64",
          "description": "New Vega public key derivation index."
        },
        "targetBlock": {
          "type": "string",
          "format": "uint64",
          "description": "Block height at which the key rotation will take effect."
        },
        "newPubKey": {
          "type": "string",
          "description": "Vega public key that would be rotated to."
        },
        "currentPubKeyHash": {
          "type": "string",
          "description": "Hash of the node's current Vega public key."
        }
      },
      "description": "A validator command sent manually that allows a node operator to indicate to the network that their node's Vega key will be rotated."
    },
    "v1KeyRotation": {
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "string",
          "title": "Node ID of the node that rotated their Vega key"
        },
        "oldPubKey": {
          "type": "string",
          "title": "Vega public key that was previously associated with the node"
        },
        "newPubKey": {
          "type": "string",
          "title": "Vega public key that is newly associated with the node"
        },
        "blockHeight": {
          "type": "string",
          "format": "uint64",
          "title": "Block height when the key rotation took effect"
        }
      },
      "title": "Event that contains information about a Vega key rotation"
    },
    "v1LastBlockHeightResponse": {
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "format": "uint64",
          "title": "Last block height"
        },
        "hash": {
          "type": "string",
          "title": "Last block hash"
        },
        "spamPowHashFunction": {
          "type": "string",
          "title": "Supported proof of work hash function"
        },
        "spamPowDifficulty": {
          "type": "integer",
          "format": "int64",
          "title": "Difficulty of the proof of work, i.e. the target number of zeros"
        },
        "spamPowNumberOfPastBlocks": {
          "type": "integer",
          "format": "int64",
          "title": "Supported proof of work number of blocks behind current height allowed"
        },
        "spamPowNumberOfTxPerBlock": {
          "type": "integer",
          "format": "int64",
          "title": "Allowed number of transactions per block"
        },
        "spamPowIncreasingDifficulty": {
          "type": "boolean",
          "title": "Boolean indicating whether increasing difficulty is allowed for using the\nsame height for more than `spam_pow_number_of_past_blocks` transactions"
        },
        "chainId": {
          "type": "string",
          "title": "Network chain id from which the block comes from"
        }
      },
      "title": "Response with the height of the last block processed by\ntendermint"
    },
    "v1LedgerMovements": {
      "type": "object",
      "properties": {
        "ledgerMovements": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vegaLedgerMovement"
          },
          "title": "One or more entries containing internal transfer information"
        }
      },
      "title": "Transfer responses event contains a collection of transfer information"
    },
    "v1LiquidityProvisionAmendment": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market that the submitter wants to amend the liquidity commitment for."
        },
        "commitmentAmount": {
          "type": "string",
          "description": "New commitment amount."
        },
        "fee": {
          "type": "string",
          "description": "New nominated liquidity fee factor."
        },
        "reference": {
          "type": "string",
          "description": "New arbitrary reference to be added to every order created out of this liquidity provision submission."
        }
      },
      "description": "Command that allows a liquidity provider to update the details of their existing liquidity commitment.\nAny field that is left unset or as a default value indicates that this field on the original submission will be left unchanged."
    },
    "v1LiquidityProvisionCancellation": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market that the submitter will stop providing liquidity for."
        }
      },
      "description": "Command that allows a liquidity provider to inform the network that they will stop providing liquidity for a market."
    },
    "v1LiquidityProvisionSubmission": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "description": "Market that the submitter wishes to provide liquidity for."
        },
        "commitmentAmount": {
          "type": "string",
          "description": "Amount that the submitter will commit as liquidity to the market, specified as a unitless number in the settlement asset of the market.\nThis field is an unsigned integer scaled using the asset's decimal places."
        },
        "fee": {
          "type": "string",
          "description": "Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers."
        },
        "reference": {
          "type": "string",
          "description": "Arbitrary reference to be added to every order created out of this liquidity provision submission."
        }
      },
      "description": "A command that indicates to the network the party's intention to supply liquidity to the given market and become a liquidity provider.\nAn active liquidity provider for a market will earn fees based on the trades that occur in the market."
    },
    "v1LossSocialization": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "partyId": {
          "type": "string",
          "title": "Party ID (public key) for the event"
        },
        "amount": {
          "type": "string",
          "title": "Amount distributed"
        }
      },
      "title": "Loss socialization event contains details on the amount of wins unable to be distributed"
    },
    "v1MakerFeesGenerated": {
      "type": "object",
      "properties": {
        "taker": {
          "type": "string",
          "description": "Party that paid the fees."
        },
        "makerFeesPaid": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PartyAmount"
          },
          "description": "Amount of maker fees paid by the taker to the maker."
        }
      },
      "title": "Maker fees generated by the trade aggressor"
    },
    "v1MarketEvent": {
      "type": "object",
      "properties": {
        "marketId": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "payload": {
          "type": "string",
          "title": "Payload is a unique information string"
        }
      },
      "title": "MarketEvent - the common denominator for all market events\ninterface has a method to return a string for logging"
    },
    "v1MarketTick": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Market ID for the event"
        },
        "time": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp containing latest update from Vega blockchain aka Vega-time"
        }
      },
      "title": "Market tick event contains the time value for when a particular market was last processed on Vega"
    },
    "v1NodeSignature": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the resource that the signature relates to."
        },
        "sig": {
          "type": "string",
          "format": "byte",
          "description": "Signature generated by the node."
        },
        "kind": {
          "$ref": "#/definitions/v1NodeSignatureKind",
          "description": "Kind of resource being signed."
        }
      },
      "description": "A validator command sent automatically containing a signature that can be used on a foreign chain to process an action."
    },
    "v1NodeSignatureKind": {
      "type": "string",
      "enum": [
        "NODE_SIGNATURE_KIND_UNSPECIFIED",
        "NODE_SIGNATURE_KIND_ASSET_NEW",
        "NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL",
        "NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED",
        "NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED",
        "NODE_SIGNATURE_KIND_ASSET_UPDATE"
      ],
      "default": "NODE_SIGNATURE_KIND_UNSPECIFIED",
      "description": "- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input.\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing.\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal.\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract.\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract.\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing.",
      "title": "Kind of signature created by a node, for example, allow-listing a new asset, withdrawal etc"
    },
    "v1ObserveEventBusResponse": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1BusEvent"
          },
          "description": "One or more events that match the subscription request criteria."
        }
      },
      "title": "Response to a subscribed stream of events from the Vega event bus"
    },
[...]
