{"openapi":"3.0.0","info":{"title":"Vega core APIs","version":"v0.77.0-preview.5"},"servers":[{"url":"https://api.n00.testnet.vega.rocks","description":"n00 (data node)"},{"url":"https://api.n07.testnet.vega.rocks","description":"n07 (data node)"},{"url":"https://api.n08.testnet.vega.rocks","description":"n08 (data node)"}],"paths":{"/blockchain/height":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1LastBlockHeightResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Get the height of the last tendermint block","operationId":"Transaction_LastBlockHeight","summary":"Blockchain height"}},"/statistics":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1StatisticsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Get statistics on Vega","operationId":"Transaction_Statistics","summary":"Statistics"}},"/statistics/spam/{partyId}":{"get":{"parameters":[{"description":"Party ID whose statistics are requested","in":"path","name":"partyId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetSpamStatisticsResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Get the spam statistics for a given party.","operationId":"Transaction_GetSpamStatistics","summary":"Get Spam statistics"}},"/stream/event/bus":{"get":{"parameters":[{"description":"One or more types of event, required field.\n\n - BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: Event indicating the core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: Event indicating the core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: Event indicating the core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: Event indicating the market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: Event indicating the result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Event indicating a snapshot was taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Event data node uses to notify that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_DISTRESSED_POSITIONS: Event indicating parties have become, or were, distressed but still have an active position.\n - BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION: Event indicating a spot liquidity provision has been created or updated.\n - BUS_EVENT_TYPE_STOP_ORDER: Event indicating a stop order has been submitted or updated.\n - BUS_EVENT_TYPE_FUNDING_PERIOD: Event indicating the start or end of a funding period.\n - BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT: Event indicating a data point for a funding period has been received.\n - BUS_EVENT_TYPE_TEAM_CREATED: Event indicating a team has been created.\n - BUS_EVENT_TYPE_TEAM_UPDATED: Event indicating a team has been updated.\n - BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM: Event indicating a referee switched team.\n - BUS_EVENT_TYPE_REFEREE_JOINED_TEAM: Event indicating a referee joined a team.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED: Event indicating a referral program started.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED: Event indicating a referral program has been updated.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED: Event indicating a referral program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_CREATED: Event indicating a set has been created.\n - BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET: Event indicating a referee joined a set.\n - BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK: Event indicating the updated activity streak for a party\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED: Event indicating a volume discount program started.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED: Event indicating a volume discount program has been updated.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED: Event indicating a volume discount program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED: Event indicating the updated statistics for a referral set.\n - BUS_EVENT_TYPE_VESTING_STATS_UPDATED: Event indicating the updated statistics for the vesting program.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_STATS_UPDATED: Event indicating the updated statistics for the volume discount.\n - BUS_EVENT_TYPE_FEES_STATS_UPDATED: Event indicating the fees statistics per market at end of epoch\n - BUS_EVENT_TYPE_FUNDING_PAYMENTS: Event indicating a funding period has ended and resulted in funding payment transfers.\n - BUS_EVENT_TYPE_PAID_LIQUIDITY_FEES_STATS_UPDATED: Event used to report the updated paid liquidity fee statistics for the market at the end of the epoch\n - BUS_EVENT_TYPE_VESTING_SUMMARY: Event used to report the summary of vesting and locked balances at the end of the epoch\n - BUS_EVENT_TYPE_TRANSFER_FEES_PAID: Event used to link ledger entries to the transfer that triggered the fees being collected.\n - BUS_EVENT_TYPE_TRANSFER_FEES_DISCOUNT_UPDATED: Event indicating that a party's available transfer fee discount has changed, per asset.\n - BUS_EVENT_TYPE_PARTY_MARGIN_MODE_UPDATED: Event indicating that a party updated their margin mode on a market.\n - BUS_EVENT_TYPE_PARTY_PROFILE_UPDATED: Event indicating that a party updated their profile.\n - BUS_EVENT_TYPE_TEAMS_STATS_UPDATED: Event indicating that teams' statistics have been updated.\n - BUS_EVENT_TYPE_TIME_WEIGHTED_NOTIONAL_POSITION_UPDATED: Event indicating time weighted notional position has been updated.\n - BUS_EVENT_TYPE_CANCELLED_ORDERS: Event containing the IDs of orders cancelled by a party on a market.\n - BUS_EVENT_TYPE_GAME_SCORES: Event containing the near realtime game scores for parties and teams.\n - BUS_EVENT_TYPE_AMM: Event use to notify for an AMM update.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type","explode":true,"in":"query","name":"type","required":false,"schema":{"items":{"enum":["BUS_EVENT_TYPE_UNSPECIFIED","BUS_EVENT_TYPE_ALL","BUS_EVENT_TYPE_TIME_UPDATE","BUS_EVENT_TYPE_LEDGER_MOVEMENTS","BUS_EVENT_TYPE_POSITION_RESOLUTION","BUS_EVENT_TYPE_ORDER","BUS_EVENT_TYPE_ACCOUNT","BUS_EVENT_TYPE_PARTY","BUS_EVENT_TYPE_TRADE","BUS_EVENT_TYPE_MARGIN_LEVELS","BUS_EVENT_TYPE_PROPOSAL","BUS_EVENT_TYPE_VOTE","BUS_EVENT_TYPE_MARKET_DATA","BUS_EVENT_TYPE_NODE_SIGNATURE","BUS_EVENT_TYPE_LOSS_SOCIALIZATION","BUS_EVENT_TYPE_SETTLE_POSITION","BUS_EVENT_TYPE_SETTLE_DISTRESSED","BUS_EVENT_TYPE_MARKET_CREATED","BUS_EVENT_TYPE_ASSET","BUS_EVENT_TYPE_MARKET_TICK","BUS_EVENT_TYPE_WITHDRAWAL","BUS_EVENT_TYPE_DEPOSIT","BUS_EVENT_TYPE_AUCTION","BUS_EVENT_TYPE_RISK_FACTOR","BUS_EVENT_TYPE_NETWORK_PARAMETER","BUS_EVENT_TYPE_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_MARKET_UPDATED","BUS_EVENT_TYPE_ORACLE_SPEC","BUS_EVENT_TYPE_ORACLE_DATA","BUS_EVENT_TYPE_DELEGATION_BALANCE","BUS_EVENT_TYPE_VALIDATOR_SCORE","BUS_EVENT_TYPE_EPOCH_UPDATE","BUS_EVENT_TYPE_VALIDATOR_UPDATE","BUS_EVENT_TYPE_STAKE_LINKING","BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT","BUS_EVENT_TYPE_CHECKPOINT","BUS_EVENT_TYPE_STREAM_START","BUS_EVENT_TYPE_KEY_ROTATION","BUS_EVENT_TYPE_STATE_VAR","BUS_EVENT_TYPE_NETWORK_LIMITS","BUS_EVENT_TYPE_TRANSFER","BUS_EVENT_TYPE_VALIDATOR_RANKING","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED","BUS_EVENT_TYPE_POSITION_STATE","BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL","BUS_EVENT_TYPE_BEGIN_BLOCK","BUS_EVENT_TYPE_END_BLOCK","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED","BUS_EVENT_TYPE_SETTLE_MARKET","BUS_EVENT_TYPE_TRANSACTION_RESULT","BUS_EVENT_TYPE_SNAPSHOT_TAKEN","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY","BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED","BUS_EVENT_TYPE_EXPIRED_ORDERS","BUS_EVENT_TYPE_DISTRESSED_POSITIONS","BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_STOP_ORDER","BUS_EVENT_TYPE_FUNDING_PERIOD","BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT","BUS_EVENT_TYPE_TEAM_CREATED","BUS_EVENT_TYPE_TEAM_UPDATED","BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM","BUS_EVENT_TYPE_REFEREE_JOINED_TEAM","BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_CREATED","BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET","BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED","BUS_EVENT_TYPE_VESTING_STATS_UPDATED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_STATS_UPDATED","BUS_EVENT_TYPE_FEES_STATS_UPDATED","BUS_EVENT_TYPE_FUNDING_PAYMENTS","BUS_EVENT_TYPE_PAID_LIQUIDITY_FEES_STATS_UPDATED","BUS_EVENT_TYPE_VESTING_SUMMARY","BUS_EVENT_TYPE_TRANSFER_FEES_PAID","BUS_EVENT_TYPE_TRANSFER_FEES_DISCOUNT_UPDATED","BUS_EVENT_TYPE_PARTY_MARGIN_MODE_UPDATED","BUS_EVENT_TYPE_PARTY_PROFILE_UPDATED","BUS_EVENT_TYPE_TEAMS_STATS_UPDATED","BUS_EVENT_TYPE_TIME_WEIGHTED_NOTIONAL_POSITION_UPDATED","BUS_EVENT_TYPE_CANCELLED_ORDERS","BUS_EVENT_TYPE_GAME_SCORES","BUS_EVENT_TYPE_AMM","BUS_EVENT_TYPE_MARKET","BUS_EVENT_TYPE_TX_ERROR"],"type":"string"},"type":"array"}},{"description":"Market ID to filter events for, optional field. If omitted, no markets will be filtered out.","in":"query","name":"marketId","required":false,"schema":{"type":"string"}},{"description":"Party ID to filter events for, optional field. If omitted, no parties will be filtered out.","in":"query","name":"partyId","required":false,"schema":{"type":"string"}},{"description":"Batch size, optional field -\nIf not specified, any events received will be sent immediately. If the client is not ready\nfor the next data-set, data may be dropped a number of times, and eventually the stream is closed.\nif specified, the first batch will be sent when ready. To receive the next set of events, the client\nmust write an `ObserveEventBatch` message on the stream to flush the buffer.\nIf no message is received in 5 seconds, the stream is closed.\nDefault: 0, send any and all events when they are available.","in":"query","name":"batchSize","required":false,"schema":{"format":"int64","type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"error":{"$ref":"#/components/schemas/googlerpcStatus"},"result":{"$ref":"#/components/schemas/v1ObserveEventBusResponse"}},"title":"Stream result of v1ObserveEventBusResponse","type":"object"}}},"description":"A successful response.(streaming responses)"},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Subscribe to a stream of events from the core","operationId":"Transaction_ObserveEventBus","summary":"Events subscription"}},"/time":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1GetVegaTimeResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Get current Vega time","operationId":"Transaction_GetVegaTime","summary":"Vega time"}},"/transaction":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Submit a signed transaction to the network containing a command to be executed such that if the submission is successful then it will be included in the chain's mempool.\nThe network will then attempt to execute the transaction in the next available block, where the results of its execution can be seen on the EventBus.","operationId":"Transaction_SubmitTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitTransactionRequest"}}},"required":true},"summary":"Submit transaction"}},"/transaction/check":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Send a signed transaction containing a command to the network to be checked, but not added to the chain's mempool.\nThis is useful for checking the validity of a potential transaction before submitting it.","operationId":"Transaction_CheckTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckTransactionRequest"}}},"required":true},"summary":"Check transaction"}},"/transaction/raw":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitRawTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Submit a pre-serialised signed transaction containing a command to the network to be executed, such that if the submission is successful then it will be included in the chain's mempool.\nThe network will then attempt to execute the transaction in the next available block, where the results of its execution can be seen on the EventBus.","operationId":"Transaction_SubmitRawTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1SubmitRawTransactionRequest"}}},"required":true},"summary":"Submit raw transaction"}},"/transaction/raw/check":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckRawTransactionResponse"}}},"description":"A successful response."},"default":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/googlerpcStatus"}}},"description":"An unexpected error response."}},"tags":["Transaction"],"description":"Send a pre-serialised transaction containing a command to the network to be checked, but then not added to the chain's mempool.\nThis is useful for checking the validity of a potential transaction before submitting it.","operationId":"Transaction_CheckRawTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/v1CheckRawTransactionRequest"}}},"required":true},"summary":"Check raw transaction"}}},"components":{"schemas":{"AMMStatusReason":{"default":"STATUS_REASON_UNSPECIFIED","description":" - STATUS_REASON_CANCELLED_BY_PARTY: AMM was cancelled by its owner.\n - STATUS_REASON_CANNOT_FILL_COMMITMENT: Party does not have enough funds in their general account to meet the AMM's commitment.\n - STATUS_REASON_PARTY_ALREADY_OWNS_AMM_FOR_MARKET: Party already has an AMM operating on this market and cannot create another one.\n - STATUS_REASON_PARTY_CLOSED_OUT: AMM was liquidated and stopped by the network.\n - STATUS_REASON_MARKET_CLOSED: AMM was stopped by the network because the market it operated in was closed.\n - STATUS_REASON_COMMITMENT_TOO_LOW: Commitment amount was below the network wide minimum, or its price bounds are too wide, such that the volume is spread thinly creating zero-volume price-levels.\n - STATUS_REASON_CANNOT_REBASE: AMM was unable to rebase its fair-price such that it does not cross with existing orders.","enum":["STATUS_REASON_UNSPECIFIED","STATUS_REASON_CANCELLED_BY_PARTY","STATUS_REASON_CANNOT_FILL_COMMITMENT","STATUS_REASON_PARTY_ALREADY_OWNS_AMM_FOR_MARKET","STATUS_REASON_PARTY_CLOSED_OUT","STATUS_REASON_MARKET_CLOSED","STATUS_REASON_COMMITMENT_TOO_LOW","STATUS_REASON_CANNOT_REBASE"],"type":"string"},"ConditionOperator":{"default":"OPERATOR_UNSPECIFIED","description":"Operator describes the type of comparison.\n\n - OPERATOR_UNSPECIFIED: The default value\n - OPERATOR_EQUALS: Verify if the property values are strictly equal or not.\n - OPERATOR_GREATER_THAN: Verify if the data source data value is greater than the Condition value.\n - OPERATOR_GREATER_THAN_OR_EQUAL: Verify if the data source data value is greater than or equal to the Condition\nvalue.\n - OPERATOR_LESS_THAN: Verify if the data source data value is less than the Condition value.\n - OPERATOR_LESS_THAN_OR_EQUAL: Verify if the data source data value is less or equal to than the Condition\nvalue.","enum":["OPERATOR_UNSPECIFIED","OPERATOR_EQUALS","OPERATOR_GREATER_THAN","OPERATOR_GREATER_THAN_OR_EQUAL","OPERATOR_LESS_THAN","OPERATOR_LESS_THAN_OR_EQUAL"],"type":"string"},"FundingPeriodDataPointSource":{"default":"SOURCE_UNSPECIFIED","description":" - SOURCE_UNSPECIFIED: Default value\n - SOURCE_EXTERNAL: Data point is from an external data source, such as an oracle, and represents the spot price of the underlying asset.\n - SOURCE_INTERNAL: Data point from within Vega such as the mark price after performing mark-to-market.","enum":["SOURCE_UNSPECIFIED","SOURCE_EXTERNAL","SOURCE_INTERNAL"],"type":"string"},"MarketTradingMode":{"default":"TRADING_MODE_UNSPECIFIED","description":"- TRADING_MODE_UNSPECIFIED: Default value, this is invalid\n - TRADING_MODE_CONTINUOUS: Normal trading\n - TRADING_MODE_BATCH_AUCTION: Auction trading (FBA)\n - TRADING_MODE_OPENING_AUCTION: Opening auction\n - TRADING_MODE_MONITORING_AUCTION: Auction triggered by monitoring\n - TRADING_MODE_NO_TRADING: No trading is allowed\n - TRADING_MODE_SUSPENDED_VIA_GOVERNANCE: Special auction mode triggered via governance","enum":["TRADING_MODE_UNSPECIFIED","TRADING_MODE_CONTINUOUS","TRADING_MODE_BATCH_AUCTION","TRADING_MODE_OPENING_AUCTION","TRADING_MODE_MONITORING_AUCTION","TRADING_MODE_NO_TRADING","TRADING_MODE_SUSPENDED_VIA_GOVERNANCE"],"title":"Trading mode the market is currently running, also referred to as 'market state'","type":"string"},"OracleDataSubmissionOracleSource":{"default":"ORACLE_SOURCE_UNSPECIFIED","description":"- ORACLE_SOURCE_UNSPECIFIED: Default value\n - ORACLE_SOURCE_OPEN_ORACLE: Specifies that the payload will be base64 encoded JSON conforming to the Open Oracle standard.\n - ORACLE_SOURCE_JSON: Specifies that the payload will be base64 encoded JSON, but does not specify the shape of the data.\n - ORACLE_SOURCE_ETHEREUM: Specifies that the payload will be base64 encoded JSON conforming to the ETH standard.","enum":["ORACLE_SOURCE_UNSPECIFIED","ORACLE_SOURCE_OPEN_ORACLE","ORACLE_SOURCE_JSON","ORACLE_SOURCE_ETHEREUM"],"title":"Supported oracle sources","type":"string"},"OrderTimeInForce":{"default":"TIME_IN_FORCE_UNSPECIFIED","description":"- TIME_IN_FORCE_UNSPECIFIED: Default value for TimeInForce, can be valid for an amend\n - TIME_IN_FORCE_GTC: Good until cancelled, the order trades any amount and as much as possible\nand remains on the book until it either trades completely or is cancelled\n - TIME_IN_FORCE_GTT: Good until specified time, this order type trades any amount and as much as possible\nand remains on the book until it either trades completely, is cancelled, or expires at a set time\nNOTE: this may in future be multiple types or have sub types for orders that provide different ways of specifying expiry\n - TIME_IN_FORCE_IOC: Immediate or cancel, the order trades any amount and as much as possible\nbut does not remain on the book (whether it trades or not)\n - TIME_IN_FORCE_FOK: Fill or kill, the order either trades completely i.e. remainingSize == 0 after adding,\nor not at all, and does not remain on the book if it doesn't trade\n - TIME_IN_FORCE_GFA: Good for auction, this order is only accepted during an auction period\n - TIME_IN_FORCE_GFN: Good for normal, this order is only accepted during normal trading (that can be continuous trading or frequent batched auctions)","enum":["TIME_IN_FORCE_UNSPECIFIED","TIME_IN_FORCE_GTC","TIME_IN_FORCE_GTT","TIME_IN_FORCE_IOC","TIME_IN_FORCE_FOK","TIME_IN_FORCE_GFA","TIME_IN_FORCE_GFN"],"title":"Time In Force for an order","type":"string"},"StopOrderExpiryStrategy":{"default":"EXPIRY_STRATEGY_UNSPECIFIED","description":" - EXPIRY_STRATEGY_UNSPECIFIED: Never valid\n - EXPIRY_STRATEGY_CANCELS: Stop order should be cancelled if the expiry time is reached.\n - EXPIRY_STRATEGY_SUBMIT: Order should be submitted if the expiry time is reached.","enum":["EXPIRY_STRATEGY_UNSPECIFIED","EXPIRY_STRATEGY_CANCELS","EXPIRY_STRATEGY_SUBMIT"],"type":"string"},"StopOrderRejectionReason":{"default":"REJECTION_REASON_UNSPECIFIED","enum":["REJECTION_REASON_UNSPECIFIED","REJECTION_REASON_TRADING_NOT_ALLOWED","REJECTION_REASON_EXPIRY_IN_THE_PAST","REJECTION_REASON_MUST_BE_REDUCE_ONLY","REJECTION_REASON_MAX_STOP_ORDERS_PER_PARTY_REACHED","REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_WITHOUT_A_POSITION","REJECTION_REASON_STOP_ORDER_NOT_CLOSING_THE_POSITION","REJECTION_REASON_STOP_ORDER_LINKED_PERCENTAGE_INVALID","REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_DURING_OPENING_AUCTION","REJECTION_REASON_STOP_ORDER_CANNOT_MATCH_OCO_EXPIRY_TIMES","REJECTION_REASON_STOP_ORDER_SIZE_OVERRIDE_UNSUPPORTED_FOR_SPOT"],"title":"- REJECTION_REASON_UNSPECIFIED: Never valid\n - REJECTION_REASON_TRADING_NOT_ALLOWED: Trading is not allowed yet\n - REJECTION_REASON_EXPIRY_IN_THE_PAST: Expiry of the stop order is in the past\n - REJECTION_REASON_MUST_BE_REDUCE_ONLY: Stop orders submission must be reduce only\n - REJECTION_REASON_MAX_STOP_ORDERS_PER_PARTY_REACHED: Party has reached the maximum stop orders allowed for this market\n - REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_WITHOUT_A_POSITION: Stop orders are not allowed if there is no open position\n - REJECTION_REASON_STOP_ORDER_NOT_CLOSING_THE_POSITION: This stop order does not close the position\n - REJECTION_REASON_STOP_ORDER_LINKED_PERCENTAGE_INVALID: The percentage value for the linked stop order is invalid\n - REJECTION_REASON_STOP_ORDER_NOT_ALLOWED_DURING_OPENING_AUCTION: Stop orders are not allowed during the opening auction\n - REJECTION_REASON_STOP_ORDER_CANNOT_MATCH_OCO_EXPIRY_TIMES: Stop OCO orders cannot have the same expiry timestamp\n - REJECTION_REASON_STOP_ORDER_SIZE_OVERRIDE_UNSUPPORTED_FOR_SPOT: Stop orders with a position size override are not supported for spot markets","type":"string"},"StopOrderSizeOverrideSetting":{"default":"SIZE_OVERRIDE_SETTING_UNSPECIFIED","enum":["SIZE_OVERRIDE_SETTING_UNSPECIFIED","SIZE_OVERRIDE_SETTING_NONE","SIZE_OVERRIDE_SETTING_POSITION"],"title":"- SIZE_OVERRIDE_SETTING_UNSPECIFIED: Never valid\n - SIZE_OVERRIDE_SETTING_NONE: No override, the size within the contained normal order submission will be used\n - SIZE_OVERRIDE_SETTING_POSITION: Use the total position of the trader","type":"string"},"StopOrderSizeOverrideValue":{"properties":{"percentage":{"title":"Scaling percentage of the current position’s size","type":"string"}},"type":"object"},"StopOrderTriggerDirection":{"default":"TRIGGER_DIRECTION_UNSPECIFIED","enum":["TRIGGER_DIRECTION_UNSPECIFIED","TRIGGER_DIRECTION_RISES_ABOVE","TRIGGER_DIRECTION_FALLS_BELOW"],"title":"- TRIGGER_DIRECTION_UNSPECIFIED: Never valid\n - TRIGGER_DIRECTION_RISES_ABOVE: Stop order is triggered once the price rises above a certain level\n - TRIGGER_DIRECTION_FALLS_BELOW: Stop order is triggered once the price falls below a certain level","type":"string"},"TransactionResultFailureDetails":{"properties":{"error":{"title":"Error message explaining the reason for the transaction failing processing","type":"string"}},"type":"object"},"TransactionResultSuccessDetails":{"type":"object"},"UpdateMarginModeMode":{"default":"MODE_UNSPECIFIED","enum":["MODE_UNSPECIFIED","MODE_CROSS_MARGIN","MODE_ISOLATED_MARGIN"],"title":"- MODE_UNSPECIFIED: Never valid.\n - MODE_CROSS_MARGIN: Cross margin mode - margin is dynamically acquired and released as a position is marked to market\n - MODE_ISOLATED_MARGIN: Isolated margin mode - margin for any newly opened position volume is transferred to the margin account when the trade is executed","type":"string"},"commandsv1CancelTransfer":{"description":"Command that can be used by the party that initiated a transfer to instruct the network to stop an active recurring transaction.","properties":{"transferId":{"description":"Transfer ID of the transfer to cancel.","type":"string"}},"type":"object"},"googlerpcStatus":{"properties":{"code":{"format":"int32","type":"integer"},"details":{"items":{"$ref":"#/components/schemas/protobufAny"},"type":"array"},"message":{"type":"string"}},"type":"object"},"protobufAny":{"additionalProperties":{},"properties":{"@type":{"type":"string"}},"type":"object"},"protobufNullValue":{"default":"NULL_VALUE","description":"`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\n The JSON representation for `NullValue` is JSON `null`.\n\n - NULL_VALUE: Null value.","enum":["NULL_VALUE"],"type":"string"},"v1AMM":{"properties":{"parameters":{"$ref":"#/components/schemas/v1AMMConcentratedLiquidityParameters","description":"Liquidity parameters that define the size and range of the AMM's tradeable volume."},"ammPartyId":{"description":"Party ID that the AMM operates as.","type":"string"},"commitment":{"description":"Amount committed to the AMM.","type":"string"},"id":{"description":"ID of the AMM.","type":"string"},"marketId":{"description":"Market ID that the AMM provides liquidity for.","type":"string"},"partyId":{"description":"Party ID of the owner of the AMM.","type":"string"},"proposedFee":{"description":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market.","type":"string"},"status":{"$ref":"#/components/schemas/v1AMMStatus","description":"Current status of the AMM."},"statusReason":{"$ref":"#/components/schemas/AMMStatusReason","description":"Reason for the AMM's current status."}},"type":"object"},"v1AMMConcentratedLiquidityParameters":{"description":"Liquidity parameters that define the range and shape of the AMM's curve.","properties":{"base":{"description":"Base price bound configuration for the AMM.","type":"string"},"leverageAtLowerBound":{"description":"Leverage at lower bounds.","type":"string"},"leverageAtUpperBound":{"description":"Leverage at upper bounds.","type":"string"},"lowerBound":{"description":"Upper price bound configuration for the AMM. If unset, the AMM will never hold a short position.","type":"string"},"upperBound":{"description":"Lower price bound configuration for the AMM. If unset, the AMM will never hold a long position.","type":"string"}},"type":"object"},"v1AMMStatus":{"default":"STATUS_UNSPECIFIED","description":" - STATUS_ACTIVE: AMM is active on the market and is posting tradable volume.\n - STATUS_REJECTED: AMM submission was rejected.\n - STATUS_CANCELLED: AMM has been cancelled by the owner and is no longer trading.\n - STATUS_STOPPED: AMM has been stopped by the network and is no longer trading.\n - STATUS_REDUCE_ONLY: AMM will only trade such that it will reduce its position.","enum":["STATUS_UNSPECIFIED","STATUS_ACTIVE","STATUS_REJECTED","STATUS_CANCELLED","STATUS_STOPPED","STATUS_REDUCE_ONLY"],"type":"string"},"v1AmendAMM":{"description":"Command to amend an existing automated market maker on a market.","properties":{"commitmentAmount":{"description":"Amount to be committed to the AMM. If not supplied the commitment will remain unchanged.","type":"string"},"concentratedLiquidityParameters":{"$ref":"#/components/schemas/v1AmendAMMConcentratedLiquidityParameters","description":"Concentrated liquidity parameters defining the shape of the AMM's volume curves. If not supplied the parameters will remain unchanged."},"marketId":{"description":"Market ID for the AMM to be amended.","type":"string"},"proposedFee":{"description":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market. If not supplied the proposed fee will remain unchanged.","type":"string"},"slippageTolerance":{"description":"Slippage tolerance for rebasing position when updating the AMM.","type":"string"}},"type":"object"},"v1AmendAMMConcentratedLiquidityParameters":{"description":"Liquidity parameters that define the size and range of the AMM's tradeable volume.","properties":{"base":{"description":"Price that the AMM will quote as its \"fair price\" when its position is zero.","type":"string"},"leverageAtLowerBound":{"description":"Leverage at lower bound. If not set the markets risk-factors will be used to calculate leverage.","type":"string"},"leverageAtUpperBound":{"description":"Leverage at upper bound. If not set the markets risk-factors will be used to calculate leverage.","type":"string"},"lowerBound":{"description":"Price at which the AMM will stop quoting buy volume. If not supplied the AMM will never hold a long position.","type":"string"},"upperBound":{"description":"Price at which the AMM will stop quoting sell volume. If not supplied the AMM will never hold a short position.","type":"string"}},"type":"object"},"v1AnnounceNode":{"description":"A command that allows a new node operator to announce themselves to the network as a new validator.","properties":{"avatarUrl":{"description":"URL to the node operator's avatar.","type":"string"},"chainPubKey":{"description":"Public key for the blockchain, currently the node's CometBFT key.","type":"string"},"country":{"description":"Country code (ISO 3166-1 alpha-2) for the location of the node.","type":"string"},"ethereumAddress":{"description":"Ethereum public key of the node being announced.","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the node made using the ethereum wallet."},"fromEpoch":{"description":"Epoch from which the node is expected to be ready to validate blocks.","format":"uint64","type":"string"},"id":{"description":"Node ID of the validator, which is the node's public master key.","type":"string"},"infoUrl":{"description":"URL to the node operators homepage allowing stake holders to make an informed decision when delegating.","type":"string"},"name":{"description":"Human-readable name of the node.","type":"string"},"submitterAddress":{"description":"Ethereum public key to use as a submitter to allow automatic signature generation.","type":"string"},"vegaPubKey":{"description":"Vega public key of the node being announced.","type":"string"},"vegaPubKeyIndex":{"description":"Vega public key derivation index.","format":"int64","type":"integer"},"vegaSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature from the node made using the Vega wallet."}},"type":"object"},"v1ApplyReferralCode":{"description":"Command that allows the submitter to join a referral set and earn a collective reduction in fees based on the activity of all members of that set.\nA party that joins a referral set is called a referee. A referee can only be a member of one referral set and cannot themselves be or become a referrer.\nTo switch to another referral set, a subsequent command can be sent and the switch will take effect at the end of the epoch.","properties":{"id":{"description":"Referral code, normally the referral set ID, for the party to join.","type":"string"}},"type":"object"},"v1AuctionEvent":{"properties":{"end":{"format":"int64","title":"Timestamp containing the end time for an auction","type":"string"},"extensionTrigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","title":"If an auction was ongoing, but was extended for whatever reason, this field will\nbe set to the trigger type indicating which component extended the auction"},"leave":{"title":"True if the event indicates leaving auction mode and False otherwise","type":"boolean"},"marketId":{"title":"Market ID for the event","type":"string"},"openingAuction":{"title":"True if the event indicates an auction opening and False otherwise","type":"boolean"},"start":{"format":"int64","title":"Timestamp containing the start time for an auction","type":"string"},"trigger":{"$ref":"#/components/schemas/vegaAuctionTrigger","title":"Reason this market is/was in auction"}},"title":"Auction event indicating a change in auction state, for example starting or ending an auction","type":"object"},"v1BatchMarketInstructions":{"description":"A command that allows the submission of a batch market instruction which wraps up multiple market instructions into a single transaction.\nThese instructions are then processed sequentially in the following order:\n- OrderCancellation\n- OrderAmendment\n- OrderSubmission\n- StopOrderSubmission\nwhere the maximum allow of instructions in a batch is controlled by the network parameter \"spam.protection.max.batchSize\".","properties":{"amendments":{"description":"List of order amendments to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderAmendment"},"type":"array"},"cancellations":{"description":"List of order cancellations to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderCancellation"},"type":"array"},"stopOrdersCancellation":{"description":"List of stop order cancellations to be processed sequentially.","items":{"$ref":"#/components/schemas/v1StopOrdersCancellation"},"type":"array"},"stopOrdersSubmission":{"description":"List of stop order submissions to be processed sequentially.","items":{"$ref":"#/components/schemas/v1StopOrdersSubmission"},"type":"array"},"submissions":{"description":"List of order submissions to be processed sequentially.","items":{"$ref":"#/components/schemas/v1OrderSubmission"},"type":"array"},"updateMarginMode":{"items":{"$ref":"#/components/schemas/v1UpdateMarginMode"},"title":"Update margin mode instruction","type":"array"}},"type":"object"},"v1BatchProposalSubmission":{"description":"Command that allows a token holder to submit a batch governance proposal that can be voted on by any other token holders, and eventually enacted on the Vega network.\nFor example this command can be used to propose a new market and a network parameter change with it.","properties":{"rationale":{"$ref":"#/components/schemas/vegaProposalRationale","description":"Rationale behind a proposal."},"reference":{"description":"Arbitrary human-readable reference identifying the proposal.","type":"string"},"terms":{"$ref":"#/components/schemas/v1BatchProposalSubmissionTerms","description":"Proposal terms containing the type and details of the proposal, as well as time spans for voting and enactment."}},"type":"object"},"v1BatchProposalSubmissionTerms":{"properties":{"changes":{"description":"List of individual changes included in the batch proposal.","items":{"$ref":"#/components/schemas/vegaBatchProposalTermsChange"},"type":"array"},"closingTimestamp":{"description":"Closing timestamp in Unix time; adheres to `minClose` and `maxClose` limits.","format":"int64","type":"string"}},"title":"Terms for a batch governance proposal submission","type":"object"},"v1BeginBlock":{"properties":{"hash":{"type":"string"},"height":{"format":"uint64","type":"string"},"timestamp":{"format":"int64","type":"string"}},"title":"BeginBlock","type":"object"},"v1BusEvent":{"properties":{"account":{"$ref":"#/components/schemas/vegaAccount","title":"Account events"},"amm":{"$ref":"#/components/schemas/v1AMM","description":"Event notifying of AMM updates."},"asset":{"$ref":"#/components/schemas/vegaAsset","title":"Asset events"},"auction":{"$ref":"#/components/schemas/v1AuctionEvent","title":"Auction events"},"beginBlock":{"$ref":"#/components/schemas/v1BeginBlock","title":"Core is starting to process a new block"},"block":{"title":"The batch or block of transactions that the events relate to","type":"string"},"cancelledOrders":{"$ref":"#/components/schemas/v1CancelledOrders","description":"Event notifying of multiple orders being cancelled for a given party, on a given market."},"chainId":{"type":"string"},"checkpoint":{"$ref":"#/components/schemas/v1CheckpointEvent","title":"Checkpoint was created"},"coreSnapshotEvent":{"$ref":"#/components/schemas/v1CoreSnapshotData","title":"Core snapshot has been taken at the end of the block"},"delegationBalance":{"$ref":"#/components/schemas/v1DelegationBalanceEvent","title":"Delegation balance events"},"deposit":{"$ref":"#/components/schemas/vegaDeposit","title":"Deposit events"},"distressedOrders":{"$ref":"#/components/schemas/v1DistressedOrders","title":"Parties that had their orders closed because they were distressed"},"distressedPositions":{"$ref":"#/components/schemas/v1DistressedPositions","title":"Open positions on the market that are/were distressed"},"endBlock":{"$ref":"#/components/schemas/v1EndBlock","title":"Core finished processing a block"},"epochEvent":{"$ref":"#/components/schemas/v1EpochEvent","title":"Epoch update events"},"erc20MultisigSetThresholdEvent":{"$ref":"#/components/schemas/v1ERC20MultiSigThresholdSetEvent","title":"ERC20 multi sig set threshold event"},"erc20MultisigSignerAdded":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerAdded","title":"ERC20 multi sig signer added"},"erc20MultisigSignerEvent":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerEvent","title":"ERC20 multi sig signer event"},"erc20MultisigSignerRemoved":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerRemoved","title":"ERC20 multi sig signer removed"},"ethereumKeyRotation":{"$ref":"#/components/schemas/v1EthereumKeyRotation","title":"Ethereum key rotation took place"},"expiredOrders":{"$ref":"#/components/schemas/v1ExpiredOrders","title":"Orders that expired for a given market"},"feesStats":{"$ref":"#/components/schemas/v1FeesStats","description":"Event notifying of an update the fees stats for a market."},"fundingPayments":{"$ref":"#/components/schemas/v1FundingPayments","description":"Event notifying of funding payments at the end of a funding period."},"fundingPeriod":{"$ref":"#/components/schemas/v1FundingPeriod","description":"Start or end of a funding period."},"fundingPeriodDataPoint":{"$ref":"#/components/schemas/v1FundingPeriodDataPoint","description":"Data point within a funding period."},"gameScores":{"$ref":"#/components/schemas/v1GameScores","description":"Event notifying on near realtime game scores for parties and teams."},"id":{"title":"Unique event ID for the message","type":"string"},"keyRotation":{"$ref":"#/components/schemas/v1KeyRotation","title":"Key rotation took place"},"ledgerMovements":{"$ref":"#/components/schemas/v1LedgerMovements","title":"Transfer responses update events"},"liquidityProvision":{"$ref":"#/components/schemas/vegaLiquidityProvision","title":"LiquidityProvision  events"},"lossSocialization":{"$ref":"#/components/schemas/v1LossSocialization","title":"Loss socialization events"},"marginLevels":{"$ref":"#/components/schemas/vegaMarginLevels","title":"Margin level update events"},"market":{"$ref":"#/components/schemas/v1MarketEvent","title":"Market tick events"},"marketCreated":{"$ref":"#/components/schemas/vegaMarket","title":"Market created events"},"marketData":{"$ref":"#/components/schemas/vegaMarketData","title":"Market data events"},"marketTick":{"$ref":"#/components/schemas/v1MarketTick","title":"Market tick events"},"marketUpdated":{"$ref":"#/components/schemas/vegaMarket","title":"Market created events"},"networkLimits":{"$ref":"#/components/schemas/vegaNetworkLimits","title":"Network limits events"},"networkParameter":{"$ref":"#/components/schemas/vegaNetworkParameter","title":"Network parameter events"},"nodeSignature":{"$ref":"#/components/schemas/v1NodeSignature","title":"Node signature events"},"oracleData":{"$ref":"#/components/schemas/vegaOracleData","title":"OracleData events"},"oracleSpec":{"$ref":"#/components/schemas/vegaOracleSpec","title":"OracleSpec events"},"order":{"$ref":"#/components/schemas/vegaOrder","title":"Order events"},"paidLiquidityFeesStats":{"$ref":"#/components/schemas/v1PaidLiquidityFeesStats","description":"Event notifying of an update to the liqudity fees stats for a market."},"party":{"$ref":"#/components/schemas/vegaParty","title":"Party events"},"partyActivityStreak":{"$ref":"#/components/schemas/v1PartyActivityStreak","title":"Event notifying of an update to a party's activity streak"},"partyMarginModeUpdated":{"$ref":"#/components/schemas/v1PartyMarginModeUpdated","description":"Event notifying of a party's margin mode update on a market."},"partyProfileUpdated":{"$ref":"#/components/schemas/v1PartyProfileUpdated","description":"Event notifying of a party's profile update."},"positionResolution":{"$ref":"#/components/schemas/v1PositionResolution","title":"Position resolution events"},"positionStateEvent":{"$ref":"#/components/schemas/v1PositionStateEvent","title":"Position status for a party in a market"},"proposal":{"$ref":"#/components/schemas/vegaProposal","title":"Proposal events for governance"},"protocolUpgradeDataNodeReady":{"$ref":"#/components/schemas/v1ProtocolUpgradeDataNodeReady","title":"Core snapshot has been taken at the end of the block"},"protocolUpgradeEvent":{"$ref":"#/components/schemas/v1ProtocolUpgradeEvent","title":"Protocol upgrade proposal updates"},"protocolUpgradeStarted":{"$ref":"#/components/schemas/v1ProtocolUpgradeStarted","title":"Core is starting a protocol upgrade"},"rankingEvent":{"$ref":"#/components/schemas/v1ValidatorRankingEvent","title":"Ranking event"},"refereeJoinedReferralSet":{"$ref":"#/components/schemas/v1RefereeJoinedReferralSet","description":"Event notifying a referee has joined a referral set."},"refereeJoinedTeam":{"$ref":"#/components/schemas/v1RefereeJoinedTeam","description":"Event notifying that a referee joined a team."},"refereeSwitchedTeam":{"$ref":"#/components/schemas/v1RefereeSwitchedTeam","description":"Event notifying that a referee switched teams."},"referralProgramEnded":{"$ref":"#/components/schemas/v1ReferralProgramEnded","description":"Event notifying that a referral program has ended."},"referralProgramStarted":{"$ref":"#/components/schemas/v1ReferralProgramStarted","description":"Event notifying that a referral program has started."},"referralProgramUpdated":{"$ref":"#/components/schemas/v1ReferralProgramUpdated","description":"Event notifying that a referral program has been updated."},"referralSetCreated":{"$ref":"#/components/schemas/v1ReferralSetCreated","description":"Event notifying a referral set has been created."},"referralSetStatsUpdated":{"$ref":"#/components/schemas/v1ReferralSetStatsUpdated","description":"Event notifying of an update to a referral set's statistics."},"rewardPayout":{"$ref":"#/components/schemas/v1RewardPayoutEvent","title":"Reward payout event"},"riskFactor":{"$ref":"#/components/schemas/vegaRiskFactor","title":"Risk factor events"},"settleDistressed":{"$ref":"#/components/schemas/v1SettleDistressed","title":"Position distressed events"},"settleMarket":{"$ref":"#/components/schemas/v1SettleMarket","title":"Settle market event for data-node to update positions for settled markets"},"settlePosition":{"$ref":"#/components/schemas/v1SettlePosition","title":"Position settlement events"},"stakeLinking":{"$ref":"#/components/schemas/v1StakeLinking","title":"Staking event"},"stateVar":{"$ref":"#/components/schemas/v1StateVar","title":"State variable consensus state transition update"},"stopOrder":{"$ref":"#/components/schemas/v1StopOrderEvent","title":"A stop order event"},"teamCreated":{"$ref":"#/components/schemas/v1TeamCreated","title":"Event notifying of the creation of a team.m"},"teamUpdated":{"$ref":"#/components/schemas/v1TeamUpdated","description":"Event notifying of an update to a team."},"teamsStatsUpdated":{"$ref":"#/components/schemas/v1TeamsStatsUpdated","description":"Event notifying of an update of teams' statistics."},"timeUpdate":{"$ref":"#/components/schemas/v1TimeUpdate","title":"Time update events"},"timeWeightedNotionalPositionUpdated":{"$ref":"#/components/schemas/v1TimeWeightedNotionalPositionUpdated","title":"Event notifying an update of the time weighted notional position for a party in an asset"},"trade":{"$ref":"#/components/schemas/vegaTrade","title":"Trade events"},"transactionResult":{"$ref":"#/components/schemas/v1TransactionResult","title":"Result of a transaction processed by the network"},"transfer":{"$ref":"#/components/schemas/vegaeventsv1Transfer","title":"Transfer event"},"transferFees":{"$ref":"#/components/schemas/v1TransferFees","description":"Event notifying of fees related to a transfer being paid."},"transferFeesDiscount":{"$ref":"#/components/schemas/v1TransferFeesDiscount","description":"Event notifying of a party's available discounts for transfer fees, per asset."},"txErrEvent":{"$ref":"#/components/schemas/v1TxErrorEvent","title":"Transaction error events, not included in the ALL event type"},"txHash":{"type":"string"},"type":{"$ref":"#/components/schemas/v1BusEventType","title":"The type of bus event. Must be one of the list below:"},"validatorScore":{"$ref":"#/components/schemas/v1ValidatorScoreEvent","title":"Validator score calculated"},"validatorUpdate":{"$ref":"#/components/schemas/v1ValidatorUpdate","title":"Validator update events"},"version":{"format":"int64","title":"Version of bus event","type":"integer"},"vestingBalancesSummary":{"$ref":"#/components/schemas/v1VestingBalancesSummary","description":"Event notifying of an update to the vesting and locked balances."},"vestingStatsUpdated":{"$ref":"#/components/schemas/v1VestingStatsUpdated","description":"Event notifying of an update to the vesting statistics."},"volumeDiscountProgramEnded":{"$ref":"#/components/schemas/v1VolumeDiscountProgramEnded","description":"Event notifying that a volume discount program has ended."},"volumeDiscountProgramStarted":{"$ref":"#/components/schemas/v1VolumeDiscountProgramStarted","description":"Event notifying that a volume discount program has started."},"volumeDiscountProgramUpdated":{"$ref":"#/components/schemas/v1VolumeDiscountProgramUpdated","description":"Event notifying that a volume discount program has been updated."},"volumeDiscountStatsUpdated":{"$ref":"#/components/schemas/v1VolumeDiscountStatsUpdated","description":"Event notifying of an update to the volume discount statistics."},"vote":{"$ref":"#/components/schemas/vegaVote","title":"Vote events for governance"},"withdrawal":{"$ref":"#/components/schemas/vegaWithdrawal","title":"Withdrawal events"}},"title":"Bus event is a container for event bus events emitted by Vega","type":"object"},"v1BusEventType":{"default":"BUS_EVENT_TYPE_UNSPECIFIED","description":"- BUS_EVENT_TYPE_UNSPECIFIED: Default value, always invalid\n - BUS_EVENT_TYPE_ALL: Events of ALL event types, used when filtering stream from event bus\n - BUS_EVENT_TYPE_TIME_UPDATE: Event for blockchain time updates\n - BUS_EVENT_TYPE_LEDGER_MOVEMENTS: Event for when a transfer happens internally, contains the transfer information\n - BUS_EVENT_TYPE_POSITION_RESOLUTION: Event indicating position resolution has occurred\n - BUS_EVENT_TYPE_ORDER: Event for order updates, both new and existing orders\n - BUS_EVENT_TYPE_ACCOUNT: Event for account updates\n - BUS_EVENT_TYPE_PARTY: Event for party updates\n - BUS_EVENT_TYPE_TRADE: Event indicating a new trade has occurred\n - BUS_EVENT_TYPE_MARGIN_LEVELS: Event indicating margin levels have changed for a party\n - BUS_EVENT_TYPE_PROPOSAL: Event for proposal updates (for governance)\n - BUS_EVENT_TYPE_VOTE: Event indicating a new vote has occurred (for governance)\n - BUS_EVENT_TYPE_MARKET_DATA: Event for market data updates\n - BUS_EVENT_TYPE_NODE_SIGNATURE: Event for a new signature for a Vega node\n - BUS_EVENT_TYPE_LOSS_SOCIALIZATION: Event indicating loss socialisation occurred for a party\n - BUS_EVENT_TYPE_SETTLE_POSITION: Event for when a position is being settled\n - BUS_EVENT_TYPE_SETTLE_DISTRESSED: Event for when a position is distressed\n - BUS_EVENT_TYPE_MARKET_CREATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ASSET: Event for when an asset is added to Vega\n - BUS_EVENT_TYPE_MARKET_TICK: Event indicating a market tick event\n - BUS_EVENT_TYPE_WITHDRAWAL: Event for when a withdrawal occurs\n - BUS_EVENT_TYPE_DEPOSIT: Event for when a deposit occurs\n - BUS_EVENT_TYPE_AUCTION: Event indicating a change in auction state, for example starting or ending an auction\n - BUS_EVENT_TYPE_RISK_FACTOR: Event indicating a risk factor has been updated\n - BUS_EVENT_TYPE_NETWORK_PARAMETER: Event indicating a network parameter has been added or updated\n - BUS_EVENT_TYPE_LIQUIDITY_PROVISION: Event indicating a liquidity provision has been created or updated\n - BUS_EVENT_TYPE_MARKET_UPDATED: Event indicating a new market was created\n - BUS_EVENT_TYPE_ORACLE_SPEC: Event indicating an oracle spec has been created or updated\n - BUS_EVENT_TYPE_ORACLE_DATA: Event indicating that an oracle data has been broadcast\n - BUS_EVENT_TYPE_DELEGATION_BALANCE: Event indicating that an delegation balance of a party to a node for current epoch has changed\n - BUS_EVENT_TYPE_VALIDATOR_SCORE: Event indicating the validator score for the given epoch\n - BUS_EVENT_TYPE_EPOCH_UPDATE: Event indicating the start or end of an epoch\n - BUS_EVENT_TYPE_VALIDATOR_UPDATE: Event indicating that validator node has been updated\n - BUS_EVENT_TYPE_STAKE_LINKING: Event indicating a new staking event have been processed by the network\n - BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT: Event indicating the payout of a reward has been initiated\n - BUS_EVENT_TYPE_CHECKPOINT: Event indicating a new checkpoint was created\n - BUS_EVENT_TYPE_STREAM_START: Event indicating stream is starting\n - BUS_EVENT_TYPE_KEY_ROTATION: Event indicating key rotation took place\n - BUS_EVENT_TYPE_STATE_VAR: Event indicating state transitions in state variable consensus\n - BUS_EVENT_TYPE_NETWORK_LIMITS: Event indicating network limits set or updated\n - BUS_EVENT_TYPE_TRANSFER: Event indicating a update for a transfer\n - BUS_EVENT_TYPE_VALIDATOR_RANKING: Event indicating the ranking of validator and their status in Vega\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT: Event indicating a new multi sig signer event have been processed\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD: Event indicating the erc20 multi sig threshold have been updated\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED: Event indicating a new signer has been added to the ERC-20 multisig\n - BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED: Event indicating a signer has been removed from the ERC-20 multisig\n - BUS_EVENT_TYPE_POSITION_STATE: Event indicating that a party's position has changed\n - BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION: Event indicating Ethereum key rotation took place\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL: Event indicating protocol upgrade proposal updates\n - BUS_EVENT_TYPE_BEGIN_BLOCK: Event indicating the core is starting to process a new block\n - BUS_EVENT_TYPE_END_BLOCK: Event indicating the core finished to process a block\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED: Event indicating the core is starting a protocol upgrade\n - BUS_EVENT_TYPE_SETTLE_MARKET: Event indicating the market has stopped and settled\n - BUS_EVENT_TYPE_TRANSACTION_RESULT: Event indicating the result of a transaction processed by the network\n - BUS_EVENT_TYPE_SNAPSHOT_TAKEN: Event indicating a snapshot was taken at this block height\n - BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY: Event data node uses to notify that it is ready to upgrade\n - BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_EXPIRED_ORDERS: Event indicating parties had orders closed because they were distressed, but were not closed out.\n - BUS_EVENT_TYPE_DISTRESSED_POSITIONS: Event indicating parties have become, or were, distressed but still have an active position.\n - BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION: Event indicating a spot liquidity provision has been created or updated.\n - BUS_EVENT_TYPE_STOP_ORDER: Event indicating a stop order has been submitted or updated.\n - BUS_EVENT_TYPE_FUNDING_PERIOD: Event indicating the start or end of a funding period.\n - BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT: Event indicating a data point for a funding period has been received.\n - BUS_EVENT_TYPE_TEAM_CREATED: Event indicating a team has been created.\n - BUS_EVENT_TYPE_TEAM_UPDATED: Event indicating a team has been updated.\n - BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM: Event indicating a referee switched team.\n - BUS_EVENT_TYPE_REFEREE_JOINED_TEAM: Event indicating a referee joined a team.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED: Event indicating a referral program started.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED: Event indicating a referral program has been updated.\n - BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED: Event indicating a referral program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_CREATED: Event indicating a set has been created.\n - BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET: Event indicating a referee joined a set.\n - BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK: Event indicating the updated activity streak for a party\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED: Event indicating a volume discount program started.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED: Event indicating a volume discount program has been updated.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED: Event indicating a volume discount program ended.\n - BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED: Event indicating the updated statistics for a referral set.\n - BUS_EVENT_TYPE_VESTING_STATS_UPDATED: Event indicating the updated statistics for the vesting program.\n - BUS_EVENT_TYPE_VOLUME_DISCOUNT_STATS_UPDATED: Event indicating the updated statistics for the volume discount.\n - BUS_EVENT_TYPE_FEES_STATS_UPDATED: Event indicating the fees statistics per market at end of epoch\n - BUS_EVENT_TYPE_FUNDING_PAYMENTS: Event indicating a funding period has ended and resulted in funding payment transfers.\n - BUS_EVENT_TYPE_PAID_LIQUIDITY_FEES_STATS_UPDATED: Event used to report the updated paid liquidity fee statistics for the market at the end of the epoch\n - BUS_EVENT_TYPE_VESTING_SUMMARY: Event used to report the summary of vesting and locked balances at the end of the epoch\n - BUS_EVENT_TYPE_TRANSFER_FEES_PAID: Event used to link ledger entries to the transfer that triggered the fees being collected.\n - BUS_EVENT_TYPE_TRANSFER_FEES_DISCOUNT_UPDATED: Event indicating that a party's available transfer fee discount has changed, per asset.\n - BUS_EVENT_TYPE_PARTY_MARGIN_MODE_UPDATED: Event indicating that a party updated their margin mode on a market.\n - BUS_EVENT_TYPE_PARTY_PROFILE_UPDATED: Event indicating that a party updated their profile.\n - BUS_EVENT_TYPE_TEAMS_STATS_UPDATED: Event indicating that teams' statistics have been updated.\n - BUS_EVENT_TYPE_TIME_WEIGHTED_NOTIONAL_POSITION_UPDATED: Event indicating time weighted notional position has been updated.\n - BUS_EVENT_TYPE_CANCELLED_ORDERS: Event containing the IDs of orders cancelled by a party on a market.\n - BUS_EVENT_TYPE_GAME_SCORES: Event containing the near realtime game scores for parties and teams.\n - BUS_EVENT_TYPE_AMM: Event use to notify for an AMM update.\n - BUS_EVENT_TYPE_MARKET: Event indicating a market related event, for example when a market opens\n - BUS_EVENT_TYPE_TX_ERROR: Event used to report failed transactions back to a user, this is excluded from the ALL type","enum":["BUS_EVENT_TYPE_UNSPECIFIED","BUS_EVENT_TYPE_ALL","BUS_EVENT_TYPE_TIME_UPDATE","BUS_EVENT_TYPE_LEDGER_MOVEMENTS","BUS_EVENT_TYPE_POSITION_RESOLUTION","BUS_EVENT_TYPE_ORDER","BUS_EVENT_TYPE_ACCOUNT","BUS_EVENT_TYPE_PARTY","BUS_EVENT_TYPE_TRADE","BUS_EVENT_TYPE_MARGIN_LEVELS","BUS_EVENT_TYPE_PROPOSAL","BUS_EVENT_TYPE_VOTE","BUS_EVENT_TYPE_MARKET_DATA","BUS_EVENT_TYPE_NODE_SIGNATURE","BUS_EVENT_TYPE_LOSS_SOCIALIZATION","BUS_EVENT_TYPE_SETTLE_POSITION","BUS_EVENT_TYPE_SETTLE_DISTRESSED","BUS_EVENT_TYPE_MARKET_CREATED","BUS_EVENT_TYPE_ASSET","BUS_EVENT_TYPE_MARKET_TICK","BUS_EVENT_TYPE_WITHDRAWAL","BUS_EVENT_TYPE_DEPOSIT","BUS_EVENT_TYPE_AUCTION","BUS_EVENT_TYPE_RISK_FACTOR","BUS_EVENT_TYPE_NETWORK_PARAMETER","BUS_EVENT_TYPE_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_MARKET_UPDATED","BUS_EVENT_TYPE_ORACLE_SPEC","BUS_EVENT_TYPE_ORACLE_DATA","BUS_EVENT_TYPE_DELEGATION_BALANCE","BUS_EVENT_TYPE_VALIDATOR_SCORE","BUS_EVENT_TYPE_EPOCH_UPDATE","BUS_EVENT_TYPE_VALIDATOR_UPDATE","BUS_EVENT_TYPE_STAKE_LINKING","BUS_EVENT_TYPE_REWARD_PAYOUT_EVENT","BUS_EVENT_TYPE_CHECKPOINT","BUS_EVENT_TYPE_STREAM_START","BUS_EVENT_TYPE_KEY_ROTATION","BUS_EVENT_TYPE_STATE_VAR","BUS_EVENT_TYPE_NETWORK_LIMITS","BUS_EVENT_TYPE_TRANSFER","BUS_EVENT_TYPE_VALIDATOR_RANKING","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_EVENT","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SET_THRESHOLD","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_ADDED","BUS_EVENT_TYPE_ERC20_MULTI_SIG_SIGNER_REMOVED","BUS_EVENT_TYPE_POSITION_STATE","BUS_EVENT_TYPE_ETHEREUM_KEY_ROTATION","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_PROPOSAL","BUS_EVENT_TYPE_BEGIN_BLOCK","BUS_EVENT_TYPE_END_BLOCK","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_STARTED","BUS_EVENT_TYPE_SETTLE_MARKET","BUS_EVENT_TYPE_TRANSACTION_RESULT","BUS_EVENT_TYPE_SNAPSHOT_TAKEN","BUS_EVENT_TYPE_PROTOCOL_UPGRADE_DATA_NODE_READY","BUS_EVENT_TYPE_DISTRESSED_ORDERS_CLOSED","BUS_EVENT_TYPE_EXPIRED_ORDERS","BUS_EVENT_TYPE_DISTRESSED_POSITIONS","BUS_EVENT_TYPE_SPOT_LIQUIDITY_PROVISION","BUS_EVENT_TYPE_STOP_ORDER","BUS_EVENT_TYPE_FUNDING_PERIOD","BUS_EVENT_TYPE_FUNDING_PERIOD_DATA_POINT","BUS_EVENT_TYPE_TEAM_CREATED","BUS_EVENT_TYPE_TEAM_UPDATED","BUS_EVENT_TYPE_REFEREE_SWITCHED_TEAM","BUS_EVENT_TYPE_REFEREE_JOINED_TEAM","BUS_EVENT_TYPE_REFERRAL_PROGRAM_STARTED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_UPDATED","BUS_EVENT_TYPE_REFERRAL_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_CREATED","BUS_EVENT_TYPE_REFEREE_JOINED_REFERRAL_SET","BUS_EVENT_TYPE_PARTY_ACTIVITY_STREAK","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_STARTED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_UPDATED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_PROGRAM_ENDED","BUS_EVENT_TYPE_REFERRAL_SET_STATS_UPDATED","BUS_EVENT_TYPE_VESTING_STATS_UPDATED","BUS_EVENT_TYPE_VOLUME_DISCOUNT_STATS_UPDATED","BUS_EVENT_TYPE_FEES_STATS_UPDATED","BUS_EVENT_TYPE_FUNDING_PAYMENTS","BUS_EVENT_TYPE_PAID_LIQUIDITY_FEES_STATS_UPDATED","BUS_EVENT_TYPE_VESTING_SUMMARY","BUS_EVENT_TYPE_TRANSFER_FEES_PAID","BUS_EVENT_TYPE_TRANSFER_FEES_DISCOUNT_UPDATED","BUS_EVENT_TYPE_PARTY_MARGIN_MODE_UPDATED","BUS_EVENT_TYPE_PARTY_PROFILE_UPDATED","BUS_EVENT_TYPE_TEAMS_STATS_UPDATED","BUS_EVENT_TYPE_TIME_WEIGHTED_NOTIONAL_POSITION_UPDATED","BUS_EVENT_TYPE_CANCELLED_ORDERS","BUS_EVENT_TYPE_GAME_SCORES","BUS_EVENT_TYPE_AMM","BUS_EVENT_TYPE_MARKET","BUS_EVENT_TYPE_TX_ERROR"],"title":"Bus event type is used to specify a type of event\nIt has 2 styles of event:\nSingle values (e.g. BUS_EVENT_TYPE_ORDER) where they represent one data item\nGroup values (e.g. BUS_EVENT_TYPE_AUCTION) where they represent a group of data items","type":"string"},"v1CancelAMM":{"description":"Command to cancel an automated market maker for a given market.","properties":{"marketId":{"description":"Market ID to cancel an AMM for.","type":"string"},"method":{"$ref":"#/components/schemas/v1CancelAMMMethod","description":"Method to use to cancel the AMM."}},"type":"object"},"v1CancelAMMMethod":{"default":"METHOD_UNSPECIFIED","description":" - METHOD_IMMEDIATE: Cancellation will be immediate and any open positions will be transferred to the network for liquidation.\n - METHOD_REDUCE_ONLY: AMM will only trade to reduce its position, and will be cancelled once its position reaches zero.","enum":["METHOD_UNSPECIFIED","METHOD_IMMEDIATE","METHOD_REDUCE_ONLY"],"type":"string"},"v1CancelledOrders":{"properties":{"marketId":{"description":"Market ID for the event.","type":"string"},"orderIds":{"description":"The order IDs that were cancelled.","items":{"type":"string"},"type":"array"},"partyId":{"description":"The ID of the party which cancelled the orders.","type":"string"}},"type":"object"},"v1CheckRawTransactionRequest":{"properties":{"tx":{"format":"byte","required":["tx"],"title":"Bundle of signed payload and signature marshalled into a byte array, to form a transaction that would be submitted to the Vega blockchain","type":"string"}},"required":["tx"],"title":"Request for checking a version agnostic transaction on Vega","type":"object"},"v1CheckRawTransactionResponse":{"properties":{"info":{"title":"Unused","type":"string"},"code":{"description":"Error code to indicate the category of failure if the transaction was not successfully submitted.","format":"int64","type":"integer"},"data":{"description":"Further details for why the transaction was not successfully checked.","type":"string"},"gasUsed":{"description":"Unused.","format":"int64","type":"string"},"gasWanted":{"description":"Amount of space in a block that the transaction will fill. This does not relate to any monetary cost for submitting the transaction.","format":"int64","type":"string"},"log":{"description":"Further details for the underlying consensus layer of the result of the transaction.","type":"string"},"success":{"description":"Whether or not the transaction passed the submission checks.","type":"boolean"}},"title":"Response for checking a version agnostic transaction on Vega","type":"object"},"v1CheckTransactionRequest":{"properties":{"tx":{"$ref":"#/components/schemas/v1Transaction","description":"Transaction containing a command to be checked on the network, and not added to the chain's mempool."}},"title":"Request for checking a transaction v2 on Vega","type":"object"},"v1CheckTransactionResponse":{"properties":{"info":{"description":"Unused.","type":"string"},"code":{"description":"Error code to indicate the category of failure if the transaction was not successfully checked.","format":"int64","type":"integer"},"data":{"description":"Further details for why the transaction was not successfully submitted.","type":"string"},"gasUsed":{"description":"Unused.","format":"int64","type":"string"},"gasWanted":{"description":"Amount of space in a block that the transaction will fill. This does not relate to any monetary cost for submitting the transaction.","format":"int64","type":"string"},"log":{"description":"Further details for the underlying consensus layer of the result of the transaction.","type":"string"},"success":{"description":"Whether or not the transaction passed the submission checks.","type":"boolean"}},"type":"object"},"v1CheckpointEvent":{"properties":{"blockHash":{"type":"string"},"blockHeight":{"format":"uint64","type":"string"},"hash":{"type":"string"}},"type":"object"},"v1Condition":{"properties":{"operator":{"$ref":"#/components/schemas/ConditionOperator","description":"Type of comparison to make on the value."},"value":{"description":"Value to be compared with by the operator.","type":"string"}},"title":"Condition describes the condition that must be validated by the network","type":"object"},"v1CoreSnapshotData":{"description":"CoreSnapshotData represents the core snapshot data.","properties":{"blockHash":{"title":"Hash of the snapshot block","type":"string"},"blockHeight":{"format":"uint64","title":"Block height at which snapshot was taken","type":"string"},"coreVersion":{"description":"Semver version number of the core.","type":"string"},"protocolUpgradeBlock":{"title":"Indicates if the snapshot is taken as part of protocol upgrade","type":"boolean"}},"type":"object"},"v1CreateReferralSet":{"description":"Command that a party can use to instruct the network to create a new referral set on the network.\nThe submitter of this command will become the referrer of the new set and cannot be the referrer or a referee of another set.\nA referrer can use the referral set ID as a referral code to attract others to the Vega network and have fees reduced for the referral set.","properties":{"isTeam":{"description":"Whether or not the referral set should be considered a team that can participate in team games on the network.","type":"boolean"},"team":{"$ref":"#/components/schemas/v1CreateReferralSetTeam","description":"Team details, if the referral set is to be considered a team."}},"type":"object"},"v1CreateReferralSetTeam":{"properties":{"allowList":{"description":"List of public keys that are allowed to join the team.\nOnly applicable to closed teams. Removing a party from the allow list does not remove\nthe party from the team.","items":{"type":"string"},"type":"array"},"avatarUrl":{"description":"External link to an avatar for the team.","type":"string"},"closed":{"description":"Whether or not the team is closed to new party members.","type":"boolean"},"name":{"description":"Name of the team.","type":"string"},"teamUrl":{"description":"External link to the team's homepage.","type":"string"}},"type":"object"},"v1Data":{"description":"Data describes valid source data that has been received by the node.\nIt represents both matched and unmatched data.","properties":{"broadcastAt":{"description":"Timestamp in Unix nanoseconds for when the data was broadcast to the markets\nwith a matching spec. It has no value when the data did not match any spec.","format":"int64","type":"string"},"data":{"items":{"$ref":"#/components/schemas/v1Property"},"title":"Data holds all the properties of the data","type":"array"},"error":{"description":"Error message if the data could not be sourced.","type":"string"},"matchedSpecIds":{"description":"`matched_specs_ids` lists all the specs that matched this data.\nWhen the array is empty, it means no spec matched this data.","items":{"type":"string"},"type":"array"},"metaData":{"items":{"$ref":"#/components/schemas/v1Property"},"title":"Holds all metadata properties","type":"array"},"signers":{"items":{"$ref":"#/components/schemas/v1Signer"},"type":"array"}},"type":"object"},"v1DelegateSubmission":{"description":"Command to allow a token holder to delegate their tokens to a validator to help secure the network.\nA token holder delegating to a validator will earn rewards based on the amount they have delegated, and the performance of the chosen validator.","properties":{"amount":{"description":"Amount of stake to delegate, as an unsigned integer scaled to the governance asset's decimal places.","type":"string"},"nodeId":{"description":"Node ID to delegate stake to.","type":"string"}},"type":"object"},"v1DelegationBalanceEvent":{"properties":{"amount":{"type":"string"},"epochSeq":{"type":"string"},"nodeId":{"type":"string"},"party":{"type":"string"}},"title":"DelegationBalanceEvent - updates on the delegation balance of a party to a node in the current epoch in effect","type":"object"},"v1DistressedOrders":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"parties":{"items":{"type":"string"},"title":"Slice of Party IDs i.e. each party's public key for the event","type":"array"}},"title":"Distressed order contains the party IDs for all parties that were distressed and had their orders closed,\nbut did not need to be closed out after cancelling their orders","type":"object"},"v1DistressedPositions":{"description":"Distressed positions event contains the party IDs for all parties that were distressed, had their orders closed but because of insufficient volume on the book\ncould not be fully closed out. These parties are distressed, but still hold an active position on the book as a result. Once enough volume is on the book to close\nthem out, a SettleDistressed event will be sent. In case they manage to reduce their position, or meet the margin requirements, this status will be updated.\nParties that are no longer distressed but active will be listed in the safe_parties field.","properties":{"distressedParties":{"items":{"type":"string"},"title":"Slice of party IDs i.e. each party's public key, that are distressed but still have open volume","type":"array"},"marketId":{"title":"Market ID for the event","type":"string"},"safeParties":{"items":{"type":"string"},"title":"Slice of party IDs i.e. each party's public key, who were distressed but now can safely maintain their position","type":"array"}},"type":"object"},"v1ERC20MultiSigSignerAdded":{"properties":{"chainId":{"description":"EVM chain ID that the multisig control contract lives on.","type":"string"},"epochSeq":{"title":"Epoch that the node was added for","type":"string"},"newSigner":{"title":"Ethereum address of the new signer","type":"string"},"nonce":{"description":"Nonce used.","type":"string"},"signatureId":{"title":"ID of the signature bundle","type":"string"},"submitter":{"title":"Address of the submitter of the transaction","type":"string"},"timestamp":{"format":"int64","title":"Time at which this happened","type":"string"},"validatorId":{"title":"Node ID of the Vega node to be added","type":"string"}},"type":"object"},"v1ERC20MultiSigSignerEvent":{"properties":{"blockNumber":{"format":"uint64","type":"string"},"blockTime":{"format":"int64","type":"string"},"chainId":{"type":"string"},"id":{"type":"string"},"logIndex":{"format":"uint64","type":"string"},"nonce":{"type":"string"},"signer":{"type":"string"},"txHash":{"type":"string"},"type":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerEventType"}},"type":"object"},"v1ERC20MultiSigSignerEventType":{"default":"TYPE_UNSPECIFIED","enum":["TYPE_UNSPECIFIED","TYPE_ADDED","TYPE_REMOVED"],"type":"string"},"v1ERC20MultiSigSignerRemoved":{"properties":{"chainId":{"description":"EVM chain ID that the multisig control contract lives on.","type":"string"},"epochSeq":{"title":"Epoch that the node was removed for","type":"string"},"nonce":{"description":"Nonce used.","type":"string"},"oldSigner":{"title":"Ethereum address of the signer to be removed","type":"string"},"signatureSubmitters":{"items":{"$ref":"#/components/schemas/v1ERC20MultiSigSignerRemovedSubmitter"},"title":"List containing all the IDs of bundle generated\nThere should be one bundle generated for every validators\nin the validator set","type":"array"},"timestamp":{"format":"int64","title":"Time at which this happened","type":"string"},"validatorId":{"title":"Node ID of the Vega node which is to be removed","type":"string"}},"type":"object"},"v1ERC20MultiSigSignerRemovedSubmitter":{"properties":{"signatureId":{"description":"Signature ID of the signer removed.","type":"string"},"submitter":{"title":"Address of the submitter of the transaction","type":"string"}},"type":"object"},"v1ERC20MultiSigThresholdSetEvent":{"properties":{"blockNumber":{"format":"uint64","type":"string"},"blockTime":{"format":"int64","type":"string"},"chainId":{"type":"string"},"id":{"type":"string"},"logIndex":{"format":"uint64","type":"string"},"newThreshold":{"format":"int64","type":"integer"},"nonce":{"type":"string"},"txHash":{"type":"string"}},"type":"object"},"v1ETHAddress":{"properties":{"address":{"type":"string"}},"type":"object"},"v1EndBlock":{"properties":{"height":{"format":"uint64","type":"string"}},"title":"EndBlock","type":"object"},"v1EpochEvent":{"properties":{"action":{"$ref":"#/components/schemas/vegaEpochAction","title":"Action tells us what action is taking place"},"endTime":{"format":"int64","title":"Vega time at which this epoch actually ended","type":"string"},"expireTime":{"format":"int64","title":"Vega time at which this epoch should end","type":"string"},"seq":{"format":"uint64","title":"Sequence number that increases by one each epoch","type":"string"},"startTime":{"format":"int64","title":"Vega time at which this epoch started","type":"string"}},"title":"Epoch details","type":"object"},"v1EthereumKeyRotateSubmission":{"description":"A validator command sent manually that allows a node operator to indicate to the network that their node's Ethereum key will be rotated.","properties":{"currentAddress":{"description":"Ethereum address of the node's current Ethereum keys.","type":"string"},"ethereumSignature":{"$ref":"#/components/schemas/v1Signature","description":"Signature signed by the new Ethereum key that can be verified to prove ownership."},"newAddress":{"description":"Ethereum address that is being rotated to.","type":"string"},"submitterAddress":{"description":"Ethereum public key to use as a submitter to allow automatic signature generation.","type":"string"},"targetBlock":{"description":"Block height at which the key rotation will take effect.","format":"uint64","type":"string"}},"type":"object"},"v1EthereumKeyRotation":{"properties":{"blockHeight":{"format":"uint64","title":"Block height when the key rotation took effect","type":"string"},"newAddress":{"title":"Ethereum address that is newly associated with the node","type":"string"},"nodeId":{"title":"Node ID of the node that rotated their Ethereum key","type":"string"},"oldAddress":{"title":"Ethereum address that was previously associated with the node","type":"string"}},"title":"Event that contains information about an Ethereum key rotation","type":"object"},"v1ExpiredOrders":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"orderIds":{"items":{"type":"string"},"title":"Slice of expired order IDs","type":"array"}},"type":"object"},"v1ExternalData":{"properties":{"data":{"$ref":"#/components/schemas/v1Data"}},"type":"object"},"v1FeesStats":{"properties":{"asset":{"description":"Settlement asset of the market.","type":"string"},"epochSeq":{"description":"Epoch for which these stats where valid.","format":"uint64","type":"string"},"makerFeesGenerated":{"description":"Maker fees paid by all trade aggressors, and which makers the fees were paid to.","items":{"$ref":"#/components/schemas/v1MakerFeesGenerated"},"type":"array"},"market":{"title":"Market the fees were paid in","type":"string"},"refereesDiscountApplied":{"description":"Total referral discounts applied to all referee taker fees.","items":{"$ref":"#/components/schemas/v1PartyAmount"},"type":"array"},"referrerRewardsGenerated":{"description":"Referral rewards generated by all referee taker fees.","items":{"$ref":"#/components/schemas/v1ReferrerRewardsGenerated"},"type":"array"},"totalFeesPaidAndReceived":{"description":"Total trading fees received and paid by the party.","items":{"$ref":"#/components/schemas/v1PartyAmount"},"type":"array"},"totalMakerFeesReceived":{"description":"Total maker fees received by the maker side.","items":{"$ref":"#/components/schemas/v1PartyAmount"},"type":"array"},"totalRewardsReceived":{"description":"Total referral rewards received by the referrer of the referral set.","items":{"$ref":"#/components/schemas/v1PartyAmount"},"type":"array"},"volumeDiscountApplied":{"description":"Total volume discounts applied to all referee taker fees.","items":{"$ref":"#/components/schemas/v1PartyAmount"},"type":"array"}},"title":"Fees rewards and discounts paid / received per parties during an epoch","type":"object"},"v1Filter":{"description":"Filter describes the conditions under which a data source data is considered of\ninterest or not.","properties":{"conditions":{"description":"Conditions that should be matched by the data to be\nconsidered of interest.","items":{"$ref":"#/components/schemas/v1Condition"},"type":"array"},"key":{"$ref":"#/components/schemas/v1PropertyKey","description":"Data source's data property key targeted by the filter."}},"type":"object"},"v1FundingPayment":{"description":"The amount gained or lost by a party as a result of a funding payment.","properties":{"amount":{"description":"The amount paid, this can be negative for parties who lost at the end of the funding period.","type":"string"},"partyId":{"description":"ID of the party.","type":"string"}},"type":"object"},"v1FundingPayments":{"description":"Event notifying of funding payments at the end of a funding period.","properties":{"marketId":{"description":"ID of the market.","type":"string"},"payments":{"description":"List of parties and the payment amounts, this can be negative for parties who lost at the end of the funding period.","items":{"$ref":"#/components/schemas/v1FundingPayment"},"type":"array"},"seq":{"description":"Sequence number of the funding period associated with these payments.","format":"uint64","type":"string"}},"type":"object"},"v1FundingPeriod":{"description":"Event notifying on the details of a funding interval for a perpetuals market.","properties":{"end":{"description":"Time in Unix nanoseconds when the funding period ended.","format":"int64","type":"string"},"externalTwap":{"description":"TWAP for this period based on the external data-points.","type":"string"},"fundingPayment":{"description":"Funding payment for this period as the difference between the time-weighted average price of the external and internal data point.","type":"string"},"fundingRate":{"description":"Percentage difference between the time-weighted average price of the external and internal data point.","type":"string"},"internalTwap":{"description":"TWAP for this period based on the internal data-points.","type":"string"},"marketId":{"description":"ID of the market for which this funding period relates to.","type":"string"},"seq":{"description":"Sequence number of the funding period.","format":"uint64","type":"string"},"start":{"description":"Time in Unix nanoseconds when the funding period started.","format":"int64","type":"string"}},"type":"object"},"v1FundingPeriodDataPoint":{"description":"Event notifying a data point for a funding period.","properties":{"dataPointType":{"$ref":"#/components/schemas/FundingPeriodDataPointSource","description":"Origin of the data point."},"marketId":{"description":"Market ID which the data point relates to.","type":"string"},"price":{"description":"Price of the asset as seen by this data point.","type":"string"},"seq":{"description":"Sequence number of the funding period this data point belongs to.","format":"uint64","type":"string"},"timestamp":{"description":"Timestamp in Unix nanoseconds of when the data point was received.","format":"int64","type":"string"},"twap":{"description":"The TWAP for this source with this data-point added.","type":"string"}},"type":"object"},"v1GamePartyScore":{"description":"Scores per party per game with eligibility context.","properties":{"epoch":{"description":"Epoch when these scores were generated.","format":"int64","type":"string"},"gameId":{"description":"Game ID.","type":"string"},"isEligible":{"description":"If the party is eligible for a reward for this game based on the current information.","type":"boolean"},"openVolume":{"description":"Party's current open volume. Only populated if the game has a requirement for it.","type":"string"},"party":{"description":"The party ID.","type":"string"},"rank":{"description":"If the party is a member of a team, this is their relative position in the sorting order of the team.\nEmpty if not a team, or if the party is not eligible.","format":"uint64","type":"string"},"score":{"description":"Party's current score in the game.","type":"string"},"stakingBalance":{"description":"Party's current staking balance. Only populated if the game has a requirement for it.","type":"string"},"teamId":{"description":"Team the party belongs to. Unset if the party is not part of a team.","type":"string"},"time":{"description":"Timestamp in Unix nanoseconds when these scores were generated.","format":"int64","type":"string"},"totalFeesPaid":{"description":"Total fees paid by the party during the relevant period.","type":"string"}},"type":"object"},"v1GameScores":{"properties":{"partyScores":{"items":{"$ref":"#/components/schemas/v1GamePartyScore"},"type":"array"},"teamScores":{"items":{"$ref":"#/components/schemas/v1GameTeamScore"},"type":"array"}},"type":"object"},"v1GameTeamScore":{"properties":{"epoch":{"description":"Epoch when these scores were generated.","format":"int64","type":"string"},"gameId":{"description":"Game ID.","type":"string"},"score":{"description":"Team's current collective score in the game.","type":"string"},"teamId":{"title":"Team ID","type":"string"},"time":{"description":"Timestamp in Unix nanoseconds when these scores were generated.","format":"int64","type":"string"}},"type":"object"},"v1GetSpamStatisticsResponse":{"properties":{"chainId":{"description":"Chain ID for which the statistics are captured.","type":"string"},"statistics":{"$ref":"#/components/schemas/v1SpamStatistics","title":"Spam statistics for the party"}},"title":"Response containing all the spam statistics of a party for the current epoch","type":"object"},"v1GetVegaTimeResponse":{"properties":{"timestamp":{"format":"int64","title":"Timestamp representation of current VegaTime as represented in\nUnix nanoseconds, for example `1580473859111222333` corresponds to `2020-01-31T12:30:59.111222333Z`","type":"string"}},"title":"Response for the current consensus coordinated time on the Vega network, referred to as \"VegaTime\"","type":"object"},"v1IcebergOpts":{"properties":{"minimumVisibleSize":{"description":"Minimum allowed remaining size of the order before it is replenished back to its peak size.","format":"uint64","type":"string"},"peakSize":{"description":"Size of the order that is made visible and can be traded with during the execution of a single order.","format":"uint64","type":"string"}},"title":"Iceberg order options","type":"object"},"v1InternalTimeTrigger":{"description":"Trigger for an internal time data source.","properties":{"every":{"description":"Repeat the trigger every n seconds after the initial. If no time for\ninitial was specified, begin repeating immediately.","format":"int64","type":"string"},"initial":{"description":"Trigger when the vega time is greater or equal to this time, in Unix seconds.","format":"int64","type":"string"}},"type":"object"},"v1IssueSignatures":{"description":"Command that can be used by a validator to instruct the network to generate signatures to add or remove validators from the multisig-control contract.\nSignatures can only be generated for validator nodes that have been promoted or demoted from the consensus validator set, and any attempt to generate signatures for another node will be rejected.\nThe generated signatures can only be submitted to the contract by the Ethereum addresses included in the command.","properties":{"chainId":{"description":"Chain ID of the bridge to generate signatures for.","type":"string"},"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","description":"What kind of signatures to generate, namely for whether a signer is being added or removed."},"submitter":{"description":"Ethereum address which will submit the signatures to the smart contract.","type":"string"},"validatorNodeId":{"description":"Node ID of the validator node that will be signed in or out of the smart contract.","type":"string"}},"type":"object"},"v1JoinTeam":{"description":"Command that allows the submitter to join a team or change teams if they are already a member of a team.","properties":{"id":{"description":"ID of the team to join, this is the same as the referral code used to generate the team.","type":"string"}},"type":"object"},"v1KeyRotateSubmission":{"description":"A validator command sent manually that allows a node operator to indicate to the network that their node's Vega key will be rotated.","properties":{"currentPubKeyHash":{"description":"Hash of the node's current Vega public key.","type":"string"},"newPubKey":{"description":"Vega public key that would be rotated to.","type":"string"},"newPubKeyIndex":{"description":"New Vega public key derivation index.","format":"int64","type":"integer"},"targetBlock":{"description":"Block height at which the key rotation will take effect.","format":"uint64","type":"string"}},"type":"object"},"v1KeyRotation":{"properties":{"blockHeight":{"format":"uint64","title":"Block height when the key rotation took effect","type":"string"},"newPubKey":{"title":"Vega public key that is newly associated with the node","type":"string"},"nodeId":{"title":"Node ID of the node that rotated their Vega key","type":"string"},"oldPubKey":{"title":"Vega public key that was previously associated with the node","type":"string"}},"title":"Event that contains information about a Vega key rotation","type":"object"},"v1LastBlockHeightResponse":{"properties":{"chainId":{"title":"Network chain id from which the block comes from","type":"string"},"hash":{"title":"Last block hash","type":"string"},"height":{"format":"uint64","title":"Last block height","type":"string"},"spamPowDifficulty":{"format":"int64","title":"Difficulty of the proof of work, i.e. the target number of zeros","type":"integer"},"spamPowHashFunction":{"title":"Supported proof of work hash function","type":"string"},"spamPowIncreasingDifficulty":{"title":"Boolean indicating whether increasing difficulty is allowed for using the\nsame height for more than `spam_pow_number_of_past_blocks` transactions","type":"boolean"},"spamPowNumberOfPastBlocks":{"format":"int64","title":"Supported proof of work number of blocks behind current height allowed","type":"integer"},"spamPowNumberOfTxPerBlock":{"format":"int64","title":"Allowed number of transactions per block","type":"integer"}},"title":"Response with the height of the last block processed by\ntendermint","type":"object"},"v1LedgerMovements":{"properties":{"ledgerMovements":{"items":{"$ref":"#/components/schemas/vegaLedgerMovement"},"title":"One or more entries containing internal transfer information","type":"array"}},"title":"Transfer responses event contains a collection of transfer information","type":"object"},"v1LiquidityProvisionAmendment":{"description":"Command that allows a liquidity provider to update the details of their existing liquidity commitment.\nAny field that is left unset or as a default value indicates that this field on the original submission will be left unchanged.","properties":{"commitmentAmount":{"description":"New commitment amount.","type":"string"},"fee":{"description":"New nominated liquidity fee factor.","type":"string"},"marketId":{"description":"Market that the submitter wants to amend the liquidity commitment for.","type":"string"},"reference":{"description":"New arbitrary reference to be added to every order created out of this liquidity provision submission.","type":"string"}},"type":"object"},"v1LiquidityProvisionCancellation":{"description":"Command that allows a liquidity provider to inform the network that they will stop providing liquidity for a market.","properties":{"marketId":{"description":"Market that the submitter will stop providing liquidity for.","type":"string"}},"type":"object"},"v1LiquidityProvisionSubmission":{"description":"A command that indicates to the network the party's intention to supply liquidity to the given market and become a liquidity provider.\nAn active liquidity provider for a market will earn fees based on the trades that occur in the market.","properties":{"commitmentAmount":{"description":"Amount that the submitter will commit as liquidity to the market, specified as a unitless number in the settlement asset of the market.\nThis field is an unsigned integer scaled using the asset's decimal places.","type":"string"},"fee":{"description":"Nominated liquidity fee factor, which is an input to the calculation of taker fees on the market, as per setting fees and rewarding liquidity providers.","type":"string"},"marketId":{"description":"Market that the submitter wishes to provide liquidity for.","type":"string"},"reference":{"description":"Arbitrary reference to be added to every order created out of this liquidity provision submission.","type":"string"}},"type":"object"},"v1LossSocialization":{"properties":{"amount":{"title":"Amount distributed","type":"string"},"marketId":{"title":"Market ID for the event","type":"string"},"partyId":{"title":"Party ID (public key) for the event","type":"string"}},"title":"Loss socialization event contains details on the amount of wins unable to be distributed","type":"object"},"v1MakerFeesGenerated":{"properties":{"makerFeesPaid":{"description":"Amount of maker fees paid by the taker to the maker.","items":{"$ref":"#/components/schemas/v1PartyAmount"},"type":"array"},"taker":{"description":"Party that paid the fees.","type":"string"}},"title":"Maker fees generated by the trade aggressor","type":"object"},"v1MarketEvent":{"properties":{"marketId":{"title":"Market ID for the event","type":"string"},"payload":{"title":"Payload is a unique information string","type":"string"}},"title":"MarketEvent - the common denominator for all market events\ninterface has a method to return a string for logging","type":"object"},"v1MarketTick":{"properties":{"id":{"title":"Market ID for the event","type":"string"},"time":{"format":"int64","title":"Timestamp containing latest update from Vega blockchain aka Vega-time","type":"string"}},"title":"Market tick event contains the time value for when a particular market was last processed on Vega","type":"object"},"v1NodeSignature":{"description":"A validator command sent automatically containing a signature that can be used on a foreign chain to process an action.","properties":{"id":{"description":"ID of the resource that the signature relates to.","type":"string"},"kind":{"$ref":"#/components/schemas/v1NodeSignatureKind","description":"Kind of resource being signed."},"sig":{"description":"Signature generated by the node.","format":"byte","type":"string"}},"type":"object"},"v1NodeSignatureKind":{"default":"NODE_SIGNATURE_KIND_UNSPECIFIED","description":"- NODE_SIGNATURE_KIND_UNSPECIFIED: Represents an unspecified or missing value from the input.\n - NODE_SIGNATURE_KIND_ASSET_NEW: Represents a signature for a new asset allow-listing.\n - NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL: Represents a signature for an asset withdrawal.\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED: Represents a signature for a new signer added to the erc20 multisig contract.\n - NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED: Represents a signature for a signer removed from the erc20 multisig contract.\n - NODE_SIGNATURE_KIND_ASSET_UPDATE: Represents a signature for an asset update allow-listing.","enum":["NODE_SIGNATURE_KIND_UNSPECIFIED","NODE_SIGNATURE_KIND_ASSET_NEW","NODE_SIGNATURE_KIND_ASSET_WITHDRAWAL","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_ADDED","NODE_SIGNATURE_KIND_ERC20_MULTISIG_SIGNER_REMOVED","NODE_SIGNATURE_KIND_ASSET_UPDATE"],"title":"Kind of signature created by a node, for example, allow-listing a new asset, withdrawal etc","type":"string"},"v1ObserveEventBusResponse":{"properties":{"events":{"description":"One or more events that match the subscription request criteria.","items":{"$ref":"#/components/schemas/v1BusEvent"},"type":"array"}},"title":"Response to a subscribed stream of events from the Vega event bus","type":"object"},"v1OneOffGovernanceTransfer":{"properties":{"deliverOn":{"format":"int64","type":"string"}},"type":"object"},"v1OracleDataSubmission":{"properties":{"payload":{"description":"Data provided by the data source.","format":"byte","type":"string"},"source":{"$ref":"#/components/schemas/OracleDataSubmissionOracleSource","description":"Source from which the data is coming from."}},"title":"Command to submit new oracle data from third party providers","type":"object"},"v1OrderAmendment":{"description":"A command that allows a party to update the details of an existing order.\nAny field that is left unset or as a default value indicates that this field on the original order will be left unchanged.\nIt is not possible to change an order's type through this command.","properties":{"expiresAt":{"description":"Timestamp, in Unix nanoseconds, for the new expiry time for the order.","format":"int64","type":"string"},"marketId":{"description":"Market ID that the order was originally submitted to.","type":"string"},"orderId":{"description":"ID of the order to amend.","type":"string"},"peggedOffset":{"description":"New pegged offset for the order.\nThis field is an unsigned integer scaled to the market's decimal places.","type":"string"},"peggedReference":{"$ref":"#/components/schemas/vegaPeggedReference","description":"New pegged reference for the order."},"price":{"description":"New price for the order. This field is an unsigned integer scaled to the market's decimal places.","type":"string"},"size":{"description":"New size for the order.\nAmending the size causes the size and remaining part of the order to be changed by the difference between the original and amended size.\n- Specifying a size smaller than the current size leaves the order at its current order book position.\n- Specifying a size larger than the current size removes and reinserts the order at the back of the price level.\n- Specifying a size that results in the remaining part of the order being reduced to zero cancels the order.\nThis field is an unsigned integer scaled to the market's decimal places.\nIf specified, size_delta must be set to 0.","format":"uint64","type":"string"},"sizeDelta":{"description":"Amend the size for the order by the delta specified:\n- To reduce the size from the current value set a negative integer value\n- To increase the size from the current value, set a positive integer value\n- To leave the size unchanged set a value of zero\nThis field needs to be scaled using the market's position decimal places.\nIf specified, size must not be set.","format":"int64","type":"string"},"timeInForce":{"$ref":"#/components/schemas/OrderTimeInForce","description":"New time in force for the order."}},"type":"object"},"v1OrderCancellation":{"description":"A command that instructs the network to cancel orders, active or partially filled, that were previously submitted by the sender of this transaction.\nIt is not possible to cancel another party's order with this command.","properties":{"marketId":{"description":"Restrict cancellations to those submitted to the given market. If not set, all stop orders across all markets will be cancelled.","type":"string"},"orderId":{"description":"Restrict cancellations to an order with the given ID. If set, then a market ID must also be provided.","type":"string"}},"type":"object"},"v1OrderSubmission":{"description":"A command that submits an order to the Vega network for a given market.","properties":{"expiresAt":{"description":"Timestamp, in Unix nanoseconds, for when the order will expire. Can only be set when the order's time-in-force is GTT.","format":"int64","type":"string"},"icebergOpts":{"$ref":"#/components/schemas/v1IcebergOpts","description":"Iceberg order details. If set, the order will exist on the order book in chunks."},"marketId":{"description":"Market ID to submit the order to.","type":"string"},"peggedOrder":{"$ref":"#/components/schemas/vegaPeggedOrder","description":"Pegged order details. If set, the order's price will be offset from a particular reference pr
[...]
