/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00F780;
  --ifm-color-primary-dark: #00F780;
  --ifm-color-primary-darker: #00F780;
  --ifm-color-primary-darkest: #00F780;
  --ifm-color-primary-light: #00F780;
  --ifm-color-primary-lighter: #00F780;
  --ifm-color-primary-lightest: #00F780;
  --ifm-code-font-size: 95%;

  --ifm-link-color: #FF077F;
  --vega-yellow: #DFFF0B;
}
/* Code listings - links to other classes */
html[data-theme="dark"] a code {
  color: var(--vega-yellow);
}

html[data-theme="light"] a code {
  background-color: var(--vega-yellow);
}
/* Side menu */
 
.menu__link {
  --ifm-menu-color-background-active: var(--vega-yellow);
  --ifm-menu-color-text-active: #000;
  --ifm-menu-color-active: #000;
}
html[data-theme="dark"] .menu__link--sublist.menu__link--active {
  color: var(--vega-yellow);
}

.table-of-contents__link:hover, .table-of-contents__link:hover code, .table-of-contents__link--active, .table-of-contents__link--active code {
  background: var(--vega-yellow); 
  color: #000;
} 
/* Top nav */
.navbar__link {
  --ifm-navbar-link-hover-background: var(--vega-yellow);
  --ifm-navbar-link-hover-color: #000;
}
html[data-theme="dark"] .navbar__link {
  --ifm-navbar-link-hover-color: var(--vega-yellow);
}
html[data-theme="dark"] .navbar__link--active {
  --ifm-navbar-link-hover-color: #000;
}

.navbar__link--active {
  text-decoration: underline;
  background-color: var(--vega-yellow);
}


/* Front page */
.hero--primary {
  --ifm-hero-background-color: #000;
}
html[data-theme="dark"] .hero--primary {
  color: #fff; 
}

/* Footer */
.footer {
  --ifm-footer-link-hover-color: #fff;
  --ifm-footer-background-color: #000;
}

.footer--dark {
  --ifm-footer-background-color: #000;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
