{
  "swagger": "2.0",
  "info": {
    "title": "Vega data node APIs",
    "version": "v0.68.5"
  },
  "tags": [
    {
      "name": "TradingDataService"
    }
  ],
  "host": "lb.testnet.vega.xyz/datanode/rest",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/accounts": {
      "get": {
        "summary": "Accounts",
        "description": "Returns a list of accounts matching the supplied filter, including their current balances.\nIf a given account has never had a balance, it will be absent from the list.",
        "operationId": "TradingDataService_ListAccounts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListAccountsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "filter.assetId",
            "description": "Restrict accounts to those holding balances in this asset ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.partyIds",
            "description": "Restrict accounts to those owned by the parties in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.marketIds",
            "description": "Restrict accounts to those connected to the markets in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.accountTypes",
            "description": "Restrict accounts to those connected to any of the types in this list (pass an empty list for no filter).\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nThe required initial margin is allocated to each market from your general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nThe Vega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_TYPE_UNSPECIFIED",
                "ACCOUNT_TYPE_INSURANCE",
                "ACCOUNT_TYPE_SETTLEMENT",
                "ACCOUNT_TYPE_MARGIN",
                "ACCOUNT_TYPE_GENERAL",
                "ACCOUNT_TYPE_FEES_INFRASTRUCTURE",
                "ACCOUNT_TYPE_FEES_LIQUIDITY",
                "ACCOUNT_TYPE_FEES_MAKER",
                "ACCOUNT_TYPE_BOND",
                "ACCOUNT_TYPE_EXTERNAL",
                "ACCOUNT_TYPE_GLOBAL_INSURANCE",
                "ACCOUNT_TYPE_GLOBAL_REWARD",
                "ACCOUNT_TYPE_PENDING_TRANSFERS",
                "ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES",
                "ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/asset/{assetId}": {
      "get": {
        "summary": "Asset",
        "description": "Get a single asset using its ID. Use the assets list query to get an asset's ID",
        "operationId": "TradingDataService_GetAsset",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetAssetResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "description": "Asset ID to get data for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/assets": {
      "get": {
        "summary": "Assets list",
        "description": "Get a list of assets using cursor based pagination",
        "operationId": "TradingDataService_ListAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListAssetsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "description": "Optional asset ID to list data for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/balance/changes": {
      "get": {
        "summary": "Balances",
        "description": "`ListBalanceChanges` queries the change in account balances over a period of time.\n\nAn account is defined as a set of (asset_id, type, party_id, market_id).\n- Every account has an associated asset and type.\n- Certain account types (for example, the global reward pool) do not have an associated party.\n  These are denoted by the special party identifier 'network'\n- Certain account types do not have an associated market (for example general party accounts).\n  These are denoted by the special market identifier '' (the empty string)\n\n`ListBalanceChangesRequest` will return a list of\n`(vega_time, asset_id, account_type, party_id, market_id, balance)`\nWith a row for each block at which a given account's balance changes.",
        "operationId": "TradingDataService_ListBalanceChanges",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListBalanceChangesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "filter.assetId",
            "description": "Restrict accounts to those holding balances in this asset ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.partyIds",
            "description": "Restrict accounts to those owned by the parties in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.marketIds",
            "description": "Restrict accounts to those connected to the markets in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.accountTypes",
            "description": "Restrict accounts to those connected to any of the types in this list (pass an empty list for no filter).\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nThe required initial margin is allocated to each market from your general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nThe Vega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_TYPE_UNSPECIFIED",
                "ACCOUNT_TYPE_INSURANCE",
                "ACCOUNT_TYPE_SETTLEMENT",
                "ACCOUNT_TYPE_MARGIN",
                "ACCOUNT_TYPE_GENERAL",
                "ACCOUNT_TYPE_FEES_INFRASTRUCTURE",
                "ACCOUNT_TYPE_FEES_LIQUIDITY",
                "ACCOUNT_TYPE_FEES_MAKER",
                "ACCOUNT_TYPE_BOND",
                "ACCOUNT_TYPE_EXTERNAL",
                "ACCOUNT_TYPE_GLOBAL_INSURANCE",
                "ACCOUNT_TYPE_GLOBAL_REWARD",
                "ACCOUNT_TYPE_PENDING_TRANSFERS",
                "ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES",
                "ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dateRange.startTimestamp",
            "description": "Optional start timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "dateRange.endTimestamp",
            "description": "Optional end timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/candle": {
      "get": {
        "summary": "Candle data",
        "description": "Get candle data for a given candle ID. You can get a candle ID from the list candle intervals query",
        "operationId": "TradingDataService_ListCandleData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListCandleDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "candleId",
            "description": "Candle ID, required field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromTimestamp",
            "description": "Timestamp to retrieve candles since, in nanoseconds since the epoch, required field.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "toTimestamp",
            "description": "Timestamp to retrieve candles since, in nanoseconds since the epoch, required field.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "interval",
            "description": "Time interval for the candles, required field specified as a valid postgres interval.\n\n - INTERVAL_UNSPECIFIED: Default value, always invalid\n - INTERVAL_I1M: 1 minute.\n - INTERVAL_I5M: 5 minutes.\n - INTERVAL_I15M: 15 minutes.\n - INTERVAL_I1H: 1 hour.\n - INTERVAL_I6H: 6 hours.\n - INTERVAL_I1D: 1 day.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "INTERVAL_UNSPECIFIED",
              "INTERVAL_I1M",
              "INTERVAL_I5M",
              "INTERVAL_I15M",
              "INTERVAL_I1H",
              "INTERVAL_I6H",
              "INTERVAL_I1D"
            ],
            "default": "INTERVAL_UNSPECIFIED"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/candle/intervals": {
      "get": {
        "summary": "Candle intervals list",
        "description": "Get all available intervals for a given market along with the corresponding candle ID",
        "operationId": "TradingDataService_ListCandleIntervals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListCandleIntervalsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "The unique identifier for the market.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/checkpoints": {
      "get": {
        "summary": "Checkpoints list",
        "description": "List information about checkpoint generated by the network",
        "operationId": "TradingDataService_ListCheckpoints",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListCheckpointsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/delegations": {
      "get": {
        "summary": "Delegation list",
        "description": "List delegations",
        "operationId": "TradingDataService_ListDelegations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListDelegationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "partyId",
            "description": "Party ID to list delegations for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "nodeId",
            "description": "Node ID to list delegations for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "epochId",
            "description": "Epoch ID to list delegations for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/deposit/{id}": {
      "get": {
        "summary": "Deposit",
        "description": "Get a deposit by its identifier",
        "operationId": "TradingDataService_GetDeposit",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetDepositResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The deposit ID, which can be obtained using the List Deposits query",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/deposits": {
      "get": {
        "summary": "Deposits list",
        "description": "Get a list of deposits for a given party",
        "operationId": "TradingDataService_ListDeposits",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListDepositsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "partyId",
            "description": "The ID of the party whose deposits are to be retrieved.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dateRange.startTimestamp",
            "description": "Optional start timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "dateRange.endTimestamp",
            "description": "Optional end timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/epoch": {
      "get": {
        "summary": "Epoch",
        "description": "Get data for a specific epoch, if ID is omitted, it retrieves the current epoch",
        "operationId": "TradingDataService_GetEpoch",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetEpochResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Epoch ID to get, if provided.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/erc20/asset/limits/bundle": {
      "get": {
        "summary": "ERC-20 set asset limit bundle",
        "description": "Get the signature bundle to update the token limits (maxLifetimeDeposit and withdrawThreshold) for a given ERC20 token (already allowlisted) in the collateral bridge",
        "operationId": "TradingDataService_GetERC20SetAssetLimitsBundle",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetERC20SetAssetLimitsBundleResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "proposalId",
            "description": "The ID of the proposal to update an asset.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/erc20/asset/list/bundle": {
      "get": {
        "summary": "ERC-20 list asset bundle",
        "description": "Get the signatures bundle to allowlist an ERC20 token in the collateral bridge",
        "operationId": "TradingDataService_GetERC20ListAssetBundle",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetERC20ListAssetBundleResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "description": "The ID of the asset requested.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/erc20/asset/withdrawal/bundle": {
      "get": {
        "summary": "ERC-20 withdrawal bundle",
        "description": "Get the signature bundle to finalize a withdrawal on ethereum",
        "operationId": "TradingDataService_GetERC20WithdrawalApproval",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetERC20WithdrawalApprovalResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "withdrawalId",
            "description": "The ID of the withdrawal.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/erc20/multisigcontrol/signer/added/bundles": {
      "get": {
        "summary": "ERC-20 add signer bundle",
        "description": "List the signature bundle to add a particular validator to the signer list of the multisig contract",
        "operationId": "TradingDataService_ListERC20MultiSigSignerAddedBundles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListERC20MultiSigSignerAddedBundlesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "nodeId",
            "description": "The node ID of the validator for which a signature bundle is required.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "submitter",
            "description": "The ethereum address of the validator which will submit the bundle.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "epochSeq",
            "description": "The epoch which generated the bundle i.e the epoch in which the node was promoted to tendermint validator.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/erc20/multisigcontrol/signer/removed/bundles": {
      "get": {
        "summary": "ERC-20 remove signer bundle",
        "description": "List the signatures bundle to remove a particular validator from signer list of the multisig contract",
        "operationId": "TradingDataService_ListERC20MultiSigSignerRemovedBundles",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListERC20MultiSigSignerRemovedBundlesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "nodeId",
            "description": "The node ID of the validator of which a signature bundle is required.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "submitter",
            "description": "The ethereum address of the validator which will submit the bundle.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "epochSeq",
            "description": "The epoch which generated the bundle i.e the epoch in which the node was demoted from a tendermint validator.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/estimate/fee": {
      "get": {
        "summary": "Estimate fee",
        "description": "Estimate the fee that would incur for submitting this order",
        "operationId": "TradingDataService_EstimateFee",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2EstimateFeeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "MarketID (used to specify the fee factors).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "price",
            "description": "Price (the price at which the order could trade).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "description": "Size (the size at which the order could eventually trade).",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/estimate/margin": {
      "get": {
        "summary": "Estimate margin",
        "description": "Estimate the margin that would be required for submitting this order",
        "operationId": "TradingDataService_EstimateMargin",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2EstimateMarginResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "Market ID for the order.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "partyId",
            "description": "Party ID of the order.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "side",
            "description": "Order side - indicator for Seller or Buyer side.\n\n - SIDE_UNSPECIFIED: Default value, always invalid\n - SIDE_BUY: Buy order\n - SIDE_SELL: Sell order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "SIDE_UNSPECIFIED",
              "SIDE_BUY",
              "SIDE_SELL"
            ],
            "default": "SIDE_UNSPECIFIED"
          },
          {
            "name": "type",
            "description": "Type of the order.\n\n - TYPE_UNSPECIFIED: Default value, always invalid\n - TYPE_LIMIT: Used for Limit orders\n - TYPE_MARKET: Used for Market orders\n - TYPE_NETWORK: Used for orders where the initiating party is the network (with distressed parties)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "TYPE_LIMIT",
              "TYPE_MARKET",
              "TYPE_NETWORK"
            ],
            "default": "TYPE_UNSPECIFIED"
          },
          {
            "name": "size",
            "description": "Size of order.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "price",
            "description": "Price of the asset.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/governance": {
      "get": {
        "summary": "Governance",
        "description": "Get a single proposal's details",
        "operationId": "TradingDataService_GetGovernanceData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetGovernanceDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "proposalId",
            "description": "Proposal ID to get governance data for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "reference",
            "description": "Reference to get proposal data for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/governances": {
      "get": {
        "summary": "Governance list",
        "description": "List proposals using a cursor based pagination model",
        "operationId": "TradingDataService_ListGovernanceData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListGovernanceDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "proposalState",
            "description": "Proposal state to list governance data for, if provided.\n\n - STATE_UNSPECIFIED: Default value, always invalid\n - STATE_FAILED: Proposal enactment has failed - even though proposal has passed, its execution could not be performed\n - STATE_OPEN: Proposal is open for voting\n - STATE_PASSED: Proposal has gained enough support to be executed\n - STATE_REJECTED: Proposal wasn't accepted (proposal terms failed validation due to wrong configuration or failing to meet network requirements)\n - STATE_DECLINED: Proposal didn't get enough votes (either failing to gain required participation or majority level)\n - STATE_ENACTED: Proposal enacted\n - STATE_WAITING_FOR_NODE_VOTE: Waiting for node validation of the proposal",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STATE_UNSPECIFIED",
              "STATE_FAILED",
              "STATE_OPEN",
              "STATE_PASSED",
              "STATE_REJECTED",
              "STATE_DECLINED",
              "STATE_ENACTED",
              "STATE_WAITING_FOR_NODE_VOTE"
            ],
            "default": "STATE_UNSPECIFIED"
          },
          {
            "name": "proposalType",
            "description": "Proposal type to list governance data for, if provided.\n\n - TYPE_ALL: List all proposals\n - TYPE_NEW_MARKET: List new market proposals\n - TYPE_UPDATE_MARKET: List update market proposals\n - TYPE_NETWORK_PARAMETERS: List change Vega network parameter proposals\n - TYPE_NEW_ASSET: New asset proposals\n - TYPE_NEW_FREE_FORM: Proposals for creating a new free form proposal\n - TYPE_UPDATE_ASSET: Update asset proposals",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "TYPE_ALL",
              "TYPE_NEW_MARKET",
              "TYPE_UPDATE_MARKET",
              "TYPE_NETWORK_PARAMETERS",
              "TYPE_NEW_ASSET",
              "TYPE_NEW_FREE_FORM",
              "TYPE_UPDATE_ASSET"
            ],
            "default": "TYPE_UNSPECIFIED"
          },
          {
            "name": "proposerPartyId",
            "description": "Proposer party ID to list governance data for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "proposalReference",
            "description": "Proposal reference to list governance data for, if provided.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/info": {
      "get": {
        "summary": "Data node info",
        "description": "Retrieves information about the data node.\nResponse contains a semver formatted version of the data node and the commit hash, from which the data node was built",
        "operationId": "TradingDataService_Info",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2InfoResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/ledgerentry/export": {
      "get": {
        "summary": "Export ledger entries records ledger entries to a csv file.\nMay or may not contain a date range - if no date range is provided, list all records for all times.",
        "description": "Ledger entries can be exported by:\n  - export ledger entries for a single party for a given asset within a given time range\n  - export ledger entries for a single party for a given asset for all times",
        "operationId": "TradingDataService_ExportLedgerEntries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ExportLedgerEntriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "partyId",
            "description": "Party ID to export ledger entries for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "assetId",
            "description": "Asset ID to export ledger entries for.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dateRange.startTimestamp",
            "description": "Optional start timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "dateRange.endTimestamp",
            "description": "Optional end timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/ledgerentry/history": {
      "get": {
        "summary": "Ledger entries",
        "description": "List ledger entries by asset, market, party, account type and transfer type within the given date range.\nThis query requests and sums the number of ledger entries from a given subset of accounts, specified via the 'filter' argument.\nIt returns a time series (implemented as a list of AggregateLedgerEntry structs), with a row for every time\nthe summed ledger entries of the set of specified accounts changes.\nListed entries should be limited to a single party from each side only. If zero or more than one party is provided\nfor each of the sides - sending and receiving accounts, the query returns an error.\n\nEntries can be queried by:\n  - listing ledger entries with filtering on the sending account (market ID, asset ID, account type)\n  - listing ledger entries with filtering on the receiving account (market ID, asset ID, account type)\n  - listing ledger entries with filtering on the sending AND receiving account\n  - listing ledger entries with filtering on the transfer type (on top of above filters or as a standalone option)",
        "operationId": "TradingDataService_ListLedgerEntries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListLedgerEntriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "filter.closeOnAccountFilters",
            "description": "close_on_account_filters determines whether an entry must have accounts matching both the account_from_filter\nand the account_to_filter. If set to 'true', entries must have matches in both filters.\nIf set to `false`, entries matching only the account_from_filter or the account_to_filter will also be included.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter.fromAccountFilter.assetId",
            "description": "Restrict accounts to those holding balances in this asset ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.fromAccountFilter.partyIds",
            "description": "Restrict accounts to those owned by the parties in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.fromAccountFilter.marketIds",
            "description": "Restrict accounts to those connected to the markets in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.fromAccountFilter.accountTypes",
            "description": "Restrict accounts to those connected to any of the types in this list (pass an empty list for no filter).\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nThe required initial margin is allocated to each market from your general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nThe Vega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_TYPE_UNSPECIFIED",
                "ACCOUNT_TYPE_INSURANCE",
                "ACCOUNT_TYPE_SETTLEMENT",
                "ACCOUNT_TYPE_MARGIN",
                "ACCOUNT_TYPE_GENERAL",
                "ACCOUNT_TYPE_FEES_INFRASTRUCTURE",
                "ACCOUNT_TYPE_FEES_LIQUIDITY",
                "ACCOUNT_TYPE_FEES_MAKER",
                "ACCOUNT_TYPE_BOND",
                "ACCOUNT_TYPE_EXTERNAL",
                "ACCOUNT_TYPE_GLOBAL_INSURANCE",
                "ACCOUNT_TYPE_GLOBAL_REWARD",
                "ACCOUNT_TYPE_PENDING_TRANSFERS",
                "ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES",
                "ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.toAccountFilter.assetId",
            "description": "Restrict accounts to those holding balances in this asset ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.toAccountFilter.partyIds",
            "description": "Restrict accounts to those owned by the parties in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.toAccountFilter.marketIds",
            "description": "Restrict accounts to those connected to the markets in this list (pass an empty list for no filter).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.toAccountFilter.accountTypes",
            "description": "Restrict accounts to those connected to any of the types in this list (pass an empty list for no filter).\n\n - ACCOUNT_TYPE_UNSPECIFIED: Default value\n - ACCOUNT_TYPE_INSURANCE: Insurance pool accounts contain insurance pool funds for a market\n - ACCOUNT_TYPE_SETTLEMENT: Settlement accounts exist only during settlement or mark-to-market\n - ACCOUNT_TYPE_MARGIN: Margin accounts contain funds set aside for the margin needed to support a party's open positions.\nEach party will have a margin account for each market they have traded in.\nThe required initial margin is allocated to each market from your general account.\nCollateral in the margin account can't be withdrawn or used as margin on another market until\nit is released back to the general account.\nThe Vega protocol uses an internal accounting system to segregate funds held as\nmargin from other funds to ensure they are never lost or 'double spent'\n\nMargin account funds will vary as margin requirements on positions change\n - ACCOUNT_TYPE_GENERAL: General accounts contain the collateral for a party that is not otherwise allocated. A party will\nhave multiple general accounts, one for each asset they want\nto trade with\n\nGeneral accounts are where funds are initially deposited or withdrawn from,\nit is also the account where funds are taken to fulfil fees and initial margin requirements\n - ACCOUNT_TYPE_FEES_INFRASTRUCTURE: Infrastructure accounts contain fees earned by providing infrastructure on Vega\n - ACCOUNT_TYPE_FEES_LIQUIDITY: Liquidity accounts contain fees earned by providing liquidity on Vega markets\n - ACCOUNT_TYPE_FEES_MAKER: This account is created to hold fees earned by placing orders that sit on the book\nand are then matched with an incoming order to create a trade - These fees reward parties\nwho provide the best priced liquidity that actually allows trading to take place\n - ACCOUNT_TYPE_BOND: This account is created to maintain liquidity providers funds commitments\n - ACCOUNT_TYPE_EXTERNAL: External account represents an external source (deposit/withdrawal)\n - ACCOUNT_TYPE_GLOBAL_INSURANCE: Global insurance account for the asset\n - ACCOUNT_TYPE_GLOBAL_REWARD: Global reward account for the asset\n - ACCOUNT_TYPE_PENDING_TRANSFERS: Per asset account used to store pending transfers (if any)\n - ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES: Per asset reward account for fees paid to makers\n - ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES: Per asset reward account for fees received by makers\n - ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES: Per asset reward account for fees received by liquidity providers\n - ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS: Per asset reward account for market proposers when the market goes above some trading threshold",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_TYPE_UNSPECIFIED",
                "ACCOUNT_TYPE_INSURANCE",
                "ACCOUNT_TYPE_SETTLEMENT",
                "ACCOUNT_TYPE_MARGIN",
                "ACCOUNT_TYPE_GENERAL",
                "ACCOUNT_TYPE_FEES_INFRASTRUCTURE",
                "ACCOUNT_TYPE_FEES_LIQUIDITY",
                "ACCOUNT_TYPE_FEES_MAKER",
                "ACCOUNT_TYPE_BOND",
                "ACCOUNT_TYPE_EXTERNAL",
                "ACCOUNT_TYPE_GLOBAL_INSURANCE",
                "ACCOUNT_TYPE_GLOBAL_REWARD",
                "ACCOUNT_TYPE_PENDING_TRANSFERS",
                "ACCOUNT_TYPE_REWARD_MAKER_PAID_FEES",
                "ACCOUNT_TYPE_REWARD_MAKER_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_LP_RECEIVED_FEES",
                "ACCOUNT_TYPE_REWARD_MARKET_PROPOSERS"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter.transferTypes",
            "description": "A list of transfer types that is used for filtering sender and receiver accounts.\n\n - TRANSFER_TYPE_UNSPECIFIED: Default value, always invalid\n - TRANSFER_TYPE_LOSS: Funds deducted after final settlement loss\n - TRANSFER_TYPE_WIN: Funds added to general account after final settlement gain\n - TRANSFER_TYPE_MTM_LOSS: Funds deducted from margin account after mark to market loss\n - TRANSFER_TYPE_MTM_WIN: Funds added to margin account after mark to market gain\n - TRANSFER_TYPE_MARGIN_LOW: Funds transferred from general account to meet margin requirement\n - TRANSFER_TYPE_MARGIN_HIGH: Excess margin amount returned to general account\n - TRANSFER_TYPE_MARGIN_CONFISCATED: Margin confiscated from margin account to fulfil closeout\n - TRANSFER_TYPE_MAKER_FEE_PAY: Maker fee paid from general account\n - TRANSFER_TYPE_MAKER_FEE_RECEIVE: Maker fee received into general account\n - TRANSFER_TYPE_INFRASTRUCTURE_FEE_PAY: Infrastructure fee paid from general account\n - TRANSFER_TYPE_INFRASTRUCTURE_FEE_DISTRIBUTE: Infrastructure fee received into general account\n - TRANSFER_TYPE_LIQUIDITY_FEE_PAY: Liquidity fee paid from general account\n - TRANSFER_TYPE_LIQUIDITY_FEE_DISTRIBUTE: Liquidity fee received into general account\n - TRANSFER_TYPE_BOND_LOW: Bond account funded from general account to meet required bond amount\n - TRANSFER_TYPE_BOND_HIGH: Bond returned to general account after liquidity commitment was reduced\n - TRANSFER_TYPE_WITHDRAW: Funds withdrawn from general account\n - TRANSFER_TYPE_DEPOSIT: Funds deposited to general account\n - TRANSFER_TYPE_BOND_SLASHING: Bond account penalised when liquidity commitment not met\n - TRANSFER_TYPE_REWARD_PAYOUT: Reward payout received\n - TRANSFER_TYPE_TRANSFER_FUNDS_SEND: A network internal instruction for the collateral engine to move funds from a user's general account into the pending transfers pool\n - TRANSFER_TYPE_TRANSFER_FUNDS_DISTRIBUTE: A network internal instruction for the collateral engine to move funds from the pending transfers pool account into the destination account\n - TRANSFER_TYPE_CLEAR_ACCOUNT: Market-related accounts emptied because market has closed\n - TRANSFER_TYPE_CHECKPOINT_BALANCE_RESTORE: Balances restored after network restart",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TRANSFER_TYPE_UNSPECIFIED",
                "TRANSFER_TYPE_LOSS",
                "TRANSFER_TYPE_WIN",
                "TRANSFER_TYPE_MTM_LOSS",
                "TRANSFER_TYPE_MTM_WIN",
                "TRANSFER_TYPE_MARGIN_LOW",
                "TRANSFER_TYPE_MARGIN_HIGH",
                "TRANSFER_TYPE_MARGIN_CONFISCATED",
                "TRANSFER_TYPE_MAKER_FEE_PAY",
                "TRANSFER_TYPE_MAKER_FEE_RECEIVE",
                "TRANSFER_TYPE_INFRASTRUCTURE_FEE_PAY",
                "TRANSFER_TYPE_INFRASTRUCTURE_FEE_DISTRIBUTE",
                "TRANSFER_TYPE_LIQUIDITY_FEE_PAY",
                "TRANSFER_TYPE_LIQUIDITY_FEE_DISTRIBUTE",
                "TRANSFER_TYPE_BOND_LOW",
                "TRANSFER_TYPE_BOND_HIGH",
                "TRANSFER_TYPE_WITHDRAW",
                "TRANSFER_TYPE_DEPOSIT",
                "TRANSFER_TYPE_BOND_SLASHING",
                "TRANSFER_TYPE_REWARD_PAYOUT",
                "TRANSFER_TYPE_TRANSFER_FUNDS_SEND",
                "TRANSFER_TYPE_TRANSFER_FUNDS_DISTRIBUTE",
                "TRANSFER_TYPE_CLEAR_ACCOUNT",
                "TRANSFER_TYPE_CHECKPOINT_BALANCE_RESTORE"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dateRange.startTimestamp",
            "description": "Optional start timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "dateRange.endTimestamp",
            "description": "Optional end timestamp in nanoseconds past the epoch.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/liquidity/provisions": {
      "get": {
        "summary": "Liquidity Provisions list",
        "description": "Get a list of liquidity provisions for a given market using a cursor based pagination",
        "operationId": "TradingDataService_ListLiquidityProvisions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListLiquidityProvisionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "The target market for the liquidity provision orders.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "partyId",
            "description": "The party which submitted the liquidity provision orders.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "reference",
            "description": "The reference of the liquidity provision.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/margin/levels": {
      "get": {
        "summary": "Margin Levels list",
        "description": "Get margin levels using a cursor based pagination model",
        "operationId": "TradingDataService_ListMarginLevels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListMarginLevelsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "partyId",
            "description": "Party ID for which to list the margin levels.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "marketId",
            "description": "Market ID for which to list the margin levels.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/market/data/{marketId}": {
      "get": {
        "summary": "Market data history",
        "description": "Get market data history for a market ID between given dates using a cursor based pagination model",
        "operationId": "TradingDataService_GetMarketDataHistoryByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetMarketDataHistoryByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "Market identifier, required field",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "startTimestamp",
            "description": "Optional Unix time in nanoseconds.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "endTimestamp",
            "description": "Optional Unix time in nanoseconds.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "offsetPagination.skip",
            "description": "Skip the number of records specified, default is 0.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "offsetPagination.limit",
            "description": "Limit the number of returned records to the value specified, default is 50.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "offsetPagination.descending",
            "description": "Descending reverses the order of the records returned,\ndefault is true, if false the results will be returned in ascending order.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/market/data/{marketId}/latest": {
      "get": {
        "summary": "Market Data",
        "description": "Get the latest market data for a given market",
        "operationId": "TradingDataService_GetLatestMarketData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetLatestMarketDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "Market identifier, required field",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/market/depth/{marketId}/latest": {
      "get": {
        "summary": "Market Depth",
        "description": "Get the latest market depth for a given market",
        "operationId": "TradingDataService_GetLatestMarketDepth",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetLatestMarketDepthResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "Market identifier, required field",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxDepth",
            "description": "An optional field to indicate the maximum market depth.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/market/{marketId}": {
      "get": {
        "summary": "Market",
        "description": "Get information about a specific market using its ID. Use the market lists query to get a market's ID",
        "operationId": "TradingDataService_GetMarket",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetMarketResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "The market ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/market/{marketId}/trade/latest": {
      "get": {
        "summary": "Trade (latest)",
        "description": "Get latest trade",
        "operationId": "TradingDataService_GetLastTrade",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetLastTradeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "marketId",
            "description": "Market ID, required field",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/markets": {
      "get": {
        "summary": "Markets list",
        "description": "Get markets using a cursor based pagination",
        "operationId": "TradingDataService_ListMarkets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListMarketsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeSettled",
            "description": "Whether or not to include settled markets in the response; default to true if not specified.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/markets/data": {
      "get": {
        "summary": "Market Data list",
        "description": "Lists the latest market data for every market",
        "operationId": "TradingDataService_ListLatestMarketData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListLatestMarketDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/network/data": {
      "get": {
        "summary": "Network data",
        "description": "Get data regarding the nodes of the network",
        "operationId": "TradingDataService_GetNetworkData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetNetworkDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/network/limits": {
      "get": {
        "summary": "Network Limits",
        "description": "Get the current network limits (is bootstrapping finished, are proposals enabled etc..)",
        "operationId": "TradingDataService_GetNetworkLimits",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetNetworkLimitsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/network/parameters": {
      "get": {
        "summary": "Network Parameters list",
        "description": "Get the network parameters",
        "operationId": "TradingDataService_ListNetworkParameters",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListNetworkParametersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/network/parameters/{key}": {
      "get": {
        "summary": "Network Parameter",
        "description": "Get a single network parameter",
        "operationId": "TradingDataService_GetNetworkParameter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetNetworkParameterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "key",
            "description": "The key identifying the network parameter",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/networkhistory": {
      "get": {
        "summary": "Network history status",
        "description": "Retrieves information about the current state of network history\nResponse contains the network history status",
        "operationId": "TradingDataService_NetworkHistoryStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2NetworkHistoryStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/networkhistory/bootstrap": {
      "get": {
        "summary": "Network history bootstrap peers",
        "description": "Retrieves the nodes bootstrap peers\nResponse contains the bootstrap peers",
        "operationId": "TradingDataService_NetworkHistoryBootstrapPeers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2NetworkHistoryBootstrapPeersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/networkhistory/segments": {
      "get": {
        "summary": "Network history all segments",
        "description": "List all history segments stored by this node",
        "operationId": "TradingDataService_ListAllNetworkHistorySegments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListAllNetworkHistorySegmentsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/node/signatures": {
      "get": {
        "summary": "Node signatures list",
        "description": "List an aggregate of signatures from all the nodes of the network",
        "operationId": "TradingDataService_ListNodeSignatures",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListNodeSignaturesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Resource ID, required field.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/node/{id}": {
      "get": {
        "summary": "Node",
        "description": "Get information about a given node",
        "operationId": "TradingDataService_GetNode",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetNodeResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Node ID to get data for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/nodes": {
      "get": {
        "summary": "Nodes list",
        "description": "List information about the nodes on the network",
        "operationId": "TradingDataService_ListNodes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListNodesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "epochSeq",
            "description": "Epoch number to list nodes for, if provided.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/oracle/data": {
      "get": {
        "summary": "Oracle data list",
        "description": "Get all oracle data",
        "operationId": "TradingDataService_ListOracleData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListOracleDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "oracleSpecId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/oracle/spec/{oracleSpecId}": {
      "get": {
        "summary": "Oracle Spec",
        "description": "Get an oracle spec by ID. Use the oracle spec list to query for oracle spec IDs",
        "operationId": "TradingDataService_GetOracleSpec",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetOracleSpecResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "oracleSpecId",
            "description": "The ID to get the oracle spec for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/oracle/specs": {
      "get": {
        "summary": "Oracle Spec list",
        "description": "List specs for an oracle",
        "operationId": "TradingDataService_ListOracleSpecs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListOracleSpecsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.last",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.before",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagination.newestFirst",
            "description": "Newest records first, older records last, default is true.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "TradingDataService"
        ]
      }
    },
    "/api/v2/order/versions/{orderId}": {
      "get": {
        "summary": "Order history",
        "description": "List all versions of an order in the order history",
        "operationId": "TradingDataService_ListOrderVersions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListOrderVersionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "orderId",
            "description": "Order identifier as string",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagination.first",
            "in": "query",
            "required": false,
            "type": "integer",
[...]
